<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3" *ngIf="reportView.length > 0">
          <!-- <p-dropdown class="drop-down" [options]="reportView" [(ngModel)]="selectedReportView"
            (ngModelChange)="changeLBLOBSREPORTBYCATGRPT('report-view')">
        </p-dropdown> -->
          <span class="md-inputfield" *ngIf="reportView.length > 0">
            <p-dropdown
              id="reportID"
              class="drop-down"
              [options]="reportView"
              placeholder="{{ 'LBLREPORTDISPLAY' | translate }}"
              title="{{ 'LBLREPORTDISPLAY' | translate }}"
              [(ngModel)]="selectedReportView"
              (ngModelChange)="changeReport()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLREPORTDISPLAY" | translate
            }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3" *ngIf="siteList.length > 1">
          <!-- <p-dropdown class="drop-down" [options]="reportView" [(ngModel)]="selectedReportView"
                >
            </p-dropdown> -->
          <span class="md-inputfield">
            <p-dropdown
              id="sitename"
              class="drop-down"
              [options]="siteList"
              placeholder="{{ 'LBLSITENAME' | translate }}"
              title="{{ 'LBLSITENAME' | translate }}"
              [(ngModel)]="selectedSiteId"
              (ngModelChange)="changeReport()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLSITENAME" | translate
            }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3">
          <!-- <p-dropdown class="drop-down" [options]="reportView" [(ngModel)]="selectedReportView"
                    >
                </p-dropdown> -->
          <span class="md-inputfield">
            <p-dropdown
              id="MainCategory"
              class="drop-down"
              [options]="yearList"
              placeholder="{{ 'LBLYEAR' | translate }}"
              [(ngModel)]="selectedYear"
              (ngModelChange)="yearFilter()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{ "LBLYEAR" | translate }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12">
        <div style="text-align: center" *ngIf="!isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="isLoaded && !errormsg">
          <div *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [columns]="cols"
              [value]="tableData"
              sortField="SITENAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
              [scrollable]="true"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width: 300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="align-center">
                    {{ "LBLCHECKLISTNO" | translate }}
                  </th>
                  <th>{{ "LBLOBSERVERNAME" | translate }}</th>
                  <th>{{ "LBLAREANAME" | translate }}</th>
                  <th *ngIf="subAreaOption == 1">
                    {{ "LBLSUBAREAFULLNAME" | translate }}
                  </th>
                  <th>{{ "LBLSHIFTNAME" | translate }}</th>
                  <th *ngFor="let field of fieldCols">{{ field }}</th>
                  <th class="align-center">{{ "LBLLENGTH" | translate }}</th>
                  <th class="align-center">{{ "LBLOBSERVED" | translate }}</th>
                  <th class="align-center">{{ "LBLCONTACTED" | translate }}</th>
                  <th
                    class="align-center"
                    *ngIf="selectedReportView == 11 || selectedReportView == 29"
                  >
                    {{ "LBLSAFE" | translate }}
                  </th>
                  <th
                    class="align-center"
                    *ngIf="selectedReportView == 11 || selectedReportView == 30"
                  >
                    {{ "LBLUNSAFE" | translate }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
                >
                  <td
                    class="headerTD1"
                    [attr.colspan]="3 + fieldCols.length - colleps"
                  >
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLSITENAME" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.SITENAME }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td
                    class="headerTD1 align-center"
                    colspan="3"
                    *ngIf="selectedReportView == 11"
                  >
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLTOTALTIMEINMINS" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.RECORDSLENGTH }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td
                    class="headerTD1 align-center"
                    colspan="2"
                    *ngIf="selectedReportView != 11"
                  >
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLTOTALTIMEINMINS" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.RECORDSLENGTH }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLTOTALOBSERVED" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.TOTALOBSERVED }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLTOTALCONTACTED" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.TOTALCONTACTED }}</span
                        ></span
                      >
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.CARDID }}
                  </td>
                  <td
                    class="submoduleTable1"
                    [innerHtml]="rowData.OBSERVERNAME"
                  ></td>
                  <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
                  <td class="submoduleTable1" *ngIf="subAreaOption == 1">
                    {{ rowData.SUBAREANAME }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
                  <td class="submoduleTable1" *ngFor="let field of fieldCols">
                    {{ rowData[field] }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.LENGTH }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.OBSERVED }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.CONTACTED }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="selectedReportView == 11 || selectedReportView == 29"
                  >
                    {{ rowData.SAFE }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="selectedReportView == 11 || selectedReportView == 30"
                  >
                    {{ rowData.UNSAFE }}
                  </td>
                </tr>
                <tr
                  class="ui-widget-header"
                  *ngIf="rowIndex == tableData.length - 1"
                >
                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen">
                      <span
                        >{{ "LBLTOTALTIMEINMINS" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.RECORDSLENGTH }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen">
                      <span
                        >{{ "LBLTOTALOBSERVED" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.OBSERVED }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen">
                      <span
                        >{{ "LBLTOTALCONTACTED" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.CONTACTED }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td
                    class="headerTD1 align-center"
                    colspan="1"
                    *ngIf="selectedReportView == 11"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.SAFE }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="3 + fieldCols.length"
                    *ngIf="selectedReportView == 29 && subAreaOption == 1"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.SAFE }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="2 + fieldCols.length"
                    *ngIf="selectedReportView == 29 && subAreaOption != 1"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.SAFE }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="3 + fieldCols.length"
                    *ngIf="selectedReportView == 11 && subAreaOption == 1"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLUNSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.UNSAFE }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="2 + fieldCols.length"
                    *ngIf="selectedReportView == 11 && subAreaOption != 1"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLUNSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.UNSAFE }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="3 + fieldCols.length"
                    *ngIf="selectedReportView == 30 && subAreaOption == 1"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLUNSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.UNSAFE }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="2 + fieldCols.length"
                    *ngIf="selectedReportView == 30 && subAreaOption != 1"
                  >
                    <a class="dropOpen">
                      <span
                        >{{ "LBLUNSAFECOUNT" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ totalInfo.UNSAFE }}</span
                        ></span
                      >
                    </a>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
