<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3">
          <ng-container *ngIf="reportView.length > 0">
            <span class="md-inputfield">
              <p-dropdown
                id="reportID"
                class="drop-down"
                [options]="reportView"
                placeholder="{{ 'LBLREPORTDISPLAY' | translate }}"
                title="{{ 'LBLREPORTDISPLAY' | translate }}"
                [(ngModel)]="selectedReportView"
                (ngModelChange)="changeExort()"
              >
              </p-dropdown>
              <label class="dropDown-lable">{{
                "LBLREPORTDISPLAY" | translate
              }}</label>
            </span>
          </ng-container>
        </div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="selectedReportView == 47">
        <div class="ui-g-12 ui-md-4"></div>
        <div class="ui-g-12 ui-md-8 text-right padding-zero">
          <div class="ui-g-12 ui-md-3 topHeadingButtons">
            <button pButton type="button" class="NotApplicable"></button>
            <label>{{ "LBLNOTAPPLICABLE" | translate }}</label>
            <div class="clearfix"></div>
          </div>
          <div class="ui-g-12 ui-md-3 topHeadingButtons">
            <button pButton type="button" label="" class="BelowTarget"></button>
            <label>{{ "LBLBELOWPAR" | translate }}</label>
            <div class="clearfix"></div>
          </div>
          <div class="ui-g-12 ui-md-3 topHeadingButtons">
            <button
              pButton
              type="button"
              label=""
              class="AchievedTarget"
            ></button>
            <label>{{ "LBLATPAR" | translate }}</label>
            <div class="clearfix"></div>
          </div>
          <div class="ui-g-12 ui-md-3 topHeadingButtons">
            <button
              pButton
              type="button"
              label=""
              class="ExceededTarget"
            ></button>
            <label>{{ "LBLABOVEPAR" | translate }}</label>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div style="text-align: center" *ngIf="!isLoaded">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="isLoaded">
        <ng-container *ngIf="isLoaded && !errormsg && selectedReportView == 47">
          <div #monthlyTarget id="monthlyTarget" *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [columns]="cols"
              [value]="tableData"
              sortField="SITENAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
              [scrollable]="true"
              class="colorTable"
            >
              <!-- <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width:300px"
                  />
                </div>
              </ng-template> -->
              <!-- <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template> -->
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col *ngFor="let col of tableCols" style="width: 150px" />
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <ng-container *ngFor="let col of tableCols; let i = index">
                    <th
                      [ngStyle]="{ 'text-align': i > 0 ? 'center' : '' }"
                      class="period-header"
                    >
                      {{ col }}
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
                >
                  <td
                    class="headerTD1"
                    style="background: #f4f4f4 !important"
                    [attr.colspan]="colspnlength"
                  >
                    {{ "LBLSITENAME" | translate }}:
                    <span
                      style="
                        font-weight: bold;
                        display: inline-block !important;
                      "
                      >{{ rowData.SITENAME }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <ng-container *ngFor="let col of tableCols; let i = index">
                    <td class="submoduleTable1" *ngIf="i == 0">
                      {{ rowData.OBSERVERNAME }}
                    </td>
                    <td
                      class="submoduleTable1"
                      style="text-align: center"
                      *ngIf="i > 0"
                      [ngClass]="[
                        rowData['OBS' + col] < 0 ||
                        rowData['TGT' + col] < 0 ||
                        rowData['PER' + col] < 0
                          ? 'NotApplicable'
                          : rowData['TGT' + col] > rowData['OBS' + col]
                          ? 'BelowTarget'
                          : rowData['TGT' + col] == rowData['OBS' + col] &&
                            rowData['OBS' + col] != -1
                          ? 'AchievedTarget'
                          : rowData['TGT' + col] < rowData['OBS' + col]
                          ? 'ExceededTarget'
                          : ''
                      ]"
                    >
                      <a
                        *ngIf="
                          rowData['TGT' + col] != -1 &&
                          rowData['OBS' + col] != -1 &&
                          rowData['PER' + col] != -1
                        "
                      >
                        <span class="leftTxt">{{ rowData["TGT" + col] }}</span>
                        <span class="rightTxt">{{ rowData["OBS" + col] }}</span>
                        <div class="clearfix"></div>
                        {{ rowData["PER" + col] }} %
                      </a>
                    </td>
                  </ng-container>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && !errormsg && selectedReportView == 48">
          <p-table
            #targetSearchData
            [columns]="cols"
            [value]="tableData"
            sortField="SITENAME"
            sortMode="single"
            [paginator]="true"
            [rows]="30"
            (onSort)="onSort()"
          >
            <ng-template pTemplate="caption">
              <div style="text-align: left">
                <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  placeholder="{{ 'FMKSEARCH' | translate }}"
                  (input)="
                    targetSearchData.filterGlobal(
                      $event.target.value,
                      'contains'
                    )
                  "
                  style="width: 300px"
                />
              </div>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              [
              {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
              -
              {{
                state.rows * (state.page + 1) >= state.totalRecords
                  ? state.totalRecords
                  : state.rows * (state.page + 1)
              }}
              / {{ state.totalRecords }} ]
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>{{ "LBLOBSERVERNAME" | translate }}</th>
                <th class="align-center">{{ "LBLTARGET" | translate }}</th>
                <th class="align-center">{{ "LBLCOMPLETED" | translate }}</th>
                <th class="align-center">
                  {{ "LBLCOMPLETEDTARGETPERCENTAGE" | translate }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr
                class="ui-widget-header"
                *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
              >
                <td class="headerTD1" colspan="1">
                  <!-- <span
                    [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                  <span
                    >{{ "LBLSITENAME" | translate }}<br /><span
                      style="color: #757575; line-height: 2"
                      >{{ rowData.SITENAME }}</span
                    ></span
                  >
                </td>
                <td class="headerTD1 align-center" colspan="1">
                  <!-- <span
                    [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                  <span
                    >{{ "LBLTARGET" | translate }}<br /><span
                      style="color: #757575; line-height: 2"
                      >{{ rowData.SITETGTTOTAL }}</span
                    ></span
                  >
                </td>
                <td class="headerTD1 align-center" colspan="1">
                  <!-- <span
                    [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                  <span
                    >{{ "LBLCOMPLETED" | translate }}<br /><span
                      style="color: #757575; line-height: 2"
                      >{{ rowData.SITEOBSTOTAL }}</span
                    ></span
                  >
                </td>
                <td class="headerTD1 align-center" colspan="1">
                  <!-- <span
                    [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                  <span
                    >{{ "LBLCOMPLETEDTARGETPERCENTAGE" | translate }}<br /><span
                      style="color: #757575; line-height: 2"
                      >{{ rowData.SITETOTPER }}</span
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td class="submoduleTable2">{{ rowData.OBSERVERNAME }}</td>
                <td class="submoduleTable2 align-center">
                  {{ rowData.TGTTOTAL }}
                </td>
                <td class="submoduleTable2 align-center">
                  {{ rowData.OBSTOTAL }}
                </td>
                <td class="submoduleTable2 align-center">
                  {{ rowData.TOTPER }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ "LBLRPTNORECFND" | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
