<div class="ui-g-12" *ngIf="!isLoading">
  <p-confirmDialog acceptLabel="{{ 'LBLYES' | translate }}" rejectLabel="{{ 'LBLNO' | translate }}"
    header="{{ appName }}" class="info-msg" icon="ui-icon-info"></p-confirmDialog>
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-person">
        <form [formGroup]="updateGroupForm" (ngSubmit)="submitGroup()">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-6" style="padding-right: 0px!important;">
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon" style="padding-right: 0px;">
                <input type="hidden" formControlName="groupTypeId" />
                <label><a>{{ "LBLGROUPTYPE" | translate }} : </a><b>{{ groupTypeName }}</b></label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 " style="padding-top: 0px; padding-bottom: 0px;">
              <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 16px;">
                <span class="md-inputfield ui-md-12 pl-0">
                  <input type="text" pInputText class="ui-md-12" formControlName="groupName" maxlength="128" />
                  <label class="required">{{
                    "LBLGROUPNAME" | translate
                  }}</label>
                </span>

                <div *ngIf="submitted && groupForm.groupName.errors" class="invalid-feedback">
                  <p-message severity="error" text="{{ 'ALTGROUPADD' | translate }}" *ngIf="
                      groupForm.groupName.errors.required ||
                      updateGroupForm
                        .get('groupName')
                        .hasError('nameMaxLengthExceedError')
                    ">
                  </p-message>
                  <p-message severity="error" text="GroupName should not contain whitespaces"
                    *ngIf="updateGroupForm.get('groupName').hasError('space')">
                  </p-message>
                  <p-message severity="error" text="{{ 'ALTGROUPNAME' | translate }}" *ngIf="
                      updateGroupForm.get('groupName').hasError('specialChar')
                    ">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-3 multiSelectDropDwon " style="padding-right: 0px;">
                <ng-select placeholder="{{ 'LBLSTATUS' | translate }}" [searchable]="true" [items]="Status"
                  bindLabel="label" bindValue="value" formControlName="status" [clearable]="false">
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-8 submitButton" style="margin-bottom: 10px;">
            <div class="ui-g-3 ui-md-3 ui-lg-2">
              <button pButton type="submit" label="{{ 'LBLSAVE' | translate }}"
                [disabled]="updateGroupForm.pristine"></button>
            </div>
            <div class="ui-g-3 ui-md-3 ui-lg-2">
              <button pButton type="button" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                [disabled]="updateGroupForm.pristine" class="reset-btn" (click)="onReset()"></button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3 secondary-btn-ui">
              <button pButton type="button" label="{{ 'LBLSAVEADDNEW' | translate }}"
                [disabled]="updateGroupForm.pristine" title="{{ 'LBLSAVEADDNEW' | translate }}"
                (click)="onSubmit('save_and_add_new')"></button>
            </div>

            <div class="clearfix"></div>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="{{ 'LBLASSIGNMENTS' | translate }}" leftIcon="ui-icon-assignment">
        <form [formGroup]="editGroupAssignment" (ngSubmit)="updateGroupAssign()">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12" style="padding-bottom: 0px;">
              <div class="ui-g-12 ui-md-3 pr-21">
                <input type="hidden" formControlName="groupTypeId" />
                <label><a>{{ "LBLGROUPTYPE" | translate }} : </a><b>{{ groupTypeName }}</b></label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <p-multiSelect id="userIds" [options]="userList" defaultLabel="{{ 'LBLUSERS' | translate }}"
                  class="required" formControlName="userIds">
                </p-multiSelect>
                <div *ngIf="submitted2 && groupForm2.userIds.errors" class="invalid-feedback">
                  <p-message class="errorMsg" severity="error" text='{{ "ALTUSERREQUIRED" | translate }}'
                    *ngIf="groupForm2.userIds.errors?.required">
                  </p-message>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-8 submitButton">
            <div class=" ui-g-6 ui-md-6 ui-lg-2">
              <button pButton type="submit" label="{{ 'LBLSAVE' | translate }}"
                [disabled]="editGroupAssignment.pristine" title="{{ 'LBLSAVE' | translate }}"></button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2 ">
              <button pButton type="button" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                [disabled]="editGroupAssignment.pristine" class="reset-btn" style="margin-bottom:10px"
                (click)="onResetAssign()"></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>