<div class="ui-g" *ngIf="!isLoading">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog header="{{ 'LBLCONFIRM' | translate }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info"></p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '420px' }" position="top-center"></p-toast>
      <h1>{{ "LBLTARGETS" | translate }}</h1>
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-12 ui-md-12 multiSelectDropDwon user-select padding-none">
          <ng-select placeholder="{{ 'LBLSITE' | translate }}" [searchable]="false" [clearable]="false"
            [items]="siteListing" bindLabel="SITENAME" bindValue="SITEID" [(ngModel)]="selectedSiteId"
            (change)="getSiteUsers('')">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div title="{{ item.SITENAME }}">
                {{ item.SITENAME }}
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="ui-g-12 ui-md-9 text-right">
        <button type="button" icon="ui-icon-filter-list" class="ml" title="{{ 'FMKFILTER' | translate }}" pButton
          (click)="toggleFilterShow()" id="btToggle"></button>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState">
        <div class="card card-w-title right-top-arrow topArrow" style="padding-bottom: 0px;">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left"><b>{{ "LBLGROUPS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterData">
            <div class="ui-g-12 ui-md-4 ui-lg-4 multiSelectDropDwon" *ngFor="let filter of filterData; let i = index">
              <div class="filterLable">
                <label>{{ filter["Name"] | translate }}</label>
              </div>
              <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                [(ngModel)]="selectedFilter[filter['field']]" class="required" id="siteSelect">
              </p-multiSelect>
            </div>
          </ng-container>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-12 pl-0 p-0" style="margin: 7px auto 0px auto;">
            <div class="ui-g-12 ui-md-2">
              <button type="button" [icon]="iconType" (click)="advance_search()" id="advance_searchbtn"
                label="{{ 'LBLADVANCEFILTER' | translate }}" class="advance-search" pButton></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div *ngIf="show_advance_search">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12" style="margin: 0px 0px 15px 0px;">
                <ng-container *ngIf="optionalFilter">
                  <div class="ui-g-12 ui-md-4 ui-lg-4 multiSelectDropDwon"
                    *ngFor="let filter of optionalFilter; let i = index">
                    <div class="filterLable">
                      <label>{{ filter["Name"] | translate }}</label>
                    </div>
                    <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                      [(ngModel)]="selectedFilter[filter['field']]" class="required" id="siteSelect">
                    </p-multiSelect>
                  </div>
                </ng-container>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- Advance Search -->
          <div class="ui-g-12 ui-md-12">
            <button pButton type="submit" label="{{ 'LBLFILTERRECORDS' | translate }}"
              title="{{ 'LBLFILTERRECORDS' | translate }}" class="filterBtn" (click)="filtering()"></button>
            <button pButton type="reset" label="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
              title="{{ 'LBLCLEARFILTERRECORDS' | translate }}" class="filterBtn" (click)="clearFilter()"></button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- </form> -->
      <!-- Filter Toggle -->
      <div class="heading-left ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-2">
          <label>{{ "LBLUSERS" | translate }}</label>
        </div>
      </div>
      <form [formGroup]="targetForm" (ngSubmit)="addTargetForm(targetForm.value)">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-g-12 ui-md-12 multiSelectDropDwon userSelection padding-none">
            <p-multiSelect [options]="userListing" [defaultLabel]="'LBLCHOOSE' | translate" formControlName="userIds"
              class="required">
            </p-multiSelect>
            <div *ngIf="submitted && tform.userIds.errors" class="invalid-feedback">
              <p-message class="errorMsg" severity="error" text="{{ 'ALTSELECTOBS' | translate }}"
                *ngIf="tform.userIds.errors.required">
              </p-message>
            </div>
          </div>
        </div>
        <div class="heading-left ui-g-12 ui-md-12">
          <div class="ui-g-12 ui-md-2">
            <label>{{ "LBLTYPE" | translate }}</label>
          </div>
        </div>
        <ng-container>
          <div class="ui-g-12 ui-md-4 userSelection " style="margin-bottom: 20px;">
            <ng-select placeholder="{{ 'LBLTYPE' | translate }}" [items]="weekly" bindLabel="label" [searchable]="false"
              [clearable]="false" bindValue="value" formControlName="targets" (change)="changeTarget()">
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <div title="{{ item.label }}">
                  {{ item.label }}
                </div>
              </ng-template>
            </ng-select>
          </div>
        </ng-container>
        <div class="ui-g-12 ui-md-12" *ngIf="!wTarget && tTarget">
          <p-table [value]="months" class="ngTable grouplisting">
            <ng-template pTemplate="header">
              <tr>
                <th class="lefttop-radius">{{ "LBLMONTH" | translate }}</th>
                <th class="righttop-radius">
                  <div class="ui-g-12 ui-md-5"></div>
                  <div class="ui-g-12 ui-md-3 padding-zero">
                    <span class="md-inputfield ui-md-12 padding-zero">
                      {{ "LBLTARGETS" | translate }}
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2"></div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr>
                <td>{{ rowData.monthname | translate }}</td>
                <td>
                  <div class="ui-g-12 ui-md-5"></div>
                  <div class="ui-g-12 ui-md-3">
                    <span class="md-inputfield ui-md-12 padding-zero">
                      <input *ngIf="rowData.name == 'allmonth'" type="text" pInputText class="ui-md-12 allmonthvalue"
                        formControlName="{{ rowData.name }}" (input)="
                          setTargetValue($event.target.value, rowData.name)
                        " />
                      <input *ngIf="rowData.name != 'allmonth'" type="text" pInputText class="ui-md-12 monthValue"
                        formControlName="{{ rowData.name }}" (input)="setValue($event.target.value, rowData.name)" />
                    </span>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf="wTarget && !tTarget">
          <div class="ui-g form-group">
            <span class="md-inputfield ui-md-4 padding-none">
              <input type="text" pInputText class="ui-md-12" formControlName="weeklyTarget"
                (input)="setWeeklyValue($event.target.value)" />
              <label class="required">{{
                "LBLWEEKLYTARGET" | translate
              }}</label>
            </span>
          </div>
          <div *ngIf="submitted && tform.weeklyTarget.errors" class="invalid-feedback ui-md-4">
            <p-message severity="error" text="{{ 'LBLSETWEEKLY' | translate }}"
              *ngIf="tform.weeklyTarget.errors.required">
            </p-message>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 submitButton" style="margin-top: 20px;">
          <div class="ui-g-6 ui-md-6 ui-lg-1 pl-0">
            <button pButton type="submit" [disabled]="targetForm.pristine" label="{{ 'LBLSAVE' | translate }}"
              title="{{ 'LBLSAVE' | translate }}"></button>
          </div>
          <div class="ui-g-6 ui-md-6 ui-lg-1">
            <button pButton type="button" (click)="resetTargetForm()" label="{{ 'LBLRESET' | translate }}"
              title="{{ 'LBLRESET' | translate }}" [disabled]="targetForm.pristine" class="reset-btn"
              style="margin-bottom:10px"></button>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>