.error-message {
    color: red;
    margin: 15px;
    text-align: center;
}

.error-message>h1 {
    font-family: sans-serif;
    font-size: 14px;
}

::ng-deep .monthValue,
.allmonthvalue {
    text-align: center;
}