 .textarea-float-label-left .ui-float-label textarea.ui-state-filled~label {
     left: 0px !important;
 }

 .textarea-float-label-left label {
     color: red !important;
 }

 .float-input {
     left: 0px !important;
 }