<div *ngIf="!isLoading">
  <div class="ui-g-12">
    <div class="card card-w-title pl-0 box-shadow-none">
      <p-toast
        [style]="{ marginTop: '80px', width: '300px' }"
        position="top-center"
      ></p-toast>
      <p-tabView>
        <p-tabPanel
          header="{{ 'LBLGENERAL' | translate }}"
          leftIcon="ui-icon-person"
        >
          <form [formGroup]="addSite" (ngSubmit)="onSubmit('')">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="siteName"
                  />
                  <label class="required"
                    >{{ "LBLSITENAME" | translate }}
                  </label>
                </span>

                <div
                  *ngIf="submitted && innerForm.siteName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTSITENAMEVALIDATION' | translate }}"
                    *ngIf="
                      innerForm.siteName.errors.required ||
                      addSite.get('siteName').hasError('whitespace') ||
                      innerForm.siteName.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 address-area">
                <span class="ui-float-label">
                  <textarea
                    id="float-input"
                    pInputTextarea
                    pInputTextarea
                    autoResize="autoResize"
                    formControlName="address"
                  ></textarea>
                  <label class="required" for="float-input">{{
                    "LBLADDRESS" | translate
                  }}</label>
                </span>

                <div
                  *ngIf="submitted && innerForm.address.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDRESS' | translate }}"
                    *ngIf="
                      innerForm.address.errors.required ||
                      addSite.get('address').hasError('whitespace') ||
                      innerForm.address.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="city"
                  />
                  <label class="required">{{ "LBLCITY" | translate }}</label>
                </span>

                <div
                  *ngIf="submitted && innerForm.city.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCITY' | translate }}"
                    *ngIf="
                      innerForm.city.errors.required ||
                      addSite.get('city').hasError('whitespace') ||
                      innerForm.city.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="state"
                  />
                  <label class="ngSelectAlign">{{
                    "LBLSTATE" | translate
                  }}</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLCOUNTRY' | translate }}"
                  [searchable]="true"
                  [items]="countryListing"
                  bindLabel="COUNTRY"
                  bindValue="COUNTRYID"
                  formControlName="countryId"
                  required
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.COUNTRY }}">
                      {{ item.COUNTRY }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="zipCode"
                  />
                  <label class="ngSelectAlign"
                    >{{ "LBLZIPCODE" | translate }}
                  </label>
                </span>
              </div>
              <div
                class="ui-g-12 ui-md-12 pl-21 address-area textarea-float-label-left"
              >
                <span class="ui-float-label ui-md-12">
                  <textarea
                    id="float-input"
                    pInputTextarea
                    pInputTextarea
                    autoResize="autoResize"
                    formControlName="comments"
                  ></textarea>
                  <label for="float-input" class="comment-label">{{
                    "LBLCOMMENTS" | translate
                  }}</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="employees"
                  />
                  <label class="ngSelectAlign employee-field"
                    >{{ "LBLEMPLOYEES" | translate }}
                  </label>
                </span>

                <div
                  *ngIf="submitted && innerForm.employees.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTEMPLOYEECOUNT' | translate }}"
                    *ngIf="
                      innerForm.employees.errors.required ||
                      addSite.get('employees').hasError('whitespace') ||
                      innerForm.employees.errors?.maxlength ||
                      innerForm.employees.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [items]="status"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>

              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLTIMEZNONE' | translate }}"
                  [searchable]="true"
                  [items]="timeZoneListing"
                  bindLabel="TIMEZONENAME"
                  bindValue="TIMEZONEID"
                  formControlName="defaultTimeZone"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.TIMEZONENAME }}">
                      {{ item.TIMEZONENAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>

              <div class="ui-g-12 ui-md-12 submitButton">
                <div class="ui-g-12 ui-md-3 ui-lg-1">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSAVE' | translate }}"
                    [disabled]="addSite.pristine"
                    title="{{ 'LBLSAVE' | translate }}"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-1">
                  <button
                    pButton
                    type="button"
                    [disabled]="addSite.pristine"
                    class="reset-btn"
                    label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}"
                    (click)="resetSiteForm()"
                  ></button>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2 secondary-btn-ui">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLSAVEADDNEW' | translate }}"
                    [disabled]="addSite.pristine"
                    (click)="onSubmit('save_and_add_new')"
                    style="margin-bottom: 10px"
                    title="{{ 'LBLSAVEADDNEW' | translate }}"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </p-tabPanel>
        <div class="clearfix"></div>
      </p-tabView>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<div class="clearfix"></div>
