<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <p-toast [style]="{ marginTop: '80px', width: '700px' }" key="custom" position="top-center"></p-toast>
      <p-confirmDialog class="{{ confirmClass }}" header="{{ appName }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info">
      </p-confirmDialog>
      <p-confirmDialog header="{{ appName }}" acceptLabel="{{ 'LBLOK' | translate }}" key="deleteRecordConfirmation"
        icon="ui-icon-info" #cd>
        <p-footer>
          <button type="button" pButton icon="pi pi-check" label="{{ 'LBLOK' | translate }}"
            (click)="cd.accept()"></button> </p-footer>
      </p-confirmDialog>
      <h1>{{ "LBLSETUPLIST" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 checklist-dropdown">
        <ng-select [searchable]="true" [items]="checklistSearch" bindLabel="label" bindValue="value" [clearable]="false"
          [(ngModel)]="selectedChecklist" required>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item.label | translate }}">
              {{ item.label | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel searchField">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchInput" (keyup.enter)="onTextSearch(tableValue)" />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button pButton icon="ui-icon-search" title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch(tableValue)"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-7 text-right">
        <button type="button" icon="ui-icon-add" [routerLink]="['/add-checklist-setup']" skipLocationChange="true"
          pButton title="{{ 'LBLADD' | translate }}"></button>
        <button type="button" [disabled]="selectedData.length == 0" icon="ui-icon-delete" visibleToOnlySuperAdmin
          class="ml activebtn" (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}"
          *ngIf="roleId == 1"></button>
        <button type="button" [disabled]="selectedData.length == 0" icon="ui-icon-swap-horiz" class="ml"
          (click)="changeStatus()" title="{{ 'LBLCHANGESTATUS' | translate }}" pButton></button>
        <button type="button" icon="ui-icon-filter-list" class="ml" id="slideToggle" pButton
          title="{{ 'LBLFILTERS' | translate }}" (click)="toggleFilterShow()"></button>
      </div>
      <div class="clearfix"></div>

      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState">
        <div class="card card-w-title right-top-arrow" style="padding-bottom: 0px;">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left"><b>{{ "LBLFILTERS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterData">
            <div class="ui-g-12 ui-md-4 ui-lg-3 multiSelectDropDwon" *ngFor="let filter of filterData; let i = index">
              <div class="filterLable">
                <label>{{ filter["Name"] | translate }}</label>
              </div>
              <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                [(ngModel)]="selectedFilter[filter['field']]" class="required">
              </p-multiSelect>
            </div>
          </ng-container>
          <ng-container *ngIf="optionalFilter">
            <div class="ui-g-12 ui-md-4 ui-lg-3 filter-padding multiSelectDropDwon"
              *ngFor="let filter of optionalFilter; let i = index">
              <div class="filterLable">
                <label>{{ filter["Name"] | translate }}</label>
              </div>
              <p-multiSelect [options]="filter['Data']" [defaultLabel]="'LBLCHOOSE' | translate"
                [(ngModel)]="selectedFilter[filter['field']]" class="required">
              </p-multiSelect>
            </div>
          </ng-container>
          <div class="ui-g-12 ui-md-12 secondary-btn-ui" style="margin: 7px auto 0px auto;">
            <button pButton type="button" label="{{ 'LBLFILTERRECORDS' | translate }}" class="filterBtn"
              (click)="filtering()"></button>
            <button pButton type="reset" label="{{ 'LBLCLEARFILTERRECORDS' | translate }}" class="filterBtn"
              (click)="clearFilter(tableValue)"></button>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Filter Toggle -->
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 user-listing-table">
        <p-table #tableValue [columns]="cols" [value]="checklists" [paginator]="true" [(selection)]="selectedData"
          [rows]="20" class="group-listing grouplisting">
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns.length + 1" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header | translate }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <p-tableCheckbox [value]="rowData" [index]="rowIndex"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns; let i = index" (click)="onRowSelect(rowData)" style="cursor: pointer;">
                <ng-container *ngIf="i < checklistCount - 1">
                  <span>
                    {{ rowData[col.field] }}
                  </span>
                </ng-container>
                <ng-container *ngIf="i == checklistCount - 1">
                  <p-button label="{{ rowData[col.field] | translate }}"
                    (click)="changeStatusBtn(rowData['CHECKLISTSETUPID'])" *ngIf="rowData[col.field] == 'LBLACTIVE'"
                    class="actionButtonActive"></p-button>
                  <p-button label="{{ rowData[col.field] | translate }}"
                    (click)="changeStatusBtn(rowData['CHECKLISTSETUPID'])" *ngIf="rowData[col.field] == 'LBLINACTIVE'"
                    class="actionButtonInActive"></p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>