.searchField {
  padding-top: 22px;
}

:host>>>.group-listing .ui-table .ui-table-tbody>tr>td {
  padding: 0.714em 0.857em !important;
}

.checklist-dropdown {
  padding-top: 10px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .listingLabel {
    padding-top: 27px !important;
  }
}