<div class="ui-g-12" [hidden]="isLoading">
  <div class=" card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '320px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form [formGroup]="addGeneral" (ngSubmit)="onSubmit(addGeneral.value)">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 listingLabel dropdown">
                <span class="md-inputfield ui-md-12 pl-0">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="checkListName"
                    maxlength="128"
                  />
                  <label class="required">{{ "LBLSETUP" | translate }}</label>
                </span>
                <div
                  *ngIf="submitted && uform.checkListName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTSETUPADD' | translate }}"
                    *ngIf="
                      uform.checkListName.errors.required ||
                      addGeneral.get('checkListName').hasError('whitespace')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon">
                <ng-select
                  placeholder="{{ 'LBLALLSAFECHCK' | translate }}"
                  [searchable]="true"
                  [clearable]="false"
                  [items]="generalOptions"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="allSafeCheck"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon">
                <ng-select
                  placeholder="{{ 'LBLALLSITESETUP' | translate }}"
                  [searchable]="true"
                  [clearable]="false"
                  [items]="generalOptions"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="allSites"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12">
                <div
                  class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon"
                >
                  <ng-select
                    placeholder="{{ 'LBLCOPYFROM' | translate }}"
                    [searchable]="true"
                    [clearable]="false"
                    [items]="checklistData"
                    bindLabel="Checklist Setup Name"
                    bindValue="CHECKLISTSETUPID"
                    formControlName="copyFrom"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item['Checklist Setup Name'] }}">
                        {{ item["Checklist Setup Name"] }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div
                  class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon "
                >
                  <ng-select
                    placeholder="{{ 'LBLALLOWSAFEUNSAFE' | translate }}"
                    [searchable]="true"
                    [clearable]="false"
                    [items]="generalOptions"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="enableSafeUnsafe"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div
                  class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon"
                >
                  <ng-select
                    placeholder="{{ 'LBLSTATUS' | translate }}"
                    [searchable]="true"
                    [clearable]="false"
                    [items]="status"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="status"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div
            class="ui-g-12 ui-md-8 submitButton maincategory_top"
            style="padding-left: 15px; margin-bottom: 20px;"
          >
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                type="submit"
                [disabled]="addGeneral.pristine"
                title="{{ 'LBLSAVE' | translate }}"
                label="{{ 'LBLSAVE' | translate }}"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                (click)="onReset()"
                type="button"
                class="reset-btn"
                [disabled]="addGeneral.pristine"
                title="{{ 'LBLRESET' | translate }}"
                label="{{ 'LBLRESET' | translate }}"
              ></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
