.headerInputIn {
	right: 13% !important;
}

::ng-deep .noComments {
	background: #a1a1a1 !important;
}

::ng-deep .approvelBackground {
	background: #ebf0dd !important;
}

::ng-deep .observerBackground {
	background: #f0dde1 !important;
}

::ng-deep .card h3 {
	margin: 0px !important;
}

/* .group-listing .ui-table .ui-table-tbody>tr>td:last-child{
    text-align: right !important;
} */

::ng-deep .noCommentsMain {
	background: #a1a1a1 !important;
}

.lbltext span {
	font-size: 16px !important;
	font-weight: 400 !important;
}

table {
	table-layout: inherit !important;
}