<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-confirmDialog
      class="{{ confirmClass }}"
      header="{{ appName }}"
      acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}"
      icon="ui-icon-info"
    ></p-confirmDialog>
    <p-tabView [(activeIndex)]="index">
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div style="text-align: center" *ngIf="isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <form
          [formGroup]="AddObservatinGeneral"
          (ngSubmit)="onSubmit(AddObservatinGeneral.value)"
          *ngIf="!isLoaded"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12 lbltext">
              <div class="ui-g-12 ui-md-3 checklist-heading">
                <span>{{ "LBLCHECKLIST" | translate }}</span> :
                {{ approvalCheckList }}
              </div>
              <div class="ui-g-12 ui-md-3 checklist-heading">
                <span>{{ "LBLBSITES" | translate }}</span> : {{ approvalSites }}
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-4 uidatepicker select_observer">
                <label class="required dateLabel">{{
                  "LBLOBSDATE" | translate
                }}</label>

                <p-calendar
                  [maxDate]="curDate"
                  [showIcon]="true"
                  placeholder="{{ dateFormatTypeNew | translate }}"
                  dateFormat="{{ dateFormat }}"
                  [showButtonBar]="true"
                  formControlName="obsDate"
                  [locale]="locale"
                >
                </p-calendar>

                <div
                  *ngIf="submitted && observatinGeneralForm.obsDate.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTOBSERVATIONDATEFORMAT' | translate }}"
                    *ngIf="observatinGeneralForm.obsDate.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="ui-g-12 ui-md-12" style="padding-top: 0px">
              <div
                class="ui-g-12 ui-md-12 select_observer multiSelectDropDwon mb-10"
              >
                <div class="filterLable">
                  <label class="required">{{
                    "LBLOBSERVER" | translate
                  }}</label>
                </div>
                <p-multiSelect
                  [options]="approvalObserver"
                  formControlName="observerId"
                  class="required"
                  [defaultLabel]="'LBLCHOOSE' | translate"
                >
                </p-multiSelect>
                <div
                  *ngIf="submitted && observatinGeneralForm.observerId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTOBSERVERCOUNT' | translate }}"
                    *ngIf="observatinGeneralForm.observerId.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLAREA' | translate }}"
                  [searchable]="true"
                  [items]="approvalArea"
                  bindLabel="AREANAME"
                  [clearable]="false"
                  bindValue="AREAID"
                  (change)="getSubAreaData($event.AREAID)"
                  formControlName="areaId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.AREANAME }}">
                      {{ item.AREANAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngIf="subAreaOptionValue == 1"
              >
                <ng-select
                  placeholder="{{ 'LBLSUBAREAS' | translate }}"
                  [searchable]="true"
                  [items]="approvalSubArea"
                  bindLabel="SUBAREANAME"
                  [clearable]="false"
                  bindValue="SUBAREAID"
                  formControlName="subAreaId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SUBAREANAME }}">
                      {{ item.SUBAREANAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLSHIFT' | translate }}"
                  [searchable]="false"
                  [items]="approvalShift"
                  bindLabel="SHIFTNAME"
                  [clearable]="false"
                  bindValue="SHIFTID"
                  formControlName="shiftId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SHIFTNAME }}">
                      {{ item.SHIFTNAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>

              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngFor="let field of fieldList; let i = index"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ field.fieldName }}"
                  [searchable]="true"
                  [items]="field.fieldValue"
                  bindLabel="CUSTOMFIELDVALUE"
                  [clearable]="false"
                  bindValue="CUSTOMFIELDVALUEID"
                  formControlName="Field{{ i + 1 }}"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.CUSTOMFIELDVALUE }}">
                      {{ item.CUSTOMFIELDVALUE }}
                    </div>
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted" class="invalid-feedback">
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTMANDATORYCUSTOMFIELD' | translate }}"
                    *ngIf="
                      AddObservatinGeneral.get('Field' + (i + 1)).hasError(
                        'required'
                      )
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="length"
                  />
                  <label class="required inputLabel">{{
                    "LBLLENGTH" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && observatinGeneralForm.length.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTREDFLAGNAMEREQUIRED' | translate }}"
                    *ngIf="
                      observatinGeneralForm.length.errors.required ||
                      AddObservatinGeneral.get('length').hasError(
                        'whitespace'
                      ) ||
                      observatinGeneralForm.length.errors?.maxlength ||
                      observatinGeneralForm.length.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="peopleContact"
                  />
                  <label class="required inputLabel">{{
                    "LBLPEOPLECONTACTED" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="
                    submitted && observatinGeneralForm.peopleContact.errors
                  "
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTPEOPLECONTACTED' | translate }}"
                    *ngIf="
                      observatinGeneralForm.peopleContact.errors.required ||
                      AddObservatinGeneral.get('peopleContact').hasError(
                        'whitespace'
                      ) ||
                      observatinGeneralForm.peopleContact.errors?.maxlength ||
                      observatinGeneralForm.peopleContact.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    max="{{ maxObservationBound }}"
                    formControlName="peopleObserver"
                  />
                  <label class="required inputLabel">{{
                    "LBLPEOPLEOBSERVED" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="
                    submitted && observatinGeneralForm.peopleObserver.errors
                  "
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTMAXLIMITONOBSERVED' | translate }} {{
                      maxObservationBound
                    }}"
                    *ngIf="
                      observatinGeneralForm.peopleObserver.errors.required ||
                      AddObservatinGeneral.get('peopleObserver').hasError(
                        'whitespace'
                      ) ||
                      observatinGeneralForm.peopleObserver.errors?.max
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div class="clearfix"></div>
              <ng-container *ngIf="configData">
                <ng-container
                  *ngIf="configData['EnableChecklistComments'] == 1"
                >
                  <div class="ui-g-12 ui-md-6 observation_input txtArea">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <span class="ui-float-label">
                        <textarea
                          id="float-input"
                          rows="5"
                          cols="30"
                          pInputTextarea
                          formControlName="safeComment"
                        ></textarea>
                        <label for="float-input">{{
                          "LBLSAFECOMMENTS" | translate
                        }}</label>
                      </span>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-6 observation_input txtArea">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <span class="ui-float-label">
                        <textarea
                          id="float-input"
                          rows="5"
                          cols="30"
                          pInputTextarea
                          formControlName="unsafeComment"
                        ></textarea>
                        <label for="float-input">{{
                          "LBLUNSAFECOMMENTS" | translate
                        }}</label>
                      </span>
                    </span>
                  </div>
                  <div class="clearfix"></div>
                </ng-container>
              </ng-container>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="false"
                  [items]="Status"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-8 submitButton mb-10">
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  title="{{ 'LBLSAVE' | translate }}"
                  [disabled]="AddObservatinGeneral.pristine"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="button"
                  title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"
                  (click)="resetApprovalForm()"
                  [disabled]="AddObservatinGeneral.pristine"
                  class="reset-btn"
                ></button>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4 submitButton" style="padding-top: 0px">
              <div
                class="ui-g-12 ui-md-6 ui-lg-4 secondary-btn-ui"
                style="float: right"
                *ngIf="!showRequest"
              >
                <button
                  pButton
                  type="button"
                  title="{{ 'LBLUPDATEREQUESTED' | translate }}"
                  (click)="onShowRequest()"
                  label="{{ 'LBLUPDATEREQUESTED' | translate }}"
                ></button>
              </div>
              <div
                class="ui-g-12 ui-md-6 ui-lg-4 secondary-btn-ui"
                style="float: right"
              >
                <button
                  pButton
                  type="button"
                  (click)="changeApprovalStatus()"
                  title="{{ 'LBLAPPROVE' | translate }}"
                  label="{{ 'LBLAPPROVE' | translate }}"
                ></button>
              </div>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel
        header="{{ 'LBLOBSERVATIONS' | translate }}"
        leftIcon="ui-icon-check"
      >
        <div class="ui-g-12 ui-md-12">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12" style="padding-bottom: 0px">
              <div class="top-sections">
                <span class="seprator"></span>
                <div class="ui-g-12 ui-md-6">
                  <p>
                    <i class="fa ui-icon-message"></i>
                    {{ "LBLTOOLTIPFORCOMMENTS" | translate }}
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="observation-tabing">
                <p-accordion>
                  <form
                    [formGroup]="observationForm"
                    (ngSubmit)="updateObservationForm('')"
                  >
                    <p-accordionTab
                      *ngFor="let category of finalCategories"
                      header="{{ category.mainCategoryName }}"
                      [selected]="true"
                    >
                      <p-table
                        [value]="category.subCategoryValue"
                        class="actiontable grouplisting"
                      >
                        <ng-template pTemplate="header">
                          <div *ngIf="category.allSafeCheck == 1">
                            <input
                              type="text"
                              placeholder="{{ 'LBLALLSAFE' | translate }}"
                              style="width: 107px"
                              class="headerInput headerInputIn"
                              formControlName="allsafe"
                              (input)="
                                setTargetValue(
                                  $event.target.value,
                                  category.mainCategoryId
                                )
                              "
                            />
                          </div>
                          <tr>
                            <th
                              align="left"
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                              "
                            >
                              <div class="round-icond">
                                <i
                                  class="fa ui-icon-message"
                                  [class.noCommentsMain]="
                                    category.commentExists == 0
                                  "
                                  (click)="
                                    MainCategoryComments(
                                      category.mainCategoryId
                                    )
                                  "
                                ></i>
                              </div>
                            </th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                              "
                            ></th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                                color: red !important;
                              "
                            >
                              {{ "LBLUNSAFE" | translate }}
                            </th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                                color: green !important;
                              "
                              class="Tright"
                            >
                              {{ "LBLSAFE" | translate }}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr>
                            <td colspan="2">
                              <i
                                class="fa ui-icon-message flat-iconss"
                                [class.noComments]="rowData.COMMENTEXISTS == 0"
                                (click)="SubCategoryComments(rowData)"
                              ></i>
                              <a (click)="SubCategoryComments(rowData)">{{
                                rowData.SUBCATEGORYNAME
                              }}</a>
                            </td>
                            <td align="text">
                              <input
                                type="text"
                                max="maxObservationBound"
                                (input)="
                                  observationInput(
                                    $event.target.value,
                                    'unsafe',
                                    rowData.SUBCATEGORYID
                                  )
                                "
                                pInputText
                                style="width: 107px"
                                formControlName="unsafe{{
                                  rowData.SUBCATEGORYID
                                }}"
                              />
                            </td>
                            <td align="center">
                              <input
                                type="text"
                                max="maxObservationBound"
                                (input)="
                                  observationInput(
                                    $event.target.value,
                                    'safe',
                                    rowData.SUBCATEGORYID
                                  )
                                "
                                pInputText
                                style="width: 107px"
                                formControlName="safe{{
                                  rowData.SUBCATEGORYID
                                }}"
                              />
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </p-accordionTab>
                    <div class="ui-g-12 ui-md-12 pl-0">
                      <div
                        class="ui-g-12 ui-md-6 ui-lg-9 pl-0 submitButton"
                        style="padding-top: 0px"
                      >
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                          <button
                            pButton
                            type="submit"
                            label="{{ 'LBLSAVE' | translate }}"
                            title="{{ 'LBLSAVE' | translate }}"
                            [disabled]="observationForm.pristine"
                          ></button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div
                        class="ui-g-12 ui-md-6 ui-lg-3 submitButton"
                        style="padding-top: 0px"
                      >
                        <div
                          class="ui-g-12 ui-md-6 secondary-btn-ui"
                          style="float: right"
                          *ngIf="!showRequest"
                        >
                          <button
                            pButton
                            type="button"
                            title="{{ 'LBLUPDATEREQUESTED' | translate }}"
                            (click)="onShowRequest()"
                            label="{{ 'LBLUPDATEREQUESTED' | translate }}"
                          ></button>
                          <!-- [disabled]="observationForm.pristine" -->
                        </div>
                        <div
                          class="ui-g-12 ui-md-6 secondary-btn-ui"
                          style="float: right"
                        >
                          <button
                            pButton
                            type="button"
                            (click)="changeApprovalStatus()"
                            title="{{ 'LBLAPPROVE' | translate }}"
                            label="{{ 'LBLAPPROVE' | translate }}"
                          ></button>
                          <!-- [disabled]="observationForm.pristine" -->
                        </div>
                      </div>
                    </div>
                  </form>
                </p-accordion>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel
        header="{{ 'LBLUPDATEREQUESTED' | translate }}"
        leftIcon="ui-icon-edit"
        *ngIf="showRequest"
      >
        <div style="text-align: center" *ngIf="commentLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!commentLoading">
          <div
            class="ui-g-12 ui-md-12 updateRequest"
            *ngIf="approvalRequest && approvalRequest.length > 0"
          >
            <p-table
              [columns]="requestCols"
              [value]="approvalRequest"
              [(selection)]="selectedApproval"
              [paginator]="true"
              [rows]="20"
              class="group-listing"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <!-- <th colspan="2"></th> -->
                  <th
                    *ngFor="let requestCols of columns; let i = index"
                    [pSortableColumn]="requestCols.field"
                    [attr.colspan]="i == 0 ? 2 : 0"
                  >
                    {{ requestCols.header | translate }}
                    <p-sortIcon [field]="requestCols.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr
                  [ngClass]="{
                    approvelBackground: rowData['COMMENTTYPE'] == '1',
                    observerBackground: rowData['COMMENTTYPE'] == '2'
                  }"
                >
                  <!-- <td colspan="2"></td> -->
                  <td
                    *ngFor="let requestCols of columns; let i = index"
                    style="cursor: pointer"
                    [attr.colspan]="i == 0 ? 2 : 0"
                  >
                    <ng-container *ngIf="i < requestCount - 1">
                      <a style="display: block">
                        {{ rowData[requestCols.field] }}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="i == requestCount - 1">
                      <a style="display: block; text-align: right">
                        {{ rowData[requestCols.field] }} {{ rowData["TIME"] }}
                      </a>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="clearfix"></div>
          <form
            [formGroup]="addComment"
            (ngSubmit)="onSubmitRequest(addComment.value)"
          >
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12" style="padding-top: 0px">
                <div class="ui-g-12 ui-md-6 observation_input txtArea">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <span class="ui-float-label">
                      <textarea
                        id="float-input"
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="comments"
                      ></textarea>
                      <label for="float-input">{{
                        "LBLREQUESTDESC" | translate
                      }}</label>
                    </span>
                    <p-message
                      severity="error"
                      text="{{ 'ALTCOMMENTS' | translate }}"
                      *ngIf="
                        !addComment.controls['comments'].valid &&
                        addComment.controls['comments'].dirty
                      "
                    >
                    </p-message>
                  </span>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-9 submitButton"
                style="padding-top: 0px"
              >
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSUBMIT' | translate }}"
                    title="{{ 'LBLSUBMIT' | translate }}"
                    [disabled]="addComment.pristine || disable"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button
                    class="reset-btn"
                    pButton
                    type="Reset"
                    label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}"
                    [disabled]="addComment.pristine"
                  ></button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>

      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>

<!-- Category Comments -->
<form
  [formGroup]="AddCatCommentsForm"
  (ngSubmit)="updateObservationForm('catcomments')"
  *ngIf="catData"
>
  <p-dialog
    header="{{ 'LBLCATEGORYCOMMENTS' | translate }}"
    [modal]="true"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="categoryDisplay"
    [rtl]="true"
    [style]="{ width: '770px', height: 'auto' }"
    (onHide)="onObservationFormClose()"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="ui-g-12 ui-md-12">
        <ul class="corretive-list">
          <li>
            <span>{{ "LBLMAINCATEGORY" | translate }} :</span>
            {{ catData.MAINCATEGORYNAME }}
          </li>
          <br />
          <li *ngIf="catData.SUBCATEGORYNAME">
            <span>{{ "LBLSUBCATNAME" | translate }} :</span>
            {{ catData.SUBCATEGORYNAME }}
          </li>
        </ul>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              maxlength="1024"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="safeComments"
            ></textarea>
            <label for="float-input">{{ "LBLSAFECOMMENTS" | translate }}</label>
          </span>
        </span>
      </div>

      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              maxlength="1024"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="unSafeComments"
            ></textarea>
            <label for="float-input">{{
              "LBLUNSAFECOMMENTS" | translate
            }}</label>
          </span>
        </span>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div
          class="ui-g-12 ui-md-12 view-image view-image-obs"
          *ngIf="catCommentimage"
        >
          <a href="{{ imageUrl }}{{ catCommentimage }}" target="_blank">
            <img
              style="width: 200px"
              alt="{{ catData.SUBCATEGORYNAME }}"
              src="{{ imageUrl }}{{ catCommentimage }}"
            />
          </a>
        </div>
        <div class="ui-g-12 ui-md-12 view-image" *ngIf="catCommentimage">
          <a href="{{ imageUrl }}/{{ catCommentimage }}" target="_blank">
            {{ "LBLCLICKTOPREVIEW" | translate }}
          </a>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6 submitButton">
        <div class="ui-g-12 ui-md-3 pl-0">
          <button
            pButton
            type="submit"
            label="{{ 'LBLSAVE' | translate }}"
            title="{{ 'LBLSAVE' | translate }}"
            [disabled]="AddCatCommentsForm.pristine"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
<!-- Create new Observer -->
