/* Add your customizations of layout here */
.breadcrumb-item-margin {
  margin-left: 6px;
}

@media (max-width: $mobileBreakpoint) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-icon {
  font-size: 30px;
  color: white;
  margin-top: 6px;
  margin-left: 30px;
}

.layout-wrapper {
  .layout-sidebar {
    width: 250px;
    left: -190px;
  }

  .layout-sidebar .sidebar-logo img {
    margin-left: -16px;
  }

  .layout-sidebar .layout-menu li {
    padding: 4px 20px 4px 10px;
  }

  .layout-sidebar .layout-menu li > a > .menuitem-text {
    max-width: 158px;
  }

  @media (max-width: $mobileBreakpoint) {
    .layout-sidebar {
      left: -250px;
    }
  }
}

.layout-wrapper-static {
  .layout-sidebar {
    left: 0;
  }

  .layout-main {
    margin-left: 250px;

    .layout-topbar {
      width: calc(100% - 230px);
    }
  }
}

.login-body .login-panel .login-panel-header img {
  width: 154px;
}

.profile {
  padding-right: 5%;
}

.layout-wrapper .layout-main .layout-breadcrumb ul {
  padding: 0 0 0 20px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: $primaryLightestColor !important;
  color: #333;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon.left {
  border-right: 1px solid lightgrey !important;
  color: grey !important;
  background-color: #f5f5f5 !important;
}

.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: $primaryColor !important;
}

.ng-select.ng-select-focused .ng-select-container::after {
  border-color: $primaryColor !important;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-label {
  font-size: 14px;
  font-weight: 500;
  background-color: #f5f5f5 !important;
  padding-left: 4px !important;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  white-space: nowrap;
  background-color: #f9f6f5 !important;
  color: black !important;
  border: 1px solid lightgrey !important;
}

.ng-select .ng-select-container:after {
  border-bottom: 1px solid lightgray !important;
}

.layout-wrapper .layout-sidebar .layout-menu li > a > .menuitem-text {
  word-break: break-word !important;
}
body .ui-button .ui-button-text,
body .ui-datepicker-buttonpane > button .ui-button-text {
  line-height: 1.4em !important;
}

.card h1 {
  font-weight: bold !important;
  font-size: 20px !important;
}

.layout-wrapper .layout-main .layout-breadcrumb ul li {
  color: black !important;
}
.layout-wrapper .layout-main .layout-breadcrumb ul li a {
  color: black !important;
}
.progressSpinner {
  position: absolute;
  left: 50%;
  top: 400px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: lightgrey !important;
}

img[alt="Image of markdown"] {
  max-width: 900px;
}

.ng-select {
  padding-bottom: 0px !important;
}

.ui-g.form-group > div {
  padding: 0.5em !important;
}
.ngSelectAlign {
  padding-top: 21px !important;
}
.login-body .login-panel {
  height: auto !important;
}
