/* Add your customizations of theme here */

body .ui-table .ui-table-thead > tr > th {
  background-color: $primaryColor;
  font-weight: bold !important;
  outline: none !important;
}

body .ui-table .ui-table-thead > tr > th:first-child .ui-chkbox .ui-chkbox-box {
  border: 2px solid #ffffff;
}

body .ui-table .ui-sortable-column {
  color: #ffffff;
}

body .ui-table .ui-table-thead > tr > th .ui-sortable-column-icon {
  color: #ffffff;
}

// .my-panel .ui-tabview-panels {
//   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
//     0 2px 1px -1px rgba(0, 0, 0, 0.12);
//   -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
//     0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
//   -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
//     0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
// }

// .ui-tabview .ui-tabview-nav > li.ui-state-active {
//   background-color: white !important;
//   border-width: 0px !important;
//   overflow: initial !important;
//   outline: none !important;
// }

// .ui-tabview .ui-tabview-nav > li.ui-state-active::before {
//   content: "";
//   height: 6px;
//   width: 100%;
//   background: $primaryColor;
//   position: absolute;
//   top: -6px;
//   left: 0;
// }

// .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
//   border-style: none !important;
//   border-bottom: 0;
//   top: 1px;
//   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
// }

// .ui-tabview .ui-tabview-nav {
//   background-color: #f5f5f5 !important;
// }

// body .ui-corner-top {
//   @include border-radius-top(0);
// }

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  background-color: #ffffff;
  color: #ffffff;
  border: 0px solid #ffffff;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
  display: none;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  background-color: var(--primary-color);
}

body .ui-fileupload-choose:not(.ui-state-disabled):hover.ui-button {
  background-color: var(--primary-color) !important;
}

.arrow-right {
  margin-top: 7px;
  font-size: 16px;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: inherit;
  color: black;
}

.ng-select .ng-select-container .ng-value-container {
  padding: 4px 0px 0px 0px !important;
  border-top: 0.84375em solid transparent !important;
  cursor: pointer !important;
}
.table-th-status-align .ui-table .ui-table-thead > tr > th:last-child {
  text-align: right !important;
}
.actionButtonActive {
  float: right !important;
}
.actionButtonInActive {
  float: right !important;
}
.actionButtonInActive button {
  background-color: #ffebf1 !important;
  color: #fd397a !important;
  min-width: 78px !important;
}

.actionButtonActive button {
  background-color: #e8faf8 !important;
  color: #39cdbc !important;
  min-width: 78px !important;
}

body .ui-treetable .ui-treetable-thead > tr > th {
  background-color: $primaryColor;
  color: white;
  font-weight: bold !important;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: var(--primary-color);
  color: #e8e8e8;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #f4f4f4;
  color: #000000;
}
.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #999999 !important;
}

.empty-message {
  padding: 50px 20px;
  color: $accentLightColor;
}

.empty-message span.material-icons {
  vertical-align: text-bottom;
}

p-message {
  font-size: 12px !important;
}
.ui-dialog .ui-dialog-content {
  padding: 0px 5px 5px 5px !important;
}

body .ui-dialog .ui-dialog-titlebar {
  padding: 5px 5px 3px 5px !important;
}

.ng-select.custom.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-value {
  color: black !important;
}

body .ui-accordion .ui-accordion-header {
  font-weight: bold !important;
}

body .ui-tabview .ui-tabview-nav > li .ui-tabview-title {
  font-weight: bold !important;
}
body .ui-table .ui-table-thead > tr > th.ui-state-highlight {
  background-color: var(--primary-color) !important;
  outline: none !important;
}

.ui-float-label > label {
  color: var(--primary-color) !important;
}

.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
  background-color: lightgrey !important;
}
.ui-paginator .ui-paginator-left-content {
  font-weight: bold !important;
  color: var(--buttonTextColor);
}

body .ui-table .ui-table-thead > tr > th {
  color: #ffffff !important;
}

.textarea-float-label-left.ui-float-label textarea:focus ~ label,
.textarea-float-label-left .ui-float-label textarea.ui-state-filled ~ label,
.textarea-float-label-left .ui-float-label textarea:-webkit-autofill ~ label {
  left: -0.5em !important;
}

.textarea-float-label-left .ui-float-label > textarea ~ label {
  left: -0.5em !important;
}

body .ui-table .ui-table-thead > tr > th {
  color: var(--buttonTextColor) !important;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: var(--primary-color);
  color: var(--buttonTextColor) !important;
}
body
  .ui-table
  .ui-sortable-column:not(.ui-state-highlight):hover
  .ui-sortable-column-icon {
  color: var(--buttonTextColor) !important;
}

body .ui-paginator > a {
  color: var(--buttonTextColor) !important;
}

body .ui-paginator .ui-paginator-pages a {
  color: var(--buttonTextColor) !important;
}
body .ui-paginator .ui-paginator-pages a.ui-state-active {
  color: var(--buttonTextColor) !important;
}

body .ui-dialog .ui-dialog-titlebar {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color) !important;
  padding-left: 10px !important;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .pi {
  color: var(--buttonTextColor) !important;
}
body .ui-widget-content {
  border: none;
}
