<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        class="{{ confirmClass }}"
        acceptLabel="{{ 'LBLYES' | translate }}"
        rejectLabel="{{ 'LBLNO' | translate }}"
        class="info-msg"
        icon="ui-icon-info"
        header="{{ appName }}"
      >
      </p-confirmDialog>
      <p-toast
        [style]="{ marginTop: '80px', width: '300px' }"
        position="top-center"
      ></p-toast>
      <h1>{{ "LBLOBSCHECKLIST" | translate }}</h1>
      <div
        class="ui-g-12 ui-md-2 multiSelectDropDwon"
        *ngIf="roleId != 1 && approvalPermission == 1"
      >
        <ng-select
          placeholder="{{ 'LBLAPPROVALSTATUS' | translate }}"
          [searchable]="true"
          [items]="approvalStatus"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedApproval"
          (ngModelChange)="serchByApproval()"
          [clearable]="false"
          [searchable]="true"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label | translate }}">
              {{ item.label | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div
        class="ui-g-12 ui-md-2 multiSelectDropDwon user-select"
        *ngIf="observerSearchCols.length > 0"
      >
        <ng-select
          [clearable]="false"
          [items]="observerSearchCols"
          [multiple]="false"
          bindLabel="header"
          [searchable]="true"
          [selectableGroup]="false"
          [closeOnSelect]="false"
          bindValue="field"
          [(ngModel)]="selectedField"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.header | translate }}">
              {{ item.header | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="onTextSearch()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            (click)="onTextSearch()"
            title="{{ 'FMKSEARCH' | translate }}"
          ></button>
        </div>
        <br />
      </div>
      <div
        class="ui-g-12 text-right"
        style="padding-top: 11px"
        *ngIf="roleId != 1"
        [ngClass]="approvalPermission != 1 ? 'ui-md-7' : 'ui-md-5'"
      >
        <button
          type="button"
          icon="ui-icon-add"
          title="{{ 'LBLADD' | translate }}"
          [routerLink]="['/add-observation-list']"
          skipLocationChange="true"
          pButton
        ></button>
        <button
          *ngIf="roleId == 1 || roleId == 2"
          type="button"
          icon="ui-icon-delete"
          [disabled]="selectedDelChecklist.length == 0"
          class="ml activebtn"
          (click)="deleteRecord()"
          pButton
          title="{{ 'LBLDELETE' | translate }}"
        ></button>
        <button
          type="button"
          icon="ui-icon-filter-list"
          title="{{ 'LBLFILTERS' | translate }}"
          class="ml"
          pButton
          (click)="toggleFilterShow()"
          id="btToggle"
        ></button>
      </div>
      <div
        class="ui-g-12 ui-md-7 text-right"
        style="padding-top: 11px"
        *ngIf="roleId == 1"
      >
        <button
          type="button"
          icon="ui-icon-add"
          title="{{ 'LBLADD' | translate }}"
          [routerLink]="['/add-observation-list']"
          skipLocationChange="true"
          pButton
        ></button>
        <button
          *ngIf="roleId == 1"
          type="button"
          icon="ui-icon-delete"
          [disabled]="selectedDelChecklist.length == 0"
          class="ml activebtn"
          (click)="deleteRecord()"
          pButton
          title="{{ 'LBLDELETE' | translate }}"
        ></button>
        <button
          type="button"
          icon="ui-icon-filter-list"
          title="{{ 'LBLFILTERS' | translate }}"
          class="ml"
          pButton
          (click)="toggleFilterShow()"
          id="btToggle"
        ></button>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState">
        <div
          class="card card-w-title right-top-arrow"
          style="padding-bottom: 0px"
        >
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left required"
              ><b>{{ "LBLLOCATIONS" | translate }}</b></label
            >
          </div>
          <div class="clearfix"></div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLBSITES" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="siteList"
              [maxSelectedLabels]="2"
              [(ngModel)]="selectedSiteName"
              class="required"
              (onChange)="getAreaBySite()"
            >
            </p-multiSelect>
          </div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLAREA" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="areaList"
              [maxSelectedLabels]="2"
              [(ngModel)]="selectedAreaName"
              class="required"
              (onChange)="getSubAreaByArea()"
            >
            </p-multiSelect>
          </div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
            *ngIf="subAreaOptionValue == 1"
          >
            <div class="filterLable">
              <label>{{ "LBLSUBAREAS" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="subAreaList"
              [maxSelectedLabels]="2"
              [(ngModel)]="selectedSubAreaName"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div class="clearfix" *ngIf="subAreaOptionValue == 1"></div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLSHIFT" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="shiftList"
              [maxSelectedLabels]="2"
              [(ngModel)]="selectedShiftName"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div class="clearfix" *ngIf="subAreaOptionValue != 1"></div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLOBSERVER" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="observerList"
              [maxSelectedLabels]="2"
              [(ngModel)]="selectedObserver"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div class="clearfix"></div>
          <div class="lablemargin-tops">
            <label class="text-left"
              ><b>{{ "LBLCATEGORIES" | translate }}</b></label
            >
          </div>
          <div class="clearfix"></div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLCHKLISTSETUP" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="checkList"
              [maxSelectedLabels]="2"
              [(ngModel)]="selectedChecklist"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div class="clearfix"></div>
          <div class="lablemargin-top">
            <label class="text-left required"
              ><b>{{ "LBLDATEFILTERS" | translate }}</b></label
            >
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-12">
            <label class="filterLabel filterObsLabel"
              ><a (click)="obsDateOpen()">{{
                "LBLOBSDATE" | translate
              }}</a></label
            >
          </div>
          <div class="clearfix"></div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-3 filter-padding"
            *ngIf="selecetedDateFilter"
          >
            <h5
              style="margin: 0; font-size: 14px; font-weight: normal"
              *ngIf="obsDateCheck == 'YTD'"
            >
              {{ "FMKYTD" | translate }}
            </h5>
            <h5
              style="margin: 0; font-size: 14px; font-weight: normal"
              *ngIf="obsDateCheck == 'CMY'"
            >
              {{ "FMKCMY" | translate }}
            </h5>
            <h5
              style="margin: 0; font-size: 14px; font-weight: normal"
              *ngIf="obsDateCheck == 'PRVMONTH'"
            >
              {{ "FMKLAST" | translate }} {{ selectMonth }}
              {{ "FMKMONTH" | translate }}
              <ng-container *ngIf="includeToday == 1">
                - {{ "FMKTD" | translate }}
              </ng-container>
            </h5>
            <h5
              style="margin: 0; font-size: 14px; font-weight: normal"
              *ngIf="obsDateCheck == 'FTDATE'"
            >
              {{ viewFromDate }} - {{ viewToDate }}
            </h5>
          </div>
          <div class="clearfix"></div>
          <div
            class="ui-g-12 ui-md-12 pl-0 p-0"
            style="margin: 17px auto 0px auto"
          >
            <div class="ui-g-12 ui-md-3">
              <button
                type="button"
                [icon]="iconType"
                (click)="advance_search()"
                label="{{ 'LBLADVANCEFILTER' | translate }}"
                class="advance-search"
                pButton
                title="{{ 'LBLADVANCEFILTER' | translate }}"
              ></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div *ngIf="show_advance_search">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12" style="margin: 0px 0px 15px 0px">
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4 filter-padding multiSelectDropDwon"
                >
                  <div class="filterLable">
                    <label>{{ "LBLSTATUS" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [maxSelectedLabels]="2"
                    [options]="status"
                    [(ngModel)]="selectedStatus"
                    class="required"
                  >
                  </p-multiSelect>
                </div>
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4 filter-padding multiSelectDropDwon"
                >
                  <div class="filterLable">
                    <label>{{ "LBLINCOMPOBSERVATION" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [maxSelectedLabels]="2"
                    [options]="displayIncomplete"
                    [(ngModel)]="selectedDisplayIncomplete"
                    class="required"
                  >
                  </p-multiSelect>
                </div>
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4 filter-padding multiSelectDropDwon"
                >
                  <div class="filterLable">
                    <label>{{ "LBLUNSAFECHECKLIST" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [maxSelectedLabels]="2"
                    [options]="unSafeChecklist"
                    [(ngModel)]="selectedUnsafeChecklist"
                    class="required"
                  >
                  </p-multiSelect>
                </div>
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4 filter-padding multiSelectDropDwon"
                >
                  <div class="filterLable">
                    <label>{{ "LBLUNSAFEWITHOUTCAPA" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [maxSelectedLabels]="2"
                    [options]="unSafeChecklistCA"
                    [(ngModel)]="selectedUnsafeChecklistCA"
                    class="required"
                  >
                  </p-multiSelect>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <button
              pButton
              type="button"
              label="{{ 'LBLFILTERRECORDS' | translate }}"
              title="{{ 'LBLFILTERRECORDS' | translate }}"
              class="filterBtn"
              (click)="filterData()"
            ></button>
            <button
              pButton
              type="reset"
              label="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
              title="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
              class="filterBtn"
              (click)="clearFilter()"
            ></button>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Filter Toggle -->
      <div class="ui-g-12 ui-md-12">
        <p-table
          [columns]="observerDataCols"
          [value]="observerDataList"
          selectionMode="multiple"
          [(selection)]="selectedDelChecklist"
          [paginator]="true"
          [rows]="20"
          class="group-listing"
          (sortFunction)="customSort($event)"
          [customSort]="true"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header | translate }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <!-- <tr [pSelectableRow]="rowData"> -->
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let observerDataCols of columns; let i = index"
                (click)="onRowSelect(rowData)"
                style="cursor: pointer"
              >
                <ng-container *ngIf="i < colsCount - 1 && i != 2">
                  <span> {{ rowData[observerDataCols.field] }} </span>
                </ng-container>
                <ng-container *ngIf="i == 2">
                  <span>
                    {{ rowData[observerDataCols.field] | translate }}
                  </span>
                </ng-container>
                <ng-container *ngIf="i == colsCount - 1">
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="rowData[observerDataCols.field] == 'LBLACTIVE'"
                    class="actionButton"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="rowData[observerDataCols.field] == 'LBLAPPROVED'"
                    class="actionButton"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="rowData[observerDataCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="rowData[observerDataCols.field] == 'LBLLOCKED'"
                    class="actionButtonD"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="
                      rowData[observerDataCols.field] == 'LBLWAITINGAPPROVAL'
                    "
                    class="actionButtonD"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="
                      rowData[observerDataCols.field] == 'LBLUPDATEREQUESTED'
                    "
                    class="actionButtonD"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[observerDataCols.field] | translate }}"
                    title="{{ rowData[observerDataCols.field] | translate }}"
                    *ngIf="rowData[observerDataCols.field] == 'LBLRESUBMITTED'"
                    class="actionButtonD"
                  >
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <p-dialog
    header="{{ 'LBLOBSDATE' | translate }}"
    [modal]="true"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="observationDate"
    [rtl]="true"
    [style]="{ width: '550px', height: 'auto' }"
    [closable]="false"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 filterReportInputs">
        <div class="ui-g-12 ui-md-6 pl-0">
          <p-radioButton
            name="groupname"
            value="YTD"
            label="{{ 'FMKYTD' | translate }}"
            [(ngModel)]="obsDateCheck"
          >
          </p-radioButton>
        </div>
        <div class="ui-g-12 ui-md-6 pl-0">
          <p-radioButton
            name="groupname"
            value="CMY"
            label="{{ 'FMKCMY' | translate }}"
            [(ngModel)]="obsDateCheck"
          >
          </p-radioButton>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 filterReportInputs">
        <div class="ui-g-12 ui-md-2 padding-none">
          <p-radioButton
            name="groupname"
            value="PRVMONTH"
            label="{{ 'LBLPREVIOUS' | translate }}"
            [(ngModel)]="obsDateCheck"
          ></p-radioButton>
        </div>
        <div class="ui-g-12 ui-md-2 padding-none">
          <p-dropdown
            class="drop-down"
            [options]="Months"
            [disabled]="obsDateCheck != 'PRVMONTH'"
            [(ngModel)]="selectMonth"
          >
          </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-2">
          <span>{{ "LBLMONTHS" | translate }}</span>
        </div>
        <div class="ui-g-12 ui-md-6 padding-none filterReportInputs">
          <div class="ui-g-12 ui-md-12 padding-none p-b-t">
            <p-checkbox
              name="includeToday"
              binary="true"
              label="{{ 'FMKTD' | translate }}"
              [disabled]="obsDateCheck != 'PRVMONTH'"
              [(ngModel)]="includeToday"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 filterReportInputs">
        <div class="ui-g-12 ui-md-3 padding-none">
          <p-radioButton
            name="DateRange"
            value="FTDATE"
            label="{{ 'FMKDR' | translate }}"
            [(ngModel)]="obsDateCheck"
          >
          </p-radioButton>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-6 padding-zero">
            <p-calendar
              placeholder="{{ 'FMKFROM' | translate }}"
              dateFormat="{{ dateFormat }}"
              [showIcon]="true"
              [maxDate]="currDate"
              [showButtonBar]="true"
              [disabled]="obsDateCheck != 'FTDATE'"
              [readonlyInput]="true"
              [yearNavigator]="true"
              [(ngModel)]="fromDate"
              yearRange="{{ yearList }}"
              [locale]="locale"
            >
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-6 padding-zero">
            <p-calendar
              placeholder="{{ 'FMKTO' | translate }}"
              dateFormat="{{ dateFormat }}"
              [showIcon]="true"
              [maxDate]="currDate"
              [showButtonBar]="true"
              [(ngModel)]="toDate"
              [disabled]="obsDateCheck != 'FTDATE'"
              [readonlyInput]="true"
              [yearNavigator]="true"
              yearRange="{{ yearList }}"
              [locale]="locale"
            >
            </p-calendar>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 submitButton">
        <div class="ui-g-12 ui-md-3 pl-0">
          <button
            pButton
            type="button"
            label="{{ 'FMKCLOSETEXT' | translate }}"
            (click)="dateSelected()"
            title="{{ 'FMKCLOSETEXT' | translate }}"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-3">
          <button
            pButton
            type="button"
            title="{{ 'LBLRESET' | translate }}"
            (click)="clearDaterange()"
            label="{{ 'LBLRESET' | translate }}"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-3">
          <button
            pButton
            type="reset"
            title="{{ 'LBLCANCEL' | translate }}"
            (click)="cancelDialog()"
            label="{{ 'LBLCANCEL' | translate }}"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
