<div class="ui-g-12" *ngIf="!isLoading">
  <p-confirmDialog
    class="info-msg"
    header="{{ appName }}"
    acceptLabel="{{ 'LBLYES' | translate }}"
    rejectLabel="{{ 'LBLNO' | translate }}"
    icon="ui-icon-info"
  ></p-confirmDialog>
  <p-toast
    [style]="{ marginTop: '80px', width: '390px' }"
    position="top-center"
  ></p-toast>
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div style="text-align: center" *ngIf="generalLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!generalLoading">
          <form
            [formGroup]="userform"
            (ngSubmit)="onSubmit('')"
            ngxScrollToFirstInvalid
          >
            <div class="ui-g form-group">
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-1">
                  <label> {{ "LBLPROFILE" | translate }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="userName"
                    minlength="{{ userNameLength }}"
                  />
                  <label class="required">{{
                    "LBLUSERNAME" | translate
                  }}</label>
                </span>
                <p-message
                  severity="error"
                  text="{{ 'ALTADDUSERNAME' | translate }}"
                  *ngIf="
                    submitted &&
                    (uform['userName'].errors?.required ||
                      userform.get('userName').hasError('whitespace') ||
                      uform.userName.hasError('nameMaxLengthExceedError') ||
                      uform.userName.hasError('space'))
                  "
                >
                </p-message>
                <p-message
                  severity="error"
                  text="{{ userLenError }}"
                  *ngIf="
                    !uform['userName'].errors?.required &&
                    !userform.get('userName').hasError('whitespace') &&
                    uform['userName'].errors?.minlength
                  "
                >
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="firstName"
                    maxlength="256"
                  />
                  <label class="required">{{
                    "LBLFIRSTNAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && uform['firstName'].errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDFIRSTNAME' | translate }}"
                    *ngIf="
                      uform['firstName'].errors?.required ||
                      userform.get('firstName').hasError('whitespace') ||
                      uform.firstName.errors?.maxlength ||
                      userform.get('firstName').hasError('space')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="lastName"
                    maxlength="256"
                  />
                  <label class="required">{{
                    "LBLLASTNAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && uform['lastName'].errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDLASTNAME' | translate }}"
                    *ngIf="
                      uform['lastName'].errors?.required ||
                      userform.get('lastName').hasError('whitespace') ||
                      uform.lastName.errors?.maxlength ||
                      userform.get('lastName').hasError('space')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="email"
                    pInputText
                    class="ui-md-12"
                    formControlName="emailId"
                    (change)="onEmailChange($event)"
                  />
                  <label
                    [ngClass]="{
                      required: userform.controls['userType'].value != 1
                    }"
                    class="ngSelectAlign"
                    >{{ "LBLEMAILID" | translate }}</label
                  >
                </span>

                <div
                  *ngIf="submitted && uform.emailId.errors && userValue != 1"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDEMAIL' | translate }}"
                    *ngIf="
                      !uform.emailId.errors.required ||
                      !userform.get('emailId').hasError('whitespace') ||
                      (userform.get('emailId').hasError('isEmail') &&
                        uform.emailId.errors.maxlength)
                    "
                  >
                  </p-message>
                </div>
                <div
                  *ngIf="submitted && uform.emailId.errors && userValue == 1"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDEMAIL' | translate }}"
                    *ngIf="
                      !uform.emailId.errors.dirty &&
                      (!userform.get('emailId').hasError('whitespace') ||
                        (userform.get('emailId').hasError('isEmail') &&
                          uform.emailId.errors.maxlength))
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="jobTitle"
                    maxlength="128"
                  />
                  <label class="ngSelectAlign">{{
                    "LBLJOBTITLE" | translate
                  }}</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLTYPE' | translate }}"
                  [searchable]="false"
                  [items]="userType"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="userType"
                  (change)="checkUser()"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <ng-container *ngIf="userValue != 1">
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLROLES' | translate }}"
                    [searchable]="true"
                    [items]="roleListing"
                    bindLabel="ROLENAME"
                    bindValue="ROLEID"
                    formControlName="defaultRole"
                    class="required"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.ROLENAME }}">
                        {{ item.ROLENAME }}
                      </div>
                    </ng-template>
                  </ng-select>

                  <div
                    *ngIf="submitted && uform.defaultRole.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTSELECTROLE' | translate }}"
                      *ngIf="
                        uform.defaultRole.errors.required ||
                        uform.defaultRole.errors?.min
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLOFFLINEACCESS' | translate }}"
                    [searchable]="true"
                    [items]="YesNo"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="userOffline"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLAPPROVESCAN' | translate }}"
                    [searchable]="true"
                    [items]="YesNo"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="userOfflineApprove"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>

                  <div
                    *ngIf="submitted && uform.userOfflineApprove.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="Type is required"
                      *ngIf="uform.userOfflineApprove.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="heading-left ui-g-12 ui-md-12">
                  <div class="ui-g-12 ui-md-2">
                    <label> {{ "LBLAUTHENTICATION" | translate }}</label>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <input
                      type="password"
                      pInputText
                      class="ui-md-12"
                      formControlName="userPassword"
                    />
                    <label class="required">{{
                      "LBLPASSWORD" | translate
                    }}</label>
                  </span>

                  <div
                    *ngIf="submitted && uform.userPassword.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTADDPWD' | translate }}"
                      *ngIf="
                        uform.userPassword.errors.required ||
                        userform.get('userPassword').hasError('whitespace')
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDLEN' | translate }} {{ passLength }} {{
                        'LBLPWDCHAR' | translate
                      }} "
                      *ngIf="
                        !uform.userPassword.errors.required &&
                        userform.get('userPassword').hasError('minlength')
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDMUST' | translate }} {{
                        'LBLPWDNUMCHAR' | translate
                      }}"
                      *ngIf="
                        passwordComplexity == 1 &&
                        !uform.userPassword.errors.required &&
                        !userform.get('userPassword').hasError('minlength') &&
                        uform.userPassword.errors.pattern
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDATLEAST' | translate }} {{
                        passAlphaLength
                      }} {{ 'LBLCHAR' | translate }} {{ passNumLength }} {{
                        'LBLPWDNUMCHAR' | translate
                      }}"
                      *ngIf="
                        passwordComplexity == 2 &&
                        !uform.userPassword.errors.required &&
                        !userform.get('userPassword').hasError('minlength') &&
                        uform.userPassword.errors.pattern
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDATLEAST' | translate }} {{
                        passAlphaLength
                      }} {{ 'LBLCHAR' | translate }} {{ passNumLength }} {{
                        'LBLNUMAND' | translate
                      }} {{ passSpecialLength }} {{ 'LBLPWDSPEC' | translate }}"
                      *ngIf="
                        passwordComplexity == 3 &&
                        !uform.userPassword.errors.required &&
                        !userform.get('userPassword').hasError('minlength') &&
                        uform.userPassword.errors.pattern
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <input
                      type="password"
                      pInputText
                      class="ui-md-12"
                      formControlName="confirmPassword"
                    />
                    <label class="required">{{
                      "LBLCONFIRMPASSWORD" | translate
                    }}</label>
                  </span>
                  <div
                    *ngIf="submitted && uform.confirmPassword.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTADDCONFIRMPWD' | translate }}"
                      *ngIf="
                        !userform.controls['confirmPassword'].valid &&
                        !uform.confirmPassword.errors.required
                      "
                    >
                    </p-message>
                  </div>
                </div>
              </ng-container>
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-1">
                  <label> {{ "LBLBSITES" | translate }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <p-multiSelect
                  (onChange)="getSites($event)"
                  id="siteIds"
                  [options]="siteListing"
                  class="required"
                  [defaultLabel]="'LBLCHOOSE' | translate"
                  formControlName="siteIds"
                >
                </p-multiSelect>
                <div
                  *ngIf="submitted && uform['siteIds'].errors"
                  class="invalid-feedback"
                  style="margin-top: 10px"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTASSIGNSITE' | translate }}"
                    *ngIf="uform['siteIds'].errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLDEFAULTSITE' | translate }}"
                  [searchable]="true"
                  [items]="defaultSite"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="userDefaultSite"
                  (change)="getTimeZone()"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">{{ item.label }}</div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && uform.userDefaultSite.errors"
                  class="invalid-feedback"
                  style="margin-top: 10px"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTASSIGNSITE' | translate }}"
                    *ngIf="uform.userDefaultSite.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <ng-container *ngIf="finalGroups && finalGroups.length > 0">
                <div class="heading-left ui-g-12 ui-md-12">
                  <div class="ui-g-12 ui-md-1">
                    <label> {{ "LBLGROUPS" | translate }}</label>
                  </div>
                </div>
                <ng-container *ngFor="let group of finalGroups">
                  <div
                    class="ui-g-12 ui-md-4 multiSelectDropDwon"
                    style="margin-bottom: 10px"
                    *ngIf="group.data.length > 0"
                  >
                    <ng-select
                      [clearable]="false"
                      placeholder="{{ group.groupName }}"
                      [items]="group.data"
                      bindLabel="GROUPNAME"
                      [searchable]="true"
                      bindValue="GROUPID"
                      formControlName="{{ group.fieldname }}"
                      [ngClass]="{ required: group.mandatory == 1 }"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <div title="{{ item.GROUPNAME }}">
                          {{ item.GROUPNAME }}
                        </div>
                      </ng-template>
                    </ng-select>
                    <ng-container *ngIf="group.mandatory == 1">
                      <div *ngIf="submitted" class="invalid-feedback">
                        <p-message
                          class="errorMsg"
                          severity="error"
                          text="{{ 'ALTMANDATORYGROUP' | translate }}"
                          *ngIf="
                            userform
                              .get(group['fieldname'])
                              .hasError('required') ||
                            userform.get(group['fieldname']).hasError('min')
                          "
                        >
                        </p-message>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>

              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-2">
                  <label> {{ "LBLUSERPREFERENCE" | translate }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLLANGUAGE' | translate }}"
                  [searchable]="true"
                  [items]="Language"
                  bindLabel="LANGUAGENAME"
                  bindValue="LANGUAGEID"
                  formControlName="languageId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.LANGUAGENAME }}">
                      {{ item.LANGUAGENAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLDATEFORMAT' | translate }}"
                  [searchable]="true"
                  [items]="DateFormat"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="userDateFormat"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="hidden"
                    pInputText
                    formControlName="userTimeZone"
                  />
                  <input
                    type="text"
                    readonly
                    pInputText
                    class="ui-md-12"
                    value="{{ defaultTimeZone }}"
                  />
                  <label class="ngSelectAlign">{{
                    "LBLTIMEZNONE" | translate
                  }}</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [items]="status"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-12 submitButton">
                <div class="ui-g-3 ui-md-3 ui-lg-1 pl-0">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSAVE' | translate }}"
                    title="{{ 'LBLSAVE' | translate }}"
                    style="margin-bottom: 10px"
                    [disabled]="userform.pristine || onSubmitTouched"
                  ></button>
                </div>
                <div class="ui-g-3 ui-md-3 ui-lg-1 pl-0">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}"
                    style="margin-bottom: 10px"
                    class="reset-btn"
                    [disabled]="userform.pristine || onSubmitTouched"
                    (click)="onReset()"
                  ></button>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-2 secondary-btn-ui">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLSAVEADDNEW' | translate }}"
                    title="{{ 'LBLSAVEADDNEW' | translate }}"
                    style="margin-bottom: 10px"
                    (click)="onSubmit('save_and_add_new')"
                    [disabled]="userform.pristine || onSubmitTouched"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLTARGETS' | translate }}"
        leftIcon="ui-icon-center-focus-strong"
        *ngIf="targetPanelStatus"
        (onClick)="targetOpen()"
      >
        <div style="text-align: center" *ngIf="targetLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!targetLoading">
          <form
            [formGroup]="targetForm"
            (ngSubmit)="targetSubmit(targetForm.value)"
          >
            <div class="row mt-3">
              <div class="ui-g-12 ui-md-5">
                <div class="ui-g-12 ui-md-6">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLSITENAME' | translate }}"
                    [searchable]="true"
                    [items]="targetdefaultSite"
                    bindLabel="SITENAME"
                    bindValue="SITEID"
                    formControlName="siteid"
                    (change)="targetOpen()"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.SITENAME }}">{{ item.SITENAME }}</div>
                    </ng-template>
                  </ng-select>
                  <p-message
                    class="ui-g-12 ui-md-12 pl-0"
                    severity="error"
                    text="{{ 'ALTASSIGNSITE' | translate }}"
                    *ngIf="
                      !targetForm.controls['siteid'].valid &&
                      targetForm.controls['siteid'].dirty
                    "
                  >
                  </p-message>
                </div>
                <div class="ui-g-12 ui-md-6 mb-2">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLTARGET' | translate }}"
                    [searchable]="true"
                    [items]="Target"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="targets"
                    (change)="targetOpen()"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12" *ngIf="!wTarget && tTarget">
                <p-table [value]="months" class="ngTable grouplisting">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="lefttop-radius">
                        {{ "LBLMONTH" | translate }}
                      </th>
                      <th class="righttop-radius">
                        <div class="ui-g-12 ui-md-5"></div>
                        <div class="ui-g-12 ui-md-3 padding-zero">
                          <span class="md-inputfield ui-md-12 padding-zero">
                            {{ "LBLTARGETS" | translate }}
                          </span>
                        </div>
                        <div class="ui-g-12 ui-md-2"></div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData>
                    <tr>
                      <td>{{ rowData.monthname | translate }}</td>
                      <td>
                        <div class="ui-g-12 ui-md-5"></div>
                        <div class="ui-g-12 ui-md-3">
                          <span class="md-inputfield ui-md-12 padding-zero">
                            <input
                              *ngIf="rowData.name == 'allmonth'"
                              type="text"
                              pInputText
                              class="ui-md-12 allmonthvalue"
                              formControlName="{{ rowData.name }}"
                              (input)="
                                setTargetValue(
                                  $event.target.value,
                                  rowData.name
                                )
                              "
                            />
                            <input
                              *ngIf="rowData.name != 'allmonth'"
                              type="text"
                              pInputText
                              class="ui-md-12 monthValue"
                              formControlName="{{ rowData.name }}"
                              (input)="
                                setValue($event.target.value, rowData.name)
                              "
                            />
                          </span>
                        </div>
                        <div class="ui-g-12 ui-md-2"></div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="ui-g-12 ui-md-12" *ngIf="wTarget && !tTarget">
                <div class="ui-g form-group">
                  &nbsp; &nbsp;
                  <span class="md-inputfield ui-md-4 padding-none">
                    <input
                      type="text"
                      pInputText
                      class="ui-md-12"
                      formControlName="weeklyTarget"
                      (input)="setWeeklyValue($event.target.value)"
                    />
                    <label class="required">{{
                      "LBLWEEKLYTARGET" | translate
                    }}</label>
                  </span>
                </div>
                <div
                  *ngIf="
                    tform['weeklyTarget'].errors && weeeklyTargetsSubmitted
                  "
                  class="invalid-feedback ui-md-4"
                >
                  <p-message
                    severity="error"
                    text="{{ 'LBLSETWEEKLY' | translate }}"
                    *ngIf="tform['weeklyTarget'].errors?.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 checkboxTarget">
                <p-checkbox
                  [formControl]="targetForm.controls['targetAllSite']"
                  binary="true"
                  label="{{ 'LBLALLSITESTARGET' | translate }}"
                ></p-checkbox>
              </div>
              <div class="ui-g-12 ui-md-3 submitButton">
                <div class="ui-g-12 ui-md-6 pl-0">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSAVE' | translate }}"
                    title="{{ 'LBLSAVE' | translate }}"
                    [disabled]="targetForm.pristine"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-6">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}"
                    [disabled]="targetForm.pristine"
                    class="reset-btn"
                    style="margin-bottom: 10px"
                    (click)="onReset()"
                  ></button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>

<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
