<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3" *ngIf="siteList.length > 1">
          <span class="md-inputfield">
            <p-dropdown
              id="reportID"
              class="drop-down"
              [options]="siteList"
              placeholder="{{ 'LBLSITENAME' | translate }}"
              title="{{ 'LBLSITENAME' | translate }}"
              [(ngModel)]="selectedSiteName"
              (ngModelChange)="changeLBLUNSAFEACTCOVERREPORT()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLSITENAME" | translate
            }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>

        <div class="clearfix"></div>
        <div style="text-align: center" *ngIf="!isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="isLoaded && !errormsg">
          <div class="card card-w-title">
            <fusioncharts
              (initialized)="initialized($event)"
              width="100%"
              height="400"
              type="pie3d"
              [dataSource]="graphicalData"
              (dataplotClick)="barClick($event)"
            >
            </fusioncharts>
          </div>
          <div class="card card-w-title">
            <p-table
              #searchData
              [columns]="cols"
              [value]="tableData"
              selectionMode="single"
              dataKey="vin"
              [paginator]="true"
              [rows]="30"
              class="hyperlinkTable"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width: 300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th
                    *ngFor="let col of columns; let i = index"
                    [class.align-center]="i == 1"
                  >
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-rowIndex="rowIndex"
                let-columns="columns"
              >
                <tr>
                  <td
                    *ngFor="let col of columns; let i = index"
                    [class.align-center]="i == 1"
                  >
                    <ng-container *ngIf="col.field == 'CARDSTATUS'">
                      <a
                        style="cursor: pointer"
                        (click)="
                          openSubReport(
                            rowData['STATUS'],
                            rowData['CARDSTATUS']
                          )
                        "
                        >{{ rowData[col.field] }}</a
                      >
                    </ng-container>
                    <ng-container *ngIf="col.field != 'CARDSTATUS'">
                      {{ rowData[col.field] }}
                    </ng-container>
                  </td>
                </tr>
                <tr *ngIf="rowIndex == tableData.length - 1">
                  <td class="submoduleTable1" style="font-weight: bold">
                    {{ "LBLGRANDTOTAL" | translate }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    style="font-weight: bold"
                  >
                    {{ grandTotal }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<p-dialog
  header="Sub Reports - {{ headName }}"
  class="checklist-dialog"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="displaySubReport"
  [rtl]="true"
  [style]="{ width: '95%', height: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="displaySubReport">
    <app-sub-corrective-actions-coverage-report
      [reportId]="reportId"
      [subReportId]="15"
      [statusId]="selectedStatusId"
    ></app-sub-corrective-actions-coverage-report>
  </div>
</p-dialog>
