<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        class="{{ confirmClass }}"
        header="{{ appName }}"
        acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}"
        icon="ui-icon-info"
      ></p-confirmDialog>
      <p-toast
        [style]="{ marginTop: '80px', width: '300px' }"
        position="top-center"
      ></p-toast>
      <h1>{{ "LBLGROUPLISTING" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon">
        <ng-select
          placeholder="{{ 'LBLGROUPTYPE' | translate }}"
          [searchable]="true"
          [items]="groupTypeListing"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedGroupType"
          (ngModelChange)="serchByType()"
          [clearable]="false"
          [searchable]="true"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label }}">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon">
        <ng-select
          [searchable]="true"
          [items]="tableCols"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedTableCol"
          [clearable]="false"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label }}">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="onTextSearch()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch()"
          ></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-5 text-right">
        <button
          type="button"
          icon="ui-icon-add"
          [routerLink]="['/add-group']"
          skipLocationChange="true"
          title="{{ 'LBLADD' | translate }}"
          (click)="setGroupType()"
          pButton
        ></button>
        <button
          type="button"
          [disabled]="selectedGroup.length == 0"
          icon="ui-icon-delete"
          (click)="deleteRecord()"
          class="ml activebtn"
          title="{{ 'LBLDELETE' | translate }}"
          visibleToOnlySuperAdmin
          pButton
          *ngIf="roleId == 1"
        ></button>
        <button
          type="button"
          icon="ui-icon-swap-horiz"
          [disabled]="selectedGroup.length == 0"
          (click)="changeStatus('multiple', '')"
          class="ml"
          pButton
          title="{{ 'LBLCHANGESTATUS' | translate }}"
        ></button>
        <button
          type="button"
          icon="ui-icon-g-translate"
          [routerLink]="['/group-translate']"
          skipLocationChange="true"
          class="ml"
          title="{{ 'LBLTRANS' | translate }}"
          pButton
        ></button>
      </div>
      <div class="clearfix"></div>
      <div
        class="ui-g-12 ui-md-12 table-group-listing"
        *ngIf="visibleTable && !isLoading"
      >
        <p-table
          [columns]="groupCols"
          [value]="groupListing"
          [(selection)]="selectedGroup"
          [paginator]="true"
          [rows]="20"
          class="group-listing grouplisting"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center;"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th
                *ngFor="let groupCols of columns"
                [pSortableColumn]="groupCols.field"
              >
                {{ groupCols.header }}
                <p-sortIcon [field]="groupCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let groupCols of columns; let i = index"
                (click)="onRowSelect(rowData)"
                style="cursor: pointer;"
              >
                <ng-container *ngIf="i < groupCount - 1">
                  <span>
                    {{ rowData[groupCols.field] }}
                  </span>
                </ng-container>
                <ng-container *ngIf="i == groupCount - 1">
                  <p-button
                    label="{{ rowData[groupCols.field] | translate }}"
                    title="{{ rowData[groupCols.field] | translate }}"
                    (click)="changeStatus('single', rowData['GROUPID'])"
                    *ngIf="rowData[groupCols.field] == 'LBLACTIVE'"
                    class="actionButton"
                  ></p-button>
                  <p-button
                    label="{{ rowData[groupCols.field] | translate }}"
                    title="{{ rowData[groupCols.field] | translate }}"
                    (click)="changeStatus('single', rowData['GROUPID'])"
                    *ngIf="rowData[groupCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[groupCols.field] | translate }}"
                    title="{{ rowData[groupCols.field] | translate }}"
                    (click)="changeStatus('single', rowData['GROUPID'])"
                    *ngIf="rowData[groupCols.field] == 'LBLLOCKED'"
                    class="actionButtonD"
                  >
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
