::ng-deep body .ui-table .ui-table-tbody > tr > td {
  word-break: break-all;
}

::ng-deep .dropOpen {
  display: block;
  width: 100%;
}

::ng-deep .headerTD1 {
  background: #f4f4f4 !important;
  color: #009688;
}

::ng-deep .submoduleTable1 {
  /* background: #fff !important; */
  color: #000 !important;
}

::ng-deep .submoduleTable2 {
  background: #fff !important;
  color: #000 !important;
}

.NotApplicable {
  background: #fff !important;
}

.BelowTarget {
  background: red !important;
}

.AchievedTarget {
  background: #ffe135 !important;
}

.ExceededTarget {
  background: #7a9e5c !important;
}

.topHeadingButtons button {
  color: #000;
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.topHeadingButtons label {
  color: #000;
  float: left;
  padding: 9px 10px;
}

.topHeadingButtons {
  padding: 0px 0px 0px 13px;
}

::ng-deep .colorTable .ui-table .ui-table-tbody > tr > td a {
  display: block;
  width: 100%;
  color: #212121;
}

/* .colorTable .ui-table .ui-table-tbody>tr>td:first-child {
  background: #fff !important;
  width: auto !important;
  border-right: 1px solid #009688 !important;
  font-weight: 600;
  text-align: left !important;
  color: #009688 !important;
} */

::ng-deep .leftTxt {
  text-align: left !important;
  float: left;
  width: 45%;
  display: block;
}

::ng-deep .rightTxt {
  text-align: right !important;
  float: right;
  display: block;
  width: 50%;
}

::ng-deep .colorTable .ui-table .ui-table-tbody > tr > td:first-child span {
  display: none !important;
}

::ng-deep .colorTable .ui-table .ui-table-tbody > tr > td {
  border: 1px solid #f0f0f0 !important;
  font-size: 15px !important;
  background-color: #fff;
  /* width: 1px; */
}

::ng-deep .colorTable .ui-table .ui-table-thead > tr > th:first-child i {
  display: none !important;
}

::ng-deep .noRecordFound {
  text-align: center;
  padding: 15% 0%;
  color: #f44336;
}

::ng-deep .ui-table table span {
  cursor: auto !important;
}

::ng-deep .align-center {
  text-align: center !important;
}

/* ::ng-deep #monthlyTarget table {
  width: auto !important;
} */

/* ::ng-deep #contentToConvert {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
} */

.printClass {
  padding: 0 20px 65px;
}
