<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        class="{{ confirmClass }}"
        #cd
        header="{{ appName }}"
        acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}"
        icon="ui-icon-info"
      >
        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-check"
            label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"
          ></button>
          <button
            type="button"
            pButton
            icon="pi pi-times"
            label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"
          ></button>
        </p-footer>
      </p-confirmDialog>
      <p-toast
        [style]="{ marginTop: '80px', width: '300px' }"
        position="top-center"
      ></p-toast>
      <h1>
        {{ "LBLSITELISTING" | translate }} <i class="pi pi-ellipsis-v"></i>
      </h1>

      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select">
        <ng-select
          [searchable]="true"
          [items]="searchBy"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedfilterSite"
          [clearable]="false"
          required
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label }}">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="searching()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            title="{{ 'FMKSEARCH' | translate }}"
            (click)="searching()"
          ></button>
        </div>
        <br />
      </div>

      <div class="ui-g-12 ui-md-7 text-right">
        <button
          type="button"
          icon="ui-icon-add"
          [routerLink]="['/add-site']"
          skipLocationChange="true"
          title="{{ 'LBLADD' | translate }}"
          pButton
        ></button>
        <button
          type="button"
          [disabled]="selectedData.length == 0"
          icon="ui-icon-delete"
          class="ml activebtn"
          (click)="deleteRecord()"
          pButton
          title="{{ 'LBLDELETE' | translate }}"
          *ngIf="roleId == 1"
        ></button>
        <button
          type="button"
          [disabled]="selectedData.length == 0"
          icon="ui-icon-swap-horiz"
          class="ml"
          (click)="changeStatus('')"
          title="{{ 'LBLCHANGESTATUS' | translate }}"
          pButton
        ></button>
        <button
          type="button"
          [disabled]="selectedData.length == 0"
          icon="ui-icon-email"
          class="ml"
          (click)="sendEmail()"
          title="{{ 'LBLMAILSEND' | translate }}"
          pButton
        ></button>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12" *ngIf="visibleTable">
        <p-table
          [columns]="dataCols"
          [value]="siteListing"
          [(selection)]="selectedData"
          [paginator]="true"
          [rows]="20"
          class="group-listing"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center;"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th
                *ngFor="let dataCols of columns"
                [pSortableColumn]="dataCols.field"
              >
                {{ dataCols.header }}
                <p-sortIcon [field]="dataCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let dataCols of columns; let i = index"
                style="cursor: pointer;"
              >
                <ng-container *ngIf="i < dataCount - 1">
                  <a
                    style="display: block;"
                    routerLink="/edit-site/{{ rowData['SITEID'] }}"
                    skipLocationChange="true"
                  >
                    {{ rowData[dataCols.field] }}
                  </a>
                </ng-container>
                <ng-container *ngIf="i == dataCount - 1">
                  <p-button
                    label="{{ rowData[dataCols.field] | translate }}"
                    title="{{ rowData[dataCols.field] | translate }}"
                    (click)="changeStatus(rowData.SITEID)"
                    *ngIf="rowData[dataCols.field] == 'LBLACTIVE'"
                    class="actionButton"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[dataCols.field] | translate }}"
                    title="{{ rowData[dataCols.field] | translate }}"
                    (click)="changeStatus(rowData.SITEID)"
                    *ngIf="rowData[dataCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD"
                  >
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<form
  [formGroup]="sendEmailForm"
  (ngSubmit)="onSendMail()"
  class="CreatenewObserver"
  ngxScrollToFirstInvalid
>
  <p-dialog
    header="{{ 'LBLEMAILSITE' | translate }}"
    [modal]="true"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="display"
    [rtl]="true"
    (onHide)="onDialogClose()"
    [style]="{ width: '700px', height: '500px', overflow: 'scroll' }"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="ui-g-12 ui-md-12 observation_input">
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          {{ "LBLMAILSELSITES" | translate }}
        </div>
        <div class="ui-g-12 ui-md-10 ui-lg-10">
          <div>
            <b>{{ selectedList }}</b>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="subject"
            maxlength="256"
          />
          <label class="required">{{ "LBLMAILSUBJECT" | translate }}</label>
        </span>
        <div
          *ngIf="sendEmailsubmitted && sendMailform.subject.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTMAILSUB' | translate }}"
            *ngIf="sendMailform.subject.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label
          class="dateLabel required"
          style="margin-bottom: 10px !important; display: block;"
          ><b>{{ "LBLMAILBODY" | translate }}</b></label
        >
        <textarea id="tinymceEditor" formControlName="body"></textarea>
        <div
          *ngIf="sendEmailsubmitted && sendMailform.body.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTMAILBODY' | translate }}"
            *ngIf="sendMailform.body.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 submitButton">
        <div class="ui-g-12 ui-md-6 pl-0">
          <button
            pButton
            type="submit"
            label="{{ 'LBLMAILSEND' | translate }}"
            title="{{ 'LBLMAILSEND' | translate }}"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-6">
          <button
            pButton
            type="reset"
            title="{{ 'LBLRESET' | translate }}"
            label="{{ 'LBLRESET' | translate }}"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
