<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div *ngIf="isLoaded" style="text-align: center">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <form
          [formGroup]="AddObservatinGeneral"
          (ngSubmit)="onSubmit(AddObservatinGeneral.value)"
          *ngIf="!isLoaded"
        >
          <div class="ui-g form-group">
            <div class="heading-left ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4">
                <label class="text-center">{{
                  "LBLOBSCHKLISTGRPINFO" | translate
                }}</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" style="padding-top: 0px">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12">
                  <span class="category_label">
                    <b>{{ "LBLOBSERVERNAME" | translate }}:</b>
                    {{ userLastName }},{{ userFirstName }}
                  </span>
                </div>
                <ng-container *ngIf="finalGroups">
                  <ng-container *ngFor="let group of finalGroups">
                    <div
                      class="ui-g-12 ui-md-4 multiSelectDropDwon"
                      style="margin-bottom: 20px"
                    >
                      <ng-select
                        [clearable]="false"
                        placeholder="{{ group.groupName }}"
                        [items]="group.data"
                        bindLabel="GROUPNAME"
                        [searchable]="true"
                        bindValue="GROUPID"
                        formControlName="{{ group.fieldname }}"
                      >
                        <ng-template
                          ng-option-tmp
                          let-item="item"
                          let-item$="item$"
                          let-index="index"
                        >
                          <div title="{{ item.GROUPNAME }}">
                            {{ item.GROUPNAME }}
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </ng-container>
                </ng-container>
                <div class="clearfix"></div>
                <div class="heading-left ui-g-12 ui-md-12 mb-10">
                  <div class="ui-g-12 ui-md-12 ui-lg-4">
                    <label class="text-center" style="margin-left: -10px">{{
                      "LBLUPDATEGROUPDATE" | translate
                    }}</label>
                  </div>
                  <br />
                </div>
                <div class="ui-g-12 ui-md-12 mb-10">
                  <div class="ui-g-12 ui-md-4 multiSelectDropDwon pl-0">
                    <ng-select
                      placeholder="{{ 'LBLOBSDATE' | translate }}"
                      [searchable]="true"
                      [items]="observationDateType"
                      bindLabel="name"
                      [clearable]="false"
                      bindValue="id"
                      formControlName="obsDatetype"
                      (change)="chnageObsDate($event.id)"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <div title="{{ item.name | translate }}">
                          {{ item.name | translate }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 uidatepicker" *ngIf="!showDate">
                  <label class="required dateLabel">{{
                    "LBLOBSFROMDATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    [showButtonBar]="true"
                    dateFormat="{{ dateFormat }}"
                    formControlName="obsDateFrom"
                    [locale]="locale"
                  >
                  </p-calendar>
                  <div
                    *ngIf="submitted && GeneralSubForm.obsDateFrom.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTOBSFROMDATE' | translate }}"
                      *ngIf="GeneralSubForm.obsDateFrom.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 uidatepicker" *ngIf="!showDate">
                  <label class="required dateLabel">{{
                    "LBLOBSTODATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    [showButtonBar]="true"
                    dateFormat="{{ dateFormat }}"
                    formControlName="obsDateTo"
                    [locale]="locale"
                  >
                  </p-calendar>
                  <div
                    *ngIf="submitted && GeneralSubForm.obsDateTo.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTOBSTODATE' | translate }}"
                      *ngIf="GeneralSubForm.obsDateTo.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-8 submitButton">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSAVE' | translate }}"
                    title="{{ 'LBLSAVE' | translate }}"
                    [disabled]="AddObservatinGeneral.pristine"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLRESET' | translate }}"
                    style="margin-bottom: 10px"
                    title="{{ 'LBLRESET' | translate }}"
                    (click)="resetObsForm()"
                    [disabled]="AddObservatinGeneral.pristine"
                    class="reset-btn"
                  ></button>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <p class="note_msg">{{ "LBLNOTEOBSERVATIONGROUP" | translate }}</p>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
