<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form [formGroup]="addRedFlag" (ngSubmit)="onSubmit(addRedFlag.value)">
          <div class="ui-g form-group ">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLBSITES' | translate }}"
                  [searchable]="true"
                  [items]="siteListing"
                  bindLabel="SITENAME"
                  [clearable]="false"
                  bindValue="SITEID"
                  required
                  formControlName="siteId"
                  (change)="getSiteData($event.SITEID)"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SITENAME }}">
                      {{ item.SITENAME }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && redFlagForm.siteId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="siteId is required"
                    *ngIf="redFlagForm.siteId.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input  mb-10">
                <span class="md-inputfield ui-md-12 padding-none ">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="flagName"
                  />
                  <label class="required inputLabel">{{
                    "LBLREDFLAGNAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && redFlagForm.flagName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTREDFLAGNAMEREQUIRED' | translate }}"
                    *ngIf="
                      redFlagForm.flagName.errors.required ||
                      addRedFlag.get('flagName').hasError('whitespace') ||
                      redFlagForm.flagName.errors?.maxlength ||
                      redFlagForm.flagName.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10">
                <ng-select
                  placeholder="{{ 'LBLOBSERVER' | translate }}"
                  [searchable]="true"
                  [items]="obsListing"
                  bindLabel="FULLNAME"
                  [clearable]="false"
                  bindValue="USERID"
                  formControlName="observeId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.FULLNAME }}">
                      {{ item.FULLNAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10">
                <ng-select
                  placeholder="{{ 'LBLAREA' | translate }}"
                  [searchable]="true"
                  [items]="areaListing"
                  bindLabel="AREANAME"
                  [clearable]="false"
                  bindValue="AREAID"
                  formControlName="areaId"
                  (change)="getSubAreaData($event.AREAID)"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.AREANAME }}">
                      {{ item.AREANAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10" *ngIf="subAreaOptionValue == 1">
                <ng-select
                  placeholder="{{ 'LBLSUBAREAS' | translate }}"
                  [searchable]="true"
                  [items]="subAreaListing"
                  bindLabel="SUBAREANAME"
                  [clearable]="false"
                  bindValue="SUBAREAID"
                  formControlName="subareaId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SUBAREANAME }}">
                      {{ item.SUBAREANAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10">
                <ng-select
                  placeholder="{{ 'LBLCHECKLIST' | translate }}"
                  [searchable]="true"
                  [items]="checkListing"
                  bindLabel="SETUPNAME"
                  [clearable]="false"
                  bindValue="CHECKLISTSETUPID"
                  required
                  formControlName="checkListId"
                  (change)="getCheckListData($event.CHECKLISTSETUPID)"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SETUPNAME }}">
                      {{ item.SETUPNAME }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && redFlagForm.checkListId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTREDFLAGSETUP' | translate }}"
                    *ngIf="
                      redFlagForm.checkListId.errors.required ||
                      redFlagForm.checkListId.errors.min
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10">
                <ng-select
                  placeholder="{{ 'LBLMAINCATEGORY' | translate }}"
                  [searchable]="true"
                  [items]="catListing"
                  bindLabel="MAINCATEGORYNAME"
                  [clearable]="false"
                  bindValue="MAINCATEGORYID"
                  formControlName="mainCatID"
                  (change)="getMainCatData($event.MAINCATEGORYID)"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.MAINCATEGORYNAME }}">
                      {{ item.MAINCATEGORYNAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10">
                <ng-select
                  placeholder="{{ 'LBLSUBCATNAME' | translate }}"
                  [searchable]="true"
                  [items]="subCatListing"
                  bindLabel="SUBCATEGORYNAME"
                  [clearable]="false"
                  bindValue="SUBCATEGORYID"
                  formControlName="subCatID"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SUBCATEGORYNAME }}">
                      {{ item.SUBCATEGORYNAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon  mb-10">
                <ng-select
                  placeholder="{{ 'LBLMETRICS' | translate }}"
                  [searchable]="true"
                  [items]="metrics"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="matric"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon"
                *ngIf="trigger.length > 0"
              >
                <ng-select
                  placeholder="{{ 'LBLTRIGGER' | translate }}"
                  [searchable]="true"
                  [items]="trigger"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="trigger"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix" *ngIf="subAreaOptionValue == 0"></div>
              <div class="ui-g-12 ui-md-4 observation_input">
                <span class="md-inputfield ui-md-12 padding-none ">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="limit"
                  />
                  <label class="required inputLabel">{{
                    "LBLLIMIT" | translate
                  }}</label>
                </span>

                <div
                  *ngIf="submitted && redFlagForm.limit.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTREDFLAGVALUEFIELDREQUIRED' | translate }}"
                    *ngIf="
                      redFlagForm.limit.errors.required ||
                      addRedFlag.get('limit').hasError('whitespace') ||
                      redFlagForm.limit.errors?.maxlength ||
                      redFlagForm.limit.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon ">
                <ng-select
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [items]="status"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-8 submitButton ">
              <div class="ui-g-12 ui-md-3 ui-lg-2 ">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  title="{{ 'LBLSAVE' | translate }}"
                  [disabled]="addRedFlag.pristine"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="button"
                  title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"
                  (click)="resetRedFlagForm()"
                  [disabled]="addRedFlag.pristine"
                  class="reset-btn"
                ></button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </p-tabPanel>

      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
