<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog class="{{ confirmClass }}" acceptLabel="{{ 'LBLYES' | translate }}"
        rejectLabel="{{ 'LBLNO' | translate }}" class="info-msg" icon="ui-icon-info" header="{{ appName }}">
      </p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <h1>{{ "LBLCORRACTLISTING" | translate }}</h1>
      <div class="ui-g-12 ui-md-3 ui-lg-2 multiSelectDropDwon user-select" *ngIf="searchBy.length > 0">
        <ng-select [items]="searchBy" [multiple]="false" bindLabel="header" [searchable]="true"
          [selectableGroup]="false" [closeOnSelect]="false" bindValue="field" [clearable]="false"
          [(ngModel)]="selectedField">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item.header }}">{{ item.header }}</div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-3 listingLabel" style="padding-top: 12px">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchText" (keyup.enter)="onTextSearch()" />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button pButton type="button" icon="ui-icon-search" title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch()"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-5 ui-lg-7 text-right" style="padding-top: 11px">
        <div>
          <button type="button" icon="ui-icon-add" title="{{ 'LBLADD' | translate }}"
            [routerLink]="['/add-corrective-actions']" skipLocationChange="true" pButton *ngIf="roleId != 5"></button>
          <button type="button" [disabled]="selectedDelCorrective.length == 0" icon="ui-icon-delete"
            class="ml activebtn" (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}"
            *ngIf="roleId != 5"></button>
          <button type="button" [disabled]="selectedDelCorrective.length == 0" icon="ui-icon-swap-horiz" class="ml"
            (click)="changeStatus('')" title="{{ 'LBLCHANGESTATUS' | translate }}" pButton *ngIf="roleId != 5"></button>
          <button type="button" icon="ui-icon-filter-list" title="{{ 'LBLFILTERS' | translate }}" class="ml" pButton
            (click)="toggle()" id="btToggle"></button>
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState">
        <div class="card card-w-title right-top-arrow" style="padding-bottom: 0px">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left"><b>{{ "LBLSITESFILTERS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon" *ngIf="siteFilter">
            <div class="filterLable">
              <label>{{ "LBLBSITES" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="siteFilter" class="required"
              (onChange)="getAreaBySite()" [(ngModel)]="selectedSite">
            </p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon" *ngIf="areaFilter"
            style="padding-left: none">
            <div class="filterLable">
              <label>{{ "LBLAREA" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="areaFilter" [(ngModel)]="selectedArea"
              class="required" (onChange)="changeSubArea()">
            </p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
            *ngIf="subAreaFilter && subAreaOptionValue == 1" style="padding-left: none">
            <div class="filterLable">
              <label>{{ "LBLSUBAREAS" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="subAreaFilter"
              [(ngModel)]="selectedSubArea" class="required">
            </p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon" *ngIf="shiftFilter"
            style="padding-left: none">
            <div class="filterLable">
              <label>{{ "LBLSHIFT" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="shiftFilter" [(ngModel)]="selectedShifts"
              class="required">
            </p-multiSelect>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterData && filterData.length > 0">
            <div class="lablemargin-tops">
              <label class="text-left"><b>{{ "LBLGROUPS" | translate }}</b></label>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
              *ngFor="let filter of filterData; let i = index" style="padding-left: none">
              <div class="filterLable">
                <label>{{ filter["Name"] | translate }}</label>
              </div>
              <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                [(ngModel)]="selectedFilter[filter['field']]" class="required">
              </p-multiSelect>
            </div>
            <div class="clearfix"></div>
          </ng-container>
          <div class="lablemargin-top">
            <label class="text-left"><b>{{ "LBLDATEFILTERS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <label class="filterLabel filterObsLabel"><a (click)="actionDate = true">{{
                  "LBLRESPONSEREQUIREDDATE" | translate
                }}</a></label>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 filter-padding" *ngIf="selecetedActionDateFilter">
              <h5 style="margin: 0; font-size: 14px; font-weight: normal">
                {{ viewActionFromDate }} - {{ viewActionToDate }}
              </h5>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- <div class="clearfix"></div> -->
          <!-- <div class="ui-g-12 ui-md-4 ui-lg-4  uidatepicker select_observer">
            <label class="dateLabel"
              ><a (click)="actionDate = true">{{
                "LBLRESPONSEREQUIREDDATE" | translate
              }}</a></label
            >

            <p-calendar
              placeholder="Set Date Range"
              [showIcon]="true"
              selectionMode="range"
              [maxDate]="currDate"
              [readonlyInput]="true"
              [(ngModel)]="actionDueDate"
              dateFormat="{{ dateFormat }}"
            >
            </p-calendar>
          </div> -->
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <label class="filterLabel filterObsLabel"><a (click)="respondedDueDate = true">{{
                  "LBLRESPONDEDDATE" | translate
                }}</a></label>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 filter-padding" *ngIf="selecetedRespondedDateFilter">
              <h5 style="margin: 0; font-size: 14px; font-weight: normal">
                {{ viewRespondedFromDate }} - {{ viewRespondedToDate }}
              </h5>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-12 pl-0" style="margin: 7px auto 0px auto">
            <div class="ui-g-12 ui-md-3">
              <button type="button" [icon]="iconType" (click)="advanceSearch()"
                label="{{ 'LBLADVANCEFILTER' | translate }}" class="advance-search"
                title="{{ 'LBLADVANCEFILTER' | translate }}" pButton></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div *ngIf="showAdvanceSarch">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12" style="margin: 0px 0px 15px 0px">
                <ng-container *ngFor="let filter of optionalFilter; let i = index">
                  <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon">
                    <div class="filterLable">
                      <label>{{ filter["Name"] | translate }}</label>
                    </div>
                    <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                      [(ngModel)]="selectedOptionlFilter[filter['field']]" class="required">
                    </p-multiSelect>
                  </div>
                  <div class="clearfix" *ngIf="i == 2"></div>
                </ng-container>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <button pButton type="button" label="{{ 'LBLFILTERRECORDS' | translate }}" class="filterBtn"
              (click)="filtering()" title="{{ 'LBLFILTERRECORDS' | translate }}"></button>
            <button pButton type="reset" label="{{ 'LBLCLEARFILTERRECORDS' | translate }}" class="filterBtn"
              title="{{ 'LBLCLEARFILTERRECORDS' | translate }}" (click)="clearFilter()"></button>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Filter Toggle -->
      <div class="ui-g-12 ui-md-12">
        <p-table [columns]="correctiveDataCols" [value]="correctiveDataList" selectionMode="multiple"
          [(selection)]="selectedDelCorrective" [paginator]="true" [rows]="20" class="group-listing"
          (sortFunction)="customSort($event)" [customSort]="true">
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns.length + 1" style="text-align: center">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLRPTNORECFND" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header | translate }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let correctiveDataCols of columns; let i = index" (click)="onRowSelect(rowData)"
                style="cursor: pointer">
                <ng-container *ngIf="i < colsCount - 1">
                  <span> {{ rowData[correctiveDataCols.field] }} </span>
                </ng-container>
                <ng-container *ngIf="i == colsCount - 1">
                  <p-button label="{{ rowData[correctiveDataCols.field] | translate }}"
                    *ngIf="rowData[correctiveDataCols.field] != ''" class="actionButton"
                    title="{{ rowData[correctiveDataCols.field] | translate }}">
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<p-dialog header="{{ 'FMKDTRANGE' | translate }}" [modal]="true" [blockScroll]="true" [draggable]="false"
  [(visible)]="actionDate" [rtl]="true" [style]="{ width: '550px', height: 'auto' }" [closable]="false">
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12 ui-md-12 filterReportInputs">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-6 padding-zero">
          <p-calendar placeholder="{{ 'LBLFROM' | translate }}" dateFormat="{{ dateFormat }}" [showIcon]="true"
            [maxDate]="currDate" [showButtonBar]="true" [readonlyInput]="true" [yearNavigator]="true"
            [(ngModel)]="actionFromDate" yearRange="{{ yearList }}" [locale]="locale">
          </p-calendar>
        </div>
        <div class="ui-g-12 ui-md-6 padding-zero">
          <p-calendar placeholder="{{ 'LBLMAILTO' | translate }}" dateFormat="{{ dateFormat }}" [showIcon]="true"
            [maxDate]="currDate" [showButtonBar]="true" [(ngModel)]="actionToDate" [readonlyInput]="true"
            [yearNavigator]="true" yearRange="{{ yearList }}" [locale]="locale">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-3 pl-0">
        <button pButton type="button" label="{{ 'FMKCLOSETEXT' | translate }}" (click)="actionDateSelected()"
          title="{{ 'FMKCLOSETEXT' | translate }}"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton type="button" title="{{ 'LBLRESET' | translate }}" (click)="clearActionDaterange()"
          label="{{ 'LBLRESET' | translate }}"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton type="reset" title="{{ 'LBLCANCEL' | translate }}" (click)="cancelDialog()"
          label="{{ 'LBLCANCEL' | translate }}"></button>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog header="{{ 'FMKDTRANGE' | translate }}" [modal]="true" [blockScroll]="true" [draggable]="false"
  [(visible)]="respondedDueDate" [rtl]="true" [style]="{ width: '550px', height: 'auto' }" [closable]="false">
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12 ui-md-12 filterReportInputs">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-6 padding-zero">
          <p-calendar placeholder="{{ 'LBLFROM' | translate }}" dateFormat="{{ dateFormat }}" [showIcon]="true"
            [maxDate]="currDate" [showButtonBar]="true" [readonlyInput]="true" [yearNavigator]="true"
            [(ngModel)]="respondedFromDate" yearRange="{{ yearList }}" [locale]="locale">
          </p-calendar>
        </div>
        <div class="ui-g-12 ui-md-6 padding-zero">
          <p-calendar placeholder="{{ 'LBLMAILTO' | translate }}" dateFormat="{{ dateFormat }}" [showIcon]="true"
            [maxDate]="currDate" [showButtonBar]="true" [(ngModel)]="respondedToDate" [readonlyInput]="true"
            [yearNavigator]="true" yearRange="{{ yearList }}" [locale]="locale">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-3 pl-0">
        <button pButton type="button" label="{{ 'FMKCLOSETEXT' | translate }}" (click)="respondedDateSelected()"
          title="{{ 'FMKCLOSETEXT' | translate }}"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton type="button" title="{{ 'LBLRESET' | translate }}" (click)="clearRespondedDaterange()"
          label="{{ 'LBLRESET' | translate }}"></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button pButton type="reset" title="{{ 'LBLCANCEL' | translate }}" (click)="cancelDialog()"
          label="{{ 'LBLCANCEL' | translate }}"></button>
      </div>
    </div>
  </div>
</p-dialog>