::ng-deep .group-listing .ui-table .ui-table-tbody>tr>td a {
    word-break: break-all;
}

::ng-deep .group-listing .ui-table .ui-table-tbody>tr {
    height: 46px;
}

.select_observer {
    padding-left: 7px;
    padding-right: 7px;
}

::ng-deep .ui-dialog-resizable .ui-dialog-content {
    overflow: visible;
}