<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form
          [formGroup]="addCorrectiveAction"
          (ngSubmit)="onSubmit(addCorrectiveAction.value)"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon"
                style="padding-top: 14px !important"
              >
                <ng-select
                  placeholder="{{ 'LBLBSITES' | translate }}"
                  [searchable]="true"
                  [items]="siteListing"
                  bindLabel="SITENAME"
                  [clearable]="false"
                  bindValue="SITEID"
                  formControlName="siteId"
                  (change)="getSiteData($event.SITEID)"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SITENAME }}">{{ item.SITENAME }}</div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.siteId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTPROVIDESITE' | translate }}"
                    *ngIf="
                      GeneralSubForm.siteId.errors.required ||
                      GeneralSubForm.siteId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 uidatepicker paddingBox">
                <label class="required">{{ "LBLOBSDATE" | translate }}</label>
                <p-calendar
                  [showIcon]="true"
                  [showButtonBar]="true"
                  formControlName="obsDate"
                  [maxDate]="currDate"
                  placeholder="{{ dateFormatTypeNew | translate }}"
                  dateFormat="{{ dateFormat }}"
                  [locale]="locale"
                >
                </p-calendar>
                <div
                  *ngIf="submitted && GeneralSubForm.obsDate.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTOBSERVATIONDATEFORMAT' | translate }}"
                    *ngIf="GeneralSubForm.obsDate.errors.required"
                  >
                  </p-message>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <div class="filterLable">
                  <label class="required">{{
                    "LBLOBSERVER" | translate
                  }}</label>
                </div>
                <p-multiSelect
                  [defaultLabel]="'LBLCHOOSE' | translate"
                  [options]="obsListing"
                  formControlName="observerId"
                  class="required"
                >
                </p-multiSelect>
                <div
                  *ngIf="submitted && GeneralSubForm.observerId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTOBSERVERCOUNT' | translate }}"
                    *ngIf="GeneralSubForm.observerId.errors.required"
                  >
                  </p-message>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLAREA' | translate }}"
                  [searchable]="true"
                  [items]="areaListing"
                  bindLabel="AREANAME"
                  [clearable]="false"
                  bindValue="AREAID"
                  (change)="getSubAreaData($event.AREAID)"
                  formControlName="areaId"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.AREANAME }}">{{ item.AREANAME }}</div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.areaId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTPROVIDEAREA' | translate }}"
                    *ngIf="
                      GeneralSubForm.areaId.errors.required ||
                      GeneralSubForm.areaId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngIf="subAreaOptionValue == 1"
              >
                <ng-select
                  placeholder="{{ 'LBLSUBAREAS' | translate }}"
                  [searchable]="true"
                  [items]="subAreaListing"
                  bindLabel="SUBAREANAME"
                  [clearable]="false"
                  bindValue="SUBAREAID"
                  formControlName="subAreaId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SUBAREANAME }}">
                      {{ item.SUBAREANAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLSHIFT' | translate }}"
                  [searchable]="true"
                  [items]="shiftListing"
                  bindLabel="SHIFTNAME"
                  [clearable]="false"
                  bindValue="SHIFTID"
                  formControlName="shiftId"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SHIFTNAME }}">{{ item.SHIFTNAME }}</div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.shiftId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTPROVIDESHIFT' | translate }}"
                    *ngIf="
                      GeneralSubForm.shiftId.errors.required ||
                      GeneralSubForm.shiftId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngFor="let field of fieldList; let i = index"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ field.fieldName }}"
                  [searchable]="true"
                  [items]="field.fieldValue"
                  bindLabel="CUSTOMFIELDVALUE"
                  [clearable]="false"
                  bindValue="CUSTOMFIELDVALUEID"
                  formControlName="Field{{ i + 1 }}"
                  [ngClass]="field.mandatory == 1 ? 'required' : ''"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.CUSTOMFIELDVALUE }}">
                      {{ item.CUSTOMFIELDVALUE }}
                    </div>
                  </ng-template>
                </ng-select>
                <div *ngIf="field.mandatory == 1">
                  <div *ngIf="submitted" class="invalid-feedback">
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTMANDATORYCUSTOMFIELD' | translate }}"
                      *ngIf="
                        addCorrectiveAction
                          .get('Field' + (i + 1))
                          .hasError('required') ||
                        addCorrectiveAction
                          .get('Field' + (i + 1))
                          .hasError('min')
                      "
                    >
                    </p-message>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-8 submitButton">
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  title="{{ 'LBLSAVE' | translate }}"
                  [disabled]="addCorrectiveAction.pristine"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="button"
                  title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"
                  (click)="resetCAForm()"
                  [disabled]="addCorrectiveAction.pristine"
                  class="reset-btn"
                ></button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
