.listingLabel {
  margin-top: 5px;
}

.p-0 {
  padding: 0px;
}

.value::before {
  content: ": ";
}

.value {
  font-weight: 600;
}

.p-t-12 {
  padding-top: 12px;
}

.received-date {
  text-align: right !important;
}

:host>>>.group-listing .ui-table .ui-table-tbody>tr>td:last-child .empty-message {
  text-align: left !important;
}

:host>>>.divChatMainsend {
  width: 500;
  background-color: #ebf0dd;
  padding: 5px 3px 5px 3px;
}

:host>>>.divchathead {
  width: 100%;
  font-weight: bold;
  padding: 3px 0px 5px 0px;
}

:host>>>.divchatheadleft {
  float: left;
  width: 50%;
}

:host>>>.divchatheadright {
  float: right;
  width: 50%;
  text-align: right;
}

:host>>>.divchatcont {
  width: 100%;
  text-align: justify;
}

@media (min-width: 1366px) and (max-width: 1920px) {
  ::ng-deep>>>.layout-wrapper-static .divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 1366px) and (max-width: 1920px) {
  ::ng-deep>>>.divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  ::ng-deep>>>.layout-wrapper-static .divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  ::ng-deep>>>.divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  ::ng-deep>>>.divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  ::ng-deep>>>.layout-wrapper-static .divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  ::ng-deep>>>.divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  ::ng-deep>>>.layout-wrapper-static .divChatMain {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
}

#emailsBody,
#allMailsBody {
  width: 100%;
}

#unreadBody {
  width: 100%
}

::ng-deep #unreadBody div:nth-child(1) {
  margin-bottom: 10px
}

::ng-deep #unreadBody div:nth-child(2) {
  margin-bottom: 10px
}