<div class="ui-g">
  <div class="ui-g-12">
    <p-confirmDialog acceptLabel="{{ 'LBLCONFIRM' | translate }}" rejectLabel="{{ 'LBLCANCEL' | translate }}"
      icon="ui-icon-info"></p-confirmDialog>
    <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
    <ng-template #template>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select ">
        <ng-select [placeholder]="searchTypePlaceholder" [searchable]="true" [items]="searchBy" bindLabel="label"
          bindValue="value" [(ngModel)]="searchDropdownValue" [clearable]="false" required (change)="dropchange()">
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchText" (keyup.enter)="onSearch()" />
            <label> {{ "FMKSEARCH" | translate }}</label>
          </span>
          <button pButton type="button" icon="ui-icon-search" title='{{ "FMKSEARCH" | translate }}'
            (click)="onSearch()"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-7 text-right p-t-12">
        <button type="button" icon="ui-icon-delete" [disabled]="tableSelected.length == 0" class="ml activebtn"
          (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}"></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <p-table [columns]="tableCols" [value]="tableValues" [(selection)]="tableSelected" [paginator]="true"
          [rows]="20" class="group-listing" (sortFunction)="customSort($event)" [customSort]="true">
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns?.length + 1" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let cols of columns" [pSortableColumn]="cols.field">
                {{ cols.header | translate }}
                <p-sortIcon [field]="cols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-j="rowIndex" let-columns="columns">
            <tr *ngIf="key == 'unread'">
              <td>
                <p-tableCheckbox [value]="rowData" [index]="rowIndex"></p-tableCheckbox>
              </td>
              <td *ngFor="let cols of columns; let i = index" style="cursor: pointer; padding: 11.998px !important;"
                (click)="onRowSelect(rowData, rowData['ID'], j)">
                <ng-container *ngIf="i < colsCount - 1">
                  {{ rowData[cols.field] }}
                </ng-container>
                <ng-container *ngIf="i == colsCount - 1">
                  <div class="received-date">
                    {{ rowData[cols.field] }}
                  </div>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="key != 'unread'">
              <td>
                <p-tableCheckbox [value]="rowData" [index]="rowIndex"></p-tableCheckbox>
              </td>
              <td *ngFor="let cols of columns; let i = index" style="cursor: pointer"
                (click)="onRowSelect(rowData, rowData['ID'], j)">
                <ng-container *ngIf="i < colsCount - 2">
                  {{ rowData[cols.field] }}
                </ng-container>
                <ng-container *ngIf="i == colsCount - 2">
                  {{ rowData[cols.field] }}
                </ng-container>
                <ng-container *ngIf="i == colsCount - 1">
                  <p-button label="{{ rowData[cols.field] | translate }}" *ngIf="rowData[cols.field] == 'LBLREAD'"
                    class="actionButton"></p-button>
                  <p-button label="{{ rowData[cols.field] | translate }}" *ngIf="rowData[cols.field] == 'LBLUNREAD'"
                    class="actionButtonD">
                  </p-button>
                </ng-container>
              </td>
            </tr>
            <tr>
              <td style="padding: 9.96px 11.998px !important" [attr.colspan]="colsCount + 1" *ngIf="isVisible(j)">
                <div class="ui-g ui-md-12 p-0">
                  <div class="p-0 ui-md-1">{{ "LBLFROM" | translate }}</div>
                  <div class="value ui-md-11 p-0">
                    {{ displayData?.FROM }}
                  </div>
                </div>
                <div class="ui-g ui-md-12 p-0">
                  <div class="p-0 ui-md-1">{{ "LBLMAILTO" | translate }}</div>
                  <div class="value ui-md-11 p-0">{{ displayData?.TO }}</div>
                </div>
                <div class="ui-g ui-md-12 p-0">
                  <div class="p-0 ui-md-1">{{ "LBLMAILCC" | translate }}</div>
                  <div class="value ui-md-11 p-0">{{ displayData?.CC }}</div>
                </div>
                <div class="ui-g ui-md-12 p-0">
                  <div class="p-0 ui-md-1">
                    {{ "LBLMAILSUBJECT" | translate }}
                  </div>
                  <div class="value ui-md-11 p-0">
                    {{ displayData?.SUBJECT }}
                  </div>
                </div>
                <div class="ui-g ui-md-12 p-0">
                  <div class="p-0 ui-md-1">
                    {{ "LBLMAILRECEIVEDDATE" | translate }}
                  </div>
                  <div class="value ui-md-11 p-0">
                    {{ displayData?.SENTDATE }}
                  </div>
                </div>
                <div class="ui-g ui-md-12">
                  <div [id]="messageBody"></div>
                </div>
              </td>
              <td *ngIf="expression"></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </ng-template>

    <p-tabView (onChange)="onTabChange($event['index'])">
      <p-tabPanel header="{{ 'LBLUNREAD' | translate }}" leftIcon="ui-icon-markunread-mailbox">
        <ng-template *ngIf="key == 'unread'" [ngTemplateOutlet]="template"></ng-template>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLEMAILS' | translate }}" leftIcon="ui-icon-mail">
        <ng-template *ngIf="key == 'mails'" [ngTemplateOutlet]="template"></ng-template>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLSCHEDULEDREPORTS' | translate }}" leftIcon="ui-icon-timer">
        <ng-template *ngIf="key == 'reports'" [ngTemplateOutlet]="template"></ng-template>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLALLEMAILS' | translate }}" leftIcon="ui-icon-view-list">
        <ng-template *ngIf="key == 'allMails'" [ngTemplateOutlet]="template"></ng-template>
      </p-tabPanel>

      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>