<div class="ui-g report-classess1">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>
      <br />
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3" *ngIf="reportView.length > 0">
            <span class="md-inputfield">
              <p-dropdown
                id="reportID"
                class="drop-down"
                [options]="reportView"
                placeholder="{{ 'LBLREPORTDISPLAY' | translate }}"
                title="{{ 'LBLREPORTDISPLAY' | translate }}"
                [(ngModel)]="selectedReportView"
                (ngModelChange)="changeLBLSITESRPT()"
              >
              </p-dropdown>
              <label class="dropDown-lable">{{
                "LBLREPORTDISPLAY" | translate
              }}</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-3"></div>
          <div class="ui-g-12 ui-md-3"></div>
          <div class="ui-g-12 ui-md-3">
            <span class="md-inputfield">
              <p-dropdown
                class="drop-down"
                [options]="exportList"
                placeholder="{{ 'LBLEXPORTTO' | translate }}"
                [(ngModel)]="selectedExport"
                (ngModelChange)="exportData()"
                *ngIf="tableData.length != 0"
              >
              </p-dropdown>
              <label class="dropDown-lable">{{
                "LBLEXPORTTO" | translate
              }}</label>
            </span>
          </div>
          <div class="clearfix"></div>
          <div style="text-align: center;" *ngIf="!isLoaded">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <div class="ui-g-12">
            <ng-container
              *ngIf="isLoaded && selectedReportView == 5 && !errormsg"
            >
              <div class="">
                <fusioncharts
                  (initialized)="initialized($event)"
                  [width]="width"
                  [height]="height"
                  [type]="type"
                  [dataFormat]="dataFormat"
                  [dataSource]="chartDataSource"
                >
                </fusioncharts>
              </div>
              <div class="">
                <p-table
                  [columns]="summaryCols"
                  [value]="summaryData"
                  selectionMode="single"
                  dataKey="vin"
                  [paginator]="true"
                  [rows]="30"
                  [scrollable]="true"
                  [style]="{ width: '100%' }"
                >
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" style="width: 250px;" />
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns">
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-rowIndex="rowIndex"
                    let-columns="columns"
                  >
                    <tr>
                      <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                      </td>
                    </tr>
                    <tr *ngIf="rowIndex == summaryData.length - 1">
                      <td class="submoduleTable1" style="font-weight: bold;">
                        {{ 'LBLGRANDTOTAL' | translate }}
                      </td>
                      <td
                        class="submoduleTable1 align-left"
                        style="font-weight: bold;"
                      >
                        {{ grandTotal }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="">
                <p-table
                  #observerSearchData
                  [columns]="cols"
                  [value]="tableData"
                  dataKey="SITENAME"
                  sortMode="single"
                  [paginator]="true"
                  [rows]="30"
                  (onSort)="onSort()"
                >
                  <ng-template pTemplate="caption">
                    <div style="text-align: left;">
                      <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                      <input
                        type="text"
                        pInputText
                        size="50"
                        placeholder="{{ 'FMKSEARCH' | translate }}"
                        (input)="
                          observerSearchData.filterGlobal(
                            $event.target.value,
                            'contains'
                          )
                        "
                        style="width: 300px;"
                      />
                    </div>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft" let-state>
                    [
                    {{
                      state.totalRecords > 0 ? state.page * state.rows + 1 : 0
                    }}
                    -
                    {{
                      state.rows * (state.page + 1) >= state.totalRecords
                        ? state.totalRecords
                        : state.rows * (state.page + 1)
                    }}
                    / {{ state.totalRecords }} ]
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th
                        *ngFor="let col of summaryTableCols; let i = index"
                        [class.align-center]="i > 1 && i <= 13"
                      >
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      class="ui-widget-header"
                      *ngIf="
                        rowGroupObserverdata[rowData.SITENAME].index ===
                        rowIndex
                      "
                    >
                      <td class="headerTD1" [attr.colspan]="2">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLSITENAME" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.SITENAME }}</span
                            ></span
                          >
                        </a>
                      </td>
                      <td class="headerTD1" [attr.colspan]="1">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLADDRESS" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.ADDRESS }}</span
                            ></span
                          >
                        </a>
                      </td>
                      <td class="headerTD1" [attr.colspan]="1">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLCITY" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.CITY }}</span
                            ></span
                          >
                        </a>
                      </td>
                      <td class="headerTD1" [attr.colspan]="1">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLSTATE" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.STATE }}</span
                            ></span
                          >
                        </a>
                      </td>
                      <td class="headerTD1" [attr.colspan]="1">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLEMPLOYEES" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.EMPCOUNT }}</span
                            ></span
                          >
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="rowData">
                      <td
                        class="submoduleTable1"
                        *ngFor="let col of summaryTableCols; let i = index"
                      >
                        <ng-container
                          *ngIf="
                            col.field == 'USERLEVEL' || col.field == 'STATUS'
                          "
                        >
                          {{ rowData[col.field] | translate }}
                        </ng-container>
                        <ng-container
                          *ngIf="
                            col.field != 'USERLEVEL' && col.field != 'STATUS'
                          "
                        >
                          {{ rowData[col.field] }}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>
            <ng-container
              *ngIf="isLoaded && selectedReportView == 5 && errormsg"
            >
              <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
            </ng-container>
            <ng-container
              *ngIf="isLoaded && selectedReportView == 24 && !errormsg"
            >
              <div class="">
                <p-table
                  #observerSearchData
                  [columns]="cols"
                  [value]="tableData"
                  dataKey="SITENAME"
                  sortMode="single"
                  [paginator]="true"
                  [rows]="30"
                  (onSort)="onSort()"
                >
                  <ng-template pTemplate="caption">
                    <div style="text-align: left;">
                      <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                      <input
                        type="text"
                        pInputText
                        size="50"
                        placeholder="{{ 'FMKSEARCH' | translate }}"
                        (input)="
                          observerSearchData.filterGlobal(
                            $event.target.value,
                            'contains'
                          )
                        "
                        style="width: 300px;"
                      />
                    </div>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft" let-state>
                    [
                    {{
                      state.totalRecords > 0 ? state.page * state.rows + 1 : 0
                    }}
                    -
                    {{
                      state.rows * (state.page + 1) >= state.totalRecords
                        ? state.totalRecords
                        : state.rows * (state.page + 1)
                    }}
                    / {{ state.totalRecords }} ]
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th
                        *ngFor="let col of observersCols; let i = index"
                        [class.align-center]="i > 1 && i <= 13"
                      >
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      class="ui-widget-header"
                      *ngIf="
                        rowGroupObserverdata[rowData.SITENAME].index ===
                        rowIndex
                      "
                    >
                      <td
                        class="headerTD1"
                        [attr.colspan]="observersCols.length"
                      >
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLSITENAME" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.SITENAME }}</span
                            ></span
                          >
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="rowData">
                      <td
                        class="submoduleTable1"
                        *ngFor="let col of observersCols; let i = index"
                        [class.align-center]="i > 1 && i <= 13"
                      >
                        <ng-container
                          *ngIf="
                            col.field == 'ROLENAME' || col.field == 'STATUS'
                          "
                        >
                          {{ rowData[col.field] | translate }}
                        </ng-container>
                        <ng-container
                          *ngIf="
                            col.field != 'ROLENAME' && col.field != 'STATUS'
                          "
                        >
                          {{ rowData[col.field] }}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>
            <ng-container
              *ngIf="isLoaded && selectedReportView == 24 && errormsg"
            >
              <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
            </ng-container>

            <ng-container
              *ngIf="isLoaded && selectedReportView == 25 && !errormsg"
            >
              <div class="">
                <p-table
                  #userSearchData
                  [columns]="cols"
                  [value]="tableData"
                  dataKey="SITENAME"
                  sortMode="single"
                  [paginator]="true"
                  [rows]="30"
                  (onSort)="onSort()"
                >
                  <ng-template pTemplate="caption">
                    <div style="text-align: left;">
                      <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                      <input
                        type="text"
                        pInputText
                        size="50"
                        placeholder="{{ 'FMKSEARCH' | translate }}"
                        (input)="
                          userSearchData.filterGlobal(
                            $event.target.value,
                            'contains'
                          )
                        "
                        style="width: 300px;"
                      />
                    </div>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft" let-state>
                    [
                    {{
                      state.totalRecords > 0 ? state.page * state.rows + 1 : 0
                    }}
                    -
                    {{
                      state.rows * (state.page + 1) >= state.totalRecords
                        ? state.totalRecords
                        : state.rows * (state.page + 1)
                    }}
                    / {{ state.totalRecords }} ]
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of usersCols">
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      class="ui-widget-header"
                      *ngIf="
                        rowGroupObserverdata[rowData.SITENAME].index ===
                        rowIndex
                      "
                    >
                      <td class="headerTD1" [attr.colspan]="usersCols.length">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLSITENAME" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.SITENAME }}</span
                            ></span
                          >
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="rowData">
                      <td class="submoduleTable1" *ngFor="let col of usersCols">
                        <ng-container
                          *ngIf="
                            col.field == 'ROLENAME' || col.field == 'USERLEVEL'
                          "
                        >
                          {{ rowData[col.field] | translate }}
                        </ng-container>
                        <ng-container
                          *ngIf="col.field == 'STATUS' && !rowData[col.field]"
                        >
                          {{ "LBLLOCK" | translate }}
                        </ng-container>
                        <ng-container
                          *ngIf="col.field == 'STATUS' && rowData[col.field]"
                        >
                          {{ rowData[col.field] | translate }}
                        </ng-container>
                        <ng-container
                          *ngIf="
                            col.field != 'ROLENAME' &&
                            col.field != 'USERLEVEL' &&
                            col.field != 'STATUS'
                          "
                        >
                          {{ rowData[col.field] }}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>
            <ng-container
              *ngIf="isLoaded && selectedReportView == 25 && errormsg"
            >
              <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
            </ng-container>

            <ng-container
              *ngIf="isLoaded && selectedReportView == 26 && !errormsg"
            >
              <div class="">
                <p-table
                  #areaSearchData
                  [columns]="cols"
                  [value]="tableData"
                  dataKey="SITENAME"
                  sortMode="single"
                  [paginator]="true"
                  [rows]="30"
                  (onSort)="onSort()"
                >
                  <ng-template pTemplate="caption">
                    <div style="text-align: left;">
                      <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                      <input
                        type="text"
                        pInputText
                        size="50"
                        placeholder="{{ 'FMKSEARCH' | translate }}"
                        (input)="
                          areaSearchData.filterGlobal(
                            $event.target.value,
                            'contains'
                          )
                        "
                        style="width: 300px;"
                      />
                    </div>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft" let-state>
                    [
                    {{
                      state.totalRecords > 0 ? state.page * state.rows + 1 : 0
                    }}
                    -
                    {{
                      state.rows * (state.page + 1) >= state.totalRecords
                        ? state.totalRecords
                        : state.rows * (state.page + 1)
                    }}
                    / {{ state.totalRecords }} ]
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th
                        *ngFor="let col of areasCols; let i = index"
                        [class.align-center]="i == 1"
                      >
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      class="ui-widget-header"
                      *ngIf="
                        rowGroupObserverdata[rowData.SITENAME].index ===
                        rowIndex
                      "
                    >
                      <td class="headerTD1" [attr.colspan]="areasCols.length">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLSITENAME" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.SITENAME }}</span
                            ></span
                          >
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="rowData">
                      <td
                        class="submoduleTable1"
                        *ngFor="let col of areasCols; let i = index"
                        [class.align-center]="i == 1"
                      >
                        <ng-container *ngIf="col.field == 'STATUS'">
                          {{ rowData[col.field] | translate }}
                        </ng-container>
                        <ng-container *ngIf="col.field != 'STATUS'">
                          {{ rowData[col.field] }}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>
            <ng-container
              *ngIf="isLoaded && selectedReportView == 26 && errormsg"
            >
              <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
            </ng-container>

            <ng-container
              *ngIf="isLoaded && selectedReportView == 27 && !errormsg"
            >
              <div class="">
                <p-table
                  #shiftSearchData
                  [columns]="cols"
                  [value]="tableData"
                  dataKey="SITENAME"
                  sortMode="single"
                  [paginator]="true"
                  [rows]="30"
                  (onSort)="onSort()"
                >
                  <ng-template pTemplate="caption">
                    <div style="text-align: left;">
                      <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                      <input
                        type="text"
                        pInputText
                        size="50"
                        placeholder="{{ 'FMKSEARCH' | translate }}"
                        (input)="
                          shiftSearchData.filterGlobal(
                            $event.target.value,
                            'contains'
                          )
                        "
                        style="width: 300px;"
                      />
                    </div>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft" let-state>
                    [
                    {{
                      state.totalRecords > 0 ? state.page * state.rows + 1 : 0
                    }}
                    -
                    {{
                      state.rows * (state.page + 1) >= state.totalRecords
                        ? state.totalRecords
                        : state.rows * (state.page + 1)
                    }}
                    / {{ state.totalRecords }} ]
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th
                        *ngFor="let col of shiftsCols; let i = index"
                        [class.align-center]="i == 1"
                      >
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      class="ui-widget-header"
                      *ngIf="
                        rowGroupObserverdata[rowData.SITENAME].index ===
                        rowIndex
                      "
                    >
                      <td class="headerTD1" [attr.colspan]="shiftsCols.length">
                        <a href="#" [pRowToggler]="rowData">
                          <span
                            [ngClass]="
                              expanded
                                ? 'fa fa-fw fa-chevron-circle-down'
                                : 'fa fa-fw fa-chevron-circle-right'
                            "
                          ></span>
                          <span
                            >{{ "LBLSITENAME" | translate }}<br /><span
                              style="color: #757575; line-height: 2;"
                              >{{ rowData.SITENAME }}</span
                            ></span
                          >
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="rowData">
                      <td
                        class="submoduleTable1"
                        *ngFor="let col of shiftsCols; let i = index"
                        [class.align-center]="i == 1"
                      >
                        <ng-container *ngIf="col.field == 'STATUS'">
                          {{ rowData[col.field] | translate }}
                        </ng-container>
                        <ng-container *ngIf="col.field != 'STATUS'">
                          {{ rowData[col.field] }}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>
            <ng-container
              *ngIf="isLoaded && selectedReportView == 27 && errormsg"
            >
              <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
            </ng-container>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
