<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              id="reportID"
              class="drop-down"
              [options]="reportView"
              placeholder="{{ 'LBLREPORTDISPLAY' | translate }}"
              title="{{ 'LBLREPORTDISPLAY' | translate }}"
              [(ngModel)]="selectedReportView"
              (ngModelChange)="changeCheckListCount()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLREPORTDISPLAY" | translate
            }}</label>
          </span>
        </div>

        <div class="ui-g-12 ui-md-3" *ngIf="siteList.length > 1">
          <span class="md-inputfield">
            <p-dropdown
              id="SiteName"
              class="drop-down"
              [options]="siteList"
              placeholder="{{ 'LBLSITENAME' | translate }}"
              title="{{ 'LBLSITENAME' | translate }}"
              [(ngModel)]="selectedSiteName"
              (ngModelChange)="changeCheckListCount()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLSITENAME" | translate
            }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="ui-g-12 ui-md-12">
          <div style="text-align: center;" *ngIf="!isLoaded">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <ng-container
            *ngIf="isLoaded && selectedReportView == 22 && !errormsg"
          >
            <div>
              <p-table
                #searchData
                id="checkListTable"
                [columns]="cols"
                [value]="tableData"
                selectionMode="single"
                [paginator]="true"
                [rows]="30"
                class="hyperlinkTable"
              >
                <ng-template pTemplate="caption">
                  <div style="text-align: left;">
                    <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                    <input
                      type="text"
                      pInputText
                      size="50"
                      placeholder="{{ 'FMKSEARCH' | translate }}"
                      (input)="
                        searchData.filterGlobal($event.target.value, 'contains')
                      "
                      style="width: 300px;"
                    />
                  </div>
                </ng-template>
                <ng-template pTemplate="paginatorleft" let-state>
                  [
                  {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                  -
                  {{
                    state.rows * (state.page + 1) >= state.totalRecords
                      ? state.totalRecords
                      : state.rows * (state.page + 1)
                  }}
                  / {{ state.totalRecords }} ]
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <ng-container *ngFor="let col of columns; let i = index">
                      <th [class.align-center]="i == 1">
                        {{ col.header }}
                      </th>
                    </ng-container>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-rowIndex="rowIndex"
                  let-columns="columns"
                >
                  <tr>
                    <ng-container *ngFor="let col of columns; let i = index">
                      <td [class.align-center]="i == 1">
                        <ng-container *ngIf="i == 0">
                          <a
                            style="cursor: pointer;"
                            (click)="
                              openSubReport(
                                rowData['OBSERVERID'],
                                rowData['USERNAME']
                              )
                            "
                            >{{ rowData[col.field] }}</a
                          >
                        </ng-container>
                        <ng-container *ngIf="i != 0">
                          {{ rowData[col.field] }}
                        </ng-container>
                      </td>
                    </ng-container>
                  </tr>
                  <tr *ngIf="rowIndex == tableData.length - 1">
                    <td class="submoduleTable1" style="font-weight: bold;">
                      {{ "LBLGRANDTOTAL" | translate }}
                    </td>
                    <td
                      class="submoduleTable1 align-center"
                      style="font-weight: bold;"
                    >
                      {{ grandTotal }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-container>
          <ng-container
            *ngIf="isLoaded && selectedReportView == 28 && !errormsg"
          >
            <div>
              <p-table
                #searchDataDetails
                [columns]="cols"
                [value]="tableData"
                dataKey="USERNAME"
                sortMode="single"
                [paginator]="true"
                [rows]="30"
                (onSort)="onSort()"
              >
                <ng-template pTemplate="caption">
                  <div style="text-align: left;">
                    <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
                    <input
                      type="text"
                      pInputText
                      size="50"
                      placeholder="{{ 'FMKSEARCH' | translate }}"
                      (input)="
                        searchDataDetails.filterGlobal(
                          $event.target.value,
                          'contains'
                        )
                      "
                      style="width: 300px;"
                    />
                  </div>
                </ng-template>
                <ng-template pTemplate="paginatorleft" let-state>
                  [
                  {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                  -
                  {{
                    state.rows * (state.page + 1) >= state.totalRecords
                      ? state.totalRecords
                      : state.rows * (state.page + 1)
                  }}
                  / {{ state.totalRecords }} ]
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>{{ "LBLOBSDATE" | translate }}</th>
                    <th>{{ "LBLSITENAME" | translate }}</th>
                    <th>{{ "LBLAREANAME" | translate }}</th>
                    <th *ngIf="this.subAreaOption == 1">
                      {{ "LBLSUBAREAFULLNAME" | translate }}
                    </th>
                    <th>{{ "LBLSHIFTNAME" | translate }}</th>
                    <th *ngFor="let field of fieldCols">{{ field }}</th>
                    <th>{{ "LBLENTEREDBY" | translate }}</th>
                    <th>{{ "LBLENTEREDDATE" | translate }}</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-rowIndex="rowIndex"
                >
                  <tr
                    class="ui-widget-header"
                    *ngIf="
                      rowGroupMetadata[rowData.USERNAME].index === rowIndex
                    "
                  >
                    <td class="headerTD1" [attr.colspan]="colCount - colleps">
                      <a href="#" [pRowToggler]="rowData">
                        <span
                          [ngClass]="
                            expanded
                              ? 'fa fa-fw fa-chevron-circle-down'
                              : 'fa fa-fw fa-chevron-circle-right'
                          "
                        ></span>
                        <span
                          >{{ "LBLOBSERVERNAME" | translate }}<br /><span
                            style="color: #757575; line-height: 2;"
                            >{{ rowData.USERNAME }}</span
                          ></span
                        >
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="rowData">
                    <td class="submoduleTable1">
                      {{ rowData.OBSERVATIONDATE }}
                    </td>
                    <td class="submoduleTable1">{{ rowData.SITENAME }}</td>
                    <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
                    <td class="submoduleTable1" *ngIf="this.subAreaOption == 1">
                      {{ rowData.SUBAREANAME }}
                    </td>
                    <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
                    <td class="submoduleTable1" *ngFor="let field of fieldCols">
                      {{ rowData[field] }}
                    </td>
                    <td class="submoduleTable1">
                      {{ rowData.ENTEREDBY }}
                    </td>
                    <td class="submoduleTable1">
                      {{ rowData.ENTEREDDATE }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </ng-container>
          <ng-container *ngIf="isLoaded && errormsg">
            <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
          </ng-container>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<p-dialog
  header="Sub Reports - {{ userName }}"
  class="checklist-dialog"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="displaySubReport"
  [rtl]="true"
  [style]="{ width: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="displaySubReport">
    <app-sub-checklist-count
      [reportId]="reportId"
      [subReportId]="12"
      [observerId]="selectedObserverId"
    ></app-sub-checklist-count>
  </div>
</p-dialog>
