@media (max-width: 767px) {
  :host >>> .ui-table .ui-table-tbody > tr > td a {
    white-space: nowrap !important;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  :host >>> .ui-table .ui-table-tbody > tr > td a {
    white-space: nowrap !important;
    max-width: 150px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  :host >>> .ui-table .ui-table-tbody > tr > td a {
    white-space: nowrap !important;
    max-width: 200px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

@media (min-width: 1441px) {
  :host >>> .ui-table .ui-table-tbody > tr > td a {
    white-space: nowrap !important;
    max-width: 200px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.help-icon {
  padding-top: 10px;
  color: green;
  cursor: pointer;
}
