<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog class="{{ confirmClass }}" header="{{ appName }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info"></p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <h1>{{ "LBLUSERLISTING" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select">
        <ng-select [searchable]="true" [items]="searchBy" bindLabel="label" bindValue="value"
          [(ngModel)]="selectedField" [clearable]="false" required>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item.label }}">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchText" (keyup.enter)="onTextSearch()" />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button pButton type="button" icon="ui-icon-search" title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch()"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-7 text-right" style="padding-top: 11px">
        <button type="button" icon="ui-icon-add" (click)="checkDefaultSite()" skipLocationChange="true" pButton
          title="{{ 'LBLADD' | translate }}"></button>
        <button type="button" icon="ui-icon-delete" [disabled]="selectedUser.length == 0" class="ml activebtn"
          (click)="deleteRecord()" visibleToOnlySuperAdmin pButton title="{{ 'LBLDELETE' | translate }}"
          *ngIf="roleId == 1"></button>
        <button type="button" [disabled]="selectedUser.length == 0" icon="ui-icon-swap-horiz" class="ml"
          (click)="changeStatus()" title="{{ 'LBLCHANGESTATUS' | translate }}" pButton></button>
        <button type="button" icon="ui-icon-filter-list" class="ml" pButton (click)="toggleFilterShow()"
          title="{{ 'LBLFILTERS' | translate }}"></button>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState" class="filterBox">
        <div class="card card-w-title right-top-arrow">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div class="lablemargin-bottoms">
            <label class="text-left"><b>{{ "LBLSITESFILTERS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterSite">
            <div class="ui-g-12 ui-md-4 multiSelectDropDwon" *ngFor="let filter of filterSite; let i = index">
              <div class="filterLable">
                <label>{{ filter["Name"] | translate }}</label>
              </div>
              <p-multiSelect [options]="filter['Data']" [(ngModel)]="selectedFilter[filter['field']]" class="required"
                [defaultLabel]="'LBLCHOOSE' | translate">
              </p-multiSelect>
            </div>
          </ng-container>
          <div class="clearfix"></div>
          <div class="lablemargin-tops" *ngIf="filterData && filterData.length > 0">
            <label class="text-left"><b>{{ "LBLGROUPS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterData && filterData.length > 0">
            <div class="ui-g-12 ui-md-4 ui-lg-4 multiSelectDropDwon" *ngFor="let filter of filterData; let i = index">
              <div class="filterLable">
                <label>{{ filter["Name"] | translate }}</label>
              </div>
              <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                [(ngModel)]="selectedFilter[filter['field']]" class="required" id="siteSelect">
              </p-multiSelect>
            </div>
          </ng-container>
          <div class="clearfix"></div>

          <div class="ui-g-12 ui-md-12" style="margin: 18px auto 0px auto">
            <div class="ui-g-12 ui-md-3 p-0">
              <button type="button" [icon]="iconType" (click)="advance_search()"
                label="{{ 'LBLADVANCEFILTER' | translate }}" class="advance-search" pButton></button>
            </div>
          </div>
          <!-- Advance Search -->

          <div *ngIf="show_advance_search">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12" style="margin: 0px 0px 15px 0px">
                <ng-container *ngIf="optionalFilter">
                  <div class="ui-g-12 ui-md-4 ui-lg-4 multiSelectDropDwon"
                    *ngFor="let filter of optionalFilter; let i = index">
                    <div class="filterLable">
                      <label>{{ filter["Name"] | translate }}</label>
                    </div>
                    <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                      [(ngModel)]="selectedFilter[filter['field']]" class="required"
                      defaultLabel="{{ filter['Name'] | translate }}">
                    </p-multiSelect>
                  </div>
                </ng-container>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <button pButton type="button" label="{{ 'LBLFILTERRECORDS' | translate }}"
              title="{{ 'LBLFILTERRECORDS' | translate }}" class="filterBtn" (click)="filtering()"></button>
            <button pButton type="reset" label="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
              title="{{ 'LBLCLEARFILTERRECORDS' | translate }}" class="filterBtn" (click)="clearFilter()"></button>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 user-listing-table">
        <p-table [columns]="userCols" [value]="userListing" [(selection)]="selectedUser" [paginator]="true" [rows]="20"
          class="group-listing">
          <ng-template pTemplate="paginatorleft" let-state>
            [
            {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
            -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns?.length + 1" style="text-align: center">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLRPTNORECFND" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let userCols of columns" [pSortableColumn]="userCols.field">
                {{ userCols.header | translate }}
                <p-sortIcon [field]="userCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <!-- <tr [pSelectableRow]="rowData"> -->
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let userCols of columns; let i = index" style="cursor: pointer">
                <ng-container *ngIf="i < userCount - 1">
                  <a style="display: block" title="{{
                      rowData[userCols.field].length > 10
                        ? rowData[userCols.field]
                        : ''
                    }}" routerLink="/edit-user/{{ rowData['USERID'] }}" routerLink="/edit-user/{{ rowData['USERID'] }}"
                    skipLocationChange="true">
                    {{ rowData[userCols.field] }}
                  </a>
                </ng-container>
                <ng-container *ngIf="i == userCount - 1">
                  <p-button label="{{ rowData[userCols.field] | translate }}"
                    title="{{ rowData[userCols.field] | translate }}" *ngIf="rowData[userCols.field] == 'LBLACTIVE'"
                    class="actionButton" (click)="changeStatusBtn(rowData['USERID'])"></p-button>
                  <p-button label="{{ rowData[userCols.field] | translate }}"
                    title="{{ rowData[userCols.field] | translate }}" *ngIf="rowData[userCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD" (click)="changeStatusBtn(rowData['USERID'])">
                  </p-button>
                  <p-button label="{{ rowData[userCols.field] | translate }}"
                    title="{{ rowData[userCols.field] | translate }}" *ngIf="rowData[userCols.field] == 'LBLLOCK'"
                    class="actionButtonD" (click)="changeStatusBtn(rowData['USERID'])"></p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>