<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed "
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12 ">
        <div class="ui-g-12 ui-md-3" *ngIf="reportView.length > 0">
          <span class="md-inputfield">
            <p-dropdown
              id="reportID"
              class="drop-down"
              [options]="reportView"
              placeholder="{{ 'LBLREPORTDISPLAY' | translate }}"
              title="{{ 'LBLREPORTDISPLAY' | translate }}"
              [(ngModel)]="selectedReportView"
              (ngModelChange)="changeReport()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLREPORTDISPLAY" | translate
            }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3" *ngIf="siteList.length > 1">
          <span class="md-inputfield">
            <p-dropdown
              id="sitename"
              class="drop-down"
              [options]="siteList"
              placeholder="{{ 'LBLSITENAME' | translate }}"
              title="{{ 'LBLSITENAME' | translate }}"
              [(ngModel)]="selectedSiteId"
              (ngModelChange)="changeReport()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLSITENAME" | translate
            }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3" *ngIf="yearList.length > 0">
          <span class="md-inputfield">
            <p-dropdown
              id="MainCategory"
              class="drop-down"
              [options]="yearList"
              placeholder="{{ 'LBLYEAR' | translate }}"
              [(ngModel)]="selectedYear"
              (ngModelChange)="changeReport()"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{ "LBLYEAR" | translate }}</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12">
        <div style="text-align: center" *ngIf="!isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="isLoaded && !errormsg && selectedReportView == 42">
          <div *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [columns]="cols"
              [value]="tableData"
              sortField="MAINCATEGORYNAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width:300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <ng-container *ngFor="let col of cols; let i = index">
                    <th *ngIf="i > 0 && colCount == 2"></th>
                    <th [class.align-center]="i > 0">
                      {{ col["header"] }}
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="
                    rowGroupMetadata[rowData.MAINCATEGORYNAME].index ===
                    rowIndex
                  "
                >
                  <td class="headerTD1" [attr.colspan]="colCount / 2.5">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        >{{ "LBLMAINCATEGORY" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.MAINCATEGORYNAME }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="colCount / 3"
                  >
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        >{{ "LBLTOTSAFE" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.TOTSAFECNT }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td
                    class="headerTD1 align-center"
                    [attr.colspan]="colCount / 3"
                  >
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        >{{ "LBLTOTUNSAFE" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.TOTUNSAFECNT }}</span
                        ></span
                      >
                    </a>
                  </td>
                </tr>
                <tr *ngIf="rowData">
                  <td class="submoduleTable1">
                    {{ rowData.METRICS | translate }}
                  </td>
                  <th *ngIf="colCount == 2"></th>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['JANS'] >= 0"
                  >
                    {{ rowData.JANS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['FEBS'] >= 0"
                  >
                    {{ rowData.FEBS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['MARS'] >= 0"
                  >
                    {{ rowData.MARS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['APRS'] >= 0"
                  >
                    {{ rowData.APRS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['MAYS'] >= 0"
                  >
                    {{ rowData.MAYS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['JUNS'] >= 0"
                  >
                    {{ rowData.JUNS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['JULS'] >= 0"
                  >
                    {{ rowData.JULS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['AUGS'] >= 0"
                  >
                    {{ rowData.AUGS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['SEPS'] >= 0"
                  >
                    {{ rowData.SEPS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['OCTS'] >= 0"
                  >
                    {{ rowData.OCTS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['NOVS'] >= 0"
                  >
                    {{ rowData.NOVS }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    *ngIf="rowData['DECS'] >= 0"
                  >
                    {{ rowData.DECS }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>

        <ng-container *ngIf="isLoaded && !errormsg && selectedReportView == 43">
          <div *ngIf="tableData.length > 0">
            <p-table
              #checklistSearchData
              [columns]="cols"
              [value]="tableData"
              sortField="MAINCATEGORYNAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      checklistSearchData.filterGlobal(
                        $event.target.value,
                        'contains'
                      )
                    "
                    style="width:300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th
                    *ngFor="let col of cols; let i = index"
                    [class.align-center]="i > 0"
                  >
                    {{ col["header"] }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="
                    rowGroupMetadata[rowData.MAINCATEGORYNAME].index ===
                    rowIndex
                  "
                >
                  <td class="headerTD1" [attr.colspan]="1">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <!-- <span
                        [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                      <span
                        >{{ "LBLMAINCATEGORY" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.MAINCATEGORYNAME }}</span
                        ></span
                      >
                    </a>
                  </td>
                  <td class="headerTD1 align-center" [attr.colspan]="1">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <!-- <span
                        [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                      <span
                        >{{ "LBLTOTSAFE" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.TOTSAFECNT }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td class="headerTD1 align-center" [attr.colspan]="1">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <!-- <span
                        [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></span> -->
                      <span
                        >{{ "LBLTOTUNSAFE" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.TOTUNSAFECNT }}</span
                        ></span
                      >
                    </a>
                  </td>
                </tr>
                <tr *ngIf="rowData">
                  <td class="submoduleTable1">
                    {{ rowData.SUBCATEGORYNAME }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.SAFECNT }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.UNSAFECNT }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>

        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
