::ng-deep .dropOpen {
  display: block;
  width: 100%;
}

::ng-deep .headerTD1 {
  background: #f4f4f4 !important;
  color: #009688;
}

::ng-deep .submoduleTable1 {
  background: #fff !important;
}

::ng-deep .noRecordFound {
  text-align: center;
  padding: 15% 0%;
  color: #f44336;
}

::ng-deep body .ui-table .ui-table-tbody>tr>td {
  word-break: break-all;
}

::ng-deep body .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
  background-color: rgba(0, 0, 0, 0.04) !important;
  color: #333;
}

::ng-deep body .ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  background-color: transparent !important;
}

::ng-deep .ui-table table span {
  cursor: auto !important;
}

::ng-deep .align-center {
  text-align: center !important;
}