<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        header="{{ 'LBLCONFIRM' | translate }}"
        acceptLabel="{{ 'LBLOK' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}"
        icon="ui-icon-info"
      ></p-confirmDialog>
      <div class="ui-g-12 ui-md-12" style="padding-top: 0px;">
        <h1>{{ reportName | translate }}</h1>
      </div>
      <div class="ui-g-12 ui-md-12">
        <p-table
          [value]="reportList"
          [(selection)]="selectedFilters"
          class="ReportsListing"
        >
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="2" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="2" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;">
                <p-tableHeaderCheckbox
                  (click)="checkItem()"
                  binary="true"
                ></p-tableHeaderCheckbox>
              </th>
              <th>
                {{ "LBLSELECTCRITERIA" | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td style="width: 50px;">
                <p-tableCheckbox
                  (click)="checkItem()"
                  [value]="rowData"
                ></p-tableCheckbox>
              </td>
              <td>{{ rowData.OPTIONNAME | translate }}</td>
            </tr>
          </ng-template>
        </p-table>
        <p>{{ "LBLREPORTSOPTIONMANDATORY" | translate }}</p>
        <div class="ui-g-12 ui-md-12 pl-0" style="padding-top: 20px;">
          <div class="ui-g-12 ui-md-1 pl-0">
            <button
              pButton
              type="button"
              label="{{ 'LBLSAVE' | translate }}"
              title="{{ 'LBLSAVE' | translate }}"
              class="filterBtn edit-btn"
              (click)="submitFilters()"
              [disabled]="checkSelectedItem"
            ></button>
          </div>
          <div class="ui-g-12 ui-md-1">
            <button
              pButton
              type="button"
              title="{{ 'LBLRESET' | translate }}"
              label="{{ 'LBLRESET' | translate }}"
              class="filterBtn edit-btn"
              (click)="resetFilterForm()"
              [disabled]="checkSelectedItem"
            ></button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
