<div class="ui-g-12" *ngIf="!isLoading">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div style="text-align: center" *ngIf="generalLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!generalLoading">
          <form
            [formGroup]="userform"
            (ngSubmit)="onSubmit('')"
            ngxScrollToFirstInvalid
          >
            <div class="ui-g form-group">
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-1">
                  <label> {{ "LBLPROFILE" | translate }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="userName"
                    minlength="{{ userNameLength }}"
                  />
                  <label class="required">{{
                    "LBLUSERNAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && uform.userName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDUSERNAME' | translate }}"
                    *ngIf="
                      uform.userName.errors.required ||
                      userform.get('userName').hasError('whitespace') ||
                      uform.userName.errors?.maxlength ||
                      uform.userName.hasError('maxLength') ||
                      userform.get('userName').hasError('space')
                    "
                  >
                  </p-message>
                  <p-message
                    severity="error"
                    text="{{ userLenError }}"
                    *ngIf="
                      !uform.userName.errors.required &&
                      !userform.get('userName').hasError('whitespace') &&
                      uform.userName.errors?.minlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="firstName"
                    maxlength="256"
                  />
                  <label class="required">{{
                    "LBLFIRSTNAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && uform.firstName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDFIRSTNAME' | translate }}"
                    *ngIf="
                      uform.firstName.errors.required ||
                      userform.get('firstName').hasError('whitespace') ||
                      userform.get('firstName').hasError('space')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="lastName"
                    maxlength="256"
                  />
                  <label class="required">{{
                    "LBLLASTNAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && uform.lastName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDLASTNAME' | translate }}"
                    *ngIf="
                      uform.lastName.errors.required ||
                      userform.get('lastName').hasError('whitespace') ||
                      userform.get('lastName').hasError('space')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="email"
                    pInputText
                    class="ui-md-12"
                    formControlName="emailId"
                    (change)="onEmailChange($event)"
                  />
                  <label
                    [ngClass]="{
                      required: userform.controls['userType'].value != 1
                    }"
                    class="ngSelectAlign"
                    >{{ "LBLEMAILID" | translate }}</label
                  >
                </span>

                <div
                  *ngIf="submitted && uform.emailId.errors && userValue != 1"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDEMAIL' | translate }}"
                    *ngIf="
                      !uform.emailId.errors.required ||
                      !userform.get('emailId').hasError('whitespace') ||
                      (userform.get('emailId').hasError('isEmail') &&
                        uform.emailId.errors.maxlength)
                    "
                  >
                  </p-message>
                </div>
                <div
                  *ngIf="submitted && uform.emailId.errors && userValue == 1"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTADDEMAIL' | translate }}"
                    *ngIf="
                      !uform.emailId.errors.dirty &&
                      (!userform.get('emailId').hasError('whitespace') ||
                        (userform.get('emailId').hasError('isEmail') &&
                          uform.emailId.errors.maxlength))
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="jobTitle"
                    maxlength="128"
                  />
                  <label class="ngSelectAlign">{{
                    "LBLJOBTITLE" | translate
                  }}</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLTYPE' | translate }}"
                  [searchable]="false"
                  [items]="userType"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="userType"
                  (change)="checkUser()"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <ng-container *ngIf="userValue != 1">
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLROLES' | translate }}"
                    [searchable]="true"
                    [items]="roleListing"
                    bindLabel="ROLENAME"
                    bindValue="ROLEID"
                    formControlName="defaultRole"
                    class="required"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.ROLENAME }}">
                        {{ item.ROLENAME }}
                      </div>
                    </ng-template>
                  </ng-select>

                  <div
                    *ngIf="submitted && uform.defaultRole.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTSELECTROLE' | translate }}"
                      *ngIf="
                        uform.defaultRole.errors.required ||
                        uform.defaultRole.errors?.min
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLOFFLINEACCESS' | translate }}"
                    [searchable]="false"
                    [items]="YesNo"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="userOffline"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select
                    [clearable]="false"
                    placeholder="{{ 'LBLAPPROVESCAN' | translate }}"
                    [searchable]="false"
                    [items]="YesNo"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="userOfflineApprove"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="heading-left ui-g-12 ui-md-12">
                  <div class="ui-g-12 ui-md-2">
                    <label> {{ "LBLAUTHENTICATION" | translate }}</label>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <input
                      type="password"
                      pInputText
                      class="ui-md-12"
                      formControlName="userPassword"
                      maxlength="24"
                    />
                    <label class="required">{{
                      "LBLPASSWORD" | translate
                    }}</label>
                  </span>
                  <div
                    *ngIf="submitted && uform.userPassword.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTADDPWD' | translate }}"
                      *ngIf="
                        uform.userPassword.errors.required ||
                        userform.get('userPassword').hasError('whitespace')
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDLEN' | translate }} {{ passLength }} {{
                        'LBLPWDCHAR' | translate
                      }} "
                      *ngIf="
                        !uform.userPassword.errors.required &&
                        userform.get('userPassword').hasError('minlength')
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDMUST' | translate }} {{
                        'LBLPWDNUMCHAR' | translate
                      }}"
                      *ngIf="
                        passwordComplexity == 1 &&
                        !uform.userPassword.errors.required &&
                        !userform.get('userPassword').hasError('minlength') &&
                        uform.userPassword.errors.pattern
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDATLEAST' | translate }} {{
                        passAlphaLength
                      }} {{ 'LBLCHAR' | translate }} {{ passNumLength }} {{
                        'LBLPWDNUMCHAR' | translate
                      }}"
                      *ngIf="
                        passwordComplexity == 2 &&
                        !uform.userPassword.errors.required &&
                        !userform.get('userPassword').hasError('minlength') &&
                        uform.userPassword.errors.pattern
                      "
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'ALTPWDATLEAST' | translate }} {{
                        passAlphaLength
                      }} {{ 'LBLCHAR' | translate }} {{ passNumLength }} {{
                        'LBLNUMAND' | translate
                      }} {{ passSpecialLength }} {{ 'LBLPWDSPEC' | translate }}"
                      *ngIf="
                        passwordComplexity == 3 &&
                        !uform.userPassword.errors.required &&
                        !userform.get('userPassword').hasError('minlength') &&
                        uform.userPassword.errors.pattern
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <input
                      type="password"
                      pInputText
                      class="ui-md-12"
                      formControlName="confirmPassword"
                      maxlength="24"
                    />
                    <label class="required">{{
                      "LBLCONFIRMPASSWORD" | translate
                    }}</label>
                  </span>
                  <div
                    *ngIf="submitted && uform.confirmPassword.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTADDCONFIRMPWD' | translate }}"
                      *ngIf="uform.confirmPassword.errors.required"
                    >
                    </p-message>
                    <p-message
                      severity="error"
                      text="{{ 'LBLCONFIRMPASSNOTMATCH' | translate }}"
                      *ngIf="
                        !userform.controls['confirmPassword'].valid &&
                        userform.controls['confirmPassword'].dirty &&
                        !uform.confirmPassword.errors.required
                      "
                    >
                    </p-message>
                  </div>
                </div>
              </ng-container>
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-1">
                  <label> {{ "LBLBSITES" | translate }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <p-multiSelect
                  [defaultLabel]="'LBLCHOOSE' | translate"
                  (onChange)="getSites()"
                  id="siteIds"
                  [options]="siteListing"
                  class="required"
                  formControlName="siteIds"
                >
                </p-multiSelect>
                <div
                  *ngIf="submitted && uform['siteIds'].errors"
                  class="invalid-feedback"
                  style="margin-top: 10px"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTASSIGNSITE' | translate }}"
                    *ngIf="uform['siteIds'].errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLDEFAULTSITE' | translate }}"
                  [searchable]="true"
                  [items]="defaultSite"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="userDefaultSite"
                  (change)="getTimeZone()"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && uform['userDefaultSite'].errors"
                  class="invalid-feedback"
                  style="margin-top: 10px"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTASSIGNSITE' | translate }}"
                    *ngIf="uform['userDefaultSite'].errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="heading-left ui-g-12 ui-md-12"
                *ngIf="finalGroups && finalGroups.length > 0"
              >
                <div class="ui-g-12 ui-md-1">
                  <label> {{ "LBLGROUPS" | translate }}</label>
                </div>
              </div>
              <ng-container *ngIf="finalGroups && finalGroups.length > 0">
                <ng-container *ngFor="let group of finalGroups">
                  <div
                    class="ui-g-12 ui-md-4 multiSelectDropDwon"
                    style="margin-bottom: 10px"
                    *ngIf="group.data.length > 0"
                  >
                    <ng-select
                      [clearable]="false"
                      placeholder="{{ group.groupName }}"
                      [items]="group.data"
                      bindLabel="GROUPNAME"
                      [searchable]="true"
                      bindValue="GROUPID"
                      formControlName="{{ group.fieldname }}"
                      [ngClass]="{ required: group.mandatory == 1 }"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <div title="{{ item.GROUPNAME }}">
                          {{ item.GROUPNAME }}
                        </div>
                      </ng-template>
                    </ng-select>
                    <ng-container *ngIf="group.mandatory == 1">
                      <div *ngIf="submitted" class="invalid-feedback">
                        <p-message
                          class="errorMsg"
                          severity="error"
                          text="{{ 'ALTMANDATORYGROUP' | translate }}"
                          *ngIf="
                            userform
                              .get(group['fieldname'])
                              .hasError('required') ||
                            userform.get(group['fieldname']).hasError('min')
                          "
                        >
                        </p-message>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-2">
                  <label> {{ "LBLUSERPREFERENCE" | translate }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLLANGUAGE' | translate }}"
                  [searchable]="true"
                  [items]="Language"
                  bindLabel="LANGUAGENAME"
                  bindValue="LANGUAGEID"
                  formControlName="languageId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.LANGUAGENAME }}">
                      {{ item.LANGUAGENAME }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLDATEFORMAT' | translate }}"
                  [searchable]="true"
                  [items]="DateFormat"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="userDateFormat"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="hidden"
                    pInputText
                    formControlName="userTimeZone"
                  />
                  <input
                    type="text"
                    readonly
                    pInputText
                    class="ui-md-12"
                    value="{{ defaultTimeZone }}"
                  />
                  <label class="ngSelectAlign">{{
                    "LBLTIMEZNONE" | translate
                  }}</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-4">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="false"
                  [items]="status"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-12 submitButton">
                <div class="ui-g-3 ui-md-4 pl-0 ui-lg-1">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSAVE' | translate }}"
                    title="{{ 'LBLSAVE' | translate }}"
                    [disabled]="userform.pristine"
                    style="margin-bottom: 10px"
                  ></button>
                </div>
                <div class="ui-g-3 ui-md-4 ui-lg-1 pl-0">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}"
                    style="margin-bottom: 10px"
                    [disabled]="userform.pristine"
                    class="reset-btn"
                    (click)="onReset()"
                  ></button>
                </div>
                <div class="ui-g-6 ui-md-4 ui-lg-2 secondary-btn-ui">
                  <button
                    pButton
                    type="button"
                    label="{{ 'LBLSAVEADDNEW' | translate }}"
                    title="{{ 'LBLSAVEADDNEW' | translate }}"
                    [disabled]="userform.pristine"
                    (click)="onSubmit('save_and_add_new')"
                    style="margin-bottom: 10px"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner loader-svg">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
