<div class="login-body">
  <p-toast [style]="{ marginTop: '80px', width: '350px' }" position="top-center"></p-toast>
  <div class="ui-g">
    <div class="login-panel ui-fluid">
      <div class="login-panel-header">
        <img src="assets/images/logo_stopdatapro.png" />
      </div>
      <div class="login-panel-content">
        <form [formGroup]="forcePasswordChangeForm" (ngSubmit)="onSubmit()">
          <div class="ui-g-12">
            <h1>Force Password Change</h1>
          </div>
          <div class="ui-g-11">
            <span class="md-inputfield">
              <input type="password" class="inputfieldPadding" pInputText formControlName="oldPass" />
              <label>{{ "LBLCURPWD" | translate }}</label>
            </span>
            <div *ngIf="submitted && uform.oldPass.errors" class="invalid-feedback">
              <p-message severity="error" text="{{ 'ALTOLDPWD' | translate }}" *ngIf="uform.oldPass.errors.required">
              </p-message>
            </div>
          </div>
          <div class="ui-g-11">
            <span class="md-inputfield">
              <input type="password" class="inputfieldPadding" pInputText formControlName="newPass" />
              <label>{{ "LBLNEWPWD" | translate }}</label>
            </span>
            <div *ngIf="submitted && uform.newPass.errors" class="invalid-feedback">
              <p-message severity="error" text="{{ 'ALTADDPWD' | translate }}" *ngIf="
                  uform.newPass.errors.required ||
                  forcePasswordChangeForm.get('newPass').hasError('whitespace')
                ">
              </p-message>
              <p-message severity="error" text="{{ 'ALTPWDLEN' | translate }} {{ passLength }} {{
                  'LBLPWDCHAR' | translate
                }} " *ngIf="
                  !uform.newPass.errors.required &&
                  forcePasswordChangeForm.get('newPass').hasError('minlength')
                ">
              </p-message>
              <p-message severity="error" text="{{ 'ALTPWDMUST' | translate }} {{
                  'LBLPWDNUMCHAR' | translate
                }}" *ngIf="
                  passwordComplexity == 1 &&
                  !uform.newPass.errors.required &&
                  !forcePasswordChangeForm
                    .get('newPass')
                    .hasError('minlength') &&
                  uform.newPass.errors.pattern
                ">
              </p-message>
              <p-message severity="error" text="{{ 'ALTPWDATLEAST' | translate }} {{ passAlphaLength }} {{
                  'LBLCHAR' | translate
                }} {{ passNumLength }} {{ 'LBLPWDNUMCHAR' | translate }}" *ngIf="
                  passwordComplexity == 2 &&
                  !uform.newPass.errors.required &&
                  !forcePasswordChangeForm
                    .get('newPass')
                    .hasError('minlength') &&
                  uform.newPass.errors.pattern
                ">
              </p-message>
              <p-message severity="error" text="{{ 'ALTPWDATLEAST' | translate }} {{ passAlphaLength }} {{
                  'LBLCHAR' | translate
                }} {{ passNumLength }} {{ 'LBLNUMAND' | translate }} {{
                  passSpecialLength
                }} {{ 'LBLPWDSPEC' | translate }}" *ngIf="
                  passwordComplexity == 3 &&
                  !uform.newPass.errors.required &&
                  !forcePasswordChangeForm
                    .get('newPass')
                    .hasError('minlength') &&
                  uform.newPass.errors.pattern
                ">
              </p-message>
            </div>
          </div>
          <div class="ui-g-1 tooltipMain">
            <img src="assets/layout/images/tooltip.png" class="tooltipInput" [pTooltip]="toolTipString"
              tooltipPosition="right" tooltipStyleClass="max-width" />
          </div>
          <div class="ui-g-11">
            <span class="md-inputfield">
              <input type="password" class="inputfieldPadding" pInputText formControlName="confirmPass" />
              <label>{{ "LBLCNFPWD" | translate }}</label>
            </span>
            <div *ngIf="submitted && uform.confirmPass.errors" class="invalid-feedback">
              <p-message severity="error" text="{{ 'ALTADDCONFIRMPWD' | translate }}"
                *ngIf="uform.confirmPass.errors.required">
              </p-message>
              <p-message severity="error" text='{{"LBLCONFIRMPASSNOTMATCH" | translate }}' *ngIf="
                  !forcePasswordChangeForm.controls['confirmPass'].valid &&
                  !uform.confirmPass.errors.required
                ">
              </p-message>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12 pl-0">
            <div class="ui-g-12 ui-md-12 submitButton">
              <div class="ui-g-12 ui-md-6 pl-0">
                <button pButton type="submit" label="{{ 'LBLSUBMIT' | translate }}"
                  title="{{ 'LBLSUBMIT' | translate }}"></button>
              </div>
              <div class="ui-g-12 ui-md-6">
                <button pButton type="reset" title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>