:host >>> .login-body .login-panel {
  height: auto !important;
}


:host >>> .login-body .login-panel .login-panel-content .ui-g-11 {
  padding: 1em;
}

::ng-deep .max-width .ui-tooltip-text {
  width: 300px; 
}