<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog class="{{ confirmClass }}" #cd header="{{ appName }}"
        acceptLabel="{{ 'LBLCONTINUE' | translate }}" rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info">
        <p-footer>
          <button type="button" pButton icon="pi pi-check" label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"></button>
          <button type="button" pButton icon="pi pi-times" label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"></button>
        </p-footer>
      </p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <h1>{{ "LBLREDFLAGLISTING" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select" *ngIf="searchBy.length > 0">
        <ng-select [searchable]="true" [items]="searchBy" bindLabel="header" bindValue="field"
          [(ngModel)]="selectedfilterRedFlag" [clearable]="false">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item.header | translate }}">
              {{ item.header | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchText" (keyup.enter)="searching()" />
            <label>{{"FMKSEARCH" | translate }}</label>
          </span>
          <button pButton type="button" icon="ui-icon-search" title='{{"FMKSEARCH" | translate }}'
            (click)="searching()"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-7 text-right" style="padding-top: 11px;">
        <button type="button" icon="ui-icon-add" title="{{ 'LBLADD' | translate }}" [routerLink]="['/add-red-flags']"
          skipLocationChange="true" pButton></button>
        <button type="button" [disabled]="selectedRedFlag.length == 0" icon="ui-icon-delete" class="ml activebtn"
          (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}" *ngIf="roleId != 2"></button>
        <button type="button" [disabled]="selectedRedFlag.length == 0" icon="ui-icon-swap-horiz" class="ml"
          (click)="changeStatus('')" title="{{ 'LBLCHANGESTATUS' | translate }}" pButton></button>
        <button type="button" icon="ui-icon-filter-list" title="{{ 'LBLFILTERS' | translate }}" class="ml" pButton
          (click)="toggle()" id="btToggle"></button>
      </div>
      <div class="clearfix"></div>

      <!-- Filter Toggle -->
      <div id="slideDwon" style="display: none;">
        <div class="card card-w-title right-top-arrow" style="padding-bottom: 0px;">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left"><b>{{ "LBLFILTERS" | translate }}</b></label>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon">
            <div class="filterLable">
              <label class="">{{ "LBLBSITES" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filterSites" (onChange)="getArea()"
              [(ngModel)]="redFlagSites" class="required">
            </p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon">
            <div class="filterLable">
              <label class="">{{ "LBLAREA" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="filterArea" (onChange)="getSubArea()" [(ngModel)]="redFlagAreas" class="required">
            </p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon" *ngIf="subAreaOptionValue == 1">
            <div class="filterLable">
              <label class="">{{ "LBLSUBAREAS" | translate }}</label>
            </div>
            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filterSubArea"
              [(ngModel)]="redFlagSubAreas" class="required">
            </p-multiSelect>
          </div>

          <div class="clearfix"></div>

          <div class="ui-g-12 ui-md-12 pl-0 p-0 advanceButton">
            <div class="ui-g-12 ui-md-3">
              <button type="button" [icon]="iconType" (click)="advance_search()"
                label="{{ 'LBLADVANCEFILTER' | translate }}" class="advance-search"
                title="{{ 'LBLADVANCEFILTER' | translate }}" pButton></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div *ngIf="show_advance_search">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12 advanceBorder">
                <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon">
                  <div class="filterLable">
                    <label class="">{{ "LBLSTATUS" | translate }}</label>
                  </div>
                  <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filterStatus"
                    [(ngModel)]="redFlagStatus" class="required">
                  </p-multiSelect>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <button pButton type="button" label="{{ 'LBLFILTERRECORDS' | translate }}" class="filterBtn"
              (click)="filtering()" title="{{ 'LBLFILTERRECORDS' | translate }}"></button>
            <button pButton type="reset" label="{{ 'LBLCLEARFILTERRECORDS' | translate }}" class="filterBtn"
              (click)="clearFilter()" title="{{ 'LBLCLEARFILTERRECORDS' | translate }}"></button>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Filter Toggle -->
      <div class="ui-g-12 ui-md-12">
        <p-table [columns]="redFlagCols" [value]="redFlagListing" [(selection)]="selectedRedFlag" [paginator]="true"
          [rows]="20" class="group-listing">
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns.length + 1" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLRPTNORECFND" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let redFlagCols of columns" [pSortableColumn]="redFlagCols.field">
                {{ redFlagCols.header | translate }}
                <p-sortIcon [field]="redFlagCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let redFlagCols of columns; let i = index" style="cursor: pointer;">
                <ng-container *ngIf="i < redFlagCount - 1">
                  <a style="display: block;" routerLink="/edit-red-flags/{{ rowData['REDFLAGID'] }}"
                    skipLocationChange="true">
                    {{ rowData[redFlagCols.field] }}
                  </a>
                </ng-container>
                <ng-container *ngIf="i == redFlagCount - 1">
                  <p-button label="{{ rowData[redFlagCols.field] | translate }}"
                    (click)="changeStatus(rowData.REDFLAGID)" *ngIf="rowData[redFlagCols.field] == 'LBLACTIVE'"
                    class="actionButton" title="{{ rowData[redFlagCols.field] | translate }}">
                  </p-button>
                  <p-button label="{{ rowData[redFlagCols.field] | translate }}"
                    (click)="changeStatus(rowData.REDFLAGID)" *ngIf="rowData[redFlagCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD" title="{{ rowData[redFlagCols.field] | translate }}">
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>