<div class="ui-g-12" *ngIf="!isLoading">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
    <p-tabView>
      <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-person">
        <form [formGroup]="addGroupForm" (ngSubmit)="submitGroup()">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-12 ui-md-12 p-r-0 multiSelectDropDwon">
                <ng-select placeholder="{{ 'LBLGROUPTYPE' | translate }}" [items]="GroupType" [searchable]="true"
                  bindLabel="label" bindValue="value" formControlName="groupTypeId" required>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 13px;">
                <span class="md-inputfield ui-md-12 pl-0">
                  <input type="text" pInputText class="ui-md-12" formControlName="groupName" maxlength="128" required />
                  <label class="required">{{
                    "LBLGROUPNAME" | translate
                  }}</label>
                </span>

                <div *ngIf="submitted && groupForm.groupName.errors" class="invalid-feedback">
                  <p-message severity="error" text="{{ 'ALTGROUPADD' | translate }}" *ngIf="
                      groupForm.groupName.errors.required ||
                      addGroupForm.get('groupName').hasError('maxLength')
                    ">
                  </p-message>
                  <p-message severity="error" text="{{ 'ALTGROUPADD' | translate }}"
                    *ngIf="addGroupForm.get('groupName').hasError('space')">
                  </p-message>
                  <p-message severity="error" text="{{ 'ALTGROUPNAME' | translate }}" *ngIf="
                      addGroupForm.get('groupName').hasError('specialChar')
                    ">
                  </p-message>
                </div>
              </div>
              <div class=" ui-g-12 ui-md-3 multiSelectDropDwon">
                <ng-select placeholder="{{ 'LBLSTATUS' | translate }}" [searchable]="true" [items]="Status"
                  bindLabel="label" bindValue="value" formControlName="status" [clearable]="false">
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-8 submitButton" style="margin-bottom: 10px;">
            <div class="ui-g-3 ui-md-3 ui-lg-2">
              <button pButton type="submit" title="{{ 'LBLSAVE' | translate }}" [disabled]="addGroupForm.pristine"
                label="{{ 'LBLSAVE' | translate }}"></button>
            </div>
            <div class="ui-g-3 ui-md-3 ui-lg-2">
              <button pButton type="button" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                [disabled]="addGroupForm.pristine" class="reset-btn" (click)="onReset()"></button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3 secondary-btn-ui">
              <button pButton type="button" (click)="onSubmit('save_and_add_new')" [disabled]="addGroupForm.pristine"
                label="{{ 'LBLSAVEADDNEW' | translate }}" title="{{ 'LBLSAVEADDNEW' | translate }}"></button>
            </div>

            <div class="clearfix"></div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner loader-svg">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>