<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed "
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div style="text-align: center;" *ngIf="!isLoaded">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="ui-g-12 ui-md-12">
        <ng-container *ngIf="isLoaded && !errormsg">
          <div *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [columns]="cols"
              [value]="tableData"
              sortField="SITENAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
              [scrollable]="true"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width:300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" style="width:250px" />
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <!-- <th></th> -->
                  <th>
                    {{ "LBLCHECKLISTNO" | translate }}
                  </th>
                  <th>{{ "LBLOBSERVERNAME" | translate }}</th>
                  <th>{{ "FMKDTRANGE" | translate }}</th>
                  <th>{{ "LBLAREANAME" | translate }}</th>
                  <th *ngIf="subAreaOption == 1">
                    {{ "LBLSUBAREAFULLNAME" | translate }}
                  </th>
                  <th>{{ "LBLSHIFTNAME" | translate }}</th>
                  <th>{{ "LBLMAINCATEGORY" | translate }}</th>
                  <th>{{ "LBLSUBCATNAME" | translate }}</th>
                  <th>{{ "LBLSAFECOMMENTS" | translate }}</th>
                  <th>{{ "LBLUNSAFECOMMENTS" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
                >
                  <td class="headerTD1" [attr.colspan]="10 - colleps">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        >{{ "LBLSITENAME" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.SITENAME }}</span
                        ></span
                      >
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="submoduleTable1">
                    <img
                      style="vertical-align: middle;cursor: pointer;"
                      src="/assets/images/attachment.png"
                      *ngIf="rowData.ATTACHMENTSIMAGE != ''"
                      (click)="runSubReport(rowData.ATTACHMENTS)"
                    />
                    {{ rowData.CARDID }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.OBSERVERNAME }}</td>
                  <td class="submoduleTable1">
                    {{ rowData.DATE }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
                  <td class="submoduleTable1" *ngIf="subAreaOption == 1">
                    {{ rowData.SUBAREANAME }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
                  <td class="submoduleTable1">
                    {{ rowData.MAINCATEGORYNAME }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.SUBCATEGORYNAME }}</td>
                  <td class="submoduleTable1">{{ rowData.SAFECOMMENTS }}</td>
                  <td
                    class="submoduleTable1"
                    [innerHtml]="rowData.UNSAFECOMMENTS"
                  ></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<p-dialog
  class="checklist-dialog"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="displaySubReport"
  [rtl]="true"
  [style]="{ width: '95%', height: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="displaySubReport">
    <img
      style="text-align: center; margin-top: 15px;"
      src="{{ imgBaseUrl }}{{ imgName }}"
    />
  </div>
</p-dialog>
