<div class="ui-g-12" [hidden]="isLoading">
  <div class="card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
      acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}"
    ></p-confirmDialog>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form
          [formGroup]="addCategoryGeneral"
          (ngSubmit)="onSubmit(addCategoryGeneral.value)"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 listingLabel mt-8">
                <span class="md-inputfield ui-md-12 pl-0">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="mainCategoryName"
                  />
                  <label class="required">{{
                    "LBLMAINCATEGORY" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && uform.mainCategoryName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPROVIDECATEGORYNAME' | translate }}"
                    *ngIf="
                      uform.mainCategoryName.errors.required ||
                      uform.mainCategoryName.hasError('maxLength')
                    "
                  >
                  </p-message>
                  <p-message
                    severity="error"
                    text="{{ 'ALTMAINCATNAMEWHITESPACE' | translate }}"
                    *ngIf="
                      addCategoryGeneral
                        .get('mainCategoryName')
                        .hasError('space')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon">
                <ng-select
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [clearable]="false"
                  [items]="status"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div
            class="ui-g-12 ui-md-8 submitButton"
            style="padding-left: 15px; margin-bottom: 20px"
          >
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                type="submit"
                [disabled]="addCategoryGeneral.pristine"
                title="{{ 'LBLSAVE' | translate }}"
                label="{{ 'LBLSAVE' | translate }}"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                type="button"
                class="reset-btn"
                (click)="onReset()"
                [disabled]="addCategoryGeneral.pristine"
                title="{{ 'LBLRESET' | translate }}"
                label="{{ 'LBLRESET' | translate }}"
              ></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
