<div class="ui-g-12" *ngIf="!isLoading">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form [formGroup]="addRoleForm" (ngSubmit)="addNewRole()">
          <div class="ui-g form-group pb-3 ">
            <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield ui-md-12 pl-0">
                <input type="text" pInputText formControlName="roleName" />
                <label class="required">{{ "LBLROLENAME" | translate }}</label>
              </span>
              <div
                *ngIf="submitted && uform.roleName.errors"
                class="invalid-feedback"
              >
                <p-message
                  class=""
                  severity="error"
                  text="{{ 'ALTROLEADD' | translate }}"
                  *ngIf="
                    (uform.roleName.errors.required &&
                      addRoleForm.get('roleName').hasError('whitespace')) ||
                    uform.roleName.errors?.maxlength
                  "
                >
                </p-message>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield ui-md-12">
                <input type="text" pInputText formControlName="description" />
                <label style="left: 9px !important">{{
                  "LBLDESCRIPT" | translate
                }}</label>
              </span>
              <div
                *ngIf="submitted && uform.description.errors"
                class="invalid-feedback"
              >
                <p-message
                  class=""
                  severity="error"
                  text="{{ 'ALTROLEDESC' | translate }}"
                  *ngIf="uform.description.errors?.maxlength"
                >
                </p-message>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4 multiSelectDropDwon margintop">
              <ng-select
                placeholder="{{ 'LBLCOPYFROM' | translate }}"
                [items]="copyForms"
                bindLabel="label"
                bindValue="value"
                [clearable]="false"
                [searchable]="false"
                formControlName="copyFrom"
                required
              >
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-item$="item$"
                  let-index="index"
                >
                  <div title="{{ item.label }}">
                    {{ item.label }}
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
              <ng-select
                placeholder="{{ 'LBLSTATUS' | translate }}"
                [items]="Status"
                bindLabel="label"
                bindValue="value"
                [clearable]="false"
                [searchable]="false"
                formControlName="status"
                required
              >
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-item$="item$"
                  let-index="index"
                >
                  <div title="{{ item.label }}">
                    {{ item.label }}
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="ui-g-12 ui-md-12 submitButton">
              <div class="ui-g-6  ui-lg-1 ui-md-6 pl-0 ">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  [disabled]="addRoleForm.pristine"
                  title="{{ 'LBLSAVE' | translate }}"
                ></button>
              </div>
              <div class="ui-g-6  ui-lg-1 ui-md-6">
                <button
                  pButton
                  type="button"
                  (click)="resetRoleForm()"
                  label="{{ 'LBLRESET' | translate }}"
                  title="{{ 'LBLRESET' | translate }}"
                  [disabled]="addRoleForm.pristine"
                  class="reset-btn"
                ></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
