::ng-deep .noRecordFound {
  text-align: center;
  padding: 15% 0%;
  color: #f44336;
}

::ng-deep .headerTD1 {
  background: #f4f4f4 !important;
  color: #009688;
}

::ng-deep .submoduleTable1 {
  background: #fff !important;
}

::ng-deep body .ui-table .ui-table-tbody>tr>td {
  word-break: break-all !important;
}

::ng-deep .layout-wrapper .layout-main .layout-topbar {
  z-index: 99 !important;
}

::ng-deep .layout-wrapper .layout-sidebar {
  z-index: 999 !important;
}

::ng-deep .ui-table table span {
  cursor: auto !important;
}

::ng-deep .align-center {
  text-align: center !important;
}

a {
  cursor: pointer !important;
}

::ng-deep .checklist-dialog .ui-dialog {
  height: 95% !important;
}