<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        class="{{ confirmClass }}"
        #cd
        header="{{ appName }}"
        acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}"
        icon="ui-icon-info"
      >
        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-check"
            label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"
          ></button>
          <button
            type="button"
            pButton
            icon="pi pi-times"
            label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"
          ></button>
        </p-footer>
      </p-confirmDialog>
      <p-toast
        [style]="{ marginTop: '80px', width: '400px' }"
        position="top-center"
      ></p-toast>
      <h1>{{ "LBLSCHEDULEREPORTS" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon">
        <ng-select
          placeholder="{{ 'LBLREPORTNAME' | translate }}"
          [searchable]="true"
          [items]="serchReportListing"
          bindLabel="REPORTNAME"
          bindValue="REPORTID"
          [(ngModel)]="selectedReports"
          (ngModelChange)="serchByReport()"
          [clearable]="false"
          [searchable]="true"
        >
          <ng-template ng-option-tmp let-item="item">
            <div title="{{ item.REPORTNAME }}">{{ item.REPORTNAME }}</div>
          </ng-template>
        </ng-select>
      </div>
      <div
        class="ui-g-12 ui-md-2 multiSelectDropDwon"
        *ngIf="searchBy.length > 0"
      >
        <ng-select
          [searchable]="true"
          [items]="searchBy"
          bindLabel="header"
          bindValue="field"
          [(ngModel)]="selectedfilterName"
          [clearable]="false"
        >
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="onTextSearch()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch()"
          ></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-5 text-right">
        <button
          type="button"
          icon="ui-icon-add"
          [routerLink]="['/add-schedule-reports']"
          skipLocationChange="true"
          title="{{ 'LBLADD' | translate }}"
          pButton
        ></button>
        <button
          type="button"
          [disabled]="selectedScheduleReports.length == 0"
          icon="ui-icon-delete"
          (click)="deleteRecord()"
          class="ml activebtn"
          title="{{ 'LBLDELETE' | translate }}"
          visibleToOnlySuperAdmin
          pButton
        ></button>
        <button
          type="button"
          icon="ui-icon-swap-horiz"
          [disabled]="selectedScheduleReports.length == 0"
          (click)="changeStatus('')"
          class="ml"
          pButton
          title="{{ 'LBLCHANGESTATUS' | translate }}"
        ></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <p-table
          [columns]="scheduleReportsCols"
          [value]="scheduleReportsListing"
          [(selection)]="selectedScheduleReports"
          [paginator]="true"
          [rows]="30"
          class="group-listing"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center;"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLRPTNORECFND" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th
                *ngFor="let scheduleReportsCols of columns"
                [pSortableColumn]="scheduleReportsCols.field"
              >
                {{ scheduleReportsCols.header | translate }}
                <p-sortIcon [field]="scheduleReportsCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <!-- <tr [pSelectableRow]="rowData"> -->
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let scheduleReportsCols of columns; let i = index"
                style="cursor: pointer"
              >
                <ng-container *ngIf="i < scheduleReportsCount - 1">
                  <a
                    style="display: block;"
                    routerLink="/edit-schedule-reports/{{
                      rowData['SCHEDULEID']
                    }}"
                    skipLocationChange="true"
                  >
                    {{ rowData[scheduleReportsCols.field] }}
                  </a>
                </ng-container>
                <ng-container *ngIf="i == scheduleReportsCount - 1">
                  <p-button
                    label="{{ rowData[scheduleReportsCols.field] | translate }}"
                    (click)="changeStatus(rowData.SCHEDULEID)"
                    *ngIf="rowData[scheduleReportsCols.field] == 'LBLACTIVE'"
                    class="actionButton"
                  >
                  </p-button>
                  <p-button
                    label="{{ rowData[scheduleReportsCols.field] | translate }}"
                    (click)="changeStatus(rowData.SCHEDULEID)"
                    *ngIf="rowData[scheduleReportsCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD"
                  >
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
