<p-toast
  [style]="{ marginTop: '80px', width: '300px' }"
  position="top-center"
></p-toast>
<p-confirmDialog
  header="{{ 'LBLCONFIRM' | translate }}"
  acceptLabel="{{ 'LBLOK' | translate }}"
  rejectLabel="{{ 'LBLCANCEL' | translate }}"
  icon="ui-icon-info"
></p-confirmDialog>

<div class="login-body">
  <div class="login-panel ui-fluid" *ngIf="gotColor">
    <div class="login-panel-header">
      <img src="assets/images/logo_stopdatapro.png" />
    </div>
    <ng-container *ngIf="gotColor && companyStatus == 1">
      <div class="login-panel-content">
        <div class="ui-g">
          <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <div class="view-image" *ngIf="imageName">
              <img alt="logo" src="{{ imagePath }}/{{ imageName }}" />
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12">
              <span class="md-inputfield">
                <input
                  type="text"
                  name="username"
                  class="inputfieldPadding"
                  pInputText
                  formControlName="username"
                />
                <label class="required">{{ "LBLUSERNAME" | translate }}</label>
              </span>
              <div
                *ngIf="uform.username.errors"
                class="invalid-feedback"
                style="margin-top: 5px"
              >
                <p-message
                  severity="error"
                  text="{{ 'ALTVALIDUSERMSG' | translate }}"
                  *ngIf="uform.username.errors.pattern"
                >
                </p-message>
              </div>
            </div>
            <div class="ui-g-12">
              <span class="md-inputfield">
                <input
                  type="password"
                  name="password"
                  class="inputfieldPadding"
                  pInputText
                  formControlName="password"
                />
                <label class="required">{{ "LBLPASSWORD" | translate }}</label>
              </span>
            </div>
            <div class="ui-g-12">
              <div class="spinnerSize" *ngIf="!isLoaded">
                <p-progressSpinner></p-progressSpinner>
              </div>
              <button
                *ngIf="isLoaded"
                pButton
                type="submit"
                class="loginButton"
                label="{{ 'LBLLOGIN' | translate }}"
                icon="ui-icon-person"
                [disabled]="!userform.valid"
              ></button>
            </div>
          </form>

          <div class="ui-g-12">
            <div class="ui-g-6">
              <a [routerLink]="['/forgotPassword']" skipLocationChange="true"
                ><span class="forgotPasswordButton">{{
                  "LBLFORGOTPWD" | translate
                }}</span></a
              >
            </div>
            <div class="ui-g-6">
              <a (click)="bookmarkThisPage()"
                ><span class="forgotPasswordButton">{{
                  "LBLBOOKMARK" | translate
                }}</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="companyStatus != 1">
      <div class="login-panel-account">
        <div class="ui-g">
          <ng-container *ngIf="companyStatus == -1">
            <h2 class="status-msg">{{ statusMsg }}</h2>
            <h3 class="status-msg">{{ statusComment }}</h3>
          </ng-container>

          <ng-container *ngIf="companyStatus != -1 && companyStatus != 1">
            <h2 class="status-msg">{{ statusMsg }}</h2>
          </ng-container>

          <ng-container *ngIf="companyStatus != 1">
            <div style="margin: 35px 0"></div>
            <p>Please contact your DataPro contact or email</p>
            <p>support@training.consultdss.com for renewal options.</p>
            <span>We are eager to serve you back</span>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
