.forgotPasswordButton {
  color: var(--primary-color) !important;
  cursor: pointer;
}

.inputfieldPadding {
  padding: 5px !important;
}

.loginButton {
  margin-right: 1em !important;
}

::ng-deep .view-image {
  width: 215px;
  margin: 0 auto;
  text-align: center;
}

::ng-deep .view-image img {
  max-width: 100%;
  width: 188px;
  height: 66px;
}

::ng-deep .spinnerSize {
  text-align: center;
  height: 30px;
}

::ng-deep .spinnerSize .ui-progress-spinner {
  height: 50px !important;
}

::ng-deep .spinnerSize svg {
  width: 50%;
}

::ng-deep .login-panel-account {
  padding: 25px;
}

::ng-deep .login-panel-account h3.status-msg {
  margin: 0;
}

::ng-deep .login-panel-account .status-msg {
  width: 100%;
  text-align: center;
}

::ng-deep .login-panel-account p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

::ng-deep .login-panel-account span {
  border-top: 1px solid;
  padding-top: 15px;
  padding-right: 25px;
  font-size: 14px;
}
