<div *ngIf="!isLoading">
  <div class="ui-g ">
    <div class="ui-g-12 ui-md-12">
      <div class="card card-w-title">
        <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
        <div class="ui-g-12 ui-md-12" style="padding-top: 0px;">
          <h1>{{ "LBLAREAS" | translate }}<i class="pi pi-ellipsis-v"></i></h1>
        </div>
        <div style="text-align: center;" *ngIf="areaLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf="!areaLoading">
          <form [formGroup]="AddAreas" (ngSubmit)="onSubmit('')">
            <div class="ui-g-12 ui-md-4 pl-0 listingLabel" style="padding-top: 14px;">
              <span class="md-inputfield ui-md-12">
                <input type="text" pInputText class="ui-md-12" formControlName="areaName" />
                <label class="required" style="left: 8px !important;">{{ "LBLAREANAME" | translate }}
                </label>
              </span>
              <div *ngIf="submitted && uform.areaName.errors" class="invalid-feedback">
                <p-message severity="error" text="{{ 'ALTAREANAME' | translate }}" *ngIf="
                    uform.areaName.errors.required ||
                    AddAreas.get('areaName').hasError('whitespace') ||
                    uform.areaName.errors?.maxlength
                  ">
                </p-message>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
              <ng-select [clearable]="false" placeholder="{{ 'LBLSTATUS' | translate }}" [searchable]="true"
                [items]="status" bindLabel="label" bindValue="value" formControlName="status" required>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <div title="{{ item.label }}">
                    {{ item.label }}
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="clearfix"></div>

            <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
              <div class="ui-g-12 ui-md-12 pl-0 multiSelectLabel">
                <div class="filterLable">
                  <label>{{ "LBLBSITES" | translate }}</label>
                </div>
                <p-multiSelect [options]="siteListing" formControlName="siteIds" class="required"
                  [defaultLabel]="'LBLCHOOSE' | translate">
                </p-multiSelect>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf="subAreaOptionValue == 1">
              <div class="ui-g-12 ui-md-12 pl-0 multiSelectDropDwon multiSelectLabel">
                <div class="filterLable">
                  <label>{{ "LBLSUBAREANAME" | translate }}</label>
                </div>
                <p-multiSelect [options]="subAreaListing" formControlName="subareaIds" class="required">
                </p-multiSelect>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 pl-0 submitButton">
              <div class="ui-g-12 ui-md-3 ui-lg-1">
                <button pButton type="submit" [disabled]="AddAreas.pristine" label="{{ 'LBLSAVE' | translate }}"
                  title="{{ 'LBLSAVE' | translate }}"></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-1">
                <button pButton type="button" (click)="areaReset()" [disabled]="AddAreas.pristine" class="reset-btn"
                  label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"></button>
              </div>
              <div class="ui-g-12 ui-md-4 ui-lg-2 secondary-btn-ui">
                <button pButton type="button" [disabled]="AddAreas.pristine" label="{{ 'LBLSAVEADDNEW' | translate }}"
                  title="{{ 'LBLSAVEADDNEW' | translate }}" (click)="onSubmit('save_and_add_new')"
                  style="margin-bottom:10px"></button>
              </div>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<div class="clearfix"></div>