<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '400px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-playlist-add-check"
      >
        <div *ngIf="isLoaded" style="text-align: center">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <form
          [formGroup]="addScheduleGeneral"
          (ngSubmit)="onSubmit(addScheduleGeneral.value)"
          ngxScrollToFirstInvalid
          *ngIf="!isLoaded"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding observation_input"
              >
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="scheduleName"
                  />
                  <label class="inputLabel required">{{
                    "LBLSCHEDULENAME" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.scheduleName.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTSCHEDULENAME' | translate }}"
                    *ngIf="
                      GeneralSubForm.scheduleName.errors.required ||
                      addScheduleGeneral
                        .get('scheduleName')
                        .hasError('whitespace') ||
                      GeneralSubForm.scheduleName.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="exportFileTypeList.length > 0"
              >
                <ng-select
                  placeholder="{{ 'LBLEXPORTFILETYPE' | translate }}"
                  [searchable]="false"
                  [items]="exportFileTypeList"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="exportType"
                >
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="exportFormatList.length > 0"
              >
                <ng-select
                  placeholder="{{ 'LBLEXPORTFORMAT' | translate }}"
                  [searchable]="false"
                  [items]="exportFormatList"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="exportFormat"
                >
                </ng-select>
              </div>
            </div>
            <div class="heading-left ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-2">
                <label class="text-center">{{
                  "LBLREPORTDETAILS" | translate
                }}</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="reportName.length > 0"
              >
                <ng-select
                  placeholder="{{ 'LBLREPORTNAME' | translate }}"
                  [searchable]="false"
                  [items]="reportName"
                  bindLabel="REPORTNAME"
                  [clearable]="false"
                  bindValue="REPORTID"
                  (change)="getFilters($event.REPORTID)"
                  formControlName="reportId"
                  class="required"
                >
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.reportId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTSCHEDULEREPORTFILTER' | translate }}"
                    *ngIf="
                      GeneralSubForm.reportId.errors.required ||
                      GeneralSubForm.reportId.errors?.min
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="reportName.length > 0 && reportView == true"
              >
                <ng-select
                  placeholder="{{ 'LBLRPTNAME' | translate }}"
                  [searchable]="false"
                  [items]="reportViewDataList"
                  bindLabel="RPTNAME"
                  [clearable]="false"
                  bindValue="DESIGNID"
                  formControlName="designId"
                  class="required"
                >
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="reportName.length > 0 && reportSaved == true"
              >
                <ng-select
                  placeholder="{{ 'LBLSAVEDFILTERS' | translate }}"
                  [searchable]="false"
                  [items]="savedDataList"
                  bindLabel="FILTERNAME"
                  [clearable]="false"
                  bindValue="FILTERID"
                  (change)="getSavedFilters($event.FILTERID)"
                  formControlName="savedFilter"
                >
                </ng-select>
              </div>
            </div>
            <ng-container *ngIf="showSearchBox == true">
              <div class="heading-left-panel ui-g-12 ui-md-3">
                <div class="ui-g-12 ui-md-12">
                  <label class="">{{ "LBLFILTERCRITERIA" | translate }}</label>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-9 text-right"
                style="padding-bottom: 0px"
              >
                <button
                  type="button"
                  icon="ui-icon-filter-list"
                  title="{{ 'LBLFILTERS' | translate }}"
                  class="ml"
                  pButton
                  (click)="toggle()"
                  id="btToggle"
                ></button>
              </div>
              <!-- Filter Toggle -->
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-12">
                <div *ngIf="showSearch">
                  <div
                    class="card card-w-title right-top-arrow"
                    style="padding-bottom: 0px"
                  >
                    <div id="svgtoggle">
                      <svg height="15" width="200">
                        <polyline
                          points="1220,1110 140,3,100,50"
                          class="svgstroke"
                        />
                      </svg>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ui-g-12 ui-md-12 pl-0">
                      <label class="text-left labelfilter">{{
                        "LBLSITESFILTERS" | translate
                      }}</label>
                    </div>
                    <div class="clearfix"></div>
                    <ng-container
                      *ngFor="let filter of filterList; let i = index"
                    >
                      <div
                        class="ui-g-12 ui-md-4 ui-lg-4 filter-padding filter-padding"
                      >
                        <div class="filterLable">
                          <label>{{ filter.Name | translate }}</label>
                        </div>
                        <p-multiSelect
                          [defaultLabel]="'LBLCHOOSE' | translate"
                          (onChange)="getOtherData(filter.REPORTPARAM)"
                          id="{{ filter.REPORTPARAM }}"
                          [options]="filter.Data"
                          class="required"
                          formControlName="{{ filter.REPORTPARAM }}"
                        >
                        </p-multiSelect>
                      </div>
                      <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
                    </ng-container>
                    <div
                      class="ui-g-12 ui-md-12 pl-0"
                      *ngIf="filterGroups.length > 0"
                    >
                      <label class="text-left labelfilter">{{
                        "LBLGROUPS" | translate
                      }}</label>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <ng-container
                      *ngFor="let filter of filterGroups; let i = index"
                    >
                      <div class="ui-g-12 ui-md-4">
                        <div class="filterLable">
                          <label>{{ filter.Name | translate }}</label>
                        </div>
                        <p-multiSelect
                          [defaultLabel]="'LBLCHOOSE' | translate"
                          (onChange)="getOtherData(filter.REPORTPARAM)"
                          id="{{ filter.REPORTPARAM }}"
                          [options]="filter.Data"
                          class="required"
                          formControlName="{{ filter.REPORTPARAM }}"
                        >
                        </p-multiSelect>
                      </div>
                      <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
                    </ng-container>
                    <div
                      class="ui-g-12 ui-md-12 pl-0"
                      *ngIf="filterCategory.length > 0"
                    >
                      <label class="text-left labelfilter">{{
                        "LBLCATEGORIES" | translate
                      }}</label>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <ng-container
                      *ngFor="let filter of filterCategory; let i = index"
                    >
                      <div class="ui-g-12 ui-md-4">
                        <div class="filterLable">
                          <label>{{ filter.Name | translate }}</label>
                        </div>
                        <p-multiSelect
                          [defaultLabel]="'LBLCHOOSE' | translate"
                          (onChange)="getOtherData(filter.REPORTPARAM)"
                          id="{{ filter.REPORTPARAM }}"
                          [options]="filter.Data"
                          class="required"
                          formControlName="{{ filter.REPORTPARAM }}"
                        >
                        </p-multiSelect>
                      </div>
                      <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
                    </ng-container>
                    <div
                      class="ui-g-12 ui-md-12 pl-0"
                      *ngIf="filterGroupList.length > 0"
                    >
                      <label class="text-left labelfilter">{{
                        "LBLGROUPBY" | translate
                      }}</label>
                    </div>
                    <div class="clearfix"></div>
                    <ng-container
                      *ngFor="let filter of filterGroupList; let i = index"
                    >
                      <div class="ui-g-12 ui-md-4">
                        <ng-select
                          placeholder="{{ filter.Name | translate }}"
                          [searchable]="false"
                          [items]="filter.Data"
                          bindLabel="label"
                          [clearable]="false"
                          bindValue="value"
                          (change)="getOtherData(filter.REPORTPARAM)"
                          formControlName="{{ filter.REPORTPARAM }}"
                        >
                        </ng-select>
                        <div
                          *ngIf="
                            submitted &&
                            GeneralSubForm.CHKSUMGROUP1.errors &&
                            submitted &&
                            GeneralSubForm.CHKSUMGROUP2.errors &&
                            submitted &&
                            GeneralSubForm.CHKSUMGROUP3.errors
                          "
                          class="invalid-feedback"
                        >
                          <p-message
                            severity="error"
                            text="{{
                              'ALTCHECKLISTCOUNTGROUPBYALTSCH' | translate
                            }}"
                            *ngIf="
                              GeneralSubForm.CHKSUMGROUP1.errors.required &&
                              GeneralSubForm.CHKSUMGROUP2.errors.required &&
                              GeneralSubForm.CHKSUMGROUP3.errors.required
                            "
                          >
                          </p-message>
                        </div>
                      </div>
                      <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
                    </ng-container>
                    <div
                      class="ui-g-12 ui-md-12 pl-0"
                      *ngIf="filterChart.length > 0"
                    >
                      <label class="text-left labelfilter">{{
                        "LBLCHARTTYPE" | translate
                      }}</label>
                    </div>
                    <div class="clearfix"></div>
                    <ng-container
                      *ngFor="let filter of filterChart; let i = index"
                    >
                      <div class="ui-g-12 ui-md-4">
                        <ng-select
                          placeholder="{{ filter.Name | translate }}"
                          [searchable]="false"
                          [items]="filter.Data"
                          bindLabel="label"
                          [clearable]="false"
                          bindValue="value"
                          (change)="getOtherData(filter.REPORTPARAM)"
                          formControlName="{{ filter.REPORTPARAM }}"
                        >
                        </ng-select>
                        <div
                          *ngIf="submitted && GeneralSubForm.CHARTTYPE.errors"
                          class="invalid-feedback"
                        >
                          <p-message
                            severity="error"
                            text="{{ 'ALTCHARTTYPEMANDATORYSCH' | translate }}"
                            *ngIf="GeneralSubForm.CHARTTYPE.errors.required"
                          >
                          </p-message>
                        </div>
                      </div>
                      <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
                    </ng-container>
                    <div class="clearfix"></div>
                    <div
                      class="ui-g-12 ui-md-12 pl-0"
                      *ngIf="showOpSearchBox == true"
                      style="margin: 7px auto 0px auto"
                    >
                      <div class="ui-g-12 ui-md-3">
                        <button
                          type="button"
                          [icon]="iconType"
                          (click)="advance_search()"
                          label="{{ 'LBLADVANCEFILTER' | translate }}"
                          title="{{ 'LBLADVANCEFILTER' | translate }}"
                          class="advance-search"
                          pButton
                        ></button>
                      </div>
                    </div>
                    <!-- Advance Search -->
                    <div *ngIf="showAdvanceSearch && showOpSearchBox == true">
                      <div class="advance-search-block">
                        <div
                          class="ui-g-12 ui-md-12"
                          style="margin: 0px 0px 15px 0px"
                        >
                          <ng-container
                            *ngFor="let filter of filterOptional; let i = index"
                          >
                            <div class="ui-g-12 ui-md-4 ui-lg-4 filter-padding">
                              <div class="filterLable">
                                <label>{{ filter.Name | translate }}</label>
                              </div>
                              <p-multiSelect
                                [defaultLabel]="'LBLCHOOSE' | translate"
                                id="{{ filter.REPORTPARAM }}"
                                [options]="filter.Data"
                                class="required"
                                formControlName="{{ filter.REPORTPARAM }}"
                              >
                              </p-multiSelect>
                            </div>
                            <div
                              class="clearfix"
                              *ngIf="(i + 1) % 3 == 0"
                            ></div>
                          </ng-container>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                      <button
                        pButton
                        type="button"
                        label="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
                        title="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
                        class="filterBtn"
                        (click)="clearFilter()"
                      ></button>
                    </div>
                    <!-- Advance Search -->
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <!-- Filter Toggle -->
              <div class="ui-g-12 ui-md-12" *ngIf="reportDate == true">
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding multiSelectDropDwon"
                  *ngIf="relativeDateList.length > 0"
                >
                  <ng-select
                    placeholder="{{ 'LBLRELATIVEDATE' | translate }}"
                    [searchable]="false"
                    [items]="relativeDateList"
                    bindLabel="label"
                    [clearable]="false"
                    bindValue="value"
                    formControlName="relativeFor"
                    class="required"
                  >
                  </ng-select>
                  <div
                    *ngIf="submitted && GeneralSubForm.relativeFor.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTRELATIVEDATEFOR' | translate }}"
                      *ngIf="
                        GeneralSubForm.relativeFor.errors.required ||
                        GeneralSubForm.relativeFor.errors?.min
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding multiSelectDropDwon"
                  *ngIf="chooseDateList.length > 0"
                >
                  <ng-select
                    placeholder="{{ 'LBLCHOOSEDATE' | translate }}"
                    [searchable]="false"
                    [items]="chooseDateList"
                    bindLabel="label"
                    [clearable]="false"
                    bindValue="value"
                    formControlName="relativeOption"
                    (change)="showRelativeOption($event.value)"
                    class="required"
                  >
                  </ng-select>
                  <div
                    *ngIf="submitted && GeneralSubForm.relativeOption.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTRELATIVEOPTION' | translate }}"
                      *ngIf="
                        GeneralSubForm.relativeOption.errors.required ||
                        GeneralSubForm.relativeOption.errors?.min
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <ng-container *ngIf="reportValue == 1">
                  <div
                    class="ui-g-12 ui-md-4 ui-lg-3 filter-padding multiSelectDropDwon"
                    *ngIf="relativeOptionList.length > 0"
                  >
                    <ng-select
                      [searchable]="false"
                      [items]="relativeOptionList"
                      bindLabel="label"
                      [clearable]="false"
                      bindValue="value"
                      formControlName="relativeOptionType"
                    >
                    </ng-select>
                    <div
                      *ngIf="
                        submitted && GeneralSubForm.relativeOptionType.errors
                      "
                      class="invalid-feedback"
                    >
                      <p-message
                        severity="error"
                        text="{{ 'ALTRELATIVEOPTIONTYPE' | translate }}"
                        *ngIf="
                          GeneralSubForm.relativeOptionType.errors.required ||
                          GeneralSubForm.relativeOptionType.errors?.min
                        "
                      >
                      </p-message>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="reportValue == 2">
                  <div class="ui-g-12 ui-md-1 observation_input">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input
                        type="text"
                        pInputText
                        class="ui-md-12"
                        formControlName="previousValue"
                      />
                      <label class="inputLabel">{{
                        "LBLVALUE" | translate
                      }}</label>
                    </span>
                    <div
                      *ngIf="submitted && GeneralSubForm.previousValue.errors"
                      class="invalid-feedback"
                    >
                      <p-message
                        severity="error"
                        text="{{ previousValError }}"
                        *ngIf="GeneralSubForm.previousValue.errors?.max"
                      >
                      </p-message>
                      <p-message
                        severity="error"
                        text="{{ 'ALTPREVIOUSVALUE' | translate }}"
                        *ngIf="
                          GeneralSubForm.previousValue.errors?.maxlength ||
                          GeneralSubForm.previousValue.errors?.pattern
                        "
                      >
                      </p-message>
                    </div>
                  </div>
                  <div
                    class="ui-g-12 ui-md-2 multiSelectDropDwon"
                    *ngIf="relativeOptionsList.length > 0"
                  >
                    <ng-select
                      [searchable]="false"
                      [items]="relativeOptionsList"
                      bindLabel="label"
                      [clearable]="false"
                      bindValue="value"
                      (change)="relativeOptionTypeChange()"
                      formControlName="relativeOptionType"
                    >
                    </ng-select>
                    <div
                      *ngIf="
                        submitted && GeneralSubForm.relativeOptionType.errors
                      "
                      class="invalid-feedback"
                    >
                      <p-message
                        severity="error"
                        text="{{ 'ALTRELATIVEOPTIONTYPE' | translate }}"
                        *ngIf="
                          GeneralSubForm.relativeOptionType.errors.required ||
                          GeneralSubForm.relativeOptionType.errors?.min
                        "
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-1 observation_input">
                    <p-checkbox
                      binary="true"
                      name="tillDates"
                      label="{{ 'LBLTILLDATE' | translate }}"
                      formControlName="tillDate"
                      [disabled]="true"
                    >
                    </p-checkbox>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <!--Email Details-->
            <div class="heading-left ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-2">
                <label class="text-center">{{
                  "LBLMAILDETAILS" | translate
                }}</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
              >
                <div class="filterLable">
                  <label class="required">{{ "LBLMAILTO" | translate }}</label>
                </div>
                <p-multiSelect
                  [defaultLabel]="'LBLCHOOSE' | translate"
                  id="emailTo"
                  [options]="toUserList"
                  class="required"
                  formControlName="emailTo"
                >
                </p-multiSelect>
                <div
                  *ngIf="submitted && GeneralSubForm.emailTo.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTSCHEDULMAILTO' | translate }}"
                    *ngIf="GeneralSubForm.emailTo.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding observation_input"
              >
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="schedulecc"
                  />
                  <label class="inputLabel">{{
                    "LBLMAILCC" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.schedulecc.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTMAILCC' | translate }}"
                    *ngIf="
                      GeneralSubForm.schedulecc.errors &&
                      !addScheduleGeneral.get('schedulecc').hasError('ccEmail')
                    "
                  >
                  </p-message>
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTMULTIMAILCC' | translate }}"
                    *ngIf="
                      addScheduleGeneral.get('schedulecc').hasError('ccEmail')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding observation_input"
              >
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="scheduleSubject"
                  />
                  <label class="inputLabel required">{{
                    "LBLMAILSUBJECT" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.scheduleSubject.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTMAILSUB' | translate }}"
                    *ngIf="
                      GeneralSubForm.scheduleSubject.errors.required ||
                      addScheduleGeneral
                        .get('scheduleSubject')
                        .hasError('whitespace') ||
                      GeneralSubForm.scheduleSubject.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 observation_input">
                <label
                  class="dateLabel required"
                  style="margin-bottom: 10px !important; display: block"
                  ><b>{{ "LBLMAILBODY" | translate }}</b></label
                >
                <textarea
                  id="tinymceEditorEditSchedule"
                  formControlName="scheduleBody"
                ></textarea>
                <div
                  *ngIf="submitted && GeneralSubForm.scheduleBody.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTMAILBODY' | translate }}"
                    *ngIf="GeneralSubForm.scheduleBody.errors.required"
                  >
                  </p-message>
                </div>
              </div>
            </div>
            <div class="heading-left ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-2">
                <label class="text-center">{{
                  "LBLMAILSHEDULE" | translate
                }}</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="sendEmailOptionList.length > 0"
              >
                <ng-select
                  placeholder="{{ 'LBLMAILSENT' | translate }}"
                  [searchable]="false"
                  [items]="sendEmailOptionList"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="dwm"
                  (change)="sendEmailType($event.value)"
                >
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                *ngIf="everyDwm.length > 0 && emailValue == 1"
              >
                <ng-select
                  placeholder="{{ 'LBLEVERYMONTH' | translate }}"
                  [searchable]="false"
                  [items]="everyDwm"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="everyDwm"
                >
                </ng-select>
              </div>
              <div class="ui-lg-4 ui-g-12" *ngIf="emailValue == 3">
                <label class="ui-g-12 radioLabel pl-0 required">
                  {{ "LBLTHE" | translate }}
                </label>
                <div
                  class="ui-g-12 ui-md-4 padding-none"
                  *ngFor="let theDay of theDayList; let i = index"
                >
                  <p-radioButton
                    name="theDay"
                    value="{{ theDay.value }}"
                    label="{{ theDay.label }}"
                    inputId="theDay{{ theDay.value }}"
                    formControlName="monthlyDwm"
                  ></p-radioButton>
                </div>
                <div
                  *ngIf="submitted && GeneralSubForm.monthlyDwm.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTSELWEEKDAY' | translate }}"
                    *ngIf="GeneralSubForm.monthlyDwm.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-12 mb-10"
                [class.ui-lg-4]="emailValue == 3"
                [class.ui-lg-8]="emailValue == 2"
                *ngIf="emailValue == 3 || emailValue == 2"
              >
                <label class="ui-g-12 radioLabel pl-0 required">
                  {{ "LBLDAYWEEK" | translate }}
                </label>
                <div
                  class="ui-g-12 ui-md-4 padding-none"
                  *ngFor="let weekDay of weekDayList; let i = index"
                >
                  <p-radioButton
                    name="weekDay"
                    value="{{ weekDay.value }}"
                    label="{{ weekDay.label }}"
                    inputId="weekDay{{ weekDay.value }}"
                    formControlName="scheduleDay"
                  ></p-radioButton>
                </div>
                <div
                  *ngIf="submitted && GeneralSubForm.scheduleDay.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTSELDAY' | translate }}"
                    *ngIf="GeneralSubForm.scheduleDay.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-12">
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding uidatepicker"
                >
                  <label class="dateLabel required">{{
                    "LBLFROMDATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    [showButtonBar]="true"
                    dateFormat="{{ dateFormat }}"
                    formControlName="startDate"
                    [locale]="locale"
                  >
                  </p-calendar>
                  <div
                    *ngIf="submitted && GeneralSubForm.startDate.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTMAILSTARTDATE' | translate }}"
                      *ngIf="GeneralSubForm.startDate.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding uidatepicker"
                >
                  <label class="dateLabel required">{{
                    "LBLENDDATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    [showButtonBar]="true"
                    dateFormat="{{ dateFormat }}"
                    formControlName="endDate"
                  >
                  </p-calendar>
                  <div
                    *ngIf="submitted && GeneralSubForm.endDate.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTMAILENDDATE' | translate }}"
                      *ngIf="GeneralSubForm.endDate.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding timeZone multiSelectDropDwonForEdit"
                  *ngIf="timeZoneList.length > 0"
                >
                  <ng-select
                    placeholder="{{ 'LBLTIMEZNONE' | translate }}"
                    [searchable]="false"
                    [items]="timeZoneList"
                    bindLabel="TIMEZONENAME"
                    [clearable]="false"
                    bindValue="TIMEZONEID"
                    formControlName="timeZoneId"
                  >
                  </ng-select>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="ui-g-12 ui-md-12">
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding multiSelectDropDwon mb-10"
                >
                  <ng-select
                    placeholder="{{ 'LBLSTARTTIME' | translate }}"
                    [searchable]="false"
                    [items]="timeList"
                    bindLabel="label"
                    [clearable]="false"
                    bindValue="value"
                    formControlName="startTime"
                  >
                  </ng-select>
                </div>
                <div
                  class="ui-g-12 ui-md-4 ui-lg-3 filter-padding multiSelectDropDwon mb-10"
                  *ngIf="Status.length > 0"
                >
                  <ng-select
                    placeholder="{{ 'LBLSTATUS' | translate }}"
                    [searchable]="false"
                    [items]="Status"
                    bindLabel="label"
                    [clearable]="false"
                    bindValue="value"
                    formControlName="status"
                  >
                  </ng-select>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="ui-g-12 ui-md-12 pl-0">
                <div class="ui-g-12 ui-md-8 submitButton">
                  <div class="ui-g-12 ui-md-3 ui-lg-2 pl-0">
                    <button
                      pButton
                      type="submit"
                      label="{{ 'LBLSAVE' | translate }}"
                      title="{{ 'LBLSAVE' | translate }}"
                      [disabled]="
                        addScheduleGeneral.pristine || onSubmitTouched
                      "
                    ></button>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-lg-2 pl-0">
                    <button
                      pButton
                      type="button"
                      label="{{ 'LBLRESET' | translate }}"
                      title="{{ 'LBLRESET' | translate }}"
                      [disabled]="
                        addScheduleGeneral.pristine || onSubmitTouched
                      "
                      (click)="resetScheduleForm()"
                    ></button>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
