<div class="ui-g-12 ui-md-12">
  <div class="ui-g-12 ui-md-8"></div>
  <div class="ui-g-12 ui-md-1">
    <button
      pButton
      type="button"
      class="create_new_observed"
      label="{{ 'LBLPRINTCHECKLIST' | translate }}"
      title="{{ 'LBLPRINTCHECKLIST' | translate }}"
      (click)="selectedExport = 2; exportData()"
      *ngIf="tableData.length != 0"
    ></button>
  </div>
  <div class="ui-g-12 ui-md-3" style="margin-top: 15px">
    <span class="md-inputfield">
      <p-dropdown
        class="drop-down"
        [options]="exportList"
        placeholder="{{ 'LBLEXPORTTO' | translate }}"
        [(ngModel)]="selectedExport"
        (ngModelChange)="exportData()"
        *ngIf="tableData.length != 0"
      >
      </p-dropdown>
      <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div *ngIf="!isLoaded" style="text-align: center">
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container *ngIf="isLoaded && !errormsg">
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    selectionMode="single"
    dataKey="vin"
    [paginator]="true"
    [rows]="30"
    [scrollable]="true"
    [style]="{ width: '100%' }"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width: 300px"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width: 200px" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns; let i = index"
          [class.align-center]="i == 1"
        >
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-rowIndex="rowIndex"
      let-columns="columns"
    >
      <tr>
        <td
          *ngFor="let col of columns; let i = index"
          [class.align-center]="i == 1"
        >
          {{ rowData[col.field] }}
        </td>
      </tr>
      <tr *ngIf="rowIndex == tableData.length - 1">
        <td class="submoduleTable1" style="font-weight: bold">
          {{ "LBLGRANDTOTAL" | translate }}
        </td>
        <td class="submoduleTable1 align-center" style="font-weight: bold">
          {{ grandTotal }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && errormsg">
  <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
</ng-container>
