::ng-deep .ui-table table span {
  cursor: auto !important;
}

::ng-deep .align-center {
  text-align: center !important;
}

::ng-deep .noRecordFound {
  text-align: center;
  padding: 15% 0%;
  color: #f44336;
}

::ng-deep body .ui-table .ui-table-tbody>tr>td {
  word-break: break-all !important;
}