<div class="ui-g-12">
  <div class="ui-g-12 ui-md-8"></div>
  <div class="ui-g-12 ui-md-1">
    <button
      pButton
      type="button"
      class="create_new_observed"
      label="{{ 'LBLPRINTCHECKLIST' | translate }}"
      title="{{ 'LBLPRINTCHECKLIST' | translate }}"
      (click)="selectedExport = 2; exportData()"
      *ngIf="tableData.length != 0"
    ></button>
  </div>
  <div class="ui-g-12 ui-md-3" style="margin-top: 15px;">
    <span class="md-inputfield">
      <p-dropdown
        class="drop-down"
        [options]="exportList"
        placeholder="{{ 'LBLEXPORTTO' | translate }}"
        [(ngModel)]="selectedExport"
        (ngModelChange)="exportData()"
        *ngIf="tableData.length != 0"
      >
      </p-dropdown>
      <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div *ngIf="!isLoaded" style="text-align: center;">
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container *ngIf="isLoaded && !errormsg">
  <div class="">
    <fusioncharts
      (initialized)="initialized($event)"
      width="100%"
      height="400"
      type="pareto2d"
      [dataSource]="dataSource"
      (dataplotClick)="openSubReport($event, 'chart', '')"
    >
    </fusioncharts>
  </div>
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    selectionMode="single"
    [paginator]="true"
    [rows]="30"
    [scrollable]="true"
    [style]="{ width: '100%' }"
    class="hyperlinkTable"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left;">
        <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width: 300px;"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width: 200px;" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.field == 'SUBCATEGORYNAME'">
            <a
              style="cursor: pointer;"
              (click)="
                openSubReport(
                  rowData['SUBCATEGORYID'],
                  '',
                  rowData['SUBCATEGORYNAME']
                )
              "
            >
              {{ rowData[col.field] }}
            </a>
          </ng-container>
          <ng-container *ngIf="col.field != 'SUBCATEGORYNAME'">
            {{ rowData[col.field] }}
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<p-dialog
  header="Sub Reports - {{ headName }}"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="viewSubReport"
  [rtl]="true"
  [style]="{ width: '95%', height: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12" id="clickId">
      <div class="ui-g-12 ui-md-8"></div>
      <div class="ui-g-12 ui-md-1">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; subReportExport()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-3" style="margin-top: 15px;">
        <span class="md-inputfield">
          <p-dropdown
            class="drop-down"
            [options]="exportList"
            placeholder="{{ 'LBLEXPORTTO' | translate }}"
            [(ngModel)]="selectedExport"
            (ngModelChange)="subReportExport()"
          >
          </p-dropdown>
          <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
        </span>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="!isSubLoaded" style="text-align: center;">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <ng-container *ngIf="isSubLoaded && !subErrorMsg">
      <p-table
        #subSearchData
        [value]="subTableData"
        dataKey="SITENAME"
        sortMode="single"
        [paginator]="true"
        [scrollable]="true"
        [rows]="30"
        (onSort)="onSort()"
        [globalFilterFields]="[
          'OBSERVERNAME',
          'AREANAME',
          'SUBAREANAME',
          'SHIFTNAME',
          'OBSERVATIONDATE',
          'UNSAFECOMMENTS',
          'UNSAFECNT'
        ]"
      >
        <ng-template pTemplate="caption">
          <div style="text-align: left;">
            <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
            <input
              type="text"
              pInputText
              size="50"
              placeholder="{{ 'FMKSEARCH' | translate }}"
              (input)="
                subSearchData.filterGlobal($event.target.value, 'contains')
              "
              style="width: 300px;"
            />
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          [
          {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
          -
          {{
            state.rows * (state.page + 1) >= state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          / {{ state.totalRecords }} ]
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>{{ "LBLOBSDATE" | translate }}</th>
            <th>{{ "LBLOBSERVERNAME" | translate }}</th>
            <th>{{ "LBLAREANAME" | translate }}</th>
            <th *ngIf="subAreaOption == 1">
              {{ "LBLSUBAREAFULLNAME" | translate }}
            </th>
            <th>{{ "LBLSHIFTNAME" | translate }}</th>
            <th *ngFor="let field of fieldCols">{{ field }}</th>
            <th class="align-center">{{ "LBLUNSAFECOUNT" | translate }}</th>
            <th>{{ "LBLUNSAFECOMMENTS" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr
            class="ui-widget-header"
            *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
          >
            <td class="headerTD1" [attr.colspan]="colCount / 3 - colleps">
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  [ngClass]="
                    expanded
                      ? 'fa fa-fw fa-chevron-circle-down'
                      : 'fa fa-fw fa-chevron-circle-right'
                  "
                ></span>
                <span
                  >{{ "LBLSITENAME" | translate }}<br /><span
                    style="color: #757575; line-height: 2;"
                    >{{ rowData.SITENAME }}</span
                  ></span
                >
              </a>
            </td>
            <td class="headerTD1" [attr.colspan]="colCount / 3">
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  [ngClass]="
                    expanded
                      ? 'fa fa-fw fa-chevron-circle-down'
                      : 'fa fa-fw fa-chevron-circle-right'
                  "
                ></span>
                <span
                  >{{ "LBLMAINCATEGORY" | translate }}<br /><span
                    style="color: #757575; line-height: 2;"
                    >{{ rowData.MAINCATEGORYNAME }}</span
                  ></span
                >
              </a>
            </td>
            <td
              class="headerTD1"
              [attr.colspan]="colCount / 3 + extraColCount - colleps"
            >
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  [ngClass]="
                    expanded
                      ? 'fa fa-fw fa-chevron-circle-down'
                      : 'fa fa-fw fa-chevron-circle-right'
                  "
                ></span>
                <span
                  >{{ "LBLSUBCATNAME" | translate }}<br /><span
                    style="color: #757575; line-height: 2;"
                    >{{ rowData.SUBCATEGORYNAME }}</span
                  ></span
                >
              </a>
            </td>
          </tr>
          <tr *ngIf="rowData">
            <td class="submoduleTable1">
              {{ rowData.OBSERVATIONDATE }}
            </td>
            <td class="submoduleTable1">{{ rowData.OBSERVERNAME }}</td>
            <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
            <td class="submoduleTable1" *ngIf="subAreaOption == 1">
              {{ rowData.SUBAREANAME }}
            </td>
            <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
            <td class="submoduleTable1" *ngFor="let field of fieldCols">
              {{ rowData[field] }}
            </td>
            <td class="submoduleTable1 align-center">
              {{ rowData.UNSAFECNT }}
            </td>
            <td class="submoduleTable1">{{ rowData.UNSAFECOMMENTS }}</td>
          </tr>
          <tr
            *ngIf="rowGroupMetadata[rowData.SITENAME].tempSize - 1 === rowIndex"
          >
            <td class="submoduleTable1" style="font-weight: bold;">
              {{ "LBLTOTAL" | translate }}
            </td>
            <td
              class="submoduleTable1"
              style="
                font-weight: bold;
                text-align: right;
                padding-right: 130px;
              "
              [attr.colspan]="6 + fieldCols.length"
              *ngIf="subAreaOption == 1"
            >
              {{ rowGroupMetadata[rowData.SITENAME].total }}
            </td>
            <td
              class="submoduleTable1"
              style="
                font-weight: bold;
                text-align: right;
                padding-right: 130px;
              "
              [attr.colspan]="5 + fieldCols.length"
              *ngIf="subAreaOption != 1"
            >
              {{ rowGroupMetadata[rowData.SITENAME].total }}
            </td>
          </tr>
          <tr *ngIf="subTableData.length - 1 === rowIndex">
            <td class="headerTD1" style="font-weight: bold;">
              {{ "LBLGRANDTOTAL" | translate }}
            </td>
            <td
              class="headerTD1"
              style="
                font-weight: bold;
                text-align: right;
                padding-right: 130px;
              "
              [attr.colspan]="6 + fieldCols.length"
              *ngIf="subAreaOption == 1"
            >
              {{ grandTotal }}
            </td>
            <td
              class="headerTD1"
              style="
                font-weight: bold;
                text-align: right;
                padding-right: 130px;
              "
              [attr.colspan]="5 + fieldCols.length"
              *ngIf="subAreaOption != 1"
            >
              {{ grandTotal }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>

    <ng-container *ngIf="isSubLoaded && subErrorMsg">
      <h2 class="noRecordFound">{{ subErrorMsg | translate }}</h2>
    </ng-container>
  </div>
</p-dialog>

<ng-container *ngIf="isLoaded && errormsg">
  <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
</ng-container>
