<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView (onChange)="handleChange($event)">
      <p-tabPanel
        header="{{ 'LBLCAPA' | translate }}"
        leftIcon="ui-icon-playlist-add-check"
      >
        <div style="text-align: center" *ngIf="correctiveLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!correctiveLoading">
          <form
            [formGroup]="AddCorrectiveActionsForm"
            (ngSubmit)="updateCorrectiveAction()"
          >
            <div
              class="ui-g-12 ui-md-12 select_observer mb-10 multiSelectDropDwon"
            >
              <div class="filterLable">
                <label class="required">{{
                  "LBLCATEGORIESCORRACTASSIGNMENT" | translate
                }}</label>
              </div>
              <p-multiSelect
                [defaultLabel]="'LBLCHOOSE' | translate"
                [options]="caCategories"
                formControlName="assignCategory"
                class="required"
              >
              </p-multiSelect>
              <div
                *ngIf="
                  correctiveFormSubmitted && CorrectiveSub.assignCategory.errors
                "
                class="invalid-feedback"
              >
                <p-message
                  class="errorMsg"
                  severity="error"
                  text="{{ 'ALTASGNCATEGORY' | translate }}"
                  *ngIf="CorrectiveSub.assignCategory.errors.required"
                >
                </p-message>
              </div>
              <p
                class="note_msg"
                *ngIf="caData && caData['CHECKLISTSETUPID'] != null"
              >
                <!-- <span> Note: </span> -->
                {{ "LBLCAPATYPE" | translate }}.
              </p>
            </div>
            <div class="ui-g-12 ui-md-12 padding-zero">
              <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
                <span class="md-inputfield ui-md-12 padding-none">
                  <span class="ui-float-label">
                    <textarea
                      id="float-input"
                      rows="5"
                      cols="30"
                      pInputTextarea
                      formControlName="actionPlanned"
                      maxlength="1024"
                    ></textarea>
                    <label class="required" for="float-input">{{
                      "LBLCORRECTIVEACTIONPLANNED" | translate
                    }}</label>
                  </span>
                  <div
                    *ngIf="
                      correctiveFormSubmitted &&
                      CorrectiveSub.actionPlanned.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTCORRACTCHARPLANNED' | translate }}"
                      *ngIf="
                        CorrectiveSub.actionPlanned.errors.required ||
                        AddCorrectiveActionsForm.get('actionPlanned').hasError(
                          'whitespace'
                        )
                      "
                    >
                    </p-message>
                  </div>
                </span>
              </div>
              <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
                <span class="md-inputfield ui-md-12 padding-none">
                  <span class="ui-float-label">
                    <textarea
                      id="float-input"
                      rows="5"
                      cols="30"
                      maxlength="1000"
                      pInputTextarea
                      formControlName="actionPerformed"
                    ></textarea>
                    <label for="float-input">{{
                      "LBLCORRECTIVEACTIONPERFORMED" | translate
                    }}</label>
                  </span>
                  <div
                    *ngIf="
                      correctiveFormSubmitted &&
                      CorrectiveSub.actionPerformed.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTCORRACTCHARPERFORMED' | translate }}"
                      *ngIf="
                        AddCorrectiveActionsForm.get(
                          'actionPerformed'
                        ).hasError('required') ||
                        AddCorrectiveActionsForm.get(
                          'actionPerformed'
                        ).hasError('whitespace')
                      "
                    >
                    </p-message>
                  </div>
                </span>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-6 pl-0" style="padding-right: 30px">
                <div
                  class="ui-g-12 ui-md-12 multiSelectDropDwon tooltipMain mb-10"
                >
                  <ng-select
                    placeholder="{{ 'LBLACTOWNER' | translate }}"
                    formControlName="owner"
                    [searchable]="true"
                    [items]="actionOwner"
                    bindLabel="FULLNAME"
                    [clearable]="false"
                    bindValue="USERID"
                    class="required"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.FULLNAME }}">{{ item.FULLNAME }}</div>
                    </ng-template>
                  </ng-select>
                  <img
                    src="assets/layout/images/tooltip.png"
                    class="tooltipInput"
                    pTooltip="{{ 'LBLACTOWNER' | translate }}"
                    tooltipPosition="right"
                  />
                  <div
                    *ngIf="
                      correctiveFormSubmitted && CorrectiveSub.owner.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTACTIONOWNER' | translate }}"
                      *ngIf="
                        CorrectiveSub.owner.errors.required ||
                        CorrectiveSub.owner.hasError('min')
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon mb-10">
                  <ng-select
                    placeholder="{{ 'LBLPRIORITY' | translate }}"
                    [searchable]="true"
                    [items]="priorities"
                    bindLabel="label"
                    [clearable]="false"
                    bindValue="value"
                    formControlName="priority"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">{{ item.label }}</div>
                    </ng-template>
                  </ng-select>
                </div>
                <div
                  class="ui-g-12 ui-md-12 multiSelectDropDwon tooltipMain mb-10"
                >
                  <div class="filterLable">
                    <label class="required">{{
                      "LBLRESPONSIBLEPERSON" | translate
                    }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [options]="resPersons"
                    formControlName="respPerson"
                    class="required"
                  >
                  </p-multiSelect>
                  <div
                    *ngIf="
                      correctiveFormSubmitted && CorrectiveSub.respPerson.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTRESPERSONREQUIRED' | translate }}"
                      *ngIf="CorrectiveSub.respPerson.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 pl-0">
                  <p-checkbox
                    name="groupname"
                    (onChange)="Responsibleperson()"
                    value="otherRespPerson"
                    formControlName="selectedRespPerson"
                    class="ui-g-12 ui-md-12"
                    label="{{ 'LBLRESPONSIBLEPERSONNOTLIST' | translate }}"
                  ></p-checkbox>
                </div>
                <!-- *ngIf="marked" -->
                <div class="ui-g-12 ui-md-12 pl-0" *ngIf="marked">
                  <div class="ui-g-12 ui-md-6 observation_input">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input
                        type="text"
                        pInputText
                        class="ui-md-12"
                        formControlName="otherRespPerson"
                      />
                      <label class="">{{ "LBLOTHERS" | translate }}</label>
                    </span>
                    <div
                      *ngIf="
                        correctiveFormSubmitted &&
                        CorrectiveSub.otherRespPerson.errors
                      "
                      class="invalid-feedback"
                    >
                      <p-message
                        severity="error"
                        text="{{ 'ALTOTHERSPERSON' | translate }}"
                        *ngIf="
                          AddCorrectiveActionsForm.get(
                            'otherRespPerson'
                          ).hasError('required') ||
                          AddCorrectiveActionsForm.get(
                            'otherRespPerson'
                          ).hasError('maxLength') ||
                          AddCorrectiveActionsForm.get(
                            'otherRespPerson'
                          ).hasError('whitespace')
                        "
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6 observation_input">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input
                        type="text"
                        pInputText
                        class="ui-md-12"
                        formControlName="otherEmailId"
                      />
                      <label class="">{{ "LBLEMAILIDS" | translate }}</label>
                    </span>
                    <div
                      *ngIf="
                        correctiveFormSubmitted &&
                        CorrectiveSub.otherEmailId.errors
                      "
                      class="invalid-feedback"
                    >
                      <p-message
                        severity="error"
                        text="{{ 'ALTVALIDEMAILFORCORRACTION' | translate }}"
                        *ngIf="
                          AddCorrectiveActionsForm.get('otherEmailId').hasError(
                            'required'
                          ) ||
                          AddCorrectiveActionsForm.get('otherEmailId').hasError(
                            'whitespace'
                          ) ||
                          AddCorrectiveActionsForm.get('otherEmailId').hasError(
                            'isEmail'
                          ) ||
                          CorrectiveSub.otherEmailId.errors.email ||
                          AddCorrectiveActionsForm.get('otherEmailId').hasError(
                            'maxLength'
                          )
                        "
                      >
                      </p-message>
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon mb-10">
                  <label class="dateLabel required">{{
                    "LBLRESPONSEREQUIREDDATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    dateFormat="{{ dateFormat }}"
                    [showButtonBar]="true"
                    formControlName="responseRequireDate"
                    [locale]="locale"
                  >
                  </p-calendar>
                  <div
                    *ngIf="
                      correctiveFormSubmitted &&
                      CorrectiveSub.responseRequireDate.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTRESPONSEDATEFORMAT' | translate }}"
                      *ngIf="CorrectiveSub.responseRequireDate.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6" style="padding-left: 25px">
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon mb-10">
                  <label class="dateLabel">{{
                    "LBLRESPONDEDDATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    [maxDate]="curDate"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    dateFormat="{{ dateFormat }}"
                    [showButtonBar]="true"
                    formControlName="responseDate"
                    [locale]="locale"
                  >
                  </p-calendar>
                  <div
                    *ngIf="
                      correctiveFormSubmitted &&
                      CorrectiveSub.responseDate.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTRESPONDEDDATEFORMAT' | translate }}"
                      *ngIf="CorrectiveSub.responseDate.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon mb-10">
                  <ng-select
                    placeholder="{{ 'LBLCORRACTIVEACTIONSTATUS' | translate }}"
                    [searchable]="true"
                    [items]="caStatus"
                    bindLabel="label"
                    [clearable]="false"
                    bindValue="value"
                    formControlName="cardStatus"
                    (change)="changeCAStatus($event)"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">{{ item.label }}</div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-12 submitButton mb-10">
                <div class="ui-g-12 ui-md-2 ui-lg-1 pl-0">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSAVE' | translate }}"
                    [disabled]="AddCorrectiveActionsForm.pristine"
                    title="{{ 'LBLSAVE' | translate }}"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-1">
                  <button
                    pButton
                    type="button"
                    (click)="resetCorrectiveForm()"
                    title="{{ 'LBLRESET' | translate }}"
                    [disabled]="AddCorrectiveActionsForm.pristine"
                    class="reset-btn"
                    label="{{ 'LBLRESET' | translate }}"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div style="text-align: center" *ngIf="generalLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!generalLoading">
          <form
            [formGroup]="AddGeneralDataForm"
            (ngSubmit)="updateGeneralFormData()"
          >
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12 lbltext" *ngIf="generalData">
                <div class="ui-g-12 ui-md-3 checklist-heading">
                  <span>{{ "LBLCHECKLISTNO" | translate }}</span> :
                  {{ this.cardId }}
                </div>
                <div class="ui-g-12 ui-md-3 checklist-heading">
                  <span>{{ "LBLBSITES" | translate }}</span> :
                  {{ generalData.SITENAME }}
                </div>
                <div class="ui-g-12 ui-md-3 checklist-heading">
                  <span>{{ "LBLENTEREDDATE" | translate }}</span> :
                  {{ generalData.ENTEREDDATE }}
                </div>
                <div class="ui-g-12 ui-md-3 checklist-heading">
                  <span>{{ "LBLENTEREDBY" | translate }}</span> :
                  {{ generalData.ENTEREDBY }}
                </div>
                <div class="ui-g-12 ui-md-4 uidatepicker select_observer">
                  <label class="required dateLabel">{{
                    "LBLOBSDATE" | translate
                  }}</label>
                  <p-calendar
                    [showIcon]="true"
                    [maxDate]="curDate"
                    placeholder="{{ dateFormatTypeNew | translate }}"
                    dateFormat="{{ dateFormat }}"
                    [showButtonBar]="true"
                    formControlName="obsDate"
                    [locale]="locale"
                  >
                  </p-calendar>
                  <div
                    *ngIf="gerneralFormSubmitted && GeneralForm.obsDate.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTOBSERVATIONDATEFORMAT' | translate }}"
                      *ngIf="GeneralForm.obsDate.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="ui-g-12 ui-md-12" style="padding-top: 0px">
                <div
                  class="ui-g-12 ui-md-12 select_observer mb-10 multiSelectDropDwon"
                >
                  <div class="filterLable">
                    <label class="required">{{
                      "LBLOBSERVER" | translate
                    }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [options]="observers"
                    formControlName="observerId"
                    class="required"
                  >
                  </p-multiSelect>
                  <div
                    *ngIf="
                      gerneralFormSubmitted && GeneralForm.observerId.errors
                    "
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTOBSERVERCOUNT' | translate }}"
                      *ngIf="GeneralForm.observerId.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                  <ng-select
                    placeholder="{{ 'LBLAREA' | translate }}"
                    [searchable]="true"
                    [items]="areas"
                    bindLabel="AREANAME"
                    [clearable]="false"
                    bindValue="AREAID"
                    required
                    formControlName="areaId"
                    (change)="getSubAreaData($event.AREAID)"
                    class="required"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.AREANAME }}">{{ item.AREANAME }}</div>
                    </ng-template>
                  </ng-select>
                  <div
                    *ngIf="gerneralFormSubmitted && GeneralForm.areaId.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTPROVIDEAREA' | translate }}"
                      *ngIf="
                        GeneralForm.areaId.errors.required ||
                        GeneralForm.areaId.hasError('min')
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div
                  class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                  *ngIf="subAreaOptionValue == 1"
                >
                  <ng-select
                    placeholder="{{ 'LBLSUBAREAS' | translate }}"
                    [searchable]="true"
                    [items]="subAreas"
                    bindLabel="SUBAREANAME"
                    [clearable]="false"
                    bindValue="SUBAREAID"
                    formControlName="subAreaId"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.SUBAREANAME }}">
                        {{ item.SUBAREANAME }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                  <ng-select
                    placeholder="{{ 'LBLSHIFT' | translate }}"
                    [searchable]="true"
                    [items]="shifts"
                    bindLabel="SHIFTNAME"
                    [clearable]="false"
                    bindValue="SHIFTID"
                    required
                    formControlName="shiftId"
                    class="required"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.SHIFTNAME }}">
                        {{ item.SHIFTNAME }}
                      </div>
                    </ng-template>
                  </ng-select>
                  <div
                    *ngIf="gerneralFormSubmitted && GeneralForm.shiftId.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      class="errorMsg"
                      severity="error"
                      text="{{ 'ALTPROVIDESHIFT' | translate }}"
                      *ngIf="
                        GeneralForm.shiftId.errors.required ||
                        GeneralForm.shiftId.hasError('min')
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div
                  class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                  *ngFor="let field of fieldList; let i = index"
                >
                  <ng-select
                    class="pBottom"
                    placeholder="{{ field.fieldName }}"
                    [searchable]="true"
                    [items]="field.fieldValue"
                    bindLabel="CUSTOMFIELDVALUE"
                    [clearable]="false"
                    bindValue="CUSTOMFIELDVALUEID"
                    formControlName="Field{{ i + 1 }}"
                    [ngClass]="field.mandatory == 1 ? 'required' : ''"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.CUSTOMFIELDVALUE }}">
                        {{ item.CUSTOMFIELDVALUE }}
                      </div>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="gerneralFormSubmitted" class="invalid-feedback">
                    <p-message
                      class=""
                      severity="error"
                      text="{{ 'ALTMANDATORYCUSTOMFIELD' | translate }}"
                      *ngIf="
                        AddGeneralDataForm.get('Field' + (i + 1)).hasError(
                          'required'
                        ) ||
                        AddGeneralDataForm.get('Field' + (i + 1)).hasError(
                          'min'
                        )
                      "
                    >
                    </p-message>
                  </div>
                </div>
                <div class="clearfix"></div>
                <ng-container *ngIf="configData">
                  <ng-container
                    *ngIf="configData['EnableChecklistComments'] == 1"
                  >
                    <div
                      class="ui-g-12 ui-md-6 observation_input txtArea mb-10"
                    >
                      <span class="md-inputfield ui-md-12 padding-none">
                        <span class="ui-float-label">
                          <textarea
                            id="float-input"
                            rows="5"
                            cols="30"
                            maxlength="1024"
                            pInputTextarea
                            formControlName="safeComments"
                          ></textarea>
                          <label for="float-input">{{
                            "LBLSAFECOMMENTS" | translate
                          }}</label>
                        </span>
                      </span>
                      <div
                        *ngIf="
                          submitted && AddGeneralDataForm.safeComments.errors
                        "
                        class="invalid-feedback"
                      >
                        <p-message
                          class=""
                          severity="error"
                          text="{{ 'ALTCOMMENTS' | translate }}"
                          *ngIf="
                            AddGeneralDataForm.safeComments.errors?.maxLength
                          "
                        >
                        </p-message>
                      </div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-6 observation_input txtArea mb-10"
                    >
                      <span class="md-inputfield ui-md-12 padding-none">
                        <span class="ui-float-label">
                          <textarea
                            id="float-input"
                            rows="5"
                            cols="30"
                            maxlength="1024"
                            pInputTextarea
                            formControlName="unSafeComments"
                          ></textarea>
                          <label for="float-input">{{
                            "LBLUNSAFECOMMENTS" | translate
                          }}</label>
                        </span>
                      </span>
                      <div
                        *ngIf="
                          submitted && AddGeneralDataForm.unSafeComments.errors
                        "
                        class="invalid-feedback"
                      >
                        <p-message
                          class=""
                          severity="error"
                          text="{{ 'ALTCOMMENTS' | translate }}"
                          *ngIf="
                            AddGeneralDataForm.unSafeComments.errors?.maxLength
                          "
                        >
                        </p-message>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </ng-container>
                </ng-container>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 submitButton mb-10">
              <div class="ui-g-12 ui-md-2 ui-lg-1">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  [disabled]="AddGeneralDataForm.pristine"
                  title="{{ 'LBLSAVE' | translate }}"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-2 ui-lg-1">
                <button
                  pButton
                  type="button"
                  [disabled]="AddGeneralDataForm.pristine"
                  class="reset-btn"
                  title="{{ 'LBLRESET' | translate }}"
                  (click)="resetGeneralForm()"
                  label="{{ 'LBLRESET' | translate }}"
                ></button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLOBSERVATION' | translate }}"
        leftIcon="ui-icon-search"
        *ngIf="mainCategories && obsTabCount > 0"
      >
        <div class="ui-g-12 ui-md-12">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-10 ui-lg-3 checklist-heading">
              <h3>{{ "LBLCHECKLISTNO" | translate }} : {{ this.cardId }}</h3>
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-1">
              <div class="ui-g-12 ui-md-12 padding-none">
                <!-- [useExistingCss]="true" -->
                <button
                  printSectionId="print-section"
                  ngxPrint
                  pButton
                  type="button"
                  class="create_new_observed"
                  label="{{ 'LBLPRINTCHECKLIST' | translate }}"
                ></button>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" style="padding-bottom: 0px">
              <div class="top-sections">
                <span class="seprator"></span>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                  <p>
                    <i class="fa ui-icon-message"></i>
                    {{ "LBLIMAGECOMMENTS" | translate }}
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="observation-tabing">
                <p-accordion>
                  <form [formGroup]="myForm">
                    <p-accordionTab
                      *ngFor="let category of finalCategories"
                      header="{{ category.mainCategoryName }}"
                      [selected]="true"
                    >
                      <p-table
                        [value]="category.subCategoryValue"
                        class="actiontable grouplisting"
                      >
                        <ng-template pTemplate="header">
                          <tr>
                            <th
                              align="left"
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                              "
                            >
                              <div class="round-icond">
                                <i
                                  class="fa ui-icon-message"
                                  [class.noCommentsMain]="
                                    category.commentExists == 0
                                  "
                                  title="{{ 'LBLIMAGECOMMENTS' | translate }}"
                                  (click)="
                                    MainCategoryComments(
                                      category.mainCategoryId
                                    )
                                  "
                                ></i>
                              </div>
                            </th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                                color: red !important;
                              "
                              class="TheadUnsafenone"
                            >
                              {{ "LBLUNSAFE" | translate }}
                            </th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                                color: green !important;
                              "
                              class="Tright"
                            >
                              {{ "LBLSAFE" | translate }}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr
                            *ngFor="let thing of things.controls; let i = index"
                          >
                            <td>
                              <i
                                class="fa ui-icon-message flat-iconss"
                                [class.noComments]="rowData.COMMENTEXISTS == 0"
                                (click)="SubCategoryComments(rowData)"
                              ></i>
                              <a (click)="SubCategoryComments(rowData)">{{
                                rowData.SUBCATEGORYNAME
                              }}</a>
                            </td>
                            <td align="center">
                              <input
                                type="text"
                                pInputText
                                style="width: 107px"
                                value="{{ rowData.UNSAFE }}"
                              />
                            </td>
                            <td align="center">
                              <input
                                type="text"
                                pInputText
                                style="width: 107px"
                                value="{{ rowData.SAFE }}"
                              />
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </p-accordionTab>
                  </form>
                </p-accordion>
              </div>
              <div
                class="observation-tabing"
                id="print-section"
                style="display: none"
              >
                <div style="clear: both"></div>
                <div class="ui-g form-group" style="background-color: #f4f4f4">
                  <div
                    class="ui-g-12 ui-md-12"
                    style="padding: 0.5em"
                    *ngIf="generalData"
                  >
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLBSITES" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.SITENAME }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLOBSDATE" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.OBSERVATIONDATE }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLCHKLISTSETUP" | translate }}
                      </span>
                      <span style="float: left"> {{ setupName }} </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLOBSERVER" | translate }}
                      </span>
                      <span style="width: 450px; float: left">
                        {{ obsName }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLAREA" | translate }}
                      </span>
                      <span style="float: left"> {{ areaName }} </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLSHIFT" | translate }}
                      </span>
                      <span style="float: left"> {{ shiftName }} </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLLENGTH" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.LENGTH }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLPEOPLECONTACTED" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.PEOPLECONTACTED }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLPEOPLEOBSERVED" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.PEOPLEOBSERVED }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span
                        style="width: 200px; float: left"
                        *ngIf="generalData.STATUS == 1"
                      >
                        {{ "LBLSTATUS" | translate }}
                      </span>
                      <span style="float: left" *ngIf="generalData.STATUS == 1">
                        {{ "LBLACTIVE" | translate }}
                      </span>
                      <div style="clear: both"></div>
                      <span
                        style="width: 200px; float: left"
                        *ngIf="generalData.STATUS == 2"
                      >
                        {{ "LBLSTATUS" | translate }}
                      </span>
                      <span style="float: left" *ngIf="generalData.STATUS == 2">
                        {{ "LBLINACTIVE" | translate }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                      *ngIf="configData['EnableChecklistComments'] == 1"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLSAFECOMMENTS" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.SAFECOMMENTS }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                      *ngIf="configData['EnableChecklistComments'] == 1"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLUNSAFECOMMENTS" | translate }}
                      </span>
                      <span style="float: left">
                        {{ generalData.UNSAFECOMMENTS }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div style="clear: both"></div>
                  </div>
                </div>
                <div style="clear: both"></div>
                <ng-container *ngFor="let category of finalCategories">
                  <h3
                    style="
                      font-weight: bold;
                      font-size: 18px;
                      padding: 10px;
                      background: #ffffff;
                    "
                  >
                    {{ category.mainCategoryName }}
                  </h3>
                  <table
                    style="
                      width: 100%;
                      table-layout: fixed;
                      border-collapse: collapse;
                    "
                  >
                    <thead>
                      <tr
                        style="
                          border-radius: 0px !important;
                          background: #f4f4f4 !important;
                          color: #cc0c2f !important;
                        "
                      >
                        <th
                          align="left"
                          class="PdfTheadUnsafe"
                          style="padding: 10px"
                        >
                          {{ "LBLUNSAFE" | translate }}
                        </th>
                        <th align="center"></th>
                        <th
                          class="PdfTright"
                          align="right"
                          style="padding: 10px"
                        >
                          {{ "LBLSAFE" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        style="border: none"
                        *ngFor="let rowData of category.subCategoryValue"
                      >
                        <td align="left" style="padding: 10px">
                          {{ rowData.UNSAFE }}
                        </td>
                        <td align="center">{{ rowData.SUBCATEGORYNAME }}</td>
                        <td align="right" style="padding: 10px">
                          {{ rowData.SAFE }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<!-- Category Comments -->
<form>
  <p-dialog
    header="{{ 'LBLCATEGORYCOMMENTS' | translate }}"
    [modal]="true"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="CatDisplay"
    [rtl]="true"
    [style]="{ width: '770px', height: 'auto' }"
  >
    <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="catData">
      <div class="ui-g-12 ui-md-12">
        <ul class="corretive-list">
          <li>
            <span>{{ "LBLMAINCATEGORY" | translate }} :</span>
            {{ catData.MAINCATEGORYNAME }}
          </li>
          <br />
          <li *ngIf="catData.SUBCATEGORYNAME">
            <span>{{ "LBLSUBCATNAME" | translate }} :</span>
            {{ catData.SUBCATEGORYNAME }}
          </li>
        </ul>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              maxlength="1024"
              pInputTextarea
              >{{ catData.SAFECOMMENTS }}</textarea
            >
            <label for="float-input">{{ "LBLSAFECOMMENTS" | translate }}</label>
          </span>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              maxlength="1024"
              pInputTextarea
              >{{ catData.UNSAFECOMMENTS }}</textarea
            >
            <label for="float-input">{{
              "LBLUNSAFECOMMENTS" | translate
            }}</label>
          </span>
        </span>
      </div>
      <div
        class="ui-g-12 ui-md-12 view-image view-image-obs"
        *ngIf="uploadedImage"
      >
        <a href="{{ imageUrl }}{{ uploadedImage }}" target="_blank">
          <img
            style="width: 200px"
            alt="{{ catData.SUBCATEGORYNAME }}"
            src="{{ imageUrl }}{{ uploadedImage }}"
          />
        </a>
      </div>
      <div class="ui-g-12 ui-md-12 view-image" *ngIf="uploadedImage">
        <a href="{{ imageUrl }}{{ uploadedImage }}" target="_blank">
          {{ "LBLCLICKTOPREVIEW" | translate }}
        </a>
      </div>
      <div class="ui-g-12 ui-md-6 submitButton">
        <div class="ui-g-12 ui-md-3">
          <button
            pButton
            type="reset"
            title="{{ 'LBLCANCEL' | translate }}"
            (click)="CatDisplay = false"
            label="{{ 'LBLCANCEL' | translate }}"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
<!-- Create new Observer -->
