<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div *ngIf="isLoaded" style="text-align: center">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <form
          [formGroup]="addInjuryStatistics"
          (ngSubmit)="onSubmit(addInjuryStatistics.value)"
          *ngIf="!isLoaded"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  placeholder="{{ 'LBLYEAR' | translate }}"
                  [searchable]="true"
                  [items]="yearListing"
                  bindLabel="YEAR"
                  [clearable]="false"
                  bindValue="ID"
                  required
                  formControlName="year"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.YEAR }}">
                      {{ item.YEAR }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input tooltipMain mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="workHour"
                  />
                  <label class="required inputLabel">{{
                    "LBLHOURSWORKED" | translate
                  }}</label>
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput1"
                  pTooltip="{{ 'LBLTOOLTIPHOURSWORKED' | translate }}"
                  tooltipPosition="right"
                />
                <div
                  *ngIf="submitted && injuryForm.workHour.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPROVIDEHOURSWORKED' | translate }}"
                    *ngIf="
                      injuryForm.workHour.errors.required ||
                      addInjuryStatistics
                        .get('workHour')
                        .hasError('whitespace') ||
                      injuryForm.workHour.errors?.maxlength ||
                      injuryForm.workHour.errors?.min ||
                      injuryForm.workHour.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10 tooltipMain">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="injuries"
                  />
                  <label class="required inputLabel">{{
                    "LBLNOOFINJURY" | translate
                  }}</label>
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput1"
                  pTooltip="{{ 'LBLTOOLTIPNOOFINJURIES' | translate }}"
                  tooltipPosition="right"
                />
                <div
                  *ngIf="submitted && injuryForm.injuries.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPROVIDENOOFINJURIES' | translate }}"
                    *ngIf="
                      injuryForm.injuries.errors.required ||
                      addInjuryStatistics
                        .get('injuries')
                        .hasError('whitespace') ||
                      injuryForm.injuries.errors?.maxlength ||
                      injuryForm.injuries.errors?.min ||
                      injuryForm.injuries.errors?.pattern
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-12 observation_input multiSelectDropDwon mb-10"
              >
                <div class="filterLable">
                  <label class="required">{{ "LBLBSITES" | translate }}</label>
                </div>
                <p-multiSelect
                  [options]="siteListing"
                  formControlName="siteIds"
                  class="required"
                  [defaultLabel]="'LBLCHOOSE' | translate"
                >
                </p-multiSelect>
                <div
                  *ngIf="submitted && injuryForm.siteIds.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTASGNSITE' | translate }}"
                    *ngIf="injuryForm.siteIds.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [items]="status"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-8 submitButton">
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  title="{{ 'LBLSAVE' | translate }}"
                  [disabled]="addInjuryStatistics.pristine"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="button"
                  title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"
                  (click)="resetInjuryForm()"
                  [disabled]="addInjuryStatistics.pristine"
                  class="reset-btn"
                ></button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </p-tabPanel>

      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
