<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed"
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-9"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12">
        <div style="text-align: center" *ngIf="!isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="isLoaded && !errormsg">
          <div *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [value]="tableData"
              sortField="{{ tableCols[0] }}"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
              *ngIf="checkSumLength > 1"
              class="hyperlinkTable"
              [globalFilterFields]="filterCols"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width: 300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <ng-container *ngFor="let col of tableCols; let i = index">
                    <th *ngIf="i != 0">{{ col }}</th>
                  </ng-container>
                  <th class="align-center">
                    {{ "LBLOBSCHECKLIST" | translate }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="
                    rowGroupMetadata[rowData[tableCols[0]]].index === rowIndex
                  "
                >
                  <td class="headerTD1" [attr.colspan]="checkSumLength">
                    <span class="groupHeader">{{ tableCols[0] }} : </span
                    ><span style="color: #757575; line-height: 2">{{
                      rowData[tableCols[0]]
                    }}</span>
                  </td>
                </tr>
                <tr>
                  <ng-container *ngFor="let col of tableCols; let i = index">
                    <td
                      class="submoduleTable1"
                      *ngIf="i != 0 && i == checkSumLength - 1"
                    >
                      <a
                        style="cursor: pointer"
                        (click)="
                          openSubReport(rowData['SUBRPTPARAM'], rowData[col])
                        "
                        >{{ rowData[col] }}</a
                      >
                    </td>
                    <td
                      class="submoduleTable1"
                      *ngIf="i != 0 && i != checkSumLength - 1"
                    >
                      {{ rowData[col] }}
                    </td>
                  </ng-container>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.COUNT }}
                  </td>
                </tr>
                <tr *ngIf="rowIndex == tableData.length - 1">
                  <td class="submoduleTable1" style="font-weight: bold">
                    {{ "LBLGRANDTOTAL" | translate }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    style="font-weight: bold"
                  >
                    {{ grandTotal }}
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <p-table
              #searchSingleData
              [value]="tableData"
              sortMode="single"
              *ngIf="checkSumLength == 1"
              [paginator]="true"
              [rows]="30"
              [scrollable]="true"
              [style]="{ width: '100%' }"
              class="hyperlinkTable"
              [globalFilterFields]="filterCols"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchSingleData.filterGlobal(
                        $event.target.value,
                        'contains'
                      )
                    "
                    style="width: 300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ tableCols[0] }}</th>
                  <th class="align-center">
                    {{ "LBLOBSCHECKLIST" | translate }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                  <td class="submoduleTable1">
                    <a
                      style="cursor: pointer"
                      (click)="
                        openSubReport(
                          rowData['SUBRPTPARAM'],
                          rowData[tableCols[0]]
                        )
                      "
                      >{{ rowData[tableCols[0]] }}</a
                    >
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.COUNT }}
                  </td>
                </tr>
                <tr *ngIf="rowIndex == tableData.length - 1">
                  <td class="submoduleTable1" style="font-weight: bold">
                    {{ "LBLGRANDTOTAL" | translate }}
                  </td>
                  <td
                    class="submoduleTable1 align-center"
                    style="font-weight: bold"
                  >
                    {{ grandTotal }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<p-dialog
  header="Sub Reports - {{ headName }}"
  class="checklist-dialog"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="displaySubReport"
  [rtl]="true"
  [style]="{ width: '95%', height: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="displaySubReport">
    <app-sub-checklist-count-summary
      [reportId]="reportId"
      [subReportId]="13"
      [reportParam]="selecteReportParam"
    ></app-sub-checklist-count-summary>
  </div>
</p-dialog>
