<div class="progressSpinner" *ngIf="!isLoaded">
  <p-progressSpinner></p-progressSpinner>
</div>
<!-- dashboard-label -->
<div class="ui-g" *ngIf="toggle == 'admin' && isLoaded">
  <div class="ui-g-12 ui-md-12 p-0">
    <!-- dashboard-title -->
    <div class="ui-g-12 ui-lg-3 ui-md-6 mobile-none">
      <div class="dashboard-title">
        <h1 class="dashboard-heading">{{ "LBLDASHBOARD" | translate }}</h1>
      </div>
    </div>
    <!--  end dashboard-title -->
    <div class="ui-g-12 ui-lg-9 ui-md-12">
      <!-- right Label -->
      <ul class="dashboard-label">
        <li>
          <span class="details-title"><i class="material-icons">how_to_reg</i>
            {{ "LBLROLE" | translate }}:</span>
          <span class="details-value dash-role1">{{ roleName }}</span>
        </li>
        <span class="pipe">|</span>
        <li>
          <span class="details-title">
            <i class="material-icons">place</i>
            {{ "LBLDEFAULTSITE" | translate }}:</span><span class="details-value dash-role1">{{ siteName }}</span>
        </li>
      </ul>
      <!-- End right Label -->
    </div>
  </div>
  <!-- dashboard-label -->
  <!-- five-block -->
  <div class="ui-g-12 ui-md-12 p-0">
    <div class="ui-g-12 ui-md-12">
      <ul class="dashboard-blocks">
        <li class="card dashboard-card details-card approval" *ngIf="dashBoardValue['APPROVALPERMISSION'] == 1"
          [routerLink]="['/approval-listing']" skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/db1.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{ "LBLAPPROVAL" | translate }}
            </h2>
            <span>
              {{ approvalCount }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card comming-due"
          [class.nonApproval]="dashBoardValue['APPROVALPERMISSION'] != 1" [routerLink]="['/corrective-action-list/1']"
          skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/coming.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{"LBLCOMINGDUE" | translate}}
              <!-- tooltip -->
              <small class="tooltip">
                <i class="ui-icon-info">
                  <div class="tooltip_box">
                    <div class="arrow_box">
                      {{ "LBLOPENWITHINRD" | translate }}
                    </div>
                  </div>
                </i>
              </small>
              <!-- tooltip -->
            </h2>
            <span>
              {{ comingDue }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card past-due"
          [class.nonApproval]="dashBoardValue['APPROVALPERMISSION'] != 1" [routerLink]="['/corrective-action-list/2']"
          skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/past.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{"LBLPASTDUE" | translate}}
              <!-- tooltip -->
              <small class="tooltip">
                <i class="ui-icon-info">
                  <div class="tooltip_box">
                    <div class="arrow_box">
                      {{ "LBLOPENBEYONDRD" | translate }}
                    </div>
                  </div>
                </i>
              </small>
              <!-- tooltip -->
            </h2>
            <span>
              {{ pastDue }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card email-alert"
          [class.nonApproval]="dashBoardValue['APPROVALPERMISSION'] != 1" [routerLink]="['/email-inbox']"
          skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/alrm.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{ "LBLEMAILALERTTS" | translate }}
            </h2>
            <span>
              {{ emailAlerts }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card unsafe-alert"
          [class.nonApproval]="dashBoardValue['APPROVALPERMISSION'] != 1" [routerLink]="alertUnafeRoute"
          skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/alrm.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{ unsafeALertTitle | translate }}
            </h2>
            <span>
              {{ unsafeEmailCount }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end five-block -->
  <div class="ui-g-12 dashboard-title">
    <h3 class="observer-heading">{{ "LBLOBSTARGET" | translate }}</h3>
  </div>
  <div class="ui-g-12 dashboard-target">
    <div class="ui-g-12 ui-md-12 ui-lg-6 padding0">
      <div class="card card-two">
        <div class="ui-g-12 ui-lg-6 ui-md-6" *ngIf="weekChartVisible && !commonWMessage">
          <div>
            <canvas *ngIf="weekChartVisible" id="weekChart" width="200px" height="200px"></canvas>
          </div>
        </div>
        <!-- Three color box -->
        <div class="ui-g-12 ui-lg-6 ui-md-6 theree-labels" *ngIf="weekChartVisible && !commonWMessage">
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <span class="sq_target"></span>
            {{ "LBLANNUALTARGET" | translate }} ({{ weeklyTarget }})
          </div>
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <span class="sq_comp"></span>
            {{ "LBLCOMPLETED" | translate }} ({{ weeklyObs }})
          </div>
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <span class="sq_rema"></span>
            {{ "LBLREMAINING" | translate }} ({{
              weeklyTarget - weeklyObs < 0 ? 0 : weeklyTarget - weeklyObs
            }})
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="align-center commonMessage" *ngIf="!weekChartVisible && commonWMessage">
          {{ "LBLNOWTA" | translate }}.
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- End First Chart -->

    <!-- Second Charrt -->
    <div class="ui-g-12 ui-md-12 ui-lg-6 paddingri0">
      <div class="card card-two">
        <div class="ui-g-12 ui-lg-6 ui-md-6" *ngIf="monthChartVisible && !commonMessage">
          <div>
            <canvas *ngIf="monthChartVisible" id="monthChart" width="200px" height="200px"></canvas>
          </div>
        </div>
        <!-- Three color box -->
        <div class="ui-g-12 ui-lg-6 ui-md-6 theree-labels" *ngIf="monthChartVisible && !commonMessage">
          <div class="ui-lg-12 ui-g-12 ui-sm-12 ui-md-12">
            <span class="sq_target"></span>{{ "LBLANNUALTARGET" | translate }} ({{ monthlyTarget }})
          </div>
          <div class="ui-lg-12 ui-g-12 ui-sm-12 ui-md-12">
            <span class="sq_comp"></span>
            {{ "LBLCOMPLETED" | translate }} ({{ monthlyObs }})
          </div>
          <div class="ui-lg-12 ui-g-12 ui-sm-12 ui-md-12">
            <span class="sq_rema"></span>{{ "LBLREMAINING" | translate }} ({{
              monthlyTarget - monthlyObs < 0 ? 0 : monthlyTarget - monthlyObs
            }})
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="align-center commonMessage" *ngIf="!monthChartVisible && commonMessage">
          {{ "LBLNOMTA" | translate }}.
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- End Second Charrt -->
  </div>
  <!-- End Chart -->
  <!-- * Based on observations of all users of default site.  -->
  <div class="ui-g-12 ui-lg-12 note">
    <div class="ui-g-12 ui-lg-12 note">
      * {{ "LBLALLUSERDSITE" | translate }}.
    </div>
  </div>
  <!-- * Based on observations of all users of default site -->
  <!-- News Panel -->
  <div class="ui-g-12">
    <div class="ui-g-12">
      <div class="card news">
        <h3 class="dupont-news">{{ "LBLDUPONTNEWS" | translate }}</h3>
        <div class="inner-card news">
          <p-scrollPanel [styleClass]="'scrollPanelStyles'" [innerHtml]="dupontNews">
          </p-scrollPanel>
        </div>
      </div>
    </div>
  </div>
  <!-- End  News Panel -->
</div>

<div class="ui-g" *ngIf="toggle == 'nonAdmin' && isLoaded">
  <div class="ui-g-12 ui-md-12 p-0">
    <!-- dashboard-title -->
    <div class="ui-g-6 ui-lg-4 ui-md-4 mobile-none">
      <div class="dashboard-title">
        <h1 class="dashboard-heading">{{ "LBLDASHBOARD" | translate }}</h1>
      </div>
    </div>
    <!--  end dashboard-title -->

    <div class="ui-g-12 ui-lg-8 ui-md-8">
      <!-- right Label -->
      <ul class="dashboard-label">
        <li>
          <span class="details-title"><i class="material-icons">how_to_reg</i>
            {{ "LBLROLE" | translate }}:</span>
          <span class="details-value dash-role1">{{ roleName }}</span>
        </li>
        <span class="pipe">|</span>
        <li>
          <span class="details-title">
            <i class="material-icons">place</i>
            {{ "LBLDEFAULTSITE" | translate }}:</span><span class="details-value dash-role1">{{ siteName }}</span>
        </li>
      </ul>
      <!-- End right Label -->
    </div>
  </div>
  <!-- dashboard-label -->
  <!-- five-block -->
  <div class="ui-g-12 ui-md-12 p-0">
    <div class="ui-g-12 ui-md-12">
      <ul class="dashboard-blocks nonAdmin">
        <li class="card dashboard-card details-card add-observation" [routerLink]="['/add-observation-list']"
          skipLocationChange="true" *ngIf="addObsStatus">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/addnew.png" />
            </div>
          </div>

          <div class="details-card-title">
            <h2>
              {{ "LBLADD" | translate }}
            </h2>
            <span>
              {{ "LBLOBSERVATION" | translate }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card edit-observation" *ngIf="editObsStatus"
          [routerLink]="['/observation-listing']" skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/edit.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{ "LBLEDIT" | translate }}
            </h2>
            <span>
              {{ "LBLOBSERVATION" | translate }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card add-corrective" *ngIf="addChecklist"
          [routerLink]="['/add-corrective-actions']" skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/addplus.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{ "LBLADD" | translate }} {{ "LBLCORRECTIVE" | translate }}
            </h2>
            <span>
              {{ "LBLACTIONS" | translate }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card edit-corrective" *ngIf="editChecklist"
          [routerLink]="['/corrective-action-list']" skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/edito.png" />
            </div>
          </div>
          <div class="details-card-title">
            <h2>
              {{ "LBLEDIT" | translate }} {{ "LBLCORRECTIVE" | translate }}
            </h2>
            <span>
              {{ "LBLACTIONS" | translate }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="card dashboard-card details-card last-support" *ngIf="supportStatus" [routerLink]="['/contact-us']"
          skipLocationChange="true">
          <div class="floatleft">
            <div class="db-five-block">
              <img src="assets/images/support.png" />
            </div>
          </div>
          <div class="details-card-title">
            <!-- <h2>
              support
            </h2> -->
            <span>
              {{ "LBLSUPPORT" | translate }}
            </span>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end five-block -->

  <div class="ui-g-12 p-0">
    <div class="ui-g-12 ui-sm-12 ui-md-12">
      <div class="ui-g-12">
        <div class="ui-g-12 card m-b-0 observe-panel">
          <h2 class="ui-g-3 ui-md-3 ui-lg-3 non-sa-checklist-title observe-target">
            {{ "LBLCHECKLISTS" | translate }}
          </h2>
          <div class="ui-g-7 ui-lg-3 mobile-none"></div>
          <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-right observe-target">
            {{ "LBLCOMPLETED" | translate }}
          </h2>
          <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-right observe-target">
            OF
          </h2>
          <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-right observe-target">
            {{ "LBLREQUIRED" | translate }}
          </h2>
        </div>
        <div class="ui-g-12 card m-b-0 observe-panel-bottm">
          <h2 class="ui-g-3 ui-md-3 ui-lg-3 non-sa-checklist-title sub-heading border-right">
            {{ "LBLTHISMONTH" | translate }}
          </h2>
          <div class="ui-g-7 ui-lg-3 mobile-none border-right"></div>
          <ng-container *ngIf="monthlyObs != 'N/A'">
            <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-data sub-heading border-right">
              {{ monthlyObs }}
            </h2>
            <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-data sub-heading border-right">
              {{ "LBLOF" | translate }}
            </h2>
            <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-data">
              {{ monthlyTarget }}
            </h2>
          </ng-container>
          <h2 class="ui-g-3 ui-md-3 ui-lg-6 non-sa-checklist-data sub-heading border-right" *ngIf="monthlyObs == 'N/A'">
            {{ "LBLNOMONTHLYTARGET" | translate }}
          </h2>
        </div>
        <div class="ui-g-12 card m-b-0 observe-panel-bottm">
          <h2 class="ui-g-3 ui-md-3 ui-lg-3 non-sa-checklist-title sub-heading border-right">
            {{ "LBLTHISWEEK" | translate }}
          </h2>
          <div class="ui-g-7 ui-lg-3 border-right mobile-none"></div>
          <ng-container *ngIf="weeklyObs != 'N/A'">
            <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-data sub-heading border-right">
              {{ weeklyObs }}
            </h2>
            <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-data sub-heading border-right">
              {{ "LBLOF" | translate }}
            </h2>
            <h2 class="ui-g-3 ui-md-3 ui-lg-2 non-sa-checklist-data sub-heading">
              {{ weeklyTarget }}
            </h2>
          </ng-container>
          <h2 class="ui-g-3 ui-md-3 ui-lg-6 non-sa-checklist-data sub-heading border-right" *ngIf="weeklyObs == 'N/A'">
            {{ "LBLNOWEEKLYTARGET" | translate }}
          </h2>
        </div>
      </div>

      <!-- News Panel -->

      <div class="ui-g-12 news-nonadmin">
        <div class="card news">
          <h3 class="dupont-news">{{ "LBLDUPONTNEWS" | translate }}</h3>
          <div class="inner-card">
            <p-scrollPanel [styleClass]="'scrollPanelStyles'" [innerHtml]="dupontNews">
            </p-scrollPanel>
          </div>
        </div>
      </div>

      <!-- End  News Panel -->

      <div class="ui-g-12"></div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>