/* canvas {
  height: 100px;
} */

.dashboard-card {
  margin: 0px 10px;
  padding: 5px 8px;
}

.details-card {
  max-width: 96%;
}

.dashboard-icon-card {
  max-width: 50px;
  display: inline-block;
  padding: 10px;
  background-color: #f5f5f5;
}

.dashboard-approval-icon {
  color: limegreen;
  font-size: 24px;
}

.email-alerts-card {
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 96%;
}

/* .details-title {
  color: #979797 !important;
  margin-right: 8px;
  font-weight: bold !important;
} */

.details-value {
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-details-value {
  margin-right: 20px;
}

.dupont-news-data {
  word-wrap: break-word;
}

.alert-unsafe-card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-width: 96%;
}

.details-card-title {
  color: #979797;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 0px 3px 0px;
}

.details-card-value {
  font-size: 24px;
  color: teal;
  margin: 0px 0px 0px -3px;
}

.note {
  color: #f44336;
  font-size: 15px;
  font-weight: 500;
}

.dashboard-title {
  margin-left: 8px;
}

.observation-card-container {
  margin: 10px 0px;
}

.dashboard-icon {
  max-width: 50px;
  display: inline-block;
  padding: 10px;
  background-color: #f5f5f5;
  color: teal;
}

.dashboard-playlist-add-check-icon {
  font-size: 24px;
}

.observation-header-card {
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 7px;
}

.observation-content-card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 7px;
}

.observation-header-card h3 {
  margin: 2px;
}

.non-sa-details-card {
  height: 141px;
  text-align: center;
  padding-top: 18px;
  width: 96%;
}

.non-sa-details-card img {
  width: 55px;
}

.non-sa-dashboard-icon {
  max-width: 50px;
  display: inline-block;
  padding: 25px;
  border-radius: 40px;
}

.help-icon {
  background-color: #e1f7e2;
  color: #57bd3a;
}

.edit-correct-icon {
  background-color: #fff4d9;
  color: #ffb83c;
}

.edit-obs-icon {
  background-color: #edeafe;
  color: #8972e6;
}

.add-obs-icon {
  background-color: #dbecfd;
  color: #197cd3;
}

.non-sa-details-card-title {
  font-weight: 400;
  font-size: 17px;
  padding-top: 5px;
  margin: 13px 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.m-l-10 {
  margin-left: 10px;
}

.non-sa-checklist-data {
  font-weight: 400;
  font-size: 15px;
  margin: 0px 0px;
  text-align: center;
}

.non-sa-checklist-right {
  font-weight: 400;
  font-size: 16px;
  margin: 0px 0px;
  text-align: center;
}

.news-title {
  font-size: 22px;
  font-weight: 400;
}

.cursor {
  cursor: pointer;
}

.corrective-action {
  color: #2ca9de;
  background-color: #e9f6f9;
}

.approval-icon {
  background-color: #f0f8e9;
}

.email-icon {
  background-color: #e8f2f3;
}

.align-center {
  text-align: center;
}

.commonMessage {
  padding: 99px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-r-14 {
  padding-right: 14px;
}

::ng-deep .scrollPanelStyles.ui-scrollpanel {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .dashboard-target {
    padding: 20px 8px !important;
  }

  .details-card-title {
    font-size: 12px;
  }

  .ui-scrollpanel {
    height: 110px;
  }

  .observation-header-card {
    margin-right: 2px;
  }

  .observation-content-card {
    margin-right: 2px;
  }

  ::ng-deep .scrollPanelStyles.ui-scrollpanel {
    width: 100%;
    height: 110px;
  }
}

.dupont-news {
  margin: 0px 0px;
  font-size: 22px;
  font-weight: 400;
  color: #021212;
  padding-bottom: 15px;
}

.dashboard-heading {
  margin: 5px 0px;
  font-size: 30px;
  color: #021212;
  font-weight: 400;
}

.details-title1 {
  color: var(--buttonTextColor) !important;
  margin-right: 8px;
}

.text-center {
  text-align: center !important;
  margin-top: 15px !important;
  font-size: 11px !important;
}

.dashboard-target span {
  padding: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  margin-top: -2px;
}

.sq_target {
  background-color: #818181;
}

.sq_comp {
  background-color: #1d9e44;
}

.sq_rema {
  background-color: #f44336;
}

/* Updated Dashboard 16-10-2019  */

.dashboard-blocks {
  margin: 0px;
  padding: 0px;
}

.dashboard-blocks li {
  width: 18.1%;
  margin: 0px 1%;
  padding: 0px;
  cursor: pointer;
  max-height: 90px;
  display: inline-block;
}

.nonApproval {
  width: 23.1% !important;
}

.last-support .details-card-title {
  line-height: 90px;
  padding: 0px 15px;
}

/* .dashboard-blocks li {
  display: inline-block;
  width: 18.5%;
  padding: 0px;
  cursor: pointer;
  max-height: 90px;
} */

.dashboard-blocks li:last-child {
  margin-right: 0px !important;
}

.floatleft {
  width: 50px;
  float: left;
}

.db-five-block {
  width: 63px;
  height: 90px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.details-card-title {
  float: left;
  padding: 14px 5px;
}

.details-card-title h2 {
  font-size: 12px;
  color: #757575;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.details-card-title span {
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
}

.approval .db-five-block {
  background: #2dcb73;
}

.approval span {
  color: #2dcb73;
}

.comming-due .db-five-block {
  background: #0bafff;
}

.comming-due span {
  color: #0bafff;
}

.past-due .db-five-block {
  background: #7551eb;
}

.past-due span {
  color: #7551eb;
}

.email-alert .db-five-block {
  background: #fe7e53;
}

.email-alert span {
  color: #fe7e53;
}

.unsafe-alert .db-five-block {
  background: #ffbf0c;
}

.unsafe-alert span {
  color: #ffbf0c;
}

.dashboard-label {
  margin: 0px;
  text-align: right;
  padding: 0px 8px;
}

/* .dashboard-label li:first-child {
  margin-right: 20px;
} */

.dashboard-label li {
  display: inline-block;
}

.dashboard-label li i {
  vertical-align: middle;
}

.dashboard-label li .details-title {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
}

.dashboard-label .details-value {
  font-weight: 600;
  color: #021212;
  font-size: 14px;
  padding-left: 10px;
}

.pipe {
  display: inline-block;
  padding: 0px 10px 0px 14px;
  text-align: center !important;
  font-size: 22px;
  font-weight: 300;
  color: #757575;
}

.observer-heading {
  font-size: 22px;
  color: #021212;
  font-weight: 400;
  margin: 0px 0px;
}

.by-date {
  font-size: 20px;
  color: #021212;
}

.theree-labels {
  padding-top: 80px;
}

.theree-labels {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
}

.card-two {
  padding-bottom: 35px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.padding0 {
  padding-left: 0px;
}

.paddingri0 {
  padding-right: 0px;
}

.news p-scrollPanel {
  font-family: "Roboto";
  color: rgb(2, 18, 18);
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

/* nonAdmin  */

.nonAdmin span {
  font-size: 20px;
}

/* .nonAdmin h2 {
  text-transform: uppercase;
} */

.add-observation .db-five-block {
  background: #515bd4;
}

.add-observation span {
  color: #515bd4;
}

.edit-observation .db-five-block {
  background: #ffb54a;
}

.edit-observation span {
  color: #ffb54a;
}

.add-corrective .db-five-block {
  background: #ff595d;
}

.add-corrective span {
  color: #ff595d;
}

.edit-corrective .db-five-block {
  background: #b02487;
}

.edit-corrective span {
  color: #b02487;
}

.last-support .db-five-block {
  background: #42b6e7;
}

.last-support span {
  color: #42b6e7;
}

.observe-panel h2 {
  font-size: 16px;
  line-height: 33px;
}

.non-sa-checklist-title {
  font-weight: 400;
  font-size: 22px !important;
  margin: 0px 0px;
}

.sub-heading {
  font-size: 15px !important;
  color: #021212;
  padding-left: 11px;
}

.news-nonadmin {
  margin-top: 15px;
}

.observe-panel-bottm {
  padding: 0px 0.5em !important;
  /* border: 1px solid #e0e0e0 !important; */
}

.border-right {
  /* border-right: 1px solid #e0e0e0; */
  height: 48px;
  line-height: 37px;
}

.tooltip {
  position: relative;
  color: #b0b0b0;
}

.arrow_box {
  position: relative;
  background: #021212;
  border: 3px solid #021212;
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
}

.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* .arrow_box:after {
  border-color: rgba(2, 18, 18, 0);
  border-top-color: #021212;
  border-width: 9px;
  margin-left: -15px;
} */

.arrow_box:before {
  border-color: rgba(2, 18, 18, 0);
  border-top-color: #021212;
  border-width: 9px;
  margin-left: -19px;
}

.tooltip i {
  width: auto;
  height: auto;
  font-size: 21px;
  vertical-align: middle;
}

.tooltip_box {
  visibility: hidden;
  position: absolute;
  top: -46px;
  left: -93px;
  /* width: 220px; */
  /* padding: 10px 0px; */
  border-radius: 10px;
}

.tooltip:hover .tooltip_box {
  visibility: visible;
}

/* Media Query  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* .dashboard-blocks li {
    width: 23.1% !important;
    margin: 0px 1% !important;
  } */

  .details-card-title {
    padding: 14px 5px;
  }

  .floatleft {
    width: 35px;
  }

  .nonAdmin h2 {
    text-transform: capitalize;
  }

  .nonAdmin span {
    font-size: 16px;
  }

  .pipe {
    display: none;
  }

  .details-card-title h2 {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard-blocks li {
    width: 22%;
    margin-bottom: 15px;
    max-height: 74px;
  }

  .floatleft {
    width: 21%;
  }

  .details-card-title {
    width: 59%;
    padding: 14px 5px;
  }

  .dashboard-label {
    text-align: center;
  }

  .mobile-none {
    display: none;
  }

  .dashboard-label li {
    width: 100%;
    text-align: left;
  }

  .pipe {
    display: none;
  }

  .details-card-title span {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }

  .details-card-title h2 {
    font-size: 11px;
  }

  .db-five-block {
    height: 74px;
  }

  .db-five-block img {
    width: 19px;
  }

  .observer-heading {
    margin: 0px 0px;
  }

  .dashboard-target {
    padding: 0px 15px !important;
  }

  .paddingri0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .padding0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .theree-labels {
    padding-top: 50px;
  }

  .nonAdmin h2 {
    text-transform: capitalize;
  }

  .nonAdmin span {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .dashboard-blocks li {
    width: 44%;
    margin-bottom: 15px;
    max-height: 74px;
  }

  .floatleft {
    width: 21%;
  }

  .details-card-title {
    width: 59%;
    padding: 14px 5px;
  }

  .dashboard-label {
    text-align: center;
  }

  .mobile-none {
    display: none;
  }

  .dashboard-label li {
    width: 100%;
    text-align: left;
  }

  .pipe {
    display: none;
  }

  .details-card-title span {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }

  .details-card-title h2 {
    font-size: 10px;
  }

  .db-five-block {
    height: 74px;
  }

  .db-five-block img {
    width: 19px;
  }

  .observer-heading {
    margin: 0px 0px;
  }

  .dashboard-target {
    padding: 0px 15px !important;
  }

  .paddingri0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .padding0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .theree-labels {
    padding-top: 50px;
  }

  .nonAdmin h2 {
    text-transform: capitalize;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .dashboard-blocks li {
    width: 44%;
    margin-bottom: 15px;
    max-height: 74px;
  }

  .floatleft {
    width: 21%;
  }

  .details-card-title {
    width: 59%;
    padding: 14px 5px;
  }

  .dashboard-label {
    text-align: center;
  }

  .mobile-none {
    display: none;
  }

  .dashboard-label li {
    width: 100%;
    text-align: left;
  }

  .pipe {
    display: none;
  }

  .details-card-title span {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }

  .details-card-title h2 {
    font-size: 7px;
  }

  .db-five-block {
    height: 74px;
  }

  .db-five-block img {
    width: 19px;
  }

  .observer-heading {
    margin: 0px 0px;
  }

  .dashboard-target {
    padding: 0px 15px !important;
  }

  .paddingri0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .padding0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .theree-labels {
    padding-top: 0px;
  }

  .nonAdmin h2 {
    text-transform: capitalize;
  }
}
