::ng-deep .headerTD1 {
  background: #f4f4f4 !important;
  color: #009688;
}

::ng-deep .submoduleTable1 {
  background: #fff !important;
}

::ng-deep .ui-table table span {
  cursor: auto !important;
}

::ng-deep .align-center {
  text-align: center !important;
}

::ng-deep body .ui-table .ui-table-tbody>tr>td {
  word-break: break-all !important;
}