<div class="ui-g-12">
  <div class="ui-g-12 ui-md-8"></div>
  <div class="ui-g-12 ui-md-1">
    <button
      pButton
      type="button"
      class="create_new_observed"
      label="{{ 'LBLPRINTCHECKLIST' | translate }}"
      title="{{ 'LBLPRINTCHECKLIST' | translate }}"
      (click)="selectedExport = 2; exportData()"
      *ngIf="tableData.length != 0"
    ></button>
  </div>
  <div class="ui-g-12 ui-md-3" style="margin-top: 15px">
    <span class="md-inputfield">
      <p-dropdown
        class="drop-down"
        [options]="exportList"
        placeholder="{{ 'LBLEXPORTTO' | translate }}"
        [(ngModel)]="selectedExport"
        (ngModelChange)="exportData()"
        *ngIf="tableData.length != 0"
      >
      </p-dropdown>
      <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div *ngIf="!isLoaded" style="text-align: center">
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container *ngIf="isLoaded && !errormsg && subReportId == 14">
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    dataKey="SITENAME"
    sortMode="single"
    [paginator]="true"
    [rows]="30"
    (onSort)="onSort()"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width: 300px"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>{{ "LBLMAINCATEGORY" | translate }}</th>
        <th>{{ "LBLSUBCATNAME" | translate }}</th>
        <th class="align-center">{{ "LBLSAFE" | translate }}</th>
        <th class="align-center">{{ "LBLUNSAFE" | translate }}</th>
        <th>{{ "LBLSAFECOMMENTS" | translate }}</th>
        <th>{{ "LBLUNSAFECOMMENTS" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr
        class="ui-widget-header"
        *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
      >
        <td class="headerTD1" [attr.colspan]="1">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSITENAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.SITENAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="1">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLOBSERVERNAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.OBSERVERNAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="1">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLAREANAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.AREANAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="1" *ngIf="subAreaOption == 1">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSUBAREAFULLNAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.SUBAREANAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="1 + colleps">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSHIFTNAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.SHIFTNAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1 align-center" [attr.colspan]="1">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLCHECKLISTNO" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.CARDID }}</span
              ></span
            >
          </a>
        </td>
      </tr>
      <tr *ngIf="rowData">
        <td class="submoduleTable1">{{ rowData.MAINCATEGORYNAME }}</td>
        <td class="submoduleTable1">{{ rowData.SUBCATEGORYNAME }}</td>
        <td class="submoduleTable1 align-center">{{ rowData.SAFE }}</td>
        <td class="submoduleTable1 align-center">{{ rowData.UNSAFE }}</td>
        <td class="submoduleTable1">{{ rowData.SAFECOMMENTS }}</td>
        <td class="submoduleTable1">{{ rowData.UNSAFECOMMENTS }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && !errormsg && subReportId == 6">
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    dataKey="SITENAME"
    sortMode="single"
    [paginator]="true"
    [rows]="30"
    (onSort)="onSort()"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width: 300px"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="align-center">{{ "LBLCAID" | translate }}</th>
        <th>{{ "LBLOBSDATE" | translate }}</th>
        <th>{{ "LBLRESPONSIBLEPERSON" | translate }}</th>
        <th>{{ "LBLACTOWNER" | translate }}</th>
        <th>{{ "LBLRESPONSEREQUIREDDATE" | translate }}</th>
        <th>{{ "LBLRESPONDEDDATE" | translate }}</th>
        <th>{{ "LBLPRIORITY" | translate }}</th>
        <th>{{ "LBLSTATUS" | translate }}</th>
        <th>{{ "LBLACTIONPLANNED" | translate }}</th>
        <th>{{ "LBLACTIONPERFORMED" | translate }}</th>
        <th>{{ "LBLENTEREDBY" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr
        class="ui-widget-header"
        *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
      >
        <td class="headerTD1" [attr.colspan]="11">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSITENAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.SITENAME }}</span
              ></span
            >
          </a>
        </td>
      </tr>
      <tr>
        <td class="submoduleTable1">
          <a
            style="text-decoration: underline; cursor: pointer"
            (click)="
              openSubReport(rowData['CORRACTIONID'], rowData['CARDSTATUS'])
            "
            >{{ rowData.CORRACTIONID }}</a
          >
        </td>
        <td class="submoduleTable1">
          {{ rowData.OBSERVATIONDATE }}
        </td>
        <td class="submoduleTable1">{{ rowData.RESPONSIBLEPERSON }}</td>
        <td class="submoduleTable1">{{ rowData.ACTIONOWNER }}</td>
        <td class="submoduleTable1">
          {{ rowData.RESPONSEREQUIREDDATE }}
        </td>
        <td class="submoduleTable1">
          {{ rowData.RESPONSEDATE }}
        </td>
        <td class="submoduleTable1">{{ rowData.PRIORITY | translate }}</td>
        <td class="submoduleTable1">{{ rowData.CARDSTATUS | translate }}</td>
        <td class="submoduleTable1">{{ rowData.ACTIONPLANNED }}</td>
        <td class="submoduleTable1">{{ rowData.ACTIONPERFORMED }}</td>
        <td class="submoduleTable1">{{ rowData.ENTEREDBY }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && errormsg">
  <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
</ng-container>

<p-dialog
  header="Sub Reports - {{ headName }}"
  class="checklist-dialog"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="displaySubReport"
  [rtl]="true"
  [style]="{ width: '95%', height: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="displaySubReport">
    <app-sub-corrective-action-report
      [reportId]="reportId"
      [subReportId]="14"
      [correctionId]="selectedCorrectionId"
    ></app-sub-corrective-action-report>
  </div>
</p-dialog>
