<div class="ui-g-12" [hidden]="isLoading">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
    <p-tabView>
      <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-playlist-add-check">
        <form [formGroup]="AddEmailGeneral" (ngSubmit)="onSubmit(AddEmailGeneral.value)" ngxScrollToFirstInvalid>
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 observation_input">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input type="text" pInputText class="ui-md-12" formControlName="EmailOptionName" />
                  <label class="required inputLabel">{{
                    "LBLMAILOPTIONNAME" | translate
                  }}</label>
                </span>
                <div *ngIf="submitted && GeneralSubForm.EmailOptionName.errors" class="invalid-feedback">
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMAILOPTION' | translate }}" *ngIf="
                      GeneralSubForm.EmailOptionName.errors.required ||
                      AddEmailGeneral.get('EmailOptionName').hasError(
                        'whitespace'
                      )
                    ">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select placeholder="{{ 'LBLMAILTYPE' | translate }}" [searchable]="false" [items]="emailType"
                  (change)="onChangeEmailType($event)" bindLabel="SCHEDULETYPENAME" [clearable]="false"
                  bindValue="SCHEDULETYPEID" formControlName="EmailType">
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                <ng-select placeholder="{{ 'LBLMAILFROM' | translate }}" [searchable]="false" [items]="mailDetailsFrom"
                  (change)="onChangeEmailDetailsFrom($event)" bindLabel="SCHEDULENAME" [clearable]="false"
                  bindValue="SCHEDULEID" formControlName="ScheduleId">
                </ng-select>
              </div>
            </div>
            <div class="heading-lefts ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-2">
                <label class="text-center">{{
                  "LBLMAILDETAILS" | translate
                }}</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 observation_input">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input type="text" pInputText class="ui-md-12" formControlName="ReplyTo" />
                  <label class="required inputLabel">{{
                    "LBLMAILREPLY" | translate
                  }}</label>
                </span>
                <div *ngIf="submitted && GeneralSubForm.ReplyTo.errors" class="invalid-feedback">
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMAILREPLYTO' | translate }}" *ngIf="
                      GeneralSubForm.ReplyTo.errors &&
                      !AddEmailGeneral.get('ReplyTo').hasError('isEmail')
                    ">
                  </p-message>
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMULTIMAILIDREPLYTO' | translate }}"
                    *ngIf="AddEmailGeneral.get('ReplyTo').hasError('isEmail')">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input type="text" pInputText class="ui-md-12" formControlName="CopyFrom" />
                  <label class="inputLabel">{{
                    "LBLMAILCC" | translate
                  }}</label>
                </span>
                <div *ngIf="submitted && GeneralSubForm.CopyFrom.errors" class="invalid-feedback">
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMAILCC' | translate }}" *ngIf="
                      GeneralSubForm.CopyFrom.errors &&
                      !AddEmailGeneral.get('CopyFrom').hasError('ccEmail')
                    ">
                  </p-message>
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMULTIMAILCC' | translate }}"
                    *ngIf="AddEmailGeneral.get('CopyFrom').hasError('ccEmail')">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input type="text" pInputText class="ui-md-12" formControlName="Subject" />
                  <label class="required inputLabel">{{
                    "LBLCASUBJECT" | translate
                  }}</label>
                </span>
                <div *ngIf="submitted && GeneralSubForm.Subject.errors" class="invalid-feedback">
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMAILSUB' | translate }}" *ngIf="
                      GeneralSubForm.Subject.errors.required ||
                      AddEmailGeneral.get('Subject').hasError('whitespace')
                    ">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 observation_input">
                <label class="required dateLabel"
                  style="margin-bottom: 10px !important; display: block"><b>{{ "LBLMAILBODY" | translate }}</b></label>
                <textarea id="tinymceEditor" formControlName="BodyContent"></textarea>
                <div *ngIf="submitted && GeneralSubForm.BodyContent.errors" class="invalid-feedback">
                  <p-message class="errorMsg" severity="error" text="{{ 'ALTMAILBODY' | translate }}"
                    *ngIf="GeneralSubForm.BodyContent.errors.required">
                  </p-message>
                </div>
                <!-- <p class="note_msg" >
                  {{ "LBLNOTENEWUSERANDFORGOTPWD" | translate }}
                </p> -->
              </div>
            </div>
            <div class="heading-lefts ui-g-12 ui-md-3">
              <div class="ui-g-12 ui-md-12">
                <label>{{ "LBLMAILFILTERCRITERIA" | translate }}</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-9 text-right" style="padding-bottom: 0px">
              <button type="button" icon="ui-icon-filter-list" title="{{ 'LBLFILTERS' | translate }}" class="ml" pButton
                (click)="toggleFilterShow()"></button>
            </div>
            <!-- Filter Toggle -->
            <div class="ui-g-12 ui-md-12">
              <div [@slideInOut]="animationState">
                <div class="card card-w-title right-top-arrow" style="padding-bottom: 0px">
                  <div id="svgtoggle">
                    <svg height="15" width="200">
                      <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
                    </svg>
                  </div>
                  <div class="lablemargin-tops">
                    <label class="text-left">{{
                      "LBLSITESFILTERS" | translate
                    }}</label>
                  </div>
                  <div class="clearfix"></div>
                  <ng-container *ngIf="filterSite">
                    <div class="ui-g-12 ui-md-4 multiSelectDropDwon" *ngFor="let filter of filterSite; let i = index"
                      style="padding-left: none">
                      <div class="filterLable">
                        <label>{{ filter["Name"] | translate }}</label>
                      </div>
                      <p-multiSelect [options]="filter['Data']" class="required" formControlName="{{ filter['field'] }}"
                        [defaultLabel]="'LBLCHOOSE' | translate">
                      </p-multiSelect>
                    </div>
                  </ng-container>
                  <div class="clearfix"></div>
                  <div class="lablemargin-tops">
                    <label class="text-left">{{
                      "LBLGROUPS" | translate
                    }}</label>
                  </div>
                  <div class="clearfix"></div>
                  <ng-container *ngIf="filterData">
                    <div class="ui-g-12 ui-md-4 multiSelectDropDwon" *ngFor="let filter of filterData; let i = index"
                      style="padding-left: none">
                      <div class="filterLable">
                        <label>{{ filter["Name"] | translate }}</label>
                      </div>
                      <p-multiSelect [options]="filter['Data']" class="required" formControlName="{{ filter['field'] }}"
                        [defaultLabel]="'LBLCHOOSE' | translate">
                      </p-multiSelect>
                    </div>
                  </ng-container>
                  <div class="clearfix"></div>
                  <div class="ui-g-12 ui-md-12 pl-0 p-0 advanceButton" *ngIf="optionalFilter.length != 0">
                    <div class="ui-g-12 ui-md-3">
                      <button type="button" [icon]="iconType" (click)="advance_search()"
                        label="{{ 'LBLADVANCEFILTER' | translate }}" class="advance-search" pButton></button>
                    </div>
                  </div>
                  <!-- Advance Search -->
                  <div *ngIf="show_advance_search">
                    <div class="advance-search-block">
                      <div class="ui-g-12 ui-md-12 advanceBorder">
                        <ng-container *ngIf="optionalFilter">
                          <div class="ui-g-12 ui-md-4 multiSelectDropDwon"
                            *ngFor="let filter of optionalFilter; let i = index">
                            <div class="filterLable">
                              <label>{{ filter["Name"] | translate }}</label>
                            </div>
                            <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="filter['Data']"
                              class="required" formControlName="{{ filter['field'] }}">
                            </p-multiSelect>
                          </div>
                        </ng-container>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <!-- Advance Search -->
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!-- Filter Toggle -->
            <div class="heading-lefts ui-g-12 ui-md-12" *ngIf="scheduleStatus">
              <div class="ui-g-12 ui-md-2">
                <label class="text-center">{{
                  "LBLMAILSHEDULE" | translate
                }}</label>
              </div>
            </div>
            <ng-container *ngIf="scheduleStatus">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                  <ng-select placeholder="{{ 'LBLMAILSENT' | translate }}" [searchable]="false" [items]="sendThisMail"
                    bindLabel="name" [clearable]="false" bindValue="id" (change)="onSendThisMailChange($event)"
                    formControlName="SendThisMail">
                  </ng-select>
                </div>
                <div class="ui-g-12 ui-md-8 p-0">
                  <ng-container *ngIf="selectedMailType === 1">
                    <div class="ui-g-12 ui-md-12 p-0">
                      <diV class="ui-g-12 ui-md-1">
                        <label>{{ "LBLEVERY" | translate }}</label>
                      </diV>
                      <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                        <ng-select [searchable]="false" [items]="days" formControlName="Day" bindLabel="label"
                          [clearable]="false" bindValue="value">
                        </ng-select>
                      </div>
                      <diV class="ui-g-12 ui-md-2">
                        <label>{{ "LBLDAYS" | translate }}</label>
                      </diV>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="selectedMailType === 2">
                    <div class="ui-g-12 ui-md-12">
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="0"
                          label="{{ 'LBLSUNDAY' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="1"
                          label="{{ 'LBLMONDAY' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="2"
                          label="{{ 'LBLTUEDAY' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="3"
                          label="{{ 'LBLWEDDAY' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="4"
                          label="{{ 'LBLTHUDAY' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="5"
                          label="{{ 'LBLFRIDAY' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DayList" name="DayList" value="6"
                          label="{{ 'LBLSATDAY' | translate }}"></p-radioButton>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="selectedMailType === 3">
                    <div class="ui-g-12 ui-md-6">
                      <h5>{{ "LBLTHE" | translate }}</h5>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="EveryDWM" name="week" value="0"
                          label="{{ 'LBLFIRST' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="EveryDWM" name="week" value="1"
                          label="{{ 'LBLSEC' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="EveryDWM" name="week" value="2"
                          label="{{ 'LBLTHIRD' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="EveryDWM" name="week" value="3"
                          label="{{ 'LBLFOUR' | translate }}"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="EveryDWM" name="week" value="4"
                          label="{{ 'LBLLAST' | translate }}"></p-radioButton>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                      <h5>{{ "LBLDAYWEEK" | translate }}</h5>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="0" label="{{ 'LBLSUNDAY' | translate }}">
                        </p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="1" label="{{ 'LBLMONDAY' | translate }}">
                        </p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="2" label="{{ 'LBLTUEDAY' | translate }}">
                        </p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="3" label="{{ 'LBLWEDDAY' | translate }}">
                        </p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="4" label="{{ 'LBLTHUDAY' | translate }}">
                        </p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="5" label="{{ 'LBLFRIDAY' | translate }}">
                        </p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <p-radioButton formControlName="DWM" name="day" value="6" label="{{ 'LBLSATDAY' | translate }}">
                        </p-radioButton>
                      </div>
                    </div>
                  </ng-container>
                  <div *ngIf="submitted && GeneralSubForm.DayList.errors" class="invalid-feedback">
                    <p-message class="errorMsg" severity="error" text="{{ 'ALTSELDAY' | translate }}"
                      *ngIf="GeneralSubForm.DayList.errors.required">
                    </p-message>
                  </div>
                  <div *ngIf="
                      submitted &&
                      GeneralSubForm.DWM.errors &&
                      !GeneralSubForm.EveryDWM.errors
                    " class="invalid-feedback">
                    <p-message class="errorMsg" severity="error" text="{{ 'ALTSELWEEKDAY' | translate }}"
                      *ngIf="GeneralSubForm.DWM.errors.required">
                    </p-message>
                  </div>
                  <div *ngIf="
                      submitted &&
                      GeneralSubForm.EveryDWM.errors &&
                      !GeneralSubForm.DWM.errors
                    " class="invalid-feedback">
                    <p-message class="errorMsg" severity="error" text="{{ 'ALTSELDAY' | translate }}"
                      *ngIf="GeneralSubForm.EveryDWM.errors.required">
                    </p-message>
                  </div>
                  <div *ngIf="
                      submitted &&
                      GeneralSubForm.EveryDWM.errors &&
                      GeneralSubForm.DWM.errors
                    " class="invalid-feedback">
                    <p-message class="errorMsg" severity="error" text="{{ 'ALTSELWEEKDAY' | translate }}" *ngIf="
                        GeneralSubForm.EveryDWM.errors.required &&
                        GeneralSubForm.DWM.errors.required
                      ">
                    </p-message>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                  <ng-select placeholder="{{ 'LBLSTARTTIME' | translate }}" [searchable]="false" [items]="startTime"
                    bindLabel="name" [clearable]="false" bindValue="id" formControlName="StartTime">
                  </ng-select>
                </div>
                <div class="ui-g-12 ui-md-4 observation_input mb-10">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <input type="text" pInputText class="ui-md-12" formControlName="MaximumEmailUser" />
                    <label class="required inputLabel">{{
                      "LBLMAXMAIL" | translate
                    }}</label>
                  </span>
                  <div *ngIf="submitted && GeneralSubForm.MaximumEmailUser.errors" class="invalid-feedback">
                    <p-message class="errorMsg" severity="error" text="{{ 'ALTMAXEMAILLENGTH' | translate }}" *ngIf="
                        GeneralSubForm.MaximumEmailUser.errors.required ||
                        GeneralSubForm.MaximumEmailUser.errors?.maxlength ||
                        GeneralSubForm.MaximumEmailUser.hasError('pattern') ||
                        GeneralSubForm.MaximumEmailUser.errors?.min
                      ">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                  <ng-select placeholder="{{ 'LBLSTATUS' | translate }}" [searchable]="false" [items]="status"
                    bindLabel="name" [clearable]="false" bindValue="id" formControlName="Status">
                  </ng-select>
                </div>
                <div class="clearfix"></div>
              </div>
            </ng-container>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-12 pl-0">
                <div class="ui-g-12 ui-md-8 submitButton">
                  <div class="ui-g-12 ui-md-3 ui-lg-2 pl-0">
                    <button pButton type="submit" [disabled]="AddEmailGeneral.pristine"
                      label="{{ 'LBLSAVE' | translate }}" title="{{ 'LBLSAVE' | translate }}"></button>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <button pButton type="button" title="{{ 'LBLRESET' | translate }}" (click)="onReset()"
                      label="{{ 'LBLRESET' | translate }}" class="reset-btn"
                      [disabled]="AddEmailGeneral.pristine"></button>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>