@function opac($color, $opacity) {
  $color: str-replace($color, "var(");
  $color: str-replace($color, ")");
  $color-h: var(#{$color + "-h"});
  $color-s: var(#{$color + "-s"});
  $color-l: var(#{$color + "-l"});
  @return hsla($color-h, $color-s, $color-l, $opacity);
}
// replace substring with another string
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

:root {
  --primary-color: #009688;
  --primary-color-h: #{hue(#009688)};
  --primary-color-s: #{saturation(#009688)};
  --primary-color-l: #{lightness(#009688)};
  --primary-color-lighten-25-desaturate-25: #{desaturate(
      lighten(#009688, 25%),
      25%
    )};
  --primary-color-lighten-10: #{lighten(#009688, 10%)};
  --primary-color-darken-10: #{darken(#009688, 10%)};
  --buttonTextColor: #ffffff;
}

$primaryColor: var(--primary-color);
$primaryDarkColor: var(--primary-color-darken-10);
$primaryLightColor: var(--primary-color-darken-10);
$primaryLightestColor: var(--primary-color-lighten-25-desaturate-25);
$primaryTextColor: #ffffff;
$accentColor: #f44336;
$accentDarkColor: #e57373;
$accentLightColor: #d32f2f;
$accentTextColor: #ffffff;

@import "../sass/theme/_theme";
