<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog acceptLabel="{{ 'LBLYES' | translate }}" rejectLabel="{{ 'LBLNO' | translate }}"
        class="{{ confirmClass }}" header="{{ appName }}" icon="ui-icon-info"></p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <h1>{{ "LBLMAILLIST" | translate }}</h1>
      <div class="ui-g-12 ui-md-4 ui-lg-4 multiSelectDropDwon user-select">
        <ng-select [searchable]="true" [clearable]="false" [items]="searchBy" bindLabel="name" bindValue="id"
          [(ngModel)]="selectedField">
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchInput" (keyup.enter)="onTextSearch(tableValue)" />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button pButton type="button" icon="ui-icon-search" title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch(tableValue)"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-5 ui-lg-5 text-right" style="padding-top: 11px;">
        <button type="button" icon="ui-icon-add" title="{{ 'LBLADD' | translate }}" [routerLink]="['/add-email']"
          skipLocationChange="true" pButton></button>
        <button type="button" [disabled]="selectedData.length == 0" icon="ui-icon-swap-horiz" class="ml"
          title="{{ 'LBLCHANGESTATUS' | translate }}" (click)="changeStatus()" pButton></button>
        <button type="button" icon="ui-icon-delete" [disabled]="selectedData.length == 0" class="ml activebtn"
          (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}" *ngIf="roleId != 2"></button>
        <button type="button" icon="ui-icon-filter-list" title="{{ 'LBLFILTERS' | translate }}" class="ml" pButton
          (click)="toggleFilterShow()"></button>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState">
        <div class="card card-w-title right-top-arrow" style="padding-bottom: 0px;">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left">{{ "LBLFILTERS" | translate }}</label>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-4">
            <div class="filterLable">
              <label>{{ "LBLMAILTYPE" | translate }}</label>
            </div>
            <p-multiSelect id="selectedEmailType" [options]="emailType" class="required" [(ngModel)]="selectedEmailType"
              [defaultLabel]="'LBLCHOOSE' | translate">
            </p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="filterLable">
              <label>{{ "LBLSTATUS" | translate }}</label>
            </div>
            <p-multiSelect id="selectedStatus" [options]="status" class="required" [(ngModel)]="selectedStatus"
              [defaultLabel]="'LBLCHOOSE' | translate">
            </p-multiSelect>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-12 pl-0">
            <button pButton type="button" label="{{ 'LBLFILTERRECORDS' | translate }}"
              title="{{ 'LBLFILTERRECORDS' | translate }}" class="filterBtn" (click)="filterEmails()"></button>
            <button pButton type="reset" label="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
              title="{{ 'LBLCLEARFILTERRECORDS' | translate }}" class="filterBtn"
              (click)="clearFilter(tableValue)"></button>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Filter Toggle -->
      <div class="ui-g-12 ui-md-12 email-listing-table">
        <p-table #tableValue [columns]="cols" [value]="emailList" selectionMode="multiple" [paginator]="true"
          [rows]="20" [(selection)]="selectedData" class="group-listing grouplisting">
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns.length + 1" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header | translate }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <!-- <tr [pSelectableRow]="rowData"> -->
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns; let i = index" style="cursor: pointer;">
                <ng-container *ngIf="i < colsCount - 1">
                  <a routerLink="/edit-email/{{ rowData['SCHEDULEID'] }}" skipLocationChange="true"
                    title=" {{ rowData[col.field] | translate }}">
                    {{ rowData[col.field] | translate }}</a>
                </ng-container>
                <ng-container *ngIf="i == colsCount - 1">
                  <p-button label="{{ rowData.STATUS | translate }}" *ngIf="rowData.STATUS == 'LBLACTIVE'"
                    class="actionButton" title="{{ rowData.STATUS | translate }}"
                    (click)="changeStatusBtn(rowData['SCHEDULEID'])">
                  </p-button>
                  <p-button label="{{ rowData.STATUS | translate }}" *ngIf="rowData.STATUS == 'LBLINACTIVE'"
                    class="actionButtonD" title="{{ rowData.STATUS | translate }}"
                    (click)="changeStatusBtn(rowData['SCHEDULEID'])">
                  </p-button>
                  <p-button label="{{ rowData.STATUS | translate }}" *ngIf="rowData.STATUS == 'LBLLOCKED'"
                    class="actionButtonD" title="{{ rowData.STATUS | translate }}"
                    (click)="changeStatusBtn(rowData['SCHEDULEID'])">
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>