::ng-deep .ui-dialog-resizable .ui-dialog-content {
  overflow: visible;
}

.padding-left {
  padding-left: 0px !important;
}

.padding-right {
  padding-right: 0px !important;
}

::ng-deep .layout-wrapper .layout-main .layout-topbar {
  z-index: 999 !important;
}

::ng-deep body .ui-table .ui-table-tbody>tr>td {
  word-break: break-all;
}

::ng-deep .downloadBTN {
  width: 150px !important;
}

::ng-deep .downloadBTN:hover {
  width: 150px !important;
  border: 0px solid transparent !important;
}

::ng-deep body .ui-button .ui-button-text{
  line-height: 1.4em !important
}