<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        header="{{ 'LBLCONFIRM' | translate }}"
        acceptLabel="{{ 'LBLYES' | translate }}"
        rejectLabel="{{ 'LBLNO' | translate }}"
        closeOnEscape="true"
      ></p-confirmDialog>
      <p-toast
        [style]="{ marginTop: '80px', width: '450px' }"
        position="top-center"
      ></p-toast>
      <h1 *ngIf="reportDetails">{{ reportDetails.REPORTNAME | translate }}</h1>
      <div
        class="ui-g-12 ui-md-2 user-select"
        *ngIf="savedFilterList.length > 0"
      >
        <span class="md-inputfield">
          <ng-select
            [items]="savedFilterList"
            [multiple]="false"
            bindLabel="FILTERNAME"
            [searchable]="false"
            [closeOnSelect]="false"
            [selectableGroup]="false"
            [clearable]="false"
            bindValue="FILTERID"
            [(ngModel)]="selectedSavedFilter"
            (change)="getFilterCriteria()"
            placeholder="{{ 'LBLSAVEDFILTERS' | translate }}"
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              {{ item.FILTERNAME }}
            </ng-template>
          </ng-select>
          <label class="dropDown-lable">{{
            "LBLSAVEDFILTERS" | translate
          }}</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-10 text-right" style="margin-bottom: 15px">
        <button
          type="button"
          icon="ui-icon-delete"
          class="ml activebtn"
          (click)="deleteRecord()"
          pButton
          title="{{ 'LBLDELETE' | translate }}"
        ></button>
        <button
          type="button"
          icon="ui-icon-filter-list"
          class="ml"
          id="slideToggle"
          pButton
          title="{{ 'LBLFILTERS' | translate }}"
          (click)="viewFilters = !viewFilters"
        ></button>
      </div>
      <div class="clearfix"></div>
      <div style="text-align: center" *ngIf="!isLoaded">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <!-- Filter Toggle -->
      <div id="slideDwon" *ngIf="isLoaded && viewFilters">
        <div class="card card-w-title right-top-arrow">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left labelfilter"
              >{{ "LBLSITE" | translate }} {{ "LBLFILTERS" | translate }}</label
            >
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngFor="let filter of filterList; let i = index">
            <div
              class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
            >
              <div class="filterLable">
                <label>{{ filter.Name | translate }}</label>
              </div>
              <p-multiSelect
                [defaultLabel]="'LBLCHOOSE' | translate"
                (onChange)="getOtherData(filter.REPORTPARAM)"
                id="selectedFilter[filter.REPORTPARAM]"
                [options]="filter.Data"
                class="required"
                [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
              >
              </p-multiSelect>
            </div>
            <div class="clearfix" *ngIf="(i + 1) % 4 == 0"></div>
          </ng-container>
          <div class="ui-g-12 ui-md-12 pl-0" *ngIf="filterGroups.length > 0">
            <label class="text-left labelfilter">{{
              "LBLGROUPS" | translate
            }}</label>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngFor="let filter of filterGroups; let i = index">
            <div
              class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
            >
              <div class="filterLable">
                <label>{{ filter.Name | translate }}</label>
              </div>
              <p-multiSelect
                [defaultLabel]="'LBLCHOOSE' | translate"
                (onChange)="getOtherData(filter.REPORTPARAM)"
                id="selectedFilter[filter.REPORTPARAM]"
                [options]="filter.Data"
                class="required"
                [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
              >
              </p-multiSelect>
            </div>
            <div class="clearfix" *ngIf="(i + 1) % 4 == 0"></div>
          </ng-container>
          <div class="ui-g-12 ui-md-12 pl-0" *ngIf="filterGroupBy.length > 0">
            <label class="text-left labelfilter required">{{
              "LBLGROUPBY" | translate
            }}</label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngFor="let filter of filterGroupBy; let i = index">
            <div
              class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
            >
              <ng-select
                placeholder="{{ filter.Name | translate }}"
                title="{{ filter.Name | translate }}"
                [items]="filter.Data"
                [multiple]="false"
                bindLabel="label"
                [selectableGroup]="false"
                [searchable]="true"
                [clearable]="false"
                [closeOnSelect]="false"
                bindValue="value"
                [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
                (change)="changeGroupList()"
              >
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-item$="item$"
                  let-index="index"
                >
                  <div title="{{ item.label }}">{{ item.label }}</div>
                </ng-template>
              </ng-select>
            </div>
            <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
          </ng-container>
          <div class="ui-g-12 ui-md-12 pl-0" *ngIf="filterCategory.length > 0">
            <label
              class="text-left labelfilter"
              [class.required]="reportId == 21"
              >{{ "LBLCATEGORIES" | translate }}</label
            >
          </div>
          <div class="clearfix"></div>
          <ng-container *ngFor="let filter of filterCategory; let i = index">
            <div
              class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
              *ngIf="reportId != 21"
            >
              <div class="filterLable">
                <label>{{ filter.Name | translate }}</label>
              </div>
              <p-multiSelect
                [defaultLabel]="'LBLCHOOSE' | translate"
                id="selectedFilter[filter.REPORTPARAM]"
                [options]="filter.Data"
                class="required"
                [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
              >
              </p-multiSelect>
            </div>
            <!-- reportId == 21 (Data dump report) -->
            <div
              class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
              *ngIf="reportId == 21"
            >
              <ng-select
                placeholder="{{ filter.Name | translate }}"
                title="{{ filter.Name | translate }}"
                [items]="filter.Data"
                [multiple]="false"
                bindLabel="label"
                [selectableGroup]="false"
                [searchable]="true"
                [clearable]="false"
                [closeOnSelect]="false"
                bindValue="value"
                [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
              >
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-item$="item$"
                  let-index="index"
                >
                  <div title="{{ item.label }}">{{ item.label }}</div>
                </ng-template>
              </ng-select>
            </div>
            <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
          </ng-container>
          <div class="ui-g-12 ui-md-12 pl-0" *ngIf="filterDateList.length > 0">
            <label class="text-left labelfilter required">{{
              "LBLDATEFILTERS" | translate
            }}</label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterDateList.length > 0">
            <div
              class="ui-g-12 ui-md-12 ui-lg-3"
              *ngFor="let dateFilter of filterDateList"
            >
              <label class="inputLabel filterObsLabel"
                ><a
                  title="{{ dateFilter.Name | translate }}"
                  style="cursor: pointer"
                  (click)="
                    openDateFilter(dateFilter.REPORTPARAM, dateFilter.Name)
                  "
                  >{{ dateFilter.Name | translate }}</a
                ></label
              ><br />
              <!-- <ng-container *ngFor="let item of keys"> -->
              <ng-container
                *ngIf="
                  selectedDateFilters && (reportId == 17 || reportId == 21)
                "
              >
                <div
                  class="ui-g-12 ui-md-12 ui-lg-12 filter-padding pl-0 filter-padding"
                >
                  <h5
                    style="margin: 0; font-size: 14px; font-weight: normal"
                    *ngIf="trendFromMonth"
                  >
                    {{ trendFromMonthString | translate }} {{ trendFromYear }} -
                    {{ trendToMonthString | translate }}
                    {{ trendToYear }}
                    <!-- <ng-container *ngIf="trendFromMonth == 1"
                      >{{ "FMKJANUARY" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 1"
                      >{{ "FMKJANUARY" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 2"
                      >{{ "FMKFEBRUARY" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 2"
                      >{{ "FMKFEBRUARY" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 3"
                      >{{ "FMKMARCH" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 3"
                      >{{ "FMKMARCH" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 4"
                      >{{ "FMKAPRIL" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 4"
                      >{{ "FMKAPRIL" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 5"
                      >{{ "FMKMAY" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 5"
                      >{{ "FMKMAY" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 6"
                      >{{ "FMKJUNE" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 6"
                      >{{ "FMKJUNE" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 7"
                      >{{ "FMKJULY" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 7"
                      >{{ "FMKJULY" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 8"
                      >{{ "FMKAUGUST" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 8"
                      >{{ "FMKAUGUST" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 9"
                      >{{ "FMKSEPTEMBER" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 9"
                      >{{ "FMKSEPTEMBER" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 10"
                      >{{ "FMKOCTOBER" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 10"
                      >{{ "FMKOCTOBER" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 11"
                      >{{ "FMKNOVEMBER" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 11"
                      >{{ "FMKNOVEMBER" | translate }}
                      {{ trendToYear }}</ng-container
                    >
                    <ng-container *ngIf="trendFromMonth == 12"
                      >{{ "FMKDECEMBER" | translate }}
                      {{ trendFromYear }} - </ng-container
                    ><ng-container *ngIf="trendToMonth == 12"
                      >{{ "FMKDECEMBER" | translate }}
                      {{ trendToYear }}</ng-container
                    > -->
                  </h5>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedDateFilters && reportId != 17 && reportId != 21"
              >
                <ng-container *ngFor="let newDateFilter of dateSelectedData">
                  <div
                    class="ui-g-12 ui-md-12 filter-padding filter-padding pl-0"
                    *ngIf="
                      dateFilter.REPORTPARAM == newDateFilter['reportParam'] &&
                      keys.indexOf(dateFilter.REPORTPARAM) != -1
                    "
                  >
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="newDateFilter['obsDateCheck'] == 'YTD'"
                    >
                      {{ "FMKYTD" | translate }}
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="newDateFilter['obsDateCheck'] == 'CMY'"
                    >
                      {{ "FMKCMY" | translate }}
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="
                        newDateFilter['obsDateCheck'] == 'PRVMONTH' &&
                        reportId != 19
                      "
                    >
                      {{ "FMKLAST" | translate }} {{ newDateFilter["month"] }}
                      {{ "FMKMONTH" | translate }}
                      <ng-container *ngIf="newDateFilter['includeToday'] == 1">
                        - {{ "FMKTD" | translate }}
                      </ng-container>
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="
                        newDateFilter['obsDateCheck'] == 'PRVMONTH' &&
                        reportId == 19
                      "
                    >
                      {{ "FMKLAST" | translate }} {{ newDateFilter["month"] }}
                      {{ "FMKWEEK" | translate }}
                      <ng-container *ngIf="newDateFilter['includeToday'] == 1">
                        - {{ "FMKTD" | translate }}
                      </ng-container>
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="newDateFilter['obsDateCheck'] == 'FTDATE'"
                    >
                      {{ newDateFilter["value"] }}
                    </h5>
                  </div>
                </ng-container>
              </ng-container>
              <!-- </ng-container> -->
            </div>
            <div class="clearfix"></div>
            <!-- <ng-container
              *ngIf="selectedDateFilters && (reportId == 17 || reportId == 21)"
            >
              <div class="ui-g-12 ui-md-2 filter-padding filter-padding">
                <h5 style="margin: 0; font-size: 14px; font-weight: normal">
                  <ng-container *ngIf="trendFromMonth == 1"
                    >{{ "FMKJANUARY" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 1"
                    >{{ "FMKJANUARY" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 2"
                    >{{ "FMKFEBRUARY" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 2"
                    >{{ "FMKFEBRUARY" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 3"
                    >{{ "FMKMARCH" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 3"
                    >{{ "FMKMARCH" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 4"
                    >{{ "FMKAPRIL" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 4"
                    >{{ "FMKAPRIL" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 5"
                    >{{ "FMKMAY" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 5"
                    >{{ "FMKMAY" | translate }} {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 6"
                    >{{ "FMKJUNE" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 6"
                    >{{ "FMKJUNE" | translate }} {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 7"
                    >{{ "FMKJULY" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 7"
                    >{{ "FMKJULY" | translate }} {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 8"
                    >{{ "FMKAUGUST" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 8"
                    >{{ "FMKAUGUST" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 9"
                    >{{ "FMKSEPTEMBER" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 9"
                    >{{ "FMKSEPTEMBER" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 10"
                    >{{ "FMKOCTOBER" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 10"
                    >{{ "FMKOCTOBER" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 11"
                    >{{ "FMKNOVEMBER" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 11"
                    >{{ "FMKNOVEMBER" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                  <ng-container *ngIf="trendFromMonth == 12"
                    >{{ "FMKDECEMBER" | translate }}
                    {{ trendFromYear }} - </ng-container
                  ><ng-container *ngIf="trendToMonth == 12"
                    >{{ "FMKDECEMBER" | translate }}
                    {{ trendToYear }}</ng-container
                  >
                </h5>
              </div>
            </ng-container> -->
            <ng-container
              *ngIf="selectedDateFilters && reportId != 17 && reportId != 21"
            >
              <!-- <ng-container *ngFor="let item of keys">
                <ng-container *ngFor="let dateFilter of dateSelectedData">
                  <div
                    class="ui-g-12 ui-md-2 filter-padding filter-padding"
                    *ngIf="item == dateFilter['reportParam']"
                  >
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="dateFilter['obsDateCheck'] == 'YTD'"
                    >
                      {{ "FMKYTD" | translate }}
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="dateFilter['obsDateCheck'] == 'CMY'"
                    >
                      {{ "FMKCMY" | translate }}
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="dateFilter['obsDateCheck'] == 'PRVMONTH'"
                    >
                      {{ "FMKLAST" | translate }} {{ dateFilter["month"] }}
                      {{ "FMKMONTH" | translate }}
                      <ng-container *ngIf="dateFilter['includeToday'] == 1">
                        - {{ "FMKTD" | translate }}
                      </ng-container>
                    </h5>
                    <h5
                      style="margin: 0; font-size: 14px; font-weight: normal"
                      *ngIf="dateFilter['obsDateCheck'] == 'FTDATE'"
                    >
                      {{ dateFilter["value"] }}
                    </h5>
                  </div>
                </ng-container>
              </ng-container> -->
            </ng-container>
            <div class="clearfix"></div>
          </ng-container>
          <div class="ui-g-12 ui-md-12 pl-0" *ngIf="filterChartType.length > 0">
            <label class="text-left labelfilter required">{{
              "LBLCHARTTYPE" | translate
            }}</label>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngFor="let filter of filterChartType; let i = index">
            <div
              class="ui-g-12 ui-md-4 ui-lg-4 filter-padding ui-lg-3 filter-padding"
            >
              <ng-select
                placeholder="{{ filter.Name | translate }}"
                title="{{ filter.Name | translate }}"
                [items]="filter.Data"
                [multiple]="false"
                bindLabel="label"
                [selectableGroup]="false"
                [searchable]="false"
                [clearable]="false"
                [closeOnSelect]="false"
                bindValue="value"
                [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
              >
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-item$="item$"
                  let-index="index"
                >
                  <div title="{{ item.label }}">{{ item.label }}</div>
                </ng-template>
              </ng-select>
            </div>
            <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
          </ng-container>
          <div class="clearfix"></div>
          <div
            class="ui-g-12 ui-md-12 pl-0 p-0 advanceButton"
            *ngIf="filterOptional.length > 0"
          >
            <div class="ui-g-12 ui-md-3">
              <button
                type="button"
                [icon]="iconType"
                (click)="advance_search()"
                label="{{ 'LBLADVANCEFILTER' | translate }}"
                title="{{ 'LBLADVANCEFILTER' | translate }}"
                class="advance-search"
                pButton
              ></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div *ngIf="show_advance_search">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12 advanceBorder">
                <ng-container
                  *ngFor="let filter of filterOptional; let i = index"
                >
                  <div
                    class="ui-g-12 ui-md-6 ui-lg-4 filter-padding ui-lg-3 filter-padding"
                  >
                    <div class="filterLable">
                      <label>{{ filter.Name | translate }}</label>
                    </div>
                    <p-multiSelect
                      [defaultLabel]="'LBLCHOOSE' | translate"
                      id="selectedFilter[filter.REPORTPARAM]"
                      [options]="filter.Data"
                      class="required"
                      [(ngModel)]="selectedFilter[filter.REPORTPARAM]"
                    >
                    </p-multiSelect>
                  </div>
                  <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
                </ng-container>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12 submitButton">
            <div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="reportId != 21">
              <button
                pButton
                type="button"
                label="{{ 'LBLRUNREPORT' | translate }}"
                title="{{ 'LBLRUNREPORT' | translate }}"
                class=""
                (click)="runReport()"
                *ngIf="reportId != 21"
              ></button>
            </div>
            <div
              class="ui-g-12 ui-md-3 ui-lg-2 downloadBTN"
              *ngIf="reportId == 21"
            >
              <button
                pButton
                type="button"
                label="{{ 'LBLDOWNLOADRPT' | translate }}"
                title="{{ 'LBLDOWNLOADRPT' | translate }}"
                class=""
                (click)="runReport()"
                *ngIf="reportId == 21"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                type="button"
                label="{{ 'LBLSAVEFILTER' | translate }}"
                title="{{ 'LBLSAVEFILTER' | translate }}"
                class="reset-btn"
                (click)="openCreateFilterPopup()"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                type="button"
                routerLink="/edit-reports/{{ reportId }}"
                skipLocationChange="true"
                label="{{ 'LBLEDITFILTER' | translate }}"
                title="{{ 'LBLEDITFILTER' | translate }}"
                class="reset-btn"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button
                pButton
                type="button"
                style="width: 140px"
                label="{{ 'FMKCLRITEMS' | translate }}"
                title="{{ 'FMKCLRITEMS' | translate }}"
                class="reset-btn newresetclass"
                (click)="clearAllFilters()"
              ></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Filter Toggle -->
    </div>
  </div>
</div>
<p-dialog
  header="{{ 'LBLCREATENEWFILTER' | translate }}"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="createNewFilterPopup"
  [rtl]="true"
  [style]="{ width: '385px', height: 'auto' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12 ui-md-12 observation_input">
      <span class="md-inputfield ui-md-12 padding-none">
        <input
          type="text"
          pInputText
          class="ui-md-12"
          [(ngModel)]="filterName"
          (input)="changeFilter($event)"
        />
        <label class="">{{ "LBLFILTERNAME" | translate }}</label>
      </span>
      <p-message
        severity="error"
        text="{{ 'ALTVALIDFILTERNAME1' | translate }}"
        *ngIf="filterNameEmpty"
      >
      </p-message>
    </div>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-3 pl-0">
        <button
          pButton
          type="button"
          [disabled]="saveFilterDisabled"
          label="{{ 'LBLSAVE' | translate }}"
          (click)="createNewFilter('new')"
          title="{{ 'LBLSAVE' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button
          pButton
          class="reset-btn"
          type="reset"
          title="{{ 'LBLRESET' | translate }}"
          (click)="resetNewFilterForm()"
          label="{{ 'LBLRESET' | translate }}"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="{{ 'LBLCONFIRM' | translate }}"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="updateFilterPopup"
  [rtl]="true"
  [style]="{ width: '385px', height: 'auto' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <span class="md-inputfield ui-md-12 padding-none">
      <label class="">{{ "ALTCREATEREPORTFILTERCONFIRM" | translate }}</label>
    </span>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-3 pl-0">
        <button
          pButton
          type="button"
          label="{{ 'LBLUPDATE' | translate }}"
          (click)="createNewFilter('update')"
          title="{{ 'LBLUPDATE' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button
          pButton
          type="reset"
          title="{{ 'LBLNEW' | translate }}"
          (click)="openNewFilter()"
          label="{{ 'LBLNEW' | translate }}"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="{{ tempSelectedFilterName }}"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="datePopup"
  [rtl]="true"
  [style]="{ width: '550px', height: 'auto' }"
  [closable]="false"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-6 pl-0" *ngIf="reportId != 19">
        <p-radioButton
          name="groupname"
          value="YTD"
          label="{{ 'FMKYTD' | translate }}"
          [(ngModel)]="obsDateCheck"
        >
        </p-radioButton>
      </div>
      <div class="ui-g-12 ui-md-6 pl-0">
        <p-radioButton
          name="groupname"
          value="CMY"
          label="{{ 'FMKCMY' | translate }}"
          [(ngModel)]="obsDateCheck"
        >
        </p-radioButton>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-2 padding-none">
        <p-radioButton
          name="groupname"
          value="PRVMONTH"
          label="{{ 'LBLPREVIOUS' | translate }}"
          [(ngModel)]="obsDateCheck"
        ></p-radioButton>
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <p-dropdown
          class="drop-down"
          [options]="previousMonth"
          [disabled]="obsDateCheck != 'PRVMONTH'"
          [(ngModel)]="selectMonth"
        >
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-2" *ngIf="reportId != 19">
        <span>{{ "LBLMONTHS" | translate }}</span>
      </div>
      <div class="ui-g-12 ui-md-2" *ngIf="reportId == 19">
        <span>{{ "FMKWEEK" | translate }}</span>
      </div>
      <div class="ui-g-12 ui-md-6 padding-none">
        <div class="ui-g-12 ui-md-12 padding-none p-b-t">
          <p-checkbox
            name="includeToday"
            binary="true"
            label="{{ 'FMKTD' | translate }}"
            [disabled]="obsDateCheck != 'PRVMONTH'"
            [(ngModel)]="includeToday"
          >
          </p-checkbox>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-3 padding-none">
        <p-radioButton
          name="DateRange"
          value="FTDATE"
          label="{{ 'FMKDR' | translate }}"
          [(ngModel)]="obsDateCheck"
        >
        </p-radioButton>
      </div>
      <div
        class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
      >
        <p-calendar
          placeholder="{{ 'FMKFROM' | translate }}"
          dateFormat="{{ dateFormat }}"
          [showIcon]="true"
          [maxDate]="currDate"
          [showButtonBar]="true"
          [disabled]="obsDateCheck != 'FTDATE'"
          [readonlyInput]="true"
          [yearNavigator]="true"
          [(ngModel)]="fromDate"
          yearRange="{{ yearList }}"
          [locale]="locale"
        >
        </p-calendar>
      </div>
      <div
        class="ui-g-12 ui-md-4 ui-lg-3 filter-padding ui-lg-3 filter-padding"
      >
        <p-calendar
          placeholder="{{ 'FMKTO' | translate }}"
          dateFormat="{{ dateFormat }}"
          [showIcon]="true"
          [maxDate]="currDate"
          [showButtonBar]="true"
          [(ngModel)]="toDate"
          [disabled]="obsDateCheck != 'FTDATE'"
          [readonlyInput]="true"
          [yearNavigator]="true"
          yearRange="{{ yearList }}"
          [locale]="locale"
        >
        </p-calendar>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-4 ui-lg-3 pl-0">
        <button
          pButton
          type="button"
          label="{{ 'FMKCLOSETEXT' | translate }}"
          (click)="dateSelected()"
          title="{{ 'FMKCLOSETEXT' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-3">
        <button
          pButton
          type="button"
          title="{{ 'LBLRESET' | translate }}"
          (click)="clearDaterange()"
          label="{{ 'LBLRESET' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-3">
        <button
          pButton
          type="reset"
          title="{{ 'LBLCANCEL' | translate }}"
          (click)="cancelObsDate()"
          label="{{ 'LBLCANCEL' | translate }}"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="{{ tempSelectedFilterName }}"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="detaDumpDatePopup"
  [rtl]="true"
  [style]="{ width: '550px', height: 'auto' }"
  [closable]="false"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12 ui-md-12 filterReportInputs">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-2 padding-left" style="padding: 24px 0">
          <span>{{ "FMKFROM" | translate }}</span>
        </div>
        <div class="ui-g-12 ui-md-5 padding-left">
          <ng-select
            placeholder="{{ 'LBLMONTH' | translate }}"
            title="{{ 'LBLMONTH' | translate }}"
            [items]="months"
            [multiple]="false"
            bindLabel="label"
            [selectableGroup]="false"
            [searchable]="true"
            [clearable]="false"
            [closeOnSelect]="false"
            bindValue="value"
            [(ngModel)]="trendFromMonth"
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              <div title="{{ item.label }}">{{ item.label }}</div>
            </ng-template>
          </ng-select>
        </div>
        <div class="ui-g-12 ui-md-5 padding-right">
          <ng-select
            placeholder="{{ 'LBLYEAR' | translate }}"
            title="{{ 'LBLYEAR' | translate }}"
            [items]="years"
            [multiple]="false"
            bindLabel="label"
            [selectableGroup]="false"
            [searchable]="true"
            [clearable]="false"
            [closeOnSelect]="false"
            bindValue="value"
            [(ngModel)]="trendFromYear"
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              <div title="{{ item.label }}">{{ item.label }}</div>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12 filterReportInputs">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-2 padding-left" style="padding: 24px 0">
          <span>{{ "FMKTO" | translate }}</span>
        </div>
        <div class="ui-g-12 ui-md-5 padding-left">
          <ng-select
            placeholder="{{ 'LBLMONTH' | translate }}"
            title="{{ 'LBLMONTH' | translate }}"
            [items]="months"
            [multiple]="false"
            bindLabel="label"
            [selectableGroup]="false"
            [searchable]="true"
            [clearable]="false"
            [closeOnSelect]="false"
            bindValue="value"
            [(ngModel)]="trendToMonth"
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              <div title="{{ item.label }}">{{ item.label }}</div>
            </ng-template>
          </ng-select>
        </div>
        <div class="ui-g-12 ui-md-5 padding-right">
          <ng-select
            placeholder="{{ 'LBLYEAR' | translate }}"
            title="{{ 'LBLYEAR' | translate }}"
            [items]="years"
            [multiple]="false"
            bindLabel="label"
            [selectableGroup]="false"
            [searchable]="true"
            [clearable]="false"
            [closeOnSelect]="false"
            bindValue="value"
            [(ngModel)]="trendToYear"
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              <div title="{{ item.label }}">{{ item.label }}</div>
            </ng-template>
          </ng-select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-4 ui-lg-3 pl-0">
        <button
          pButton
          type="button"
          label="{{ 'FMKCLOSETEXT' | translate }}"
          (click)="dateSelected()"
          title="{{ 'FMKCLOSETEXT' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-3">
        <button
          pButton
          type="reset"
          title="{{ 'LBLRESET' | translate }}"
          (click)="resetNewFilterForm()"
          label="{{ 'LBLRESET' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-3">
        <button
          pButton
          type="reset"
          title="{{ 'LBLCANCEL' | translate }}"
          (click)="detaDumpDatePopup = false; selectedDateFilters = true"
          label="{{ 'LBLCANCEL' | translate }}"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
