<div
  class="layout-sidebar"
  [ngClass]="{
    'layout-sidebar-active': app.sidebarActive,
    'layout-sidebar-dark': app.darkMenu
  }"
  (click)="app.onSidebarClick($event)"
  (mouseover)="app.sidebarActive = true"
  (mouseleave)="app.sidebarActive = false"
>
  <div class="sidebar-logo">
    <a routerLink="/dashboard" skipLocationChange="true">
      <img id="imgCompanylogo" alt="logo" src="{{ imageUrl }}/{{ imgname }}" />
    </a>
    <a href="#" class="menu-btn " (click)="app.onToggleMenuClick($event)">
      <i class="material-icons menu-btn-icon">&#xE5D2;</i>
    </a>
  </div>

  <p-scrollPanel #scrollPanel [style]="{ height: '100%' }">
    <ul
      app-submenu
      [item]="model"
      root="true"
      class="layout-menu"
      visible="true"
      [reset]="reset"
      parentActive="true"
    ></ul>
  </p-scrollPanel>
</div>
