<div class="ui-g layout-breadcrumb">
  <div class="ui-g-12">
    <div class="ui-g-10 ui-lg-11 ui-md-6">
      <ul>
        <li>
          <a routerLink="/dashboard" skipLocationChange="true"
            ><i class="material-icons">home</i></a
          >
        </li>
        <li class="breadcrumb-item-margin"></li>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
          <li>
            <a
              [routerLink]="item.routerLink"
              skipLocationChange="true"
              *ngIf="item.routerLink"
              >{{ item.label | translate }}</a
            >
            <ng-container *ngIf="!item.routerLink">{{
              item.label | translate
            }}</ng-container>
          </li>
          <li>
            <i *ngIf="!last" class="material-icons arrow-right"
              >chevron_right</i
            >
          </li>
        </ng-template>
      </ul>
    </div>
    <div class="ui-g-2 ui-lg-1 ui-md-6 text-right">
      <i
        title="{{ 'LBLHELPTEXT' | translate }}"
        class="help-icon material-icons"
        (click)="showHelp()"
        *ngIf="showIcon"
        >help</i
      >
    </div>
  </div>
</div>

<p-dialog
  header="{{ 'LBLHELPFILE' | translate }}"
  class="help-file"
  [style]="{
    width: '1000px',
    minWidth: '600px',
    height: '600px',
    overflow: 'scroll'
  }"
  styleClass="helpFile"
  [(visible)]="showHelpDialog"
  [modal]="true"
  ><markdown [src]="helpFileUrl"></markdown
></p-dialog>
