<div class="layout-footer ui-g">
  <div class="ui-g-12 ui-md-4">
    <span class="copyrght">{{ "LBLCOPYWRIGHT" | translate }}</span>
  </div>
  <div
    class="ui-g-12 ui-md-4"
    [ngStyle]="{
      'text-align': 'center'
    }"
  >
    <span
      class="footer-text-left"
      [ngStyle]="{
        'font-size': '13px',
        display: 'inline-block'
      }"
    >
      {{ "LBLVERSION" | translate }}: <b>0.2.14</b>
    </span>
  </div>
  <div class="ui-g-12 ui-md-4">
    <span
      class="footer-text-right legel-notice"
      [ngStyle]="{ 'font-size': '13px' }"
    >
      <span [ngStyle]="{ display: 'block', 'margin-top': '0px' }">
        <a
          href="https://www.dupont.com/legal-notices-and-terms-of-use.html"
          target="_blank"
          >{{ "LBLLEGAL" | translate }}</a
        >
        |
        <a href="https://www.dupont.com/privacy.html" target="_blank">{{
          "LBLPOLICY" | translate
        }}</a>
        |
        <a style="cursor: pointer" (click)="display = true">{{
          "LBLCONTACTUS" | translate
        }}</a>
        <p-dialog
          header="{{ 'LBLCONTACTUS' | translate }}"
          [(visible)]="display"
          modal="modal"
          showEffect="fade"
          [style]="{ width: '600px' }"
        >
          <p>
            {{ "LBLALLREGIONS" | translate }}<br />
            {{ "LBLTECHSUPPORT" | translate }}<br />
            {{ "LBLTECHSUPPORTHR" | translate }}<br />
            {{ "LBLTECHSUPPORTPHONE" | translate }}<br />
            {{ "LBLTECHSUPPORTEMAIL" | translate }}
          </p>
        </p-dialog>
      </span>
    </span>
  </div>
</div>
