:host >>> .ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  padding: 0px;
}

:host >>> .helpFile.ui-dialog .ui-dialog-content {
  padding-left: 30px !important;
}
