<p-confirmDialog
  class="{{ confirmClass }}"
  key="logout"
  acceptLabel="{{ 'LBLCONFIRM' | translate }}"
  rejectLabel="{{ 'LBLCANCEL' | translate }}"
  header="{{ appName }}"
  icon="ui-icon-info"
></p-confirmDialog>
<p-dialog
  header="{{ 'LBLLOGOUT' | translate }}"
  [responsive]="true"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="autoLogoutPopupValue"
  (onHide)="autoLogout()"
  [style]="{ width: '480px', height: 'auto' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12 ui-md-12 observation_input">
      <span class="md-inputfield ui-md-12 padding-none">
        {{ "ALTAUTOLOGOUT" | translate }}
      </span>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-2 logoutOkBtn">
        <button
          pButton
          title="{{ 'LBLOK' | translate }}"
          (click)="autoLogout()"
          label="{{ 'LBLOK' | translate }}"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
<div class="layout-topbar">
  <a
    routerLink="/"
    *ngIf="app.isHorizontal() && !app.isMobile()"
    class="topbar-logo"
  >
    <img alt="logo" src="assets/images/stopdata_logo.png" />
  </a>

  <img alt="logo" src="assets/images/stopdata_logo.png" class="mobile-logo" />

  <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
    <i class="material-icons">&#xE5D2;</i>
  </a>

  <a
    href="#"
    class="topbar-menu-btn"
    (click)="app.onTopbarMobileMenuButtonClick($event)"
  >
    <i class="material-icons">&#xE853;</i>
  </a>

  <div class="layout-topbar-menu-wrapper">
    <ul
      class="topbar-menu fadeInDown"
      [ngClass]="{ 'topbar-menu-active': app.topbarMenuActive }"
      (click)="app.onTopbarMenuClick($event)"
    >
      <li
        #logout
        [ngClass]="{
          'active-topmenuitem': app.activeTopbarItem === logout
        }"
        (click)="logoutPopup($event, logout)"
      >
        <a style="cursor: pointer">
          <i
            title="{{ 'LBLLOGOUT' | translate }}"
            class="topbar-icon material-icons"
            >power_settings_new</i
          >
          <span class="topbar-item-name">Logout</span>
        </a>
      </li>
      <li
        class="active-topmenuitem"
        [ngStyle]="{ 'margin-top': '6px' }"
        *ngIf="!app.isMobile()"
      >
        <label
          [ngStyle]="{
            'font-size': '14px',
            color: 'white'
          }"
          >{{ userInfo.lastName }} {{ userInfo.firstName }}</label
        >
      </li>
      <li>
        <a routerLink="/user-profile" skipLocationChange="true">
          <i title="{{ 'LBLPROFILE' | translate }}" class=" material-icons"
            >&#xE853;</i
          >
          <span class="topbar-item-name">Profile</span>
        </a>
      </li>
      <li
        #settings
        [ngClass]="{
          'active-topmenuitem': app.activeTopbarItem === settings
        }"
        (click)="app.onTopbarRootItemClick($event, settings)"
      >
        <a routerLink="/alert-unsafe" skipLocationChange="true">
          <i
            title="{{ 'LBLALERTUNSAFE' | translate }}"
            class="topbar-icon material-icons"
            >notification_important</i
          >
          <span class="topbar-item-name">Alert Unsafe</span>
        </a>
      </li>
      <li
        #emails
        [ngClass]="{
          'active-topmenuitem': app.activeTopbarItem === emails
        }"
      >
        <a routerLink="/email-inbox" skipLocationChange="true">
          <i
            title="{{ 'LBLINBOX' | translate }}"
            class="topbar-icon material-icons"
            >email</i
          >
          <span
            id="topbarEmailCount"
            class="topbar-badge animated rubberBand inboxcount"
            >{{ inboxCount }}</span
          >
          <span class="topbar-item-name">Inbox</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard">
          <img alt="logo-colored" src="assets/images/stopdata_logo.png" />
        </a>
      </li>
    </ul>
  </div>
</div>
