::ng-deep .pi.pi-chevron-right:before {
  content: "\e920";
}

::ng-deep .pi.pi-chevron-down:before {
  content: "\e91e";
}

::ng-deep .tabel-permission table thead th {}

::ng-deep .tabel-permission table thead th:first-child {
  border-radius: 7px 0px 0px 0px !important;
  padding: 12px 85px !important;
}

::ng-deep .tabel-permission table thead th:last-child {
  border-radius: 0px 7px 0px 0px !important;
  padding: 0.857em !important;
}

::ng-deep .tabel-permission table td {

  color: #212121 !important;

}

::ng-deep .tabel-permission table td a {
  color: #4f4f4f !important;
}

::ng-deep .headerTD {
  background: #f4f4f4 !important;
  padding: 12px 24% 12px 40px !important;
}

::ng-deep .submoduleTable {
  background: #fff !important;
  padding: 12px 24% 12px 40px !important;
}

::ng-deep .tabel-permission .fa-minus {
  background: #009688;
  border-radius: 100%;
  color: #fff;
  margin-right: 30px;
  height: 20px;
  width: 20px !important;
  line-height: 21px !important;
  text-align: center;
  vertical-align: middle;
}

::ng-deep .tabel-permission .fa-plus {
  color: #009688;
  margin-right: 30px;
  vertical-align: middle;
  text-align: center;
}

::ng-deep .ui-treetable-table tbody tr tr:nth-child(even) {
  background: #e9ecef !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .headerTD {
    padding: 0px 15px !important;
  }
}