<div class="ui-g-12" *ngIf="!isLoading">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-confirmDialog
      header=" {{ appName }}"
      acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}"
      class="info-msg"
      icon="ui-icon-info"
    ></p-confirmDialog>
    <p-toast
      [style]="{ marginTop: '80px', width: '350px' }"
      position="top-center"
    ></p-toast>
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form [formGroup]="updateRoleForm" (ngSubmit)="updateRole()">
          <div class="ui-g form-group pb-3">
            <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield ui-md-12 pl-0">
                <input type="text" pInputText formControlName="roleName" />
                <label class="required">{{ "LBLROLENAME" | translate }}</label>
              </span>
              <div
                *ngIf="submitted && uform.roleName.errors"
                class="invalid-feedback"
              >
                <p-message
                  class=""
                  severity="error"
                  text="{{ 'ALTROLEADD' | translate }}"
                  *ngIf="
                    (uform.roleName.errors.required &&
                      updateRoleForm.get('roleName').hasError('whitespace')) ||
                    uform.roleName.errors?.maxlength
                  "
                >
                </p-message>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield ui-md-12">
                <input type="text" pInputText formControlName="description" />
                <label style="left: 9px !important">{{
                  "LBLDESCRIPT" | translate
                }}</label>
              </span>
              <div
                *ngIf="submitted && uform.description.errors"
                class="invalid-feedback"
              >
                <p-message
                  class=""
                  severity="error"
                  text="Description should not be more than 256 characters."
                  *ngIf="uform.description.errors?.maxlength"
                >
                </p-message>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield ui-md-12">
                <input type="text" pInputText value="{{ copyFrom }}" disabled />
                <label>{{ "LBLCOPYFROM" | translate }}</label>
              </span>
            </div>
            <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
              <ng-select
                placeholder="{{ 'LBLSTATUS' | translate }}"
                [searchable]="false"
                [items]="Status"
                bindLabel="label"
                bindValue="value"
                formControlName="status"
                [clearable]="false"
                required
              >
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-item$="item$"
                  let-index="index"
                >
                  <div title="{{ item.label }}">
                    {{ item.label }}
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="ui-g-12 ui-md-12 submitButton" *ngIf="roleId != 1">
              <div class="ui-g-6 ui-lg-1 ui-md-6 pl-0">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                  [disabled]="updateRoleForm.pristine"
                  title="{{ 'LBLSAVE' | translate }}"
                ></button>
              </div>
              <div class="ui-g-6 ui-lg-1 ui-md-6">
                <button
                  pButton
                  type="button"
                  (click)="resetRoleForm()"
                  label="{{ 'LBLRESET' | translate }}"
                  title="{{ 'LBLRESET' | translate }}"
                  [disabled]="updateRoleForm.pristine"
                  class="reset-btn"
                ></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLPERMISSION' | translate }}"
        leftIcon="ui-icon-security"
      >
        <div class="ui-g form-group">
          <div
            class="ui-g-12 ui-md-12 permission-tabing"
            style="margin-top: 10px"
          >
            <p-treeTable
              [value]="finalPermission"
              [columns]="permissionCols"
              selectionMode="checkbox"
              [(selection)]="selectedPermission"
              class="tabel-permission group-listing"
              (selectionChange)="onPermissionChanges()"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="3">{{ "LBLPERMISSION" | translate }}</th>
                  <th>{{ "LBLACCESS" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowNode
                let-rowData="rowData"
                let-columns="columns"
              >
                <tr>
                  <td
                    colspan="3"
                    [ngClass]="{
                      headerTD: rowData['parentId'] == 0,
                      submoduleTable: rowData['parentId'] != 0
                    }"
                  >
                    <p-treeTableToggler [rowNode]="rowNode">
                    </p-treeTableToggler>
                    <span style="vertical-align: middle">{{
                      rowData["permission"]
                    }}</span>
                  </td>
                  <td
                    [ngClass]="{
                      headerTD: rowData['parentId'] == 0,
                      submoduleTable: rowData['parentId'] != 0
                    }"
                  >
                    <p-treeTableCheckbox
                      [value]="rowNode"
                    ></p-treeTableCheckbox>
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ui-g-12 ui-md-12 submitButton" *ngIf="roleId != 1">
          <div class="ui-g-6 ui-lg-1 ui-md-3">
            <button
              pButton
              type="submit"
              (click)="updatePermission()"
              [disabled]="!isPermissionChanged"
              label="{{ 'LBLSAVE' | translate }}"
              title="{{ 'LBLSAVE' | translate }}"
            ></button>
          </div>
          <div class="ui-g-6 ui-lg-1 ui-md-3">
            <button
              pButton
              type="button"
              (click)="resetPermissionForm()"
              label="{{ 'LBLRESET' | translate }}"
              title="{{ 'LBLRESET' | translate }}"
              [disabled]="!isPermissionChanged"
              class="reset-btn"
              style="margin-bottom: 10px"
            ></button>
          </div>
          <div class="clearfix"></div>
        </div>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLASSIGNMENTS' | translate }}"
        leftIcon="ui-icon-assignment"
      >
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <span class="category_label">
                <b>{{ "LBLROLENAME" | translate }} :</b>
                {{ roleGeneral["ROLENAME"] }}</span
              >
            </div>
          </div>
          <div class="heading-left-panel ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-1">
              <label class="text-center">{{ "LBLUSERS" | translate }}</label>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div
              class="ui-g-12 ui-md-12 multiSelectDropDwon"
              style="padding-top: 0px"
            >
              <p-multiSelect
                [defaultLabel]="'LBLCHOOSE' | translate"
                [options]="availUsers"
                [(ngModel)]="selectedUsers"
                class="required"
                (onChange)="onAvailUsersChanged()"
              >
              </p-multiSelect>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ui-g-12 ui-md-12 submitButton" *ngIf="roleId != 1">
          <div class="ui-g-6 ui-lg-1 ui-md-3">
            <button
              pButton
              type="submit"
              [disabled]="!isAvailUsersChanged"
              (click)="updateRoleAssign()"
              label="{{ 'LBLSAVE' | translate }}"
              title="{{ 'LBLSAVE' | translate }}"
            ></button>
          </div>
          <div class="ui-g-6 ui-lg-1 ui-md-3">
            <button
              pButton
              type="button"
              (click)="resetAssignForm()"
              label="{{ 'LBLRESET' | translate }}"
              title="{{ 'LBLRESET' | translate }}"
              [disabled]="!isAvailUsersChanged"
              class="reset-btn"
              style="margin-bottom: 10px"
            ></button>
          </div>
          <div class="clearfix"></div>
        </div>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLREPORTS' | translate }}"
        leftIcon="ui-icon-insert-chart"
      >
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <span class="category_label">
                <b>{{ "LBLROLENAME" | translate }} :</b> {{ roleName }}</span
              >
            </div>
          </div>
          <div class="heading-left-panel ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-1">
              <label class="text-center">{{ "LBLREPORTS" | translate }}</label>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div
              class="ui-g-12 ui-md-12 multiSelectDropDwon"
              style="padding-top: 0px"
            >
              <p-multiSelect
                [defaultLabel]="'LBLCHOOSE' | translate"
                [options]="availReports"
                [(ngModel)]="selectedReports"
                class="required"
                (onChange)="onAvailReportsChanged()"
              >
              </p-multiSelect>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ui-g-12 ui-md-12 submitButton" *ngIf="roleId != 1">
          <div class="ui-g-6 ui-lg-1 ui-md-3">
            <button
              pButton
              type="submit"
              (click)="updateRoleReports()"
              [disabled]="!isAvailReportsChanged"
              label="{{ 'LBLSAVE' | translate }}"
              title="{{ 'LBLSAVE' | translate }}"
            ></button>
          </div>
          <div class="ui-g-6 ui-lg-1 ui-md-3">
            <button
              pButton
              type="button"
              (click)="resetReportForm()"
              label="{{ 'LBLRESET' | translate }}"
              title="{{ 'LBLRESET' | translate }}"
              [disabled]="!isAvailReportsChanged"
              class="reset-btn"
              style="margin-bottom: 10px"
            ></button>
          </div>
          <div class="clearfix"></div>
        </div>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
