.timeZone {
  margin-top: 7px !important;
}

.searchBox {
  margin-top: -30px !important;
}

.dateLabel {
  font-size: 11px !important;
}

::ng-deep
  .multiSelectDropDwon
  .ui-multiselect
  .ui-multiselect-label-container
  .ui-multiselect-label {
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

::ng-deep .filterLable {
  margin-top: 0px !important;
}

::ng-deep .filter-label label {
  margin-left: 0 !important;
}
