<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed "
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>
      <div style="text-align: center;" *ngIf="!isLoaded">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
        <div class="clearfix"></div>
        <ng-container *ngIf="isLoaded && !errormsg">
          <div *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [columns]="cols"
              id="tbl1"
              [value]="tableData"
              dataKey="SITENAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width:300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>{{ "LBLAREANAME" | translate }}</th>
                  <th *ngIf="subAreaOption == 1">
                    {{ "LBLSUBAREAFULLNAME" | translate }}
                  </th>
                  <th>{{ "LBLSHIFTNAME" | translate }}</th>
                  <th>{{ "LBLMAINCATEGORY" | translate }}</th>
                  <th>{{ "LBLSUBCATNAME" | translate }}</th>
                  <th class="align-center">{{ "LBLSAFE" | translate }}</th>
                  <th class="align-center">{{ "LBLUNSAFE" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
                >
                  <td class="headerTD1" [attr.colspan]="3 - colleps">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLSITENAME" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.SITENAME }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLSAFEPERCENTAGE" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.SAFECOUNT }}</span
                        ></span
                      >
                    </a>
                  </td>

                  <td class="headerTD1 align-center" colspan="2">
                    <a class="dropOpen" [pRowToggler]="rowData">
                      <span
                        [ngClass]="
                          expanded
                            ? 'fa fa-fw fa-chevron-circle-down'
                            : 'fa fa-fw fa-chevron-circle-right'
                        "
                      ></span>
                      <span
                        >{{ "LBLUNSAFEPERCENTAGE" | translate }}<br /><span
                          style="color: #757575; line-height: 2"
                          >{{ rowData.UNSAFECOUNT }}</span
                        ></span
                      >
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
                  <td class="submoduleTable1" *ngIf="subAreaOption == 1">
                    {{ rowData.SUBAREANAME }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
                  <td class="submoduleTable1">
                    {{ rowData.MAINCATEGORYNAME }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.SUBCATEGORYNAME }}</td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.SAFE }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.UNSAFE }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <!-- <p-table
              [value]="tableData"
              dataKey="SITENAME"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ "LBLAREANAME" | translate }}</th>
                  <th>{{ "LBLSUBAREAFULLNAME" | translate }}</th>
                  <th>{{ "LBLSHIFTNAME" | translate }}</th>
                  <th>{{ "LBLMAINCATEGORY" | translate }}</th>
                  <th>{{ "LBLSUBCATNAME" | translate }}</th>
                  <th>{{ "LBLSAFE" | translate }}</th>
                  <th>{{ "LBLUNSAFE" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-rowIndex="rowIndex"
                let-expanded="expanded"
                let-columns="columns"
              >
                <ng-container *ngIf="rowGroupMetadata">
                  <tr
                    class="ui-widget-header"
                    *ngIf="
                      rowGroupMetadata[rowData.SITENAME].index === rowIndex
                    "
                  >
                    <td class="headerTD1" colspan="3">
                      <a class="dropOpen" [pRowToggler]="rowData">
                        <span
                          [ngClass]="
                            expanded
                              ? 'fa fa-fw fa-chevron-circle-down'
                              : 'fa fa-fw fa-chevron-circle-right'
                          "
                        ></span>
                        <span
                          >{{ "LBLSITENAME" | translate }}<br /><span
                            style="color: #757575; line-height: 2"
                            >{{ rowData.SITENAME }}</span
                          ></span
                        >
                      </a>
                    </td>

                    <td class="headerTD1" colspan="2">
                      <a class="dropOpen" [pRowToggler]="rowData">
                        <span
                          [ngClass]="
                            expanded
                              ? 'fa fa-fw fa-chevron-circle-down'
                              : 'fa fa-fw fa-chevron-circle-right'
                          "
                        ></span>
                        <span
                          >{{ "LBLSAFEPERCENTAGE" | translate }}<br /><span
                            style="color: #757575; line-height: 2"
                            >{{ rowData.SAFECOUNT }}</span
                          ></span
                        >
                      </a>
                    </td>

                    <td class="headerTD1" colspan="2">
                      <a class="dropOpen" [pRowToggler]="rowData">
                        <span
                          [ngClass]="
                            expanded
                              ? 'fa fa-fw fa-chevron-circle-down'
                              : 'fa fa-fw fa-chevron-circle-right'
                          "
                        ></span>
                        <span
                          >{{ "LBLUNSAFEPERCENTAGE" | translate }}<br /><span
                            style="color: #757575; line-height: 2"
                            >{{ rowData.UNSAFECOUNT }}</span
                          ></span
                        >
                      </a>
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
              <ng-template
                pTemplate="rowexpansion"
                let-rowData
                let-rowIndex="rowIndex"
              >
                <tr>
                  <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
                  <td class="submoduleTable1">{{ rowData.SUBAREANAME }}</td>
                  <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
                  <td class="submoduleTable1">
                    {{ rowData.MAINCATEGORYNAME }}
                  </td>
                  <td class="submoduleTable1">{{ rowData.SUBCATEGORYNAME }}</td>
                  <td class="submoduleTable1">{{ rowData.SAFE }}</td>
                  <td class="submoduleTable1">{{ rowData.UNSAFE }}</td>
                </tr>
              </ng-template>
            </p-table> -->
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
