.ui-fileupload-files img {
	width: 100px !important;
}

.logoNotes {
	font-weight: 700 !important;
	color: black !important;
	font-size: 14px;
	display: inline-block;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
	display: block !important;
}

::ng-deep .ui-g.form-group>div {
	padding: 0.7em 1em;
}

::ng-deep .companyLogo,
.m-0,
.defaultSelect,
.note_msg {
	margin: 0;
	margin-bottom: 5px;
}

::ng-deep .pb-0 {
	padding-bottom: 0 !important;
}

::ng-deep body .ui-button .ui-button-text,
body .ui-datepicker-buttonpane>button .ui-button-text {
	line-height: 2.143em !important;
}

.view-image img {
	width: 100% !important;
	margin: 30px 0px !important;
}

::ng-deep .themeColorPicker {
	border: 1px solid;
}

::ng-deep .removeDiv {
	display: inline-block;
}

::ng-deep .removeBtn {
	/* margin-top: 35px; */
	margin-left: 20px;
}

::ng-deep .preview-image {
	width: 192px;
	height: 48px;
	display: inline-block;
}

::ng-deep .preview-image img {
	max-width: 100%;
	height: 100%;
}

::ng-deep .multiSelectDropDwon {
	padding-top: 6px !important;
}