<div class="ui-g-12" *ngIf="!isLoading">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-confirmDialog
      acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}"
      class="info-msg"
      icon="ui-icon-info"
      header="{{ appName }}"
      [style]="{ width: '50vw' }"
    ></p-confirmDialog>
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <!-- Add Global General -->
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div class="progressSpinner" *ngIf="generalLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!generalLoading">
          <form
            [formGroup]="AddGlobalGeneral"
            (ngSubmit)="submitGeneral(AddGlobalGeneral.value)"
          >
            <div class="ui-g form-group">
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                  <label class="text-center"
                    >{{ "LBLGENERALPREF" | translate }}
                  </label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <span class="md-inputfield ui-md-12 padding-none ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="autoLogInterval"
                  />
                  <label class="ngSelectAlign required">{{
                    "LBLAUTOLOGOUT" | translate
                  }}</label>
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'LBLMINUTE' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.autoLogInterval.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTAUTOLOGOUTNUM' | translate }}"
                    *ngIf="
                      uform.autoLogInterval.errors.required ||
                      AddGlobalGeneral.get('autoLogInterval').hasError(
                        'whitespace'
                      ) ||
                      uform.autoLogInterval.errors?.maxlength ||
                      uform.pwdMinnumChar.errors?.min
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon user-select">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLDEFAULTDATE' | translate }}"
                  [searchable]="false"
                  [items]="defaultDateFormat"
                  bindLabel="dateType"
                  bindValue="value"
                  required
                  formControlName="defaultDateFormat"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.dateType }}">
                      {{ item.dateType }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-6 file-uploadtion">
                <h4 class="companyLogo">{{ "LBLCOMPANYLOGO" | translate }}</h4>

                <p-fileUpload
                  chooseLabel="{{ 'LBLCHOOSE' | translate }}"
                  name="uploadImage"
                  customUpload="true"
                  (onSelect)="fileChangeEvent($event)"
                  (onRemove)="fileRemoveEvent($event)"
                  accept="image/*"
                  maxFileSize="1000000"
                  [auto]="true"
                  invalidFileTypeMessageSummary="{{
                    'ALTINVALIDFILETYPE' | translate
                  }}"
                  invalidFileTypeMessageDetail=""
                >
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                      </li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
              <div class="ui-g-12 ui-md-6" *ngIf="uploadedImage">
                <h4 class="companyLogo">
                  {{ "LBLLOGOPREVIEW" | translate }}
                  <span class="logoNotes"
                    >({{ "LBLUPLOADIMAGESIZE" | translate }})</span
                  >
                </h4>
                <div class="preview-image">
                  <img alt="logo" src="{{ imageUrl }}/{{ uploadedImage }}" />
                </div>
                <div class="removeDiv" *ngIf="defaultLogoStatus == 2">
                  <button
                    pButton
                    type="button"
                    style="padding: 0px"
                    (click)="removeImage()"
                    title="Remove Logo"
                    icon="pi pi-times"
                    class="removeBtn"
                  >
                    <span
                      aria-hidden="true"
                      class="ui-button-icon-left ui-clickable pi pi-times"
                    ></span
                    ><span class="ui-button-text ui-clickable">ui-btn</span>
                  </button>
                  <!-- <button icon="pi pi-times" (click)="removeImage()" pbutton="" type="button" ng-reflect-icon="pi pi-times" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"></button> -->
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-1">
                  <label class="text-center">{{
                    "LBLTHEME" | translate
                  }}</label>
                </div>
              </div>

              <div
                class="ui-g-12 ui-lg-2 ui-md-6 ui-lg-3 theme-color-picker pr-0"
              >
                <div class="ui-g-4 ui-lg-5 ui-md-6">
                  <span class="theme-color-label">{{
                    "LBLBRANDCOLOR" | translate
                  }}</span>
                </div>
                <div class="ui-g-2 ui-lg-1 ui-md-1" style="padding-left: 0px">
                  <input
                    class="themeColorPicker"
                    readonly="readonly"
                    [style.background]="customColor"
                    [(colorPicker)]="customColor"
                    [cpOutputFormat]="'hsla'"
                    (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
                    (colorPickerClose)="onEventLog('colorPickerClose', $event)"
                    (cpInputChange)="onEventLog('cpInputChange', $event)"
                    (cpSliderDragStart)="
                      onEventLog('cpSliderDragStart', $event)
                    "
                    (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
                    (colorPickerChange)="onCustomColorChange($event)"
                  />
                </div>
              </div>

              <div
                class="ui-g-12 ui-lg-4 ui-md-6 ui-lg-4 theme-color-picker pr-0"
              >
                <div class="ui-g-3 ui-lg-3 ui-md-6">
                  <span class="theme-color-label">{{
                    "LBLFONTCOLOR" | translate
                  }}</span>
                </div>
                <div class="ui-g-3 ui-lg-1 ui-md-1" style="padding-left: 0px">
                  <input
                    class="themeColorPicker"
                    readonly="readonly"
                    [style.background]="customFont"
                    [(colorPicker)]="customFont"
                    [cpOutputFormat]="'hsla'"
                    (colorPickerOpen)="onEventLog1('colorPickerOpen', $event)"
                    (colorPickerClose)="onEventLog1('colorPickerClose', $event)"
                    (cpInputChange)="onEventLog1('cpInputChange', $event)"
                    (cpSliderDragStart)="
                      onEventLog1('cpSliderDragStart', $event)
                    "
                    (cpSliderDragEnd)="onEventLog1('cpSliderDragEnd', $event)"
                    (colorPickerChange)="onCustomFontColorChange($event)"
                  />
                </div>
              </div>
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2 submitButton">
                  <button
                    pButton
                    type="button"
                    style="padding: 0px"
                    (click)="onResetBrandColor()"
                    title="{{ 'LBLRESETCOLOR' | translate }}"
                    label="{{ 'LBLRESETCOLOR' | translate }}"
                  ></button>
                </div>
              </div>

              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                  <label class="text-center">{{
                    "LBLSETTINGS" | translate
                  }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4 multiSelectDropDwon">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLENABLELOGIN' | translate }}"
                  [searchable]="false"
                  [items]="enableLogin"
                  bindLabel="label"
                  bindValue="id"
                  (change)="changeLogin($event.id)"
                  formControlName="enableLogin"
                  style="padding-left: 7px"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>

              <div
                class="ui-g-12 ui-md-6 ui-lg-4 multiSelectDropDwon"
                *ngIf="!loginAttemps"
              >
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLLOGINATTEMPT' | translate }}"
                  [searchable]="false"
                  [items]="loginAttempt"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="loginAttempt"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>

              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <span class="md-inputfield ui-md-12 ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="usernameLength"
                  />
                  <label
                    style="left: 8px !important"
                    class="ngSelectAlign required"
                    >{{ "LBLUSERNAMEMINLENGTH" | translate }}</label
                  >
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'LBLMAXLENGTH' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.usernameLength.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTUSERNAMEMINLEN' | translate }}"
                    *ngIf="
                      uform.usernameLength.errors.required ||
                      AddGlobalGeneral.get('usernameLength').hasError(
                        'whitespace'
                      ) ||
                      uform.usernameLength.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <span class="md-inputfield ui-md-12 ngSelectAlign">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="pwdLength"
                  />
                  <label
                    style="left: 8px !important"
                    class="ngSelectAlign required"
                    >{{ "LBLPWDMINLENGTH" | translate }}</label
                  >
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'LBLMAXLENGTH' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.pwdLength.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPWDMINLEN' | translate }}"
                    *ngIf="
                      uform.pwdLength.errors.required ||
                      AddGlobalGeneral.get('pwdLength').hasError(
                        'whitespace'
                      ) ||
                      uform.pwdLength.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 multiSelectDropDwon user-select">
                <ng-select
                  [clearable]="false"
                  placeholder="{{ 'LBLPWDCOMPLEX' | translate }}"
                  [searchable]="false"
                  [items]="pwdComplexity"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="pwdComplexity"
                  (change)="complexityType($event.value)"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label }}">
                      {{ item.label }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>

              <div class="ui-g-12 ui-md-6 ui-lg-4" style="padding-top: 17px">
                <span class="md-inputfield ui-md-12">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    style="padding-top: 17px"
                    formControlName="pwdExpPeriod"
                  />
                  <label
                    class="required"
                    style="left: 8px !important; padding-top: 17px"
                    >{{ "LBLPWDEXPPERIOD" | translate }}</label
                  >
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'ALTPWDEXPOFF' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.pwdExpPeriod.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPWDEXPOFF' | translate }}"
                    *ngIf="
                      uform.pwdExpPeriod.errors.required ||
                      AddGlobalGeneral.get('pwdExpPeriod').hasError(
                        'whitespace'
                      ) ||
                      uform.pwdExpPeriod.errors?.maxlength
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-6 ui-lg-4 ngSelectAlign"
                *ngIf="!numericShow"
              >
                <span class="md-inputfield ui-md-12">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12 ngSelectAlign"
                    formControlName="pwdMinnumChar"
                  />
                  <label
                    style="left: 8px !important"
                    class="ngSelectAlign required"
                    >{{ "LBLPWDMINNUMCHAR" | translate }}</label
                  >
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'LBLMAXLENGTH' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.pwdMinnumChar.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPWDNUMCHAR' | translate }}"
                    *ngIf="
                      uform.pwdMinnumChar.errors.required ||
                      AddGlobalGeneral.get('pwdMinnumChar').hasError(
                        'whitespace'
                      ) ||
                      uform.pwdMinnumChar.errors?.maxlength ||
                      uform.pwdMinnumChar.errors?.min
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div
                class="ui-g-12 ui-md-6 ui-lg-4 ngSelectAlign"
                *ngIf="!alphaShow"
              >
                <span class="md-inputfield ui-md-12">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12 ngSelectAlign"
                    formControlName="pwdMinalphaChar"
                  />
                  <label
                    style="left: 8px !important"
                    class="ngSelectAlign required"
                    >{{ "LBLPWDMINALPHACHAR" | translate }}</label
                  >
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'LBLMAXLENGTH' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.pwdMinalphaChar.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPWDALPHACHAR' | translate }}"
                    *ngIf="
                      uform.pwdMinalphaChar.errors.required ||
                      AddGlobalGeneral.get('pwdMinalphaChar').hasError(
                        'whitespace'
                      ) ||
                      uform.pwdMinalphaChar.errors?.maxlength ||
                      uform.pwdMinalphaChar.errors?.min
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div
                class="ui-g-12 ui-md-6 ui-lg-4 ngSelectAlign"
                *ngIf="!specShow"
              >
                <span class="md-inputfield ui-md-12">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12 ngSelectAlign"
                    formControlName="pwdMinSpecChar"
                  />
                  <label
                    style="left: 8px !important"
                    class="ngSelectAlign required"
                    >{{ "LBLPWDMINSPECCHAR" | translate }}</label
                  >
                </span>
                <img
                  src="assets/layout/images/tooltip.png"
                  class="tooltipInput"
                  pTooltip="{{ 'LBLMAXLENGTH' | translate }}"
                  tooltipPosition="right"
                />

                <div
                  *ngIf="submitted && uform.pwdMinSpecChar.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTPWDSPECCHAR' | translate }}"
                    *ngIf="
                      uform.pwdMinSpecChar.errors.required ||
                      AddGlobalGeneral.get('pwdMinSpecChar').hasError(
                        'whitespace'
                      ) ||
                      uform.pwdMinSpecChar.errors?.maxlength ||
                      uform.pwdMinSpecChar.errors?.min
                    "
                  >
                  </p-message>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12">
                <p class="theme_content m-0">
                  {{ "LBLPRODLOGO" | translate }}
                </p>
              </div>
              <div
                class="ui-g-12 ui-md-12 submitButton"
                style="margin-bottom: 15px"
              >
                <div class="ui-g-12 ui-md-2 ui-lg-1 padding-none">
                  <button
                    pButton
                    type="submit"
                    [disabled]="AddGlobalGeneral.pristine"
                    title="{{ 'LBLSAVE' | translate }}"
                    label="{{ 'LBLSAVE' | translate }}"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-1">
                  <button
                    type="button"
                    (click)="globalReset()"
                    title="{{ 'LBLRESET' | translate }}"
                    pButton
                    label="{{ 'LBLRESET' | translate }}"
                    [disabled]="AddGlobalGeneral.pristine"
                    class="reset-btn"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>

      <!-- Application Configuration -->
      <p-tabPanel
        header="{{ 'LBLAPPCONFIG' | translate }}"
        leftIcon="ui-icon-playlist-add-check"
      >
        <div class="progressSpinner" *ngIf="applicationLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!applicationLoading">
          <form
            [formGroup]="ApplicationConfiguration"
            (ngSubmit)="submitApplication(ApplicationConfiguration.value)"
          >
            <div class="ui-g form-group">
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-1">
                  <label class="text-center">{{
                    "LBLLANGUAGES" | translate
                  }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <div class="filterLable required">
                  <label>{{ "LBLLANGUAGES" | translate }}</label>
                </div>
                <p-multiSelect
                  [options]="languages"
                  (change)="getLanguage()"
                  formControlName="languageList"
                  class="required"
                  defaultLabel="{{ 'LBLLANGUAGES' | translate }}"
                >
                </p-multiSelect>

                <div
                  *ngIf="applicationSubmitted && aform.languageList.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTASSIGNLANGUAGE' | translate }}"
                    *ngIf="aform.languageList.errors.required"
                  >
                  </p-message>
                </div>

                <div class="ui-g-12 defaultSelect">
                  <div
                    class="ui-g-12 pl-0 ui-md-4 multiSelectDropDwon user-select"
                  >
                    <ng-select
                      [clearable]="false"
                      placeholder="{{ 'LBLDEFAULTLANG' | translate }}"
                      [searchable]="false"
                      [items]="defaultLanguage"
                      bindLabel="label"
                      bindValue="value"
                      formControlName="cmbdefaultLang"
                      class="required"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <div title="{{ item.LANGUAGENAME }}">
                          {{ item.label }}
                        </div>
                      </ng-template>
                    </ng-select>
                    <div
                      *ngIf="
                        applicationSubmitted && aform.cmbdefaultLang.errors
                      "
                      class="invalid-feedback"
                    >
                      <p-message
                        class="errorMsg"
                        severity="error"
                        text="{{ 'ALTSELLANGUAGE' | translate }}"
                        *ngIf="aform.cmbdefaultLang.errors.required"
                      >
                      </p-message>
                    </div>
                  </div>
                </div>
                <p class="note_msg">
                  {{ "LBLNOTEGLOBALLANG" | translate }}
                </p>
              </div>
            </div>
            <div class="ui-g form-group">
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                  <label class="text-center">{{
                    "LBLGROUPTYPES" | translate
                  }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <div class="filterLable">
                  <label>{{ "LBLGROUPS" | translate }}</label>
                </div>
                <p-multiSelect
                  [options]="groupType"
                  (change)="getGroup()"
                  formControlName="groupTypeList"
                  class="required"
                  defaultLabel="{{ 'LBLGROUPS' | translate }}"
                >
                </p-multiSelect>

                <div class="ui-g-12 defaultSelect">
                  <div
                    class="ui-g-12 pl-0 ui-md-4 multiSelectDropDwon user-select"
                  >
                    <div class="filterLable">
                      <label>{{
                        "LBLSETMANDATORYGROUPTYPE" | translate
                      }}</label>
                    </div>
                    <p-multiSelect
                      [options]="mandatoryGroup"
                      (change)="getGroup()"
                      formControlName="groupTypeId"
                      class="required"
                      defaultLabel="{{
                        'LBLSETMANDATORYGROUPTYPE' | translate
                      }}"
                    >
                    </p-multiSelect>
                  </div>
                </div>
                <p class="note_msg">
                  {{ "LBLNOTEGROUPTYPE" | translate }}
                </p>
              </div>
            </div>
            <div class="ui-g form-group">
              <div class="heading-left ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                  <label class="text-center">{{
                    "LBLMAILTYPE" | translate
                  }}</label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 pb-0 multiSelectDropDwon">
                <div class="filterLable">
                  <label>{{ "LBLMAILTYPE" | translate }}</label>
                </div>
                <p-multiSelect
                  [options]="EmailType"
                  formControlName="sheduleTypeList"
                  class="required"
                  defaultLabel="{{ 'LBLMAILTYPE' | translate }}"
                >
                </p-multiSelect>
              </div>
            </div>
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <div class="filterLable required">
                  <label>{{ "LBLTIMEZNONE" | translate }}</label>
                </div>
                <p-multiSelect
                  [options]="timeZones"
                  (change)="getTimeZone()"
                  formControlName="timeZoneList"
                  class="required"
                  defaultLabel="{{ 'LBLTIMEZNONE' | translate }}"
                >
                </p-multiSelect>

                <div
                  *ngIf="applicationSubmitted && aform.timeZoneList.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTASSIGNTIMEZONE' | translate }}"
                    *ngIf="aform.timeZoneList.errors.required"
                  >
                  </p-message>
                </div>

                <div class="ui-g-12 defaultSelect">
                  <div
                    class="ui-g-12 pl-0 ui-md-4 multiSelectDropDwon user-select"
                  >
                    <ng-select
                      [clearable]="false"
                      placeholder="{{ 'LBLDEFAULTTIMEZONE' | translate }}"
                      [searchable]="false"
                      [items]="defaultTimeZone"
                      bindLabel="label"
                      bindValue="value"
                      formControlName="cmbDefaultTimeZone"
                      class="required"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <div title="{{ item['label'] }}">
                          {{ item["label"] }}
                        </div>
                      </ng-template>
                    </ng-select>
                    <div
                      *ngIf="
                        applicationSubmitted && aform.cmbDefaultTimeZone.errors
                      "
                      class="invalid-feedback"
                    >
                      <p-message
                        class="errorMsg"
                        severity="error"
                        text="{{ 'LBLSELTIMEZONE' | translate }}"
                        *ngIf="aform.cmbDefaultTimeZone.errors.required"
                      >
                      </p-message>
                    </div>
                  </div>
                </div>

                <p class="note_msg">
                  {{ "LBLNOTEGLOBALTIME" | translate }}
                </p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div
              class="ui-g-12 ui-md-12 submitButton"
              style="margin-bottom: 15px"
            >
              <div class="ui-g-12 ui-md-3 ui-lg-1">
                <button
                  pButton
                  [disabled]="ApplicationConfiguration.pristine"
                  title="{{ 'LBLSAVE' | translate }}"
                  type="submit"
                  label="{{ 'LBLSAVE' | translate }}"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-1">
                <button
                  pButton
                  type="button"
                  (click)="applicationReset()"
                  title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"
                  [disabled]="ApplicationConfiguration.pristine"
                  class="reset-btn"
                  style="margin-bottom: 10px"
                ></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
      <div class="clearfix"></div>

      <!-- Checklist Configuration -->
      <p-tabPanel
        header="{{ 'LBLCHECKLISTGLOBALCONFIG' | translate }}"
        leftIcon="ui-icon-done-all"
      >
        <div class="progressSpinner" *ngIf="checklistLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!checklistLoading">
          <form
            [formGroup]="CheckListConfigurationForm"
            (ngSubmit)="onSubmitCheckList(CheckListConfigurationForm.value)"
          >
            <div class="ui-g">
              <div class="form-group">
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4 multiSelectDropDwon user-select"
                >
                  <ng-select
                    placeholder="{{ 'LBLENABLECOMMENTS' | translate }}"
                    [searchable]="false"
                    [items]="enableArr"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="enableComments"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4 p-22">
                  <span class="md-inputfield ui-md-12 ngSelectAlign">
                    <input
                      type="text"
                      pInputText
                      class="ui-md-12"
                      formControlName="maxObserved"
                    />
                    <label style="left: 8px !important" class="ngSelectAlign">{{
                      "LBLMAXLIMITONOBSERVED" | translate
                    }}</label>
                  </span>

                  <div
                    *ngIf="submittedCheckList && cform.maxObserved.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTMAXLIMITONPEOPLEOBSERVED' | translate }}"
                      *ngIf="
                        CheckListConfigurationForm.get('maxObserved').hasError(
                          'whitespace'
                        ) || cform.maxObserved.errors?.maxlength
                      "
                    >
                    </p-message>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4 p-23">
                  <span class="md-inputfield ui-md-12 ngSelectAlign">
                    <input
                      type="text"
                      pInputText
                      class="ui-md-12"
                      formControlName="checklistOlderLimit"
                    />
                    <label style="left: 8px !important" class="ngSelectAlign"
                      >{{ "LBLPREVDAYSLIMIT1" | translate }}
                    </label>
                  </span>
                  <span class="blow_msg ngSelectAlign">
                    {{ "LBLPREVDAYSLIMIT2" | translate }}
                  </span>
                </div>
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4 multiSelectDropDwon user-select"
                >
                  <ng-select
                    placeholder="{{ 'LBLEXPANDCATEGORY' | translate }}"
                    [searchable]="false"
                    [items]="enableArr"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="expandCategory"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-item$="item$"
                      let-index="index"
                    >
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div
                  class="ui-g-12 ui-md-12 ui-lg-8"
                  *ngIf="configurationOBSChecklist == 1"
                >
                  <span class="md-inputfield ui-md-12 ngSelectAlign">
                    <input
                      type="text"
                      pInputText
                      class="ui-md-12"
                      formControlName="obsListingxMonth"
                    />
                    <label
                      style="left: 8px !important"
                      class="ngSelectAlign required"
                      >{{ "LBLOBSLISTINGXMONTH1" | translate }}
                    </label>
                  </span>
                  <span class="blow_msg ngSelectAlign">
                    {{ "LBLOBSLISTINGXMONTH2" | translate }}
                  </span>

                  <div
                    *ngIf="submittedCheckList && cform.obsListingxMonth.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTOBSLISTINGXMONTHVALIDATE' | translate }}"
                      *ngIf="
                        cform.obsListingxMonth.errors.required ||
                        CheckListConfigurationForm.get(
                          'obsListingxMonth'
                        ).hasError('whitespace') ||
                        cform.obsListingxMonth.errors?.maxlength
                      "
                    >
                    </p-message>
                  </div>
                </div>

                <div class="heading-left ui-g-12 ui-md-12">
                  <div class="ui-g-12 ui-md-12 ui-lg-5">
                    <label class="text-center">
                      {{ "LBLAPPROVALREQUIRE" | translate }}
                    </label>
                  </div>
                </div>
                <div
                  class="ui-g-12 ui-md-6 ui-lg-4"
                  style="padding-top: 0px; padding-right: 0px"
                >
                  <div class="ui-g-4 ui-lg-4 ui-md-4 radioLabel pl-0">
                    {{ "LBLDATAPRO" | translate }}
                  </div>
                  <div class="ui-g-2 ui-lg-3 ui-md-3 padding-none radiobtn-P">
                    <p-radioButton
                      name="group2"
                      value="1"
                      label="{{ 'LBLYES' | translate }}"
                      inputId="preopt1"
                      (click)="rolesObservation(false)"
                      formControlName="obsApprovePc"
                    ></p-radioButton>
                  </div>
                  <div class="ui-g-2 ui-lg-3 ui-md-3 padding-none radiobtn-P">
                    <p-radioButton
                      name="group2"
                      value="0"
                      label="{{ 'LBLNO' | translate }}"
                      inputId="preopt2"
                      (click)="rolesObservation(true)"
                      formControlName="obsApprovePc"
                    >
                    </p-radioButton>
                  </div>
                </div>
                <div
                  class="ui-g-12 ui-md-6 ui-lg-6 padding-none"
                  style="padding-top: 0px; padding-right: 0px"
                >
                  <div class="ui-g-5 ui-lg-4 ui-md-6 radioLabel radiobtn-P">
                    {{ "LBLDATAPROMOBILE" | translate }}
                  </div>
                  <div class="ui-g-2 ui-lg-2 ui-md-3 padding-none radiobtn-P">
                    <p-radioButton
                      name="group3"
                      value="1"
                      label="{{ 'LBLYES' | translate }}"
                      inputId="preopt3"
                      (click)="rolesObservation(false)"
                      formControlName="obsApproveMobile"
                    >
                    </p-radioButton>
                  </div>
                  <div class="ui-g-2 ui-lg-2 ui-md-3 padding-none radiobtn-P">
                    <p-radioButton
                      name="group3"
                      value="0"
                      label="{{ 'LBLNO' | translate }}"
                      inputId="preopt4"
                      (click)="rolesObservation(true)"
                      formControlName="obsApproveMobile"
                    >
                    </p-radioButton>
                  </div>
                </div>

                <div
                  class="ui-g-12 ui-md-12 pb-0 multiSelectDropDwon"
                  *ngIf="!roleObservation"
                >
                  <div class="filterLable required">
                    <label>{{ "LBLROLES" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [options]="roles"
                    formControlName="roleList"
                    class="required"
                    defaultLabel="{{ 'LBLROLES' | translate }}"
                  >
                  </p-multiSelect>
                  <div
                    *ngIf="submittedCheckList && cform.roleList.errors"
                    class="invalid-feedback"
                  >
                    <p-message
                      severity="error"
                      text="{{ 'ALTASSIGNROLE' | translate }}"
                      *ngIf="cform.roleList.errors.required"
                    >
                    </p-message>
                  </div>
                </div>
                <div class="heading-left ui-g-12 ui-md-12">
                  <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label class="text-center">{{
                      "LBLUSERDEFINEDFEILDS" | translate
                    }}</label>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                  <div class="filterLable">
                    <label>{{ "LBLUSERDEFINEDFEILDS" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [options]="definedfields"
                    (change)="getUserField()"
                    formControlName="userDefinedList"
                    class="required"
                    defaultLabel="{{ 'LBLUSERDEFINEDFEILDS' | translate }}"
                  >
                  </p-multiSelect>

                  <div class="ui-g-12 defaultSelect pb-0">
                    <div
                      class="ui-g-12 pl-0 pb-0 ui-md-4 multiSelectDropDwon user-select"
                    >
                      <div class="filterLable">
                        <label>{{
                          "LBLSETMANDATORYUSERDEFINEDFEILDS" | translate
                        }}</label>
                      </div>
                      <p-multiSelect
                        [options]="mdefinedfields"
                        formControlName="customField"
                        class="required"
                        defaultLabel="{{
                          'LBLSETMANDATORYUSERDEFINEDFEILDS' | translate
                        }}"
                      >
                      </p-multiSelect>
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 submitButton">
                  <div class="ui-g-12 ui-md-3 ui-lg-1">
                    <button
                      pButton
                      type="submit"
                      [disabled]="CheckListConfigurationForm.pristine"
                      title="{{ 'LBLSAVE' | translate }}"
                      label="{{ 'LBLSAVE' | translate }}"
                    ></button>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-lg-1">
                    <button
                      pButton
                      type="button"
                      (click)="checklistReset()"
                      title="{{ 'LBLRESET' | translate }}"
                      label="{{ 'LBLRESET' | translate }}"
                      [disabled]="CheckListConfigurationForm.pristine"
                      class="reset-btn"
                    ></button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
