<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog class="{{ confirmClass }}" header="{{ appName }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info"></p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <h1>{{ "LBLCATEGORIESLIST" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select">
        <ng-select [searchable]="false" [items]="filterCat" bindLabel="label" bindValue="value" [clearable]="false"
          [(ngModel)]="selectedfilterCat" required>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item.label }}">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="searchText" (keyup.enter)="onTextSearch()" />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button pButton title="{{ 'FMKSEARCH' | translate }}" type="button" icon="ui-icon-search"
            (click)="onTextSearch()"></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-7 text-right" style="padding-top: 11px;">
        <button type="button" icon="ui-icon-add" [routerLink]="['/add-categories']" skipLocationChange="true" pButton
          title="{{ 'LBLADD' | translate }}"></button>
        <button type="button" [disabled]="selectedData.length == 0" icon="ui-icon-delete" class="ml activebtn"
          (click)="deleteRecord()" pButton *ngIf="roleId == 1 || roleId == 2"
          title="{{ 'LBLDELETE' | translate }}"></button>
        <button type="button" [disabled]="selectedData.length == 0" icon="ui-icon-swap-horiz" class="ml"
          (click)="changeStatus('')" title="{{ 'LBLCHANGESTATUS' | translate }}" pButton></button>
        <button type="button" icon="ui-icon-g-translate" [routerLink]="['/categories-translate']"
          skipLocationChange="true" class="ml" title="{{ 'LBLTRANS' | translate }}" pButton></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <p-table [columns]="dataCols" [value]="catListing" [(selection)]="selectedData" [paginator]="true" [rows]="20"
          class="group-listing grouplisting">
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td [attr.colspan]="columns.length + 1" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let dataCols of columns" [pSortableColumn]="dataCols.field">
                {{ dataCols.header }}
                <p-sortIcon [field]="dataCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let dataCols of columns; let i = index" style="cursor: pointer;"
                (click)="onRowSelect(rowData)">
                <ng-container *ngIf="i < dataCount - 1">
                  {{ rowData[dataCols.field] }}
                </ng-container>
                <ng-container *ngIf="i == dataCount - 1">
                  <p-button label="{{ rowData[dataCols.field] | translate }}"
                    (click)="changeStatus(rowData.MAINCATEGORYID)" *ngIf="rowData[dataCols.field] == 'LBLACTIVE'"
                    class="actionButton"></p-button>
                  <p-button label="{{ rowData[dataCols.field] | translate }}"
                    (click)="changeStatus(rowData.MAINCATEGORYID)" *ngIf="rowData[dataCols.field] == 'LBLINACTIVE'"
                    class="actionButtonD">
                  </p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>