<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ "LBLHELPFILE" | translate }}</h1>
      <p-tabView>
        <p-tabPanel
          header="Intro"
          leftIcon="ui-icon-person"
        >
        <markdown [src]="'./assets/safe.md'"></markdown>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
