<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-confirmDialog
      acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}"
      header="{{ appName }}"
      icon="ui-icon-info"
    ></p-confirmDialog>
    <p-toast
      [style]="{ marginTop: '80px', width: '500px' }"
      position="top-center"
    ></p-toast>
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <div style="text-align: center" *ngIf="isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <form
          [formGroup]="AddObservationGeneral"
          (ngSubmit)="updateGeneralForm()"
          ngxScrollToFirstInvalid
          *ngIf="!isLoaded"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12" *ngIf="approveStatus == 0">
              <span class="approve-note">
                {{ "LBLCHECKLISTREADONLY" | translate }}
              </span>
            </div>
            <div class="ui-g-12 ui-md-12 lbltext" *ngIf="checkListData">
              <div class="ui-g-12 ui-md-3 checklist-heading">
                <span>{{ "LBLBSITES" | translate }}</span> :
                {{ checkListData.SITENAME }}
              </div>
              <div class="ui-g-12 ui-md-3 checklist-heading">
                <span>{{ "LBLCHECKLISTNO" | translate }}</span> : {{ cardId }}
              </div>
              <div class="ui-g-12 ui-md-3 checklist-heading">
                <span>{{ "LBLENTEREDDATE" | translate }}</span> :
                {{ checkListData.ENTEREDDATE }}
              </div>
              <div class="ui-g-12 ui-md-3 checklist-heading">
                <span>{{ "LBLCHKLISTSETUP" | translate }}</span> :
                {{ checkListData.SETUPNAME }}
              </div>
              <div class="ui-g-12 ui-md-3 checklist-heading lbltextInner">
                <span> {{ "LBLENTEREDBY" | translate }}</span> :
                {{ checkListData.ENTEREDBY }}
              </div>
              <div class="ui-g-12 ui-md-4 uidatepicker select_observer">
                <label class="required dateLabel">{{
                  "LBLOBSDATE" | translate
                }}</label>
                <p-calendar
                  [maxDate]="curDate"
                  [showIcon]="true"
                  dateFormat="{{ dateFormat }}"
                  placeholder="{{ dateFormatTypeNew | translate }}"
                  [showButtonBar]="true"
                  formControlName="observationDate"
                  [locale]="locale"
                >
                </p-calendar>
                <div
                  *ngIf="submitted && GeneralSubForm.observationDate.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTOBSERVATIONDATEFORMAT' | translate }}"
                    *ngIf="GeneralSubForm.observationDate.errors.required"
                  >
                  </p-message>
                </div>
                <!-- <p-message
                  severity="error"
                  class="errorMsg"
                  text="{{ 'ALTOBSERVATIONDATEFORMAT' | translate }}"
                  *ngIf="
                    !AddObservationGeneral.controls['observationDate'].valid &&
                    AddObservationGeneral.controls['observationDate'].dirty
                  "
                >
                </p-message> -->
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 middelBox">
                <div
                  class="card card-w-title boxshadownone"
                  style="padding-bottom: 16px"
                >
                  <div class="ui-g">
                    <div
                      class="ui-g-12 ui-md-3 ui-lg-2 addNewBtn"
                      *ngIf="
                        addNewObsPermission.length > 0 &&
                        addNewObsPermission[0].PERMISSIONVALUE == 1
                      "
                    >
                      <button
                        type="button"
                        (click)="openPopup()"
                        pButton
                        icon="ui-icon-add"
                        label="{{ 'LBLADDNEWOBS' | translate }}"
                        title="{{ 'LBLADDNEWOBS' | translate }}"
                        class="create_new_observed"
                      ></button>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-10 multiSelectDropDwon">
                      <div class="filterLable">
                        <label class="required">{{
                          "LBLOBSERVER" | translate
                        }}</label>
                      </div>
                      <p-multiSelect
                        [defaultLabel]="'LBLCHOOSE' | translate"
                        [options]="observersList"
                        formControlName="selObserverId"
                        class="required"
                        *ngIf="observersList.length > 0"
                      >
                      </p-multiSelect>
                      <div
                        *ngIf="submitted && GeneralSubForm.selObserverId.errors"
                        class="invalid-feedback"
                      >
                        <p-message
                          class=""
                          severity="error"
                          text="{{ 'ALTOBSERVERCOUNT' | translate }}"
                          *ngIf="GeneralSubForm.selObserverId.errors.required"
                        >
                        </p-message>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  class="required pBottom"
                  placeholder="{{ 'LBLAREA' | translate }}"
                  [searchable]="true"
                  [items]="areaList"
                  bindLabel="AREANAME"
                  [clearable]="false"
                  bindValue="AREAID"
                  required
                  formControlName="areaId"
                  (change)="getSubArea()"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.AREANAME | translate }}">
                      {{ item.AREANAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.areaId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTPROVIDEAREA' | translate }}"
                    *ngIf="
                      GeneralSubForm.areaId.errors.required ||
                      GeneralSubForm.areaId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngIf="subAreaOptionValue == 1"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLSUBAREAS' | translate }}"
                  [searchable]="true"
                  [items]="subAreaList"
                  bindLabel="SUBAREANAME"
                  [clearable]="false"
                  bindValue="SUBAREAID"
                  formControlName="subAreaId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SUBAREANAME | translate }}">
                      {{ item.SUBAREANAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngIf="areaManagerOptionValue == 1"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLAREAMANAGER' | translate }}"
                  [searchable]="true"
                  [items]="areaManager"
                  bindLabel="FULLNAME"
                  [clearable]="false"
                  bindValue="USERID"
                  formControlName="areaManagerId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.FULLNAME | translate }}">
                      {{ item.FULLNAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  class="required pBottom"
                  placeholder="{{ 'LBLSHIFT' | translate }}"
                  [searchable]="true"
                  [items]="shiftsList"
                  bindLabel="SHIFTNAME"
                  [clearable]="false"
                  bindValue="SHIFTID"
                  required
                  formControlName="shiftId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SHIFTNAME | translate }}">
                      {{ item.SHIFTNAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.shiftId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTPROVIDESHIFT' | translate }}"
                    *ngIf="
                      GeneralSubForm.shiftId.errors.required ||
                      GeneralSubForm.shiftId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngFor="let field of fieldList; let i = index"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ field.fieldName }}"
                  [searchable]="true"
                  [items]="field.fieldValue"
                  bindLabel="CUSTOMFIELDVALUE"
                  [clearable]="false"
                  bindValue="CUSTOMFIELDVALUEID"
                  formControlName="Field{{ i + 1 }}"
                  [ngClass]="field.mandatory == 1 ? 'required' : ''"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.CUSTOMFIELDVALUE | translate }}">
                      {{ item.CUSTOMFIELDVALUE | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted" class="invalid-feedback">
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTMANDATORYCUSTOMFIELD' | translate }}"
                    *ngIf="
                      AddObservationGeneral.get('Field' + (i + 1)).hasError(
                        'required'
                      ) ||
                      AddObservationGeneral.get('Field' + (i + 1)).hasError(
                        'min'
                      )
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="length"
                  />
                  <label class="required inputLabel">{{
                    "LBLLENGTH" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.length.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTLENGTH' | translate }}"
                    *ngIf="
                      GeneralSubForm.length.errors.required ||
                      AddObservationGeneral.get('length').hasError('numeric') ||
                      AddObservationGeneral.get('length').hasError('whitespace')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="peopleContacted"
                  />
                  <label class="required inputLabel">{{
                    "LBLPEOPLECONTACTED" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.peopleContacted.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTPEOPLECONTACTED' | translate }}"
                    *ngIf="
                      GeneralSubForm.peopleContacted.errors.required ||
                      AddObservationGeneral.get('peopleContacted').hasError(
                        'numeric'
                      ) ||
                      AddObservationGeneral.get('peopleContacted').hasError(
                        'whitespace'
                      )
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    max="{{ maxPeopleObserved }}"
                    formControlName="peopleObserved"
                  />
                  <label class="required inputLabel">{{
                    "LBLPEOPLEOBSERVED" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.peopleObserved.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTPEOPLEOBSERVED' | translate }}"
                    *ngIf="
                      GeneralSubForm.peopleObserved.errors.required ||
                      AddObservationGeneral.get('peopleObserved').hasError(
                        'numeric'
                      ) ||
                      (AddObservationGeneral.get('peopleObserved').hasError(
                        'whitespace'
                      ) &&
                        !GeneralSubForm.peopleObserved.errors?.max)
                    "
                  >
                  </p-message>
                  <p-message
                    severity="error"
                    text="{{ 'ALTMAXLIMITONOBSERVED' | translate }} {{
                      maxPeopleObserved
                    }}"
                    *ngIf="GeneralSubForm.peopleObserved.errors?.max"
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <ng-container *ngIf="configData">
                <ng-container
                  *ngIf="configData['EnableChecklistComments'] == 1"
                >
                  <div class="ui-g-12 ui-md-6 observation_input txtArea mb-10">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <span class="ui-float-label">
                        <textarea
                          id="float-input"
                          rows="5"
                          cols="30"
                          maxlength="1024"
                          pInputTextarea
                          formControlName="safeComments"
                        ></textarea>
                        <label for="float-input">{{
                          "LBLSAFECOMMENTS" | translate
                        }}</label>
                      </span>
                    </span>
                    <div
                      *ngIf="submitted && GeneralSubForm.safeComments.errors"
                      class="invalid-feedback"
                    >
                      <p-message
                        class=""
                        severity="error"
                        text="{{ 'ALTCOMMENTS' | translate }}"
                        *ngIf="GeneralSubForm.safeComments.errors?.maxLength"
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6 observation_input txtArea mb-10">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <span class="ui-float-label">
                        <textarea
                          id="float-input"
                          rows="5"
                          cols="30"
                          maxlength="1024"
                          pInputTextarea
                          formControlName="unSafeComments"
                        ></textarea>
                        <label for="float-input">{{
                          "LBLUNSAFECOMMENTS" | translate
                        }}</label>
                      </span>
                    </span>
                    <div
                      *ngIf="submitted && GeneralSubForm.unSafeComments.errors"
                      class="invalid-feedback"
                    >
                      <p-message
                        class=""
                        severity="error"
                        text="{{ 'ALTCOMMENTS' | translate }}"
                        *ngIf="GeneralSubForm.unSafeComments.errors?.maxLength"
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </ng-container>
              </ng-container>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [items]="status"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  required
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label | translate }}">
                      {{ item.label | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div
            class="ui-g-12 ui-md-12"
            style="padding-bottom: 20px"
            *ngIf="approveStatus == 1"
          >
            <div class="ui-g-12 ui-md-8 submitButton">
              <div class="ui-g-12 ui-md-4 ui-lg-2">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLCONTINUE' | translate }}"
                  [disabled]="AddObservationGeneral.pristine"
                  title="{{ 'LBLCONTINUE' | translate }}"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-4 ui-lg-2">
                <button
                  pButton
                  type="button"
                  (click)="resetGeneralForm()"
                  title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"
                  [disabled]="AddObservationGeneral.pristine"
                  class="reset-btn"
                ></button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div
              class="ui-g-12 ui-md-4 ui-lg-4 submitButton"
              style="padding-top: 0px"
              *ngIf="
                checkListData &&
                checkListData['ISINCOMPLETEOBS'] == 0 &&
                showCorrectiveAction &&
                createCA == 1 &&
                approveStatus == 1
              "
            >
              <div
                class="ui-g-12 ui-md-12 ui-lg-12 secondary-btn-ui"
                style="float: right"
              >
                <button
                  *ngIf="roleId == 1 || roleId == 5"
                  pButton
                  icon="ui-icon-add"
                  type="button"
                  routerLink="/edit-corrective-action-listing/{{ cardId }}/0/1"
                  skipLocationChange="true"
                  title="{{ 'LBLADDCORRECTIVEACTIONS' | translate }}"
                  class="correctiveBtn"
                  label="{{ 'LBLADDCORRECTIVEACTIONS' | translate }}"
                ></button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLOBSERVATIONS' | translate }}"
        leftIcon="ui-icon-check"
        [selected]="tabSelected"
      >
        <div style="text-align: center" *ngIf="isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <form
          [formGroup]="observationForm"
          (ngSubmit)="updateObservationForm('')"
          *ngIf="!isLoaded"
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-6 ui-lg-6 checklist-heading">
              <h3>{{ "LBLCHECKLISTNO" | translate }} : {{ this.cardId }}</h3>
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-5"></div>
            <div
              class="ui-g-12 ui-md-2 ui-lg-1 padding-none secondary-btn-ui"
              *ngIf="approveStatus == 1"
            >
              <button
                pButton
                type="submit"
                class="create_new_observed"
                label="{{ 'LBLSAVE' | translate }}"
                [disabled]="observationForm.pristine"
                title="{{ 'LBLSAVE' | translate }}"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-12" style="padding-bottom: 0px">
              <div class="top-sections">
                <span class="seprator"></span>
                <div class="ui-g-12 ui-md-6">
                  <p>
                    <i class="fa ui-icon-message"></i>
                    {{ "LBLTOOLTIPFORCOMMENTS" | translate }}
                  </p>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="showCorrectiveAction">
                  <p>
                    <i class="fa ui-icon-assignment-turned-in"></i>
                    {{ "LBLCREATECAPA" | translate }}
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <p
                class="note_msg"
                *ngIf="checkListData && checkListData['ISINCOMPLETEOBS'] == 1"
              >
                <!-- <span> Note: </span> -->
                {{ "LBLCARDIVALIDMESSAGE" | translate }}
              </p>
              <div class="observation-tabing">
                <p-accordion [multiple]="multiple">
                  <ng-container
                    *ngFor="let category of finalCategories; let i = index"
                  >
                    <p-accordionTab
                      header="{{ category.mainCategoryName }}"
                      [selected]="category.selectedEx"
                    >
                      <p-table
                        [value]="category.subCategoryValue"
                        class="actiontable grouplisting"
                      >
                        <ng-template pTemplate="header">
                          <div *ngIf="category.allSafeCheck == 1">
                            <input
                              type="text"
                              placeholder="{{ 'LBLALLSAFE' | translate }}"
                              style="width: 107px"
                              class="headerInput grouplisting"
                              formControlName="allsafe{{
                                category.mainCategoryId
                              }}"
                              (input)="
                                setTargetValue(
                                  $event.target.value,
                                  category.mainCategoryId
                                )
                              "
                              maxlength="3"
                            />
                          </div>
                          <tr>
                            <th
                              align="left"
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                              "
                            >
                              <div class="actiontableMain">
                                <i
                                  class="fa ui-icon-message"
                                  [class.noCommentsMain]="
                                    category.commentExists == 0
                                  "
                                  title="{{ 'LBLIMAGECOMMENTS' | translate }}"
                                  (click)="
                                    MainCategoryComments(
                                      category.mainCategoryId
                                    )
                                  "
                                ></i>
                              </div>
                            </th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                                color: red !important;
                                padding-right: 20px !important;
                              "
                              class="TheadUnsafe"
                            >
                              {{ "LBLUNSAFE" | translate }}
                            </th>
                            <th
                              style="
                                border-radius: 0px !important;
                                background: #f4f4f4 !important;
                                color: green !important;
                              "
                              class="Tright"
                            >
                              {{ "LBLSAFE" | translate }}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr>
                            <td>
                              <i
                                class="fa ui-icon-message flat-iconss"
                                title="{{ 'LBLIMAGECOMMENTS' | translate }}"
                                [class.noComments]="rowData.COMMENTEXISTS == 0"
                                (click)="SubCategoryComments(rowData)"
                              ></i>
                              <a (click)="SubCategoryComments(rowData)">{{
                                rowData.SUBCATEGORYNAME
                              }}</a>
                            </td>
                            <td align="center">
                              <i
                                *ngIf="
                                  (rowData.UNSAFECOMMENTS != '' ||
                                    rowData.UNSAFE > 0) &&
                                  roleId != 5 &&
                                  showCorrectiveAction &&
                                  createCA == 1
                                "
                                [class.noComments]="rowData.OBSCAEXISTS == 0"
                                title="{{
                                  'LBLTOOLTIPFORCREATECAPA' | translate
                                }}"
                                class="fa ui-icon-assignment-turned-in"
                                (click)="AddCorrectiveActionsModal(rowData)"
                                style="margin-right: 25px"
                              ></i>
                              <i
                                *ngIf="
                                  (rowData.UNSAFECOMMENTS == '' &&
                                    rowData.UNSAFE == 0) ||
                                  roleId == 5 ||
                                  !showCorrectiveAction
                                "
                                style="margin-right: 58px"
                              ></i>
                              <input
                                type="text"
                                pInputText
                                style="width: 107px"
                                formControlName="unsafe{{
                                  rowData.SUBCATEGORYID
                                }}"
                                (input)="
                                  checkValue(
                                    $event.target.value,
                                    'unsafe' + rowData.SUBCATEGORYID
                                  )
                                "
                                maxlength="3"
                                [class.highlightedField]="
                                  rowData.UNSAFE > 0 &&
                                  rowData.UNSAFECOMMENTS == ''
                                "
                              />
                            </td>
                            <td align="center">
                              <input
                                type="text"
                                pInputText
                                style="width: 107px"
                                formControlName="safe{{
                                  rowData.SUBCATEGORYID
                                }}"
                                (input)="
                                  checkValue(
                                    $event.target.value,
                                    'safe' + rowData.SUBCATEGORYID
                                  )
                                "
                                maxlength="3"
                              />
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </p-accordionTab>
                  </ng-container>
                  <div
                    class="ui-g-12 ui-md-6 ui-lg-8 submitButton"
                    style="padding-top: 0px"
                    *ngIf="approveStatus == 1"
                  >
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                      <button
                        pButton
                        type="submit"
                        [disabled]="observationForm.pristine"
                        label="{{ 'LBLSAVE' | translate }}"
                        title="{{ 'LBLSAVE' | translate }}"
                      ></button>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                      <button
                        pButton
                        type="button"
                        (click)="resetObservationForm()"
                        title="{{ 'LBLRESET' | translate }}"
                        label="{{ 'LBLRESET' | translate }}"
                        [disabled]="observationForm.pristine"
                        class="reset-btn"
                      ></button>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2 secondary-btn-ui">
                      <button
                        pButton
                        type="button"
                        title="{{ 'LBLSAVEADDNEW' | translate }}"
                        [disabled]="observationForm.pristine"
                        (click)="updateObservationForm('saveandnew')"
                        label="{{ 'LBLSAVEADDNEW' | translate }}"
                      ></button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div
                    class="ui-g-12 ui-md-6 ui-lg-4 submitButton"
                    style="padding-top: 0px"
                  >
                    <div
                      class="ui-g-12 ui-md-8 ui-lg-7 rightButtons secondary-btn-ui"
                      *ngIf="
                        checkListData &&
                        checkListData['ISINCOMPLETEOBS'] == 0 &&
                        showCorrectiveAction &&
                        createCA == 1 &&
                        approveStatus == 1
                      "
                    >
                      <button
                        *ngIf="roleId == 1 || roleId == 5"
                        pButton
                        type="button"
                        class="create_new_observed"
                        label="{{ 'LBLADDCORRECTIVEACTIONS' | translate }}"
                        title="{{ 'LBLADDCORRECTIVEACTIONS' | translate }}"
                        icon="ui-icon-add-circle"
                        (click)="checkAddCorrective()"
                      ></button>
                    </div>
                    <!-- <div
                        class="ui-g-12 ui-md-7 rightButtons secondary-btn-ui "
                        *ngIf="
                          checkListData && checkListData['ISINCOMPLETEOBS'] == 1 || !showCorrectiveAction
                        "
                      ></div> -->
                    <div
                      class="ui-g-12 ui-lg-5 ui-md-4 paddingtb padding-none secondary-btn-ui"
                    >
                      <!-- [useExistingCss]="true" -->
                      <button
                        printSectionId="print-section"
                        ngxPrint
                        pButton
                        type="button"
                        class="create_new_observed"
                        label="{{ 'LBLPRINTCHECKLIST' | translate }}"
                        title="{{ 'LBLPRINTCHECKLIST' | translate }}"
                      ></button>
                    </div>
                  </div>
                </p-accordion>
              </div>
              <div
                class="observation-tabing"
                id="print-section"
                style="display: none"
              >
                <div style="clear: both"></div>
                <div class="ui-g form-group" style="background-color: #f4f4f4">
                  <div
                    class="ui-g-12 ui-md-12"
                    style="padding: 0.5em"
                    *ngIf="checkListData"
                  >
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLBSITES" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.SITENAME }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLOBSDATE" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.OBSERVATIONDATE }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLCHKLISTSETUP" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.SETUPNAME }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLOBSERVER" | translate }}
                      </span>
                      <span style="width: 450px; float: left">
                        {{ obsName }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLAREA" | translate }}
                      </span>
                      <span style="float: left"> {{ areaName }} </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLSHIFT" | translate }}
                      </span>
                      <span style="float: left"> {{ shiftName }} </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLLENGTH" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.LENGTH }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLPEOPLECONTACTED" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.PEOPLECONTACTED }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLPEOPLEOBSERVED" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.PEOPLEOBSERVED }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                    >
                      <span
                        style="width: 200px; float: left"
                        *ngIf="checkListData.STATUS == 1"
                      >
                        {{ "LBLSTATUS" | translate }}
                      </span>
                      <span
                        style="float: left"
                        *ngIf="checkListData.STATUS == 1"
                      >
                        {{ "LBLACTIVE" | translate }}
                      </span>
                      <div style="clear: both"></div>
                      <span
                        style="width: 200px; float: left"
                        *ngIf="checkListData.STATUS == 2"
                      >
                        {{ "LBLSTATUS" | translate }}
                      </span>
                      <span
                        style="float: left"
                        *ngIf="checkListData.STATUS == 2"
                      >
                        {{ "LBLINACTIVE" | translate }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                      *ngIf="configData['EnableChecklistComments'] == 1"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLSAFECOMMENTS" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.SAFECOMMENTS }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div
                      class="ui-g-12 ui-md-12 checklist-heading"
                      style="padding: 0.5em"
                      *ngIf="configData['EnableChecklistComments'] == 1"
                    >
                      <span style="width: 200px; float: left">
                        {{ "LBLUNSAFECOMMENTS" | translate }}
                      </span>
                      <span style="float: left">
                        {{ checkListData.UNSAFECOMMENTS }}
                      </span>
                      <div style="clear: both"></div>
                    </div>
                    <div style="clear: both"></div>
                  </div>
                </div>
                <div style="clear: both"></div>
                <!-- <p-accordion>
                    <p-accordionTab
                      *ngFor="let category of finalCategories"
                      header="{{ category.mainCategoryName }}"
                      [selected]="true"
                    >
                      
                    </p-accordionTab>
                  </p-accordion> -->
                <ng-container *ngFor="let category of finalCategories">
                  <h3
                    style="
                      font-weight: bold;
                      font-size: 18px;
                      padding: 10px;
                      background: #ffffff;
                    "
                  >
                    {{ category.mainCategoryName }}
                  </h3>
                  <table
                    style="
                      width: 100%;
                      table-layout: fixed;
                      border-collapse: collapse;
                    "
                  >
                    <thead>
                      <tr
                        style="
                          border-radius: 0px !important;
                          background: #f4f4f4 !important;
                          color: #cc0c2f !important;
                        "
                      >
                        <th
                          align="left"
                          class="PdfTheadUnsafe"
                          style="padding: 10px"
                        >
                          {{ "LBLUNSAFE" | translate }}
                        </th>
                        <th align="center"></th>
                        <th
                          class="PdfTright"
                          align="right"
                          style="padding: 10px"
                        >
                          {{ "LBLSAFE" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        style="border: none"
                        *ngFor="let rowData of category.subCategoryValue"
                      >
                        <td align="left" style="padding: 10px">
                          {{ rowData.UNSAFE }}
                        </td>
                        <td align="center">{{ rowData.SUBCATEGORYNAME }}</td>
                        <td align="right" style="padding: 10px">
                          {{ rowData.SAFE }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel
        header="{{ 'LBLUPDATEREQUESTED' | translate }}"
        leftIcon="ui-icon-edit"
        *ngIf="showRequest"
      >
        <div style="text-align: center" *ngIf="commentLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!commentLoading">
          <div
            class="ui-g-12 ui-md-12"
            *ngIf="approvalRequest && approvalRequest.length > 0"
          >
            <p-table
              [columns]="requestCols"
              [value]="approvalRequest"
              [(selection)]="selectedApproval"
              [paginator]="true"
              [rows]="20"
              class="group-listing grouplisting"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th colspan="2"></th>
                  <th
                    *ngFor="let requestCols of columns"
                    [pSortableColumn]="requestCols.field"
                  >
                    {{ requestCols.header | translate }}
                    <p-sortIcon [field]="requestCols.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr
                  [ngClass]="{
                    approvelBackground: rowData['COMMENTTYPE'] == '1',
                    observerBackground: rowData['COMMENTTYPE'] == '2'
                  }"
                >
                  <td colspan="2"></td>
                  <td
                    *ngFor="let requestCols of columns; let i = index"
                    style="cursor: pointer"
                  >
                    <ng-container *ngIf="i < requestCount - 1">
                      <a style="display: block">
                        {{ rowData[requestCols.field] }}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="i == requestCount - 1">
                      <a style="display: block; text-align: right">
                        {{ rowData[requestCols.field] }} {{ rowData["TIME"] }}
                      </a>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="clearfix"></div>
          <form
            [formGroup]="addComment"
            (ngSubmit)="onSubmitRequest(addComment.value)"
          >
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12" style="padding-top: 0px">
                <div class="ui-g-12 ui-md-6 observation_input txtArea">
                  <span class="md-inputfield ui-md-12 padding-none">
                    <span class="ui-float-label">
                      <textarea
                        id="float-input"
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="comments"
                      ></textarea>
                      <label for="float-input">{{
                        "LBLREQUESTDESC" | translate
                      }}</label>
                    </span>
                    <p-message
                      severity="error"
                      text="{{ 'ALTCOMMENTS' | translate }}"
                      *ngIf="
                        !addComment.controls['comments'].valid &&
                        addComment.controls['comments'].dirty
                      "
                    >
                    </p-message>
                  </span>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-9 submitButton"
                style="padding-top: 0px"
              >
                <div class="ui-g-12 ui-md-2">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'LBLSUBMIT' | translate }}"
                    title="{{ 'LBLSUBMIT' | translate }}"
                    [disabled]="!addComment.valid"
                  ></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                  <button
                    pButton
                    type="Reset"
                    label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}"
                    [disabled]="!addComment.valid"
                  ></button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<!-- Add Corrective Actions Modal -->
<form
  [formGroup]="AddCorrectiveActions"
  (ngSubmit)="updateCorrectiveAction('')"
>
  <p-dialog
    header="{{ 'LBLCAPA' | translate }}"
    class="formAddGroup classOverflow"
    [modal]="true"
    [draggable]="false"
    [(visible)]="correctiveDisplay"
    [rtl]="true"
    [style]="{ width: '770px', height: 'auto' }"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="ui-g-12 ui-md-12">
        <ul class="corretive-list" *ngIf="correctiveData">
          <li>
            <span>{{ "LBLMAINCATEGORY" | translate }} :</span>
            {{ correctiveData.MAINCATEGORYNAME }}
          </li>
          <li>
            <span>{{ "LBLSUBCATNAME" | translate }} :</span>
            {{ correctiveData.SUBCATEGORYNAME }}
          </li>
          <li
            *ngIf="correctiveData.UNSAFECOMMENTS != ''"
            class="commentSectionLi"
          >
            <span>{{ "LBLUNSAFECOMMENTS" | translate }} :</span>
            <div class="commentSection">
              {{ correctiveData.UNSAFECOMMENTS }}
            </div>
          </li>
          <li *ngIf="correctiveData.UNSAFECOMMENTS == ''">
            <span>{{ "LBLUNSAFECOMMENTS" | translate }} :</span>
            {{ "LBLNOCOMMENTS" | translate }}
          </li>
        </ul>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              maxlength="1024"
              pInputTextarea
              formControlName="actionPlanned"
            ></textarea>
            <label for="float-input" class="required">{{
              "LBLCORRECTIVEACTIONPLANNED" | translate
            }}</label>
          </span>
          <div
            *ngIf="correctiveSubmitted && CorrectiveSub.actionPlanned.errors"
            class="invalid-feedback"
          >
            <p-message
              severity="error"
              text="{{ 'ALTCORRACTCHARPLANNED' | translate }}"
              *ngIf="
                CorrectiveSub.actionPlanned.errors.required ||
                AddCorrectiveActions.get('actionPlanned').hasError('whitespace')
              "
            >
            </p-message>
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              maxlength="1024"
              pInputTextarea
              formControlName="actionPerformed"
            ></textarea>
            <label for="float-input">{{
              "LBLCORRECTIVEACTIONPERFORMED" | translate
            }}</label>
          </span>
          <div
            *ngIf="correctiveSubmitted && CorrectiveSub.actionPerformed.errors"
            class="invalid-feedback"
          >
            <p-message
              severity="error"
              text="{{ 'ALTCORRACTCHARPERFORMED' | translate }}"
              *ngIf="
                AddCorrectiveActions.get('actionPerformed').hasError(
                  'required'
                ) ||
                AddCorrectiveActions.get('actionPerformed').hasError(
                  'whitespace'
                )
              "
            >
            </p-message>
          </div>
        </span>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-6 multiSelectDropDwon tooltipMain mb-10">
        <ng-select
          placeholder="{{ 'LBLACTOWNER' | translate }}"
          formControlName="owner"
          [searchable]="true"
          [items]="actionOwner"
          bindLabel="FULLNAME"
          [clearable]="false"
          bindValue="USERID"
          formControlName="owner"
          class="required"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.FULLNAME | translate }}">
              {{ item.FULLNAME | translate }}
            </div>
          </ng-template>
        </ng-select>
        <img
          src="assets/layout/images/tooltip.png"
          class="tooltipInput"
          pTooltip="{{ 'LBLTOOLTIPACTIONOWNER' | translate }}"
          tooltipPosition="right"
        />
        <div
          *ngIf="correctiveSubmitted && CorrectiveSub.owner.errors"
          class="invalid-feedback"
        >
          <p-message
            class="errorMsg"
            severity="error"
            text="{{ 'ALTACTIONOWNER' | translate }}"
            *ngIf="CorrectiveSub.owner.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 multiSelectDropDwon mb-10">
        <ng-select
          placeholder="{{ 'LBLPRIORITY' | translate }}"
          [searchable]="true"
          [items]="priority"
          bindLabel="label"
          [clearable]="false"
          bindValue="value"
          formControlName="priority"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label | translate }}">
              {{ item.label | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-6 uidatepicker multiSelectDropDwon mb-1">
        <label class="dateLabel required">{{
          "LBLRESDATEREQ" | translate
        }}</label>
        <p-calendar
          [showIcon]="true"
          dateFormat="{{ dateFormat }}"
          placeholder="{{ dateFormatTypeNew | translate }}"
          [showButtonBar]="true"
          formControlName="responseRequireDate"
          [locale]="locale"
        >
        </p-calendar>
        <div
          *ngIf="
            correctiveSubmitted && CorrectiveSub.responseRequireDate.errors
          "
          class="invalid-feedback"
        >
          <p-message
            class="errorMsg"
            severity="error"
            text="{{ 'ALTRESPONSEDATEFORMAT' | translate }}"
            *ngIf="CorrectiveSub.responseRequireDate.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 multiSelectDropDwon mb-10">
        <ng-select
          placeholder="{{ 'LBLCORRACTIVEACTIONSTATUS' | translate }}"
          [searchable]="false"
          [items]="correctiveStatus"
          bindLabel="label"
          [clearable]="false"
          bindValue="value"
          formControlName="cardStatus"
          (change)="changeCAStatus($event)"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label | translate }}">
              {{ item.label | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-6 multiSelectDropDwon mb-1">
        <span class="md-inputfield ui-md-12 padding-none multiSelectDropDwon">
          <div class="filterLable filterLables">
            <label class="required">{{
              "LBLRESPONSIBLEPERSON" | translate
            }}</label>
          </div>
          <p-multiSelect
            [defaultLabel]="'LBLCHOOSE' | translate"
            [options]="responsiblePersons"
            formControlName="respPerson"
            class="required"
          >
          </p-multiSelect>
          <img
            src="assets/layout/images/tooltip.png"
            class="tooltipInput"
            pTooltip="{{ 'LBLTOOLTIPRESPONSIBLEPERSON' | translate }}"
            tooltipPosition="right"
          />
        </span>
        <div
          *ngIf="correctiveSubmitted && CorrectiveSub.respPerson.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTRESPERSONREQUIRED' | translate }}"
            *ngIf="CorrectiveSub.respPerson.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 uidatepicker multiSelectDropDwon">
        <label class="dateLabel">{{ "LBLRESPONDEDDATE" | translate }}</label>
        <p-calendar
          [showIcon]="true"
          [maxDate]="curDate"
          dateFormat="{{ dateFormat }}"
          placeholder="{{ dateFormatTypeNew | translate }}"
          [showButtonBar]="true"
          formControlName="responseDate"
          [locale]="locale"
        >
        </p-calendar>
        <div
          *ngIf="correctiveSubmitted && CorrectiveSub.responseDate.errors"
          class="invalid-feedback"
        >
          <p-message
            class="errorMsg"
            severity="error"
            text="{{ 'ALTRESPONDEDDATEFORMAT' | translate }}"
            *ngIf="CorrectiveSub.responseDate.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 pl-0">
        <!-- <input type="checkbox" (change)="Responsibleperson($event)" /> -->
        <p-checkbox
          name="groupname"
          (onChange)="Responsibleperson()"
          value="otherRespPerson"
          formControlName="selectedRespPerson"
          class="ui-g-12 ui-md-12"
          label="{{ 'LBLRESPONSIBLEPERSONNOTLIST' | translate }}"
        ></p-checkbox>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="marked">
        <div class="ui-g-12 ui-md-6 observation_input">
          <span class="md-inputfield ui-md-12 padding-none">
            <input
              type="text"
              pInputText
              class="ui-md-12"
              formControlName="otherRespPerson"
            />
            <label class="">{{ "LBLOTHERS" | translate }}</label>
          </span>
          <div
            *ngIf="correctiveSubmitted && CorrectiveSub.otherRespPerson.errors"
            class="invalid-feedback"
          >
            <p-message
              severity="error"
              text="{{ 'ALTOTHERSPERSON' | translate }}"
              *ngIf="
                AddCorrectiveActions.get('otherRespPerson').hasError(
                  'required'
                ) ||
                AddCorrectiveActions.get('otherRespPerson').hasError(
                  'maxLength'
                ) ||
                AddCorrectiveActions.get('otherRespPerson').hasError(
                  'whitespace'
                )
              "
            >
            </p-message>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 observation_input">
          <span class="md-inputfield ui-md-12 padding-none">
            <input
              type="text"
              pInputText
              class="ui-md-12"
              formControlName="otherEmailId"
            />
            <label class="">{{ "LBLEMAILIDS" | translate }}</label>
          </span>
          <div
            *ngIf="correctiveSubmitted && CorrectiveSub.otherEmailId.errors"
            class="invalid-feedback"
          >
            <p-message
              severity="error"
              text="{{ 'ALTVALIDEMAILFORCORRACTION' | translate }}"
              *ngIf="
                AddCorrectiveActions.get('otherEmailId').hasError('required') ||
                AddCorrectiveActions.get('otherEmailId').hasError(
                  'whitespace'
                ) ||
                CorrectiveSub.otherEmailId.errors.pattern ||
                CorrectiveSub.otherEmailId.errors.email ||
                AddCorrectiveActions.get('otherEmailId').hasError('maxLength')
              "
            >
            </p-message>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 submitButton">
        <div class="ui-g-12 ui-md-2 pl-0">
          <button
            pButton
            type="submit"
            [disabled]="AddCorrectiveActions.pristine"
            label="{{ 'LBLSAVE' | translate }}"
            title="{{ 'LBLSAVE' | translate }}"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-2">
          <button
            pButton
            type="button"
            title="{{ 'LBLCANCEL' | translate }}"
            (click)="resetCorrectiveActionForm()"
            label="{{ 'LBLCANCEL' | translate }}"
            class="reset-btn"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
<!-- Create new Observer -->
<form
  [formGroup]="AddObservationModal"
  (ngSubmit)="addNewObserver()"
  class="CreatenewObserver"
>
  <p-dialog
    header="{{ 'LBLCREATENEWOBSERVER' | translate }}"
    [modal]="true"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="display"
    [rtl]="true"
    [style]="{ width: '770px', height: 'auto' }"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="lastName"
          />
          <label class="required">{{ "LBLLASTNAME" | translate }}</label>
        </span>
        <div
          *ngIf="submitted1 && ModalSubForm.lastName.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTADDLASTNAME' | translate }}"
            *ngIf="ModalSubForm.lastName.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="firstName"
          />
          <label class="required">{{ "LBLFIRSTNAME" | translate }}</label>
        </span>
        <div
          *ngIf="submitted1 && ModalSubForm.firstName.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTADDFIRSTNAME' | translate }}"
            *ngIf="ModalSubForm.firstName.errors.required"
          >
          </p-message>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
            formControlName="email"
          />
          <label class="">{{ "LBLEMAILID" | translate }}</label>
        </span>
        <div
          *ngIf="submitted1 && ModalSubForm.email.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTADDEMAIL' | translate }}"
            *ngIf="ModalSubForm.email.errors.pattern"
          >
          </p-message>
          <p-message
            severity="error"
            text="{{ 'ALTADDEMAIL' | translate }}"
            *ngIf="ModalSubForm.email.errors?.maxlength"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="jobTitle"
          />
          <label class="">{{ "LBLJOBTITLE" | translate }}</label>
        </span>
      </div>
      <div class="clearfix"></div>
      <div class="heading-left heading-left-obs ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-2">
          <label class="text-center">{{ "LBLGROUPS" | translate }} </label>
        </div>
      </div>
      <ng-container *ngFor="let group of finalGroups; let i = index">
        <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
          <ng-select
            class="pBottom"
            placeholder="{{ group.groupTypeName }}"
            [searchable]="true"
            formControlName="Group{{ i + 1 }}"
            [items]="group.groupData"
            bindLabel="GROUPNAME"
            [clearable]="false"
            bindValue="GROUPID"
            [class.required]="
              AddObservationModal.get('Group' + (i + 1)).hasError('required')
            "
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              <div title="{{ item.GROUPNAME | translate }}">
                {{ item.GROUPNAME | translate }}
              </div>
            </ng-template>
          </ng-select>
          <div *ngIf="submitted1" class="invalid-feedback">
            <p-message
              class=""
              severity="error"
              text="{{ 'ALTMANDATORYGROUP' | translate }}"
              *ngIf="
                AddObservationModal.get('Group' + (i + 1)).hasError('required')
              "
            >
            </p-message>
          </div>
        </div>
        <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
      </ng-container>
      <div class="ui-g-12 ui-md-12 submitButton">
        <div class="ui-g-12 ui-md-2 pl-0">
          <button
            pButton
            type="submit"
            label="{{ 'LBLSAVE' | translate }}"
            [disabled]="AddObservationModal.pristine"
            title="{{ 'LBLSAVE' | translate }}"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-2">
          <button
            pButton
            type="reset"
            title="{{ 'LBLRESET' | translate }}"
            label="{{ 'LBLRESET' | translate }}"
            [disabled]="AddObservationModal.pristine"
            class="reset-btn"
            (click)="resetObserverForm()"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
<!-- Category Comments -->
<form
  [formGroup]="AddCatCommentsForm"
  (ngSubmit)="updateObservationForm('catcomments')"
  *ngIf="catData"
>
  <p-dialog
    header="{{ 'LBLCATEGORYCOMMENTS' | translate }}"
    [modal]="true"
    class="formAddGroup classOverflow"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="CatDisplay"
    [rtl]="true"
    [style]="{ width: '770px', height: 'auto' }"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="ui-g-12 ui-md-12">
        <ul class="corretive-list comment-box">
          <li>
            <span>{{ "LBLMAINCATEGORY" | translate }} :</span>
            {{ catData.MAINCATEGORYNAME }}
          </li>
          <br />
          <li *ngIf="catData.SUBCATEGORYNAME">
            <span>{{ "LBLSUBCATNAME" | translate }} :</span>
            {{ catData.SUBCATEGORYNAME }}
          </li>
        </ul>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              maxlength="1024"
              pInputTextarea
              formControlName="safeComments"
            ></textarea>
            <label for="float-input">{{ "LBLSAFECOMMENTS" | translate }}</label>
          </span>
          <div
            *ngIf="submitted2 && AddCatCmmtForm.safeComments.errors"
            class="invalid-feedback"
          >
            <p-message
              class=""
              severity="error"
              text="Please enter valid comments. Comments should not be more than 1024 characters"
              *ngIf="AddCatCmmtForm.safeComments.errors?.maxLength"
            >
            </p-message>
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input mb-10 txtArea">
        <span class="md-inputfield ui-md-12 padding-none">
          <span class="ui-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              maxlength="1024"
              pInputTextarea
              formControlName="unSafeComments"
            ></textarea>
            <label for="float-input">{{
              "LBLUNSAFECOMMENTS" | translate
            }}</label>
          </span>
          <div
            *ngIf="submitted2 && AddCatCmmtForm.unSafeComments.errors"
            class="invalid-feedback"
          >
            <p-message
              class=""
              severity="error"
              text="Please enter valid comments. Comments should not be more than 1024 characters"
              *ngIf="AddCatCmmtForm.unSafeComments.errors?.maxLength"
            >
            </p-message>
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12 file-uploadtion pl-0">
          <label class="lableHeading">
            {{ "LBLUPLOADIMAGES" | translate }}
          </label>
          <p-fileUpload
            chooseLabel="{{ 'LBLCHOOSE' | translate }}"
            name="uploadImage"
            customUpload="true"
            (onSelect)="fileChangeEvent($event)"
            (onRemove)="fileRemoveEvent($event)"
            accept="image/*"
            maxFileSize="1000000"
            [auto]="true"
            invalidFileTypeMessageSummary="{{
              'ALTINVALIDFILETYPE' | translate
            }}"
            invalidFileTypeMessageDetail=""
          >
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
        <div
          class="ui-g-12 ui-md-12 view-image view-image-obs"
          *ngIf="uploadedImage"
        >
          <a href="{{ imageUrl }}{{ uploadedImage }}" target="_blank">
            <img
              style="width: 200px"
              alt="{{ catData.SUBCATEGORYNAME }}"
              src="{{ imageUrl }}{{ uploadedImage }}"
            />
          </a>
        </div>
        <div class="ui-g-12 ui-md-12 view-image" *ngIf="uploadedImage">
          <a href="{{ imageUrl }}/{{ uploadedImage }}" target="_blank">
            {{ "LBLCLICKTOPREVIEW" | translate }}
          </a>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 submitButton">
        <div class="ui-g-12 ui-md-4 ui-lg-3 pl-0" *ngIf="approveStatus == 1">
          <button
            [disabled]="
              (!AddCatCommentsForm.valid || AddCatCommentsForm.pristine) &&
              !imageName
            "
            pButton
            type="submit"
            label="{{ 'LBLSAVE' | translate }}"
            title="{{ 'LBLSAVE' | translate }}"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <button
            pButton
            type="reset"
            title="{{ 'LBLCANCEL' | translate }}"
            (click)="cancelCommentsForm()"
            label="{{ 'LBLCANCEL' | translate }}"
            class="reset-btn"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
<!-- Create new Observer -->
