::ng-deep .noComments {
  background: #a1a1a1 !important;
}

::ng-deep .noCommentsMain {
  background: #a1a1a1 !important;
}

::ng-deep .correctiveBtn .ui-clickable {
  line-height: 1.143em !important;
}

.correctiveBtn {
  padding-top: 5px !important;
  text-align: left !important;
}

::ng-deep .create_new_observed .ui-clickable {
  line-height: 1.143em !important;
}

::ng-deep .ui-tooltip {
  max-width: 30em !important;
}

::ng-deep .note_msg {
  color: blue;
}

::ng-deep .highlightedField {
  color: #800000 !important;
  background-image: linear-gradient(to bottom, #800000, #800000),
    linear-gradient(to bottom, #800000, #800000) !important;
}

.heading-left-obs label {
  margin-left: -20px !important;
}

::ng-deep .card h3 {
  margin: 0px !important;
}

::ng-deep .ui-accordion-header {
  color: #000000 !important;
}

/* ::ng-deep body .ui-button .ui-button-text {
	line-height: 2.143em !important;
} */

.commentSectionLi {
  width: 100% !important;
}

.commentSectionLi span {
  float: initial !important;
}

.commentSection {
  word-break: break-word;
  height: 55px;
  overflow: auto;
}

.lbltext span {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.lbltextInner {
  padding-top: 28px !important;
}

::ng-deep .approve-note {
  color: red !important;
}

/* ::ng-deep .addNewBtn button {
	width: 86%;
} */

::ng-deep .body .ui-button .ui-button-text {
  line-height: 1.143em !important;
}

.view-image-obs img {
  height: auto !important;
}

.mb-1 {
  margin-top: -2px !important;
}

.filterLables {
  margin-top: 0px !important;
}

.correctiveBtn {
  /* width: 50%; */
  width: auto;
  float: right;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .correctiveBtn {
    width: 75% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .correctiveBtn {
    width: 90% !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .correctiveBtn {
    width: 100% !important;
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .correctiveBtn {
    width: 100% !important;
  }
}
