<div class="ui-g-12 ui-md-12">
  <div class="ui-g-12 ui-md-8"></div>
  <div class="ui-g-12 ui-md-1">
    <button
      pButton
      type="button"
      class="create_new_observed"
      label="{{ 'LBLPRINTCHECKLIST' | translate }}"
      title="{{ 'LBLPRINTCHECKLIST' | translate }}"
      (click)="selectedExport = 2; exportData()"
      *ngIf="tableData.length != 0"
    ></button>
  </div>
  <div class="ui-g-12 ui-md-3" style="margin-top: 15px;">
    <span class="md-inputfield">
      <p-dropdown
        class="drop-down"
        [options]="exportList"
        placeholder="{{ 'LBLEXPORTTO' | translate }}"
        [(ngModel)]="selectedExport"
        (ngModelChange)="exportData()"
        *ngIf="tableData.length != 0"
      >
      </p-dropdown>
      <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div *ngIf="!isLoaded" style="text-align: center;">
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container
  *ngIf="isLoaded && !errormsg && (subReportId == 3 || subReportId == 4)"
>
  <p-table
    #searchData
    [value]="tableData"
    dataKey="SITENAME"
    sortMode="single"
    [paginator]="true"
    [scrollable]="true"
    [rows]="30"
    (onSort)="onSort()"
    [globalFilterFields]="[
      'OBSERVERNAME',
      'AREANAME',
      'SUBAREANAME',
      'SHIFTNAME',
      'DATE',
      'SAFECOMMENTS',
      'UNSAFECOMMENTS',
      'UNSAFECNT',
      'SAFECNT'
    ]"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left;">
        <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width: 300px;"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "LBLOBSERVERNAME" | translate }}</th>
        <th>{{ "LBLAREANAME" | translate }}</th>
        <th *ngIf="subAreaOption == 1">
          {{ "LBLSUBAREAFULLNAME" | translate }}
        </th>
        <th>{{ "LBLSHIFTNAME" | translate }}</th>
        <th *ngFor="let field of fieldCols">{{ field }}</th>
        <th>{{ "FMKDTRANGE" | translate }}</th>
        <th>{{ "LBLSAFECOMMENTS" | translate }}</th>
        <th>{{ "LBLUNSAFECOMMENTS" | translate }}</th>
        <th class="align-center" *ngIf="subReportId == 3">
          {{ "LBLSAFECOUNT" | translate }}
        </th>
        <th class="align-center" *ngIf="subReportId == 4">
          {{ "LBLUNSAFECOUNT" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr
        class="ui-widget-header"
        *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
      >
        <td class="headerTD1" [attr.colspan]="colCount / 2">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSITENAME" | translate }}<br /><span
                style="color: #757575; line-height: 2;"
                >{{ rowData.SITENAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="colCount / 2 + extraColCount">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLMAINCATEGORY" | translate }}<br /><span
                style="color: #757575; line-height: 2;"
                >{{ rowData.MAINCATEGORYNAME }}</span
              ></span
            >
          </a>
        </td>
        <td
          class="headerTD1"
          [attr.colspan]="colCount / 2 + extraColCount"
          *ngIf="subReportId == 5"
        >
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSUBCATNAME" | translate }}<br /><span
                style="color: #757575; line-height: 2;"
                >{{ rowData.SUBCATEGORYNAME }}</span
              ></span
            >
          </a>
        </td>
      </tr>
      <tr *ngIf="rowData">
        <td class="submoduleTable1">{{ rowData.OBSERVERNAME }}</td>
        <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
        <td class="submoduleTable1" *ngIf="subAreaOption == 1">
          {{ rowData.SUBAREANAME }}
        </td>
        <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
        <td class="submoduleTable1" *ngFor="let field of fieldCols">
          {{ rowData[field] }}
        </td>
        <td class="submoduleTable1">{{ rowData.DATE }}</td>
        <td class="submoduleTable1">{{ rowData.SAFECOMMENTS }}</td>
        <td class="submoduleTable1">{{ rowData.UNSAFECOMMENTS }}</td>
        <td class="submoduleTable1 align-center" *ngIf="subReportId == 3">
          {{ rowData.SAFECNT }}
        </td>
        <td class="submoduleTable1 align-center" *ngIf="subReportId == 4">
          {{ rowData.UNSAFECNT }}
        </td>
      </tr>
      <tr *ngIf="rowIndex == tableData.length - 1">
        <td class="submoduleTable1" style="font-weight: bold;">
          {{ "LBLGRANDTOTAL" | translate }}
        </td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1" *ngIf="subAreaOption == 1"></td>
        <td class="submoduleTable1" *ngFor="let field of fieldCols"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1"></td>
        <td
          class="submoduleTable1 align-center"
          *ngIf="subReportId == 3"
          style="font-weight: bold;"
        >
          {{ totalSafeCount }}
        </td>
        <td
          class="submoduleTable1 align-center"
          *ngIf="subReportId == 4"
          style="font-weight: bold;"
        >
          {{ totalUnSafeCount }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && !errormsg && subReportId == 5">
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    dataKey="SITENAME"
    sortMode="single"
    [paginator]="true"
    [scrollable]="true"
    [rows]="30"
    (onSort)="onSort()"
    [globalFilterFields]="[
      'OBSERVERNAME',
      'AREANAME',
      'SUBAREANAME',
      'SHIFTNAME',
      'DATE',
      'SAFECOMMENTS',
      'UNSAFECOMMENTS',
      'UNSAFECNT',
      'SAFECNT'
    ]"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left;">
        <i class="fa fa-search" style="margin: 4px 4px 0 0;"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width: 300px;"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>{{ "LBLOBSERVERNAME" | translate }}</th>
        <th>{{ "LBLAREANAME" | translate }}</th>
        <th *ngIf="subAreaOption == 1">
          {{ "LBLSUBAREAFULLNAME" | translate }}
        </th>
        <th>{{ "LBLSHIFTNAME" | translate }}</th>
        <th *ngFor="let field of fieldCols">{{ field }}</th>
        <th>{{ "FMKDTRANGE" | translate }}</th>
        <th>{{ "LBLSAFECOMMENTS" | translate }}</th>
        <th>{{ "LBLUNSAFECOMMENTS" | translate }}</th>
        <th>{{ "LBLUNSAFECOUNT" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr
        class="ui-widget-header"
        *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
      >
        <td class="headerTD1" [attr.colspan]="colCount / 3">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSITENAME" | translate }}<br /><span
                style="color: #757575; line-height: 2;"
                >{{ rowData.SITENAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="colCount / 3">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLMAINCATEGORY" | translate }}<br /><span
                style="color: #757575; line-height: 2;"
                >{{ rowData.MAINCATEGORYNAME }}</span
              ></span
            >
          </a>
        </td>
        <td class="headerTD1" [attr.colspan]="colCount / 3 + extraColCount">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSUBCATNAME" | translate }}<br /><span
                style="color: #757575; line-height: 2;"
                >{{ rowData.SUBCATEGORYNAME }}</span
              ></span
            >
          </a>
        </td>
      </tr>
      <tr *ngIf="rowData">
        <td class="submoduleTable1">{{ rowData.OBSERVERNAME }}</td>
        <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
        <td class="submoduleTable1" *ngIf="subAreaOption == 1">
          {{ rowData.SUBAREANAME }}
        </td>
        <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
        <td class="submoduleTable1" *ngFor="let field of fieldCols">
          {{ rowData[field] }}
        </td>
        <td class="submoduleTable1">{{ rowData.DATE }}</td>
        <td class="submoduleTable1">{{ rowData.SAFECOMMENTS }}</td>
        <td class="submoduleTable1">{{ rowData.UNSAFECOMMENTS }}</td>
        <td class="submoduleTable1">
          {{ rowData.UNSAFECNT }}
        </td>
      </tr>
      <tr *ngIf="rowIndex == tableData.length - 1">
        <td class="submoduleTable1" style="font-weight: bold;">
          {{ "LBLGRANDTOTAL" | translate }}
        </td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1" *ngIf="subAreaOption == 1"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1" *ngFor="let field of fieldCols"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1"></td>
        <td class="submoduleTable1" style="font-weight: bold;">
          {{ totalUnSafeCount }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && errormsg">
  <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
</ng-container>
