<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-toast [style]="{ marginTop: '80px', width: '350px' }" position="top-center"></p-toast>
      <p-confirmDialog header="{{ 'LBLCONFIRM' | translate }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info"></p-confirmDialog>
      <h1>{{ "LBLTRANS" | translate }}</h1>
      <div class="ui-g-12 ui-md-3 user-select searchField">
        <ng-select placeholder="{{ dropDownLabel | translate }}" [searchable]=" true" [items]="customDropdown"
          bindLabel="{{ bindLabel }}" bindValue="{{ bindValue }}" (change)="ddChange('labelType')"
          [(ngModel)]="labelType" [clearable]="false">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item[bindLabel] }}">{{ item[bindLabel] }}</div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-2 user-select searchField">
        <ng-select placeholder="{{ 'LBLLANGUAGE' | translate }}" [searchable]="true" [items]="languages"
          bindLabel="LANGUAGENAME" bindValue="LANGUAGEID" (change)="ddChange('language')" [(ngModel)]="language"
          [clearable]="false">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div title="{{ item.LANGUAGENAME }}">
              {{ item.LANGUAGENAME }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="clearfix"></div>

      <p-table #tableValue [columns]="cols" [value]="tableValues" [paginator]="true" [(selection)]="selectedData"
        [rows]="20" class="group-listing translations-table grouplisting" (onSort)="onSort()">
        <ng-template pTemplate="paginatorleft" let-state>
          [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
          {{
            state.rows * (state.page + 1) >= state.totalRecords
              ? state.totalRecords
              : state.rows * (state.page + 1)
          }}
          / {{ state.totalRecords }} ]
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr *ngIf="!isLoaded">
            <td [attr.colspan]="columns.length + 1" style="text-align: center;">
              <p-progressSpinner></p-progressSpinner>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="columns.length" *ngIf="isLoaded">
              <div class="empty-message">
                <span class="material-icons">donut_large</span>
                {{ "LBLNORECS" | translate }}
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>
              #
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
          <tr style="cursor: pointer">
            <td>
              <p-tableCheckbox (click)="onSelect(i)" [value]="rowData" [index]="rowIndex"></p-tableCheckbox>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  {{ rowData[tableRowDataName] }}
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[tableRowDataName] }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn *ngIf="!isEnable(i)">
              <p-cellEditor>
                <ng-template pTemplate="input" style="text-align: end;">
                  <input class="input-field" pInputText type="text" [(ngModel)]="rowData[tableRowDataValue]" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[tableRowDataValue] }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn *ngIf="isEnable(i)">
              <p-cellEditor>
                <ng-template pTemplate="input" style="text-align: end;">
                  {{ rowData[tableRowDataValue] }}
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[tableRowDataValue] }}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-8 submitButton submit-panel">
          <div class="ui-g-6 ui-md-3 ui-lg-2">
            <button pButton (click)="onSubmit()" title="{{ 'LBLSAVE' | translate }}" label="{{ 'LBLSAVE' | translate }}"
              [disabled]="onSubmitTouched"></button>
          </div>
          <div class="ui-g-6 ui-md-3 ui-lg-2">
            <button pButton type="button" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
              [disabled]="onSubmitTouched" class="reset-btn" (click)="onReset()"></button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>