.input-field {
  color: black !important;
}

:host >>> .group-listing .ui-table .ui-table-tbody > tr > td {
  padding: 11px 13px !important;
}

:host >>> .ui-g-12.ui-md-7.text-right {
  padding: 22px 20px 0px 0px;
}
.submit-panel {
  margin: 15px -15px -20px;
}

:host >>> .group-listing .ui-table .ui-table-thead > tr > th:last-child {
  text-align: left !important;
}
