<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog header="{{ appName }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info"></p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <h1>{{ "LBLUNSAFEALERT" | translate }}</h1>
      <div class="ui-g-12 ui-md-12">
        <p-checkbox (onChange)="alertChange()" label="{{ 'LBLUNSAFEALERT' | translate }}" [(ngModel)]="checkboxValue"
          binary="true"></p-checkbox>
      </div>
      <div class="ui-g-12 ui-md-12 text-right filter-btn">
        <button type="button" icon="ui-icon-filter-list" class="ml" pButton (click)="toggleFilterShow()"
          title="{{ 'LBLFILTERS' | translate }}"></button>
      </div>
      <div class="clearfix"></div>
      <div [@slideInOut]="animationState">
        <div class="card card-w-title right-top-arrow" style="padding-bottom: 0px;">
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div class="heading-left filter-label ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-1 ">
              <label class="text-left">{{ "LBLFILTERS" | translate }}</label>
            </div>
          </div>
          <div class="clearfix"></div>
          <ng-container *ngIf="filterData">
            <div class="ui-g-12 ui-md-4" *ngFor="let filter of filterData; let i = index" style="padding-left: none;">
              <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                <div class="filterLable">
                  <label>{{ filter["Name"] | translate }}</label>
                </div>
                <p-multiSelect [options]="filter['Data']" [(ngModel)]="selectedItem[filter['value']]" class="required"
                  [defaultLabel]="'LBLCHOOSE' | translate" (onChange)="filterChange(filter['Name'])">
                </p-multiSelect>
              </div>
            </div>
          </ng-container>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12 submitButton ">
        <div class="ui-g-12 ui-md-1 pl-0">
          <button pButton type="button" label="{{ 'LBLSAVE' | translate }}" style="margin-bottom:10px"
            (click)="onSubmit()"></button>
        </div>
        <div class="ui-g-12 ui-md-2 pl-0 secondary-btn-ui">
          <button pButton type="button" label="{{ 'FMKCLRITEMS' | translate }}" style="margin-bottom:10px ;width: 140px"
            (click)="onReset()"></button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>