.div-h1 {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

.btn {
  padding: 14px;
  height: 40px;
}

.checkbox {
  margin: 20px 0px -10px 10px;
}

.filter-btn {
  margin: 0px 0px 15px 2px;
}
