<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 class="topHeading">
        {{ "LBLTECHNICALREQ" | translate }} <i class="pi pi-ellipsis-v"></i>
      </h1>
      <br />
      <div class="ui-md-12 ui-lg-4">
        <label>{{ "LBLRECOMMENEDUSAGE" | translate }} </label> <br /><br />

        <label>{{ "LBLOPTIMAL" | translate }}</label><br /><br />
        <label>{{ "LBLINTEXPVERSION" | translate }} </label><br /><br />
        <label>{{ "LBLFIREFOXVER" | translate }}</label><br /><br />
        <label>{{ "LBLCHROMEVER" | translate }}</label><br /><br />
        <label>{{ "LBLENBJS" | translate }}</label><br /><br />
        <label>{{ "LBLDISPOPUP" | translate }}</label>
      </div>
    </div>
  </div>
</div>