<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 class="ui-g-6 topHeading" style="margin: 0 !important">
        {{ "LBLANALYTICS" | translate }} <i class="pi pi-ellipsis-v"></i>
      </h1>
      <div class="ui-g-6 log_out note">* {{ "LBLLOGGEDOUT" | translate }}</div>
      <!-- <p-message
        *ngIf="cookieError"
        style="display: inline-block"
        severity="warn"
        [text]="cookieMsg"
      ></p-message> -->
      <!-- <p class="ui-g-12" [innerHtml]="cookieError ? cookieMsg : ''"></p> -->
      <div
        *ngIf="noRecord || cookieError"
        style="text-align: center;font-size: 22px;font-weight: bold;margin: 18% 0"
      >
        {{ noRecord }}
        <br />
        <!-- <p-message
          *ngIf="noRecord"
          style="display: inline-block"
          severity="warn"
          [text]="noRecord"
        ></p-message> -->
        <p-message
          *ngIf="cookieError"
          style="display: inline-block"
          severity="warn"
          [text]="cookieMsg"
        ></p-message>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="!noRecord && !cookieError">
        <div
          id="vizContainer"
          style="width:88vw; height:100vh; overflow: scroll;"
        ></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <iframe #iframe style="display: none"></iframe>
</div>
