<div class="ui-g-12 ui-md-12">
  <div class="ui-g-12 ui-md-8"></div>
  <div class="ui-g-12 ui-md-1">
    <button
      pButton
      type="button"
      class="create_new_observed "
      label="{{ 'LBLPRINTCHECKLIST' | translate }}"
      title="{{ 'LBLPRINTCHECKLIST' | translate }}"
      (click)="selectedExport = 2; exportData()"
      *ngIf="tableData.length != 0"
    ></button>
  </div>
  <div class="ui-g-12 ui-md-3" style="margin-top: 15px;">
    <span class="md-inputfield">
      <p-dropdown
        class="drop-down"
        [options]="exportList"
        placeholder="{{ 'LBLEXPORTTO' | translate }}"
        [(ngModel)]="selectedExport"
        (ngModelChange)="exportData()"
        *ngIf="tableData.length != 0"
      >
      </p-dropdown>
      <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div *ngIf="!isLoaded" style="text-align: center">
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-container *ngIf="isLoaded && !errormsg">
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    dataKey="SITENAME"
    sortMode="single"
    [paginator]="true"
    [scrollable]="true"
    [rows]="30"
    (onSort)="onSort()"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width:300px"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>{{ "LBLOBSDATE" | translate }}</th>
        <th>{{ "LBLOBSERVERNAME" | translate }}</th>
        <th>{{ "LBLAREANAME" | translate }}</th>
        <th *ngIf="subAreaOption == 1">
          {{ "LBLSUBAREAFULLNAME" | translate }}
        </th>
        <th>{{ "LBLSHIFTNAME" | translate }}</th>
        <ng-container *ngIf="fieldCols.length > 0">
          <th *ngFor="let field of fieldCols">{{ field }}</th>
        </ng-container>
        <th>{{ "LBLENTEREDBY" | translate }}</th>
        <th>{{ "LBLENTEREDDATE" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr class="ui-widget-header">
        <ng-container *ngIf="rowIndex == 0">
          <ng-container *ngFor="let headerKey of mainHeaderKeys; let i = index">
            <td
              class="headerTD1"
              [attr.colspan]="colCount - colleps"
              *ngIf="mainHeaderKeys.length - 1 != i"
            >
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  >{{ headingValue[headerKey] }}<br /><span
                    style="color: #757575; line-height: 2"
                    >{{ rowData[headerKey] }}</span
                  ></span
                >
              </a>
            </td>
            <td
              class="headerTD1"
              [attr.colspan]="colCount + extraColCount - colleps"
              *ngIf="
                mainHeaderKeys.length - 1 == i && mainHeaderKeys.length == 1
              "
            >
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  >{{ headingValue[headerKey] }}<br /><span
                    style="color: #757575; line-height: 2"
                    >{{ rowData[headerKey] }}</span
                  ></span
                >
              </a>
            </td>
            <td
              class="headerTD1"
              [attr.colspan]="colCount + extraColCount"
              *ngIf="
                mainHeaderKeys.length - 1 == i && mainHeaderKeys.length == 2
              "
            >
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  >{{ headingValue[headerKey] }}<br /><span
                    style="color: #757575; line-height: 2"
                    >{{ rowData[headerKey] }}</span
                  ></span
                >
              </a>
            </td>
            <td
              class="headerTD1"
              [attr.colspan]="colCount + extraColCount + colleps"
              *ngIf="
                mainHeaderKeys.length - 1 == i && mainHeaderKeys.length == 3
              "
            >
              <a class="dropOpen" [pRowToggler]="rowData">
                <span
                  >{{ headingValue[headerKey] }}<br /><span
                    style="color: #757575; line-height: 2"
                    >{{ rowData[headerKey] }}</span
                  ></span
                >
              </a>
            </td>
          </ng-container>
        </ng-container>
      </tr>
      <tr *ngIf="rowData">
        <td class="submoduleTable1">
          {{ rowData.OBSERVATIONDATE }}
        </td>
        <td class="submoduleTable1">{{ rowData.OBSERVERNAME }}</td>
        <td class="submoduleTable1">{{ rowData.AREANAME }}</td>
        <td class="submoduleTable1" *ngIf="subAreaOption == 1">
          {{ rowData.SUBAREANAME }}
        </td>
        <td class="submoduleTable1">{{ rowData.SHIFTNAME }}</td>
        <ng-container *ngIf="fieldCols.length > 0">
          <td class="submoduleTable1" *ngFor="let field of fieldCols">
            {{ rowData[field] }}
          </td>
        </ng-container>
        <td class="submoduleTable1">{{ rowData.ENTEREDBY }}</td>
        <td class="submoduleTable1">
          {{ rowData.ENTEREDDATE }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && errormsg">
  <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
</ng-container>
