<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ "LBLSITEADMINDETAILS" | translate }}</h1>
      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select ">
        <ng-select
          [searchable]="true"
          [items]="searchBy"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedField"
          [clearable]="false"
        >
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px;">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="onTextSearch()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            title="{{ 'FMKSEARCH' | translate }}"
            (click)="onTextSearch()"
          ></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-12">
        <p-table
          [columns]="userCols"
          [value]="userListing"
          [paginator]="true"
          [rows]="20"
          class="contact-listing"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [
            {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
            -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center;"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLRPTNORECFND" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th
                *ngFor="let userCols of columns"
                [pSortableColumn]="userCols.field"
              >
                {{ userCols.header | translate }}
                <p-sortIcon [field]="userCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let userCols of columns; let i = index"
                style="cursor: pointer"
              >
                {{ rowData[userCols.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <br />
      <div class="clearfix"></div>
      <h1>{{ "LBLCONTACTUS" | translate }}</h1>
      <div class="ui-md-4">
        <label>{{ "LBLALLREGIONS" | translate }} </label><br /><br />
        <label> {{ "LBLTECHSUPPORT" | translate }} </label><br /><br />
        <label> {{ "LBLTECHSUPPORTHR" | translate }} </label><br /><br />
        <label> {{ "LBLTECHSUPPORTPHONE" | translate }} </label><br /><br />
        <label>{{ "LBLTECHSUPPORTEMAIL" | translate }}</label
        ><br /><br />
      </div>
    </div>
  </div>
</div>
