<div class="ui-g report-classess">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g-12 ui-md-10">
        <h1 class="topHeading">
          {{ title }}

          <i class="pi pi-ellipsis-v"></i>
        </h1>
        <br />
      </div>
      <div class="ui-g-12 ui-md-2 padding-none">
        <button
          pButton
          type="button"
          class="create_new_observed "
          label="{{ 'LBLPRINTCHECKLIST' | translate }}"
          title="{{ 'LBLPRINTCHECKLIST' | translate }}"
          (click)="selectedExport = 2; exportData()"
          *ngIf="tableData.length != 0"
        ></button>
      </div>
      <div class="clearfix"></div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <span class="md-inputfield">
            <p-dropdown
              class="drop-down"
              [options]="exportList"
              placeholder="{{ 'LBLEXPORTTO' | translate }}"
              [(ngModel)]="selectedExport"
              (ngModelChange)="exportData()"
              *ngIf="tableData.length != 0"
            >
            </p-dropdown>
            <label class="dropDown-lable">{{
              "LBLEXPORTTO" | translate
            }}</label>
          </span>
        </div>
        <div class="clearfix"></div>
        <div style="text-align: center;" *ngIf="!isLoaded">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="isLoaded && !errormsg">
          <div *ngIf="tableData.length > 0">
            <p-table
              #searchData
              [columns]="cols"
              [value]="tableData"
              sortField="SITENAME"
              sortMode="single"
              [paginator]="true"
              [rows]="30"
              (onSort)="onSort()"
              class="hyperlinkTable"
            >
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    placeholder="{{ 'FMKSEARCH' | translate }}"
                    (input)="
                      searchData.filterGlobal($event.target.value, 'contains')
                    "
                    style="width:300px"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>{{ "LBLREDFLAGNAME" | translate }}</th>
                  <!-- <th>{{ "LBLOBSERVERNAME" | translate }}</th>
                  <th>{{ "LBLAREANAME" | translate }}</th>
                  <th>{{ "LBLSUBAREAFULLNAME" | translate }}</th>
                  <th>{{ "LBLMAINCATEGORY" | translate }}</th>
                  <th>{{ "LBLSUBCATNAME" | translate }}</th> -->
                  <th>{{ "LBLMETRICS" | translate }}</th>
                  <th class="align-center">{{ "LBLTRIGGER" | translate }}</th>
                  <th class="align-center">{{ "LBLLIMIT" | translate }}</th>
                  <th class="align-center">{{ "LBLVALUE" | translate }}</th>
                  <th class="align-center">{{ "LBLFLAG" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr
                  class="ui-widget-header"
                  *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
                >
                  <td class="headerTD1" colspan="6">
                    {{ "LBLSITENAME" | translate }} :
                    <span style="font-weight:bold">{{ rowData.SITENAME }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="submoduleTable1">
                    <a
                      style="cursor: pointer"
                      (click)="
                        openSubReport(
                          rowData['REDFLAGID'],
                          rowData['REDFLAGNAME']
                        )
                      "
                      >{{ rowData.REDFLAGNAME }}</a
                    >
                  </td>
                  <!-- <td class="submoduleTable1">
                    {{ rowData.OBSERVERNAME | translate }}
                  </td>
                  <td class="submoduleTable1">
                    {{ rowData.AREANAME | translate }}
                  </td>
                  <td class="submoduleTable1">
                    {{ rowData.SUBAREANAME | translate }}
                  </td>
                  <td class="submoduleTable1">
                    {{ rowData.MAINCATEGORYNAME | translate }}
                  </td>
                  <td class="submoduleTable1">
                    {{ rowData.SUBCATEGORYNAME | translate }}
                  </td> -->

                  <td class="submoduleTable1">
                    {{ rowData.METRIC | translate }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.TRIGGER | translate }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.LIMIT }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    {{ rowData.VALUE }}
                  </td>
                  <td class="submoduleTable1 align-center">
                    <img
                      src="assets/images/flag_yellow.jpg"
                      *ngIf="rowData.FLAG == 0"
                    /><img
                      src="assets/images/flag_red.jpg"
                      *ngIf="rowData.FLAG == 1"
                    /><img
                      src="assets/images/flag_green.jpg"
                      *ngIf="rowData.FLAG == 2"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
        <ng-container *ngIf="isLoaded && errormsg">
          <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
        </ng-container>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<p-dialog
  header="Sub Reports - {{ headName }}"
  class="checklist-dialog"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="displaySubReport"
  [rtl]="true"
  [style]="{ width: '95%', height: '95%', overflowY: 'scroll' }"
>
  <div class="ui-g-12 ui-md-12 padding-zero" *ngIf="displaySubReport">
    <app-sub-red-flag
      [reportId]="reportId"
      [subReportId]="8"
      [flagId]="selectedFlagId"
    ></app-sub-red-flag>
  </div>
</p-dialog>
