<div *ngIf="!isLoading">
  <div class="ui-g-12">
    <div class=" card-w-title pl-0 box-shadow-none">
      <p-confirmDialog #cd header="{{ appName }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info">
        <p-footer>
          <button type="button" pButton icon="pi pi-check" label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"></button>
          <button type="button" pButton icon="pi pi-times" label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"></button>
        </p-footer>
      </p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-person">
          <form [formGroup]="addValue" (ngSubmit)="onSubmit(addValue.value)">
            <div class="ui-g form-group pb-3">
              <div class="ui-g-12 ui-md-12" style="padding-right: 0px!important;">
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon" style="padding-right: 0px;">
                  <label><a>{{ "LBLFIELDNAME" | translate }}: </a><b> {{ "LBLFIELDNAME" | translate }}</b></label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield ui-md-12">
                  <input type="text" pInputText class="ui-md-12" formControlName="fieldValue" />
                  <label class="required">{{ "LBLFIELDVALUE" | translate }}
                  </label>
                </span>
                <p-message severity="error" text="{{ 'ALTPROVIDECUSTVALUE' | translate }}" *ngIf="
                    !addValue.controls['fieldValue'].valid &&
                    addValue.controls['fieldValue'].dirty
                  ">
                </p-message>
              </div>
              <div class="ui-g-10 ui-md-2 ui-lg-1">
                <button pButton type="submit" [disabled]="!addValue.valid" title="{{ 'LBLADD' | translate }}"
                  label="{{ 'LBLADD' | translate }}"></button>
              </div>
              <div class="ui-g-2 ui-md-6 ui-lg-7 text-right">
                <button type="button" [disabled]="selectedData.length == 0" icon="ui-icon-delete" class="ml activebtn"
                  (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}"></button>
              </div>
            </div>
          </form>
          <div class="ui-g form-group pb-3">
            <div class="ui-g-12 ui-md-12">
              <p-table [columns]="dataCols" [value]="userDefineListing" [(selection)]="selectedData" [paginator]="true"
                [rows]="20" class="group-listing2 grouplisting">
                <ng-template pTemplate="paginatorleft" let-state>
                  [
                  {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
                  -
                  {{
                    state.rows * (state.page + 1) >= state.totalRecords
                      ? state.totalRecords
                      : state.rows * (state.page + 1)
                  }}
                  / {{ state.totalRecords }} ]
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr *ngIf="!isLoaded">
                    <td [attr.colspan]="columns.length + 1" style="text-align: center;">
                      <p-progressSpinner></p-progressSpinner>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" *ngIf="isLoaded">
                      <div class="empty-message">
                        <span class="material-icons">donut_large</span>
                        {{ "FMKNORECS" | translate }}
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 40px">
                      <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let dataCols of columns" [pSortableColumn]="dataCols.field">
                      {{ dataCols.header }}
                      <p-sortIcon [field]="dataCols.field"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let dataCols of columns; let i = index" style="cursor: pointer">
                      <ng-container>
                        {{ rowData[dataCols.field] }}
                      </ng-container>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="{{ 'LBLASSIGNMENTS' | translate }}" leftIcon="ui-icon-assignment">
          <div class="ui-g radio-uibtn">
            <div class="ui-g-12 ui-md-12" style="padding-top: 25px;">
              <div class="ui-g-12 ui-md-12" style="padding-right: 0px!important;">
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon" style="padding-right: 0px;padding-left: 0px;">
                  <label><a>{{ "LBLFIELDNAME" | translate }}: </a><b> {{ "LBLFIELDNAME" | translate }}</b></label>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon user-select ">
                <ng-select [clearable]="false" placeholder="{{ 'LBLFIELDVALUE' | translate }}" [searchable]="true"
                  [items]="userDefineListing" bindLabel="CUSTOMFIELDVALUE" bindValue="CUSTOMFIELDVALUEID"
                  [(ngModel)]="selectedUDF" (change)="getAssignUserDefined($event.CUSTOMFIELDVALUEID)" required>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div title="{{ item.CUSTOMFIELDVALUE | translate }}">
                      {{ item.CUSTOMFIELDVALUE | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="assignLoading">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <ng-container *ngIf="!assignLoading">
            <div class="ui-g radio-uibtn">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12">
                  <div class="filterLable">
                    <label class="labelInput">
                      {{ "LBLFIELDVALUEASSIGNEDALLSITES" | translate }}</label>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="ui-g-12 ui-md-1">
                  <p-radioButton name="rg" value="1" [(ngModel)]="selectedAllSite" label="{{ 'LBLYES' | translate }}"
                    title="{{ 'LBLYES' | translate }}" (click)="changeSiteStatus(true)">
                  </p-radioButton>
                </div>
                <div class="ui-g-12 ui-md-1">
                  <p-radioButton name="rg" value="0" [(ngModel)]="selectedAllSite" label="{{ 'LBLNO' | translate }}"
                    title="{{ 'LBLNO' | translate }}" (click)="changeSiteStatus(false)">
                  </p-radioButton>
                </div>
              </div>
            </div>
            <div class="" *ngIf="!siteStatus">
              <div class="ui-g-12 ui-md-12 ">
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon">
                  <div class="filterLable">
                    <label>{{ "LBLBSITES" | translate }}</label>
                  </div>
                  <p-multiSelect [options]="sitelisting" [(ngModel)]="selectedSites" class="required"
                    (onChange)="selectedSiteChange()" [defaultLabel]="'LBLCHOOSE' | translate">
                  </p-multiSelect>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="ui-g-12 ui-md-12 submitButton">
              <div class="ui-g-12 ui-md-3 ui-lg-1">
                <button pButton type="submit" (click)="updateAssignField()" [disabled]="assignmentSaveBtn"
                  label="{{ 'LBLSAVE' | translate }}" title="{{ 'LBLSAVE' | translate }}"></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-1">
                <button pButton type="button" (click)="onReset()" [disabled]="assignmentSaveBtn" class="reset-btn"
                  label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-container>
        </p-tabPanel>

        <div class="clearfix"></div>
      </p-tabView>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<div class="clearfix"></div>