<div *ngIf="!isLoading">
  <div class="ui-g-12">
    <div class="card card-w-title pl-0 box-shadow-none">
      <p-confirmDialog header="{{ appName }}" #cd key="confirmDialogue" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info" class="info-msg">
        <p-footer>
          <button type="button" pButton icon="pi pi-check" label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"></button>
          <button type="button" pButton icon="pi pi-times" label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"></button>
        </p-footer>
      </p-confirmDialog>
      <p-confirmDialog acceptLabel="{{ 'LBLYES' | translate }}" rejectLabel="{{ 'LBLNO' | translate }}" class="info-msg"
        icon="ui-icon-info" key="tabChangeConfirmation" [style]="{ width: '50vw' }">
      </p-confirmDialog>
      <p-toast [style]="{ marginTop: '80px', width: '355px' }" position="top-center"></p-toast>
      <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
        <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-person">
          <div style="text-align: center" *ngIf="generalLoading">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <ng-container *ngIf="!generalLoading">
            <form [formGroup]="addSite" (ngSubmit)="onSubmit('')">
              <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12">
                    <input type="text" pInputText class="ui-md-12" formControlName="siteName" />
                    <label class="required">{{ "LBLSITENAME" | translate }}
                    </label>
                  </span>
                  <div *ngIf="submitted && innerForm.siteName.errors" class="invalid-feedback">
                    <p-message severity="error" text="{{ 'ALTSITENAMEVALIDATION' | translate }}" *ngIf="
                        innerForm.siteName.errors.required ||
                        addSite.get('siteName').hasError('whitespace') ||
                        innerForm.siteName.errors?.maxlength
                      ">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 address-area">
                  <span class="ui-float-label">
                    <textarea id="float-input" class="ui-md-12" pInputTextarea autoResize="autoResize"
                      formControlName="address"></textarea>
                    <label class="required" for="float-input">{{
                      "LBLADDRESS" | translate
                    }}</label>
                  </span>

                  <div *ngIf="submitted && innerForm.address.errors" class="invalid-feedback">
                    <p-message severity="error" text="{{ 'ALTADDRESS' | translate }}" *ngIf="
                        innerForm.address.errors.required ||
                        addSite.get('address').hasError('whitespace') ||
                        innerForm.address.errors?.maxlength
                      ">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12">
                    <input type="text" pInputText class="ui-md-12" formControlName="city" />
                    <label class="required">{{ "LBLCITY" | translate }}</label>
                  </span>
                  <div *ngIf="submitted && innerForm.city.errors" class="invalid-feedback">
                    <p-message severity="error" text="{{ 'ALTCITY' | translate }}" *ngIf="
                        innerForm.city.errors.required ||
                        addSite.get('city').hasError('whitespace') ||
                        innerForm.city.errors?.maxlength
                      ">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 ngSelectAlign">
                    <input type="text" pInputText class="ui-md-12" formControlName="state" />
                    <label class="ngSelectAlign">{{
                      "LBLSTATE" | translate
                    }}</label>
                  </span>
                </div>

                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select [clearable]="false" placeholder="{{ 'LBLCOUNTRY' | translate }}" [searchable]="true"
                    [items]="countryListing" bindLabel="COUNTRY" bindValue="COUNTRYID" formControlName="countryId"
                    required>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.COUNTRY }}">
                        {{ item.COUNTRY }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 ngSelectAlign">
                    <input type="text" pInputText class="ui-md-12" formControlName="zipCode" />
                    <label class="ngSelectAlign">{{ "LBLZIPCODE" | translate }}
                    </label>
                  </span>
                </div>
                <div class="ui-g-12 ui-md-12 pl-21 address-area textarea-float-label-left">
                  <div class="ui-g-12 ui-md-12">
                    <span class="ui-float-label">
                      <textarea id="float-input" pInputTextarea pInputTextarea autoResize="autoResize"
                        formControlName="comments"></textarea>
                      <label for="float-input">{{
                        "LBLCOMMENTS" | translate
                      }}</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 ngSelectAlign">
                    <input type="text" pInputText class="ui-md-12" formControlName="employees" />
                    <label class="ngSelectAlign">{{ "LBLEMPLOYEES" | translate }}
                    </label>
                  </span>
                  <div *ngIf="submitted && innerForm.employees.errors" class="invalid-feedback">
                    <p-message class="" severity="error" text="{{ 'ALTEMPLOYEECOUNT' | translate }}" *ngIf="
                        innerForm.employees.errors.required ||
                        addSite.get('employees').hasError('whitespace') ||
                        innerForm.employees.errors?.maxlength ||
                        innerForm.employees.errors?.pattern
                      ">
                    </p-message>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select [clearable]="false" placeholder="{{ 'LBLSTATUS' | translate }}" [searchable]="true"
                    [items]="status" bindLabel="label" bindValue="value" formControlName="status">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="ui-g-12 ui-md-4 multiSelectDropDwon">
                  <ng-select [clearable]="false" placeholder="{{ 'LBLTIMEZNONE' | translate }}" [searchable]="true"
                    [items]="timeZoneListing" bindLabel="TIMEZONENAME" bindValue="TIMEZONEID"
                    formControlName="defaultTimeZone">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.TIMEZONENAME }}">
                        {{ item.TIMEZONENAME }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="ui-g-12 ui-md-12 submitButton">
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <button pButton type="submit" label="{{ 'LBLSAVE' | translate }}" [disabled]="addSite.pristine"
                      title="{{ 'LBLSAVE' | translate }}"></button>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <button pButton type="button" (click)="siteReset()" class="reset-btn" [disabled]="addSite.pristine"
                      title="{{ 'LBLRESET' | translate }}" label="{{ 'LBLRESET' | translate }}"></button>
                  </div>

                  <div class="ui-g-12 ui-md-4 ui-lg-2 secondary-btn-ui">
                    <button pButton type="button" label="{{ 'LBLSAVEADDNEW' | translate }}"
                      [disabled]="addSite.pristine" title="{{ 'LBLSAVEADDNEW' | translate }}"
                      (click)="onSubmit('save_and_add_new')" style="margin-bottom: 10px"></button>
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
        </p-tabPanel>
        <div class="clearfix"></div>

        <p-tabPanel header="{{ 'LBLASSIGNMENTS' | translate }}" leftIcon="ui-icon-assignment">
          <div class="ui-g-12 ui-md-6" style="padding-right: 0px !important">
            <div class="ui-g-12 ui-md-12 multiSelectDropDwon" style="padding-right: 0px">
              <label><a>{{ "LBLSITENAME" | translate }}: </a><b>{{ siteNameDs }}</b></label>
            </div>
          </div>
          <div class="clearfix"></div>
          <div style="text-align: center" *ngIf="assignLoading">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <ng-container *ngIf="!assignLoading">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-6 multiSelectDropDwon">
                  <ng-select [clearable]="false" placeholder="{{ 'LBLASIGNSHIFTSSELECTEDSITE' | translate }}"
                    [searchable]="true" [items]="assignmentType" bindLabel="label" [(ngModel)]="selectedType"
                    bindValue="value" (change)="changeAssignment($event.value)" required>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12" *ngIf="!showGroup">
                <div class="ui-g-12 ui-md-6 multiSelectDropDwon">
                  <ng-select [clearable]="false" placeholder="{{ 'LBLGROUPTYPE' | translate }}" [searchable]="true"
                    [items]="groupType" bindLabel="label" [(ngModel)]="selectedGroup" bindValue="value"
                    (change)="changeGroup($event.value)" required>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-6 multiSelectDropDwon" style="padding-top: 0px">
                  <div class="filterLable">
                    <label>{{ placeHolder | translate }}</label>
                  </div>
                  <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="assignmentListing"
                    [(ngModel)]="selectedAvailable" class="required" id="siteSelect" (onChange)="onChangeAvailable()">
                  </p-multiSelect>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-8 submitButton p-left">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button pButton type="submit" label="{{ 'LBLSAVE' | translate }}" [disabled]="assignmentsSaveBtn"
                    title="{{ 'LBLSAVE' | translate }}" (click)="updateSiteAssign()"></button>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button pButton type="button" (click)="assignmentreset()" [disabled]="assignmentsSaveBtn"
                    class="reset-btn" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                    style="margin-bottom: 10px"></button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </ng-container>
        </p-tabPanel>
        <div class="clearfix"></div>

        <p-tabPanel header="{{ 'LBLTARGETS' | translate }}" leftIcon="ui-icon-center-focus-strong">
          <div style="text-align: center" *ngIf="targetLoading">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <ng-container *ngIf="!targetLoading">
            <form [formGroup]="targetForm" (ngSubmit)="targetSubmit(targetForm.value)">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12">
                  <div class="ui-g-12 ui-md-3 pl-0 multiSelectDropDwon">
                    <ng-select [clearable]="false" placeholder="{{ 'LBLTARGET' | translate }}" [searchable]="true"
                      [items]="Target" bindLabel="label" bindValue="value" (change)="targetOpen()" required
                      formControlName="targets">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.label }}">
                          {{ item.label }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-12" *ngIf="!wTarget && tTarget">
                  <p-table [value]="months" class="ngTable grouplisting">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="lefttop-radius">
                          {{ "LBLMONTH" | translate }}
                        </th>
                        <th class="righttop-radius">
                          <div class="ui-g-12 ui-md-5"></div>
                          <div class="ui-g-12 ui-md-3 padding-zero">
                            <span class="md-inputfield ui-md-12 padding-zero">
                              {{ "LBLTARGETS" | translate }}
                            </span>
                          </div>
                          <div class="ui-g-12 ui-md-2"></div>
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData>
                      <tr>
                        <td>{{ rowData.monthname | translate }}</td>
                        <td>
                          <div class="ui-g-12 ui-md-5"></div>
                          <div class="ui-g-12 ui-md-3">
                            <span class="md-inputfield ui-md-12 padding-zero">
                              <input *ngIf="rowData.name == 'all'" type="text" pInputText class="ui-md-12 allmonthvalue"
                                (input)="
                                  setTargetValue(
                                    $event.target.value,
                                    rowData.name
                                  )
                                " formControlName="{{ rowData.name }}" />
                              <input *ngIf="rowData.name != 'all'" type="text" pInputText class="ui-md-12 monthValue"
                                (input)="
                                  setValue($event.target.value, rowData.name)
                                " formControlName="{{ rowData.name }}" [disabled]="isDisable" />
                            </span>
                          </div>
                          <div class="ui-g-12 ui-md-2"></div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="wTarget && !tTarget">
                  <div class="ui-g form-group">
                    <span class="md-inputfield ui-md-4 padding-none">
                      <input type="text" pInputText class="ui-md-12" formControlName="weeklyTarget"
                        (input)="setWeeklyValue($event.target.value)" />
                      <label class="required">{{
                        "LBLWEEKLYTARGET" | translate
                      }}</label>
                    </span>
                  </div>
                  <div *ngIf="
                      targetSubmitted && targetForm.get('weeklyTarget').errors
                    " class="invalid-feedback ui-md-4">
                    <p-message class="errorMsg" severity="error" text="{{ 'LBLSETWEEKLY' | translate }}"
                      *ngIf="targetForm.get('weeklyTarget').errors.required">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12" style="margin: 20px 0px">
                  <p-checkbox name="groupname" value="1" label="{{ 'LBLSITETARGETALLOBSDEFAULT' | translate }}"
                    formControlName="applyToAllObser">
                  </p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-12 padding-none submitButton">
                  <div class="ui-g-12 ui-md-3 ui-lg-1">
                    <button pButton type="submit" label="{{ 'LBLSAVE' | translate }}"
                      title="{{ 'LBLSAVE' | translate }}" [disabled]="targetForm.pristine"></button>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-lg-1">
                    <button pButton type="button" (click)="targetReset()" [disabled]="targetForm.pristine"
                      class="reset-btn" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                      style="margin-bottom: 10px"></button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </ng-container>
        </p-tabPanel>
        <div class="clearfix"></div>

        <p-tabPanel header="{{ 'LBLAREAMANAGER' | translate }}" leftIcon="ui-icon-assignment"
          *ngIf="areaManagerOptionValue == 1">
          <div class="ui-g-12 ui-md-6" style="padding-right: 0px !important">
            <div class="ui-g-12 ui-md-12 multiSelectDropDwon" style="padding-right: 0px">
              <label><a>{{ "LBLSITENAME" | translate }}: </a><b>{{ siteNameDs }}</b></label>
            </div>
          </div>
          <div class="clearfix"></div>
          <div style="text-align: center" *ngIf="assignLoading">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <ng-container *ngIf="!assignLoading">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-6 multiSelectDropDwon">
                  <ng-select [clearable]="false" placeholder="{{ 'LBLAREAS' | translate }}" [searchable]="true"
                    [items]="areaManager" bindLabel="AREANAME" [(ngModel)]="selectedAreaMng" bindValue="AREAID"
                    (change)="getAreaManager($event.AREAID)" class="required">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.AREANAME }}">
                        {{ item.AREANAME }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div class="heading-lefts ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-2">
                  <label class="text-center">{{
                    "LBLAREAMANAGERS" | translate
                  }}</label>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-6 multiSelectDropDwon" style="padding-top: 0px">
                  <div class="filterLable">
                    <label>{{ LBLAREAMANAGERS | translate }}</label>
                  </div>
                  <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="userAreaManager"
                    [(ngModel)]="selecteduserAreaManager" class="required" id="siteSelect" (onChange)="onChangeaArea()">
                  </p-multiSelect>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-8 submitButton p-left">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button pButton type="submit" label="{{ 'LBLSAVE' | translate }}" [disabled]="areaManagerSaveBtn"
                    title="{{ 'LBLSAVE' | translate }}" (click)="updateAreaManager()"></button>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                  <button pButton type="button" (click)="areaManagerreset()" [disabled]="areaManagerSaveBtn"
                    class="reset-btn" label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                    style="margin-bottom: 10px"></button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </ng-container>
        </p-tabPanel>
        <div class="clearfix"></div>
      </p-tabView>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<div class="clearfix"></div>