<div class="ui-g-12 ui-md-12">
  <div class="ui-g-12 ui-md-8"></div>
  <div class="ui-g-12 ui-md-1">
    <button
      pButton
      type="button"
      class="create_new_observed "
      label="{{ 'LBLPRINTCHECKLIST' | translate }}"
      title="{{ 'LBLPRINTCHECKLIST' | translate }}"
      (click)="selectedExport = 2; exportData()"
      *ngIf="tableData.length != 0"
    ></button>
  </div>
  <div class="ui-g-12 ui-md-3" style="margin-top: 15px;">
    <span class="md-inputfield">
      <p-dropdown
        class="drop-down"
        [options]="exportList"
        placeholder="{{ 'LBLEXPORTTO' | translate }}"
        [(ngModel)]="selectedExport"
        (ngModelChange)="exportData()"
        *ngIf="tableData.length != 0"
      >
      </p-dropdown>
      <label class="dropDown-lable">{{ "LBLEXPORTTO" | translate }}</label>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div *ngIf="!isLoaded" style="text-align: center">
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-container *ngIf="isLoaded && !errormsg">
  <p-table
    #searchData
    [columns]="cols"
    [value]="tableData"
    dataKey="SITENAME"
    sortMode="single"
    [paginator]="true"
    [rows]="30"
    (onSort)="onSort()"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="{{ 'FMKSEARCH' | translate }}"
          (input)="searchData.filterGlobal($event.target.value, 'contains')"
          style="width:300px"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      [
      {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }}
      -
      {{
        state.rows * (state.page + 1) >= state.totalRecords
          ? state.totalRecords
          : state.rows * (state.page + 1)
      }}
      / {{ state.totalRecords }} ]
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>{{ "LBLOBSERVERNAME" | translate }}</th>
        <th>{{ "LBLAREANAME" | translate }}</th>
        <th *ngIf="subAreaOption == 1">
          {{ "LBLSUBAREAFULLNAME" | translate }}
        </th>
        <th>{{ "LBLMAINCATEGORY" | translate }}</th>
        <th>{{ "LBLSUBCATNAME" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr
        class="ui-widget-header"
        *ngIf="rowGroupMetadata[rowData.SITENAME].index === rowIndex"
      >
        <td class="headerTD1" [attr.colspan]="5 - colleps">
          <a class="dropOpen" [pRowToggler]="rowData">
            <span
              [ngClass]="
                expanded
                  ? 'fa fa-fw fa-chevron-circle-down'
                  : 'fa fa-fw fa-chevron-circle-right'
              "
            ></span>
            <span
              >{{ "LBLSITENAME" | translate }}<br /><span
                style="color: #757575; line-height: 2"
                >{{ rowData.SITENAME }}</span
              ></span
            >
          </a>
        </td>
      </tr>
      <tr>
        <td class="submoduleTable1">{{ rowData.OBSERVERNAME | translate }}</td>
        <td class="submoduleTable1">{{ rowData.AREANAME | translate }}</td>
        <td class="submoduleTable1" *ngIf="subAreaOption == 1">
          {{ rowData.SUBAREANAME | translate }}
        </td>
        <td class="submoduleTable1">
          {{ rowData.MAINCATEGORYNAME | translate }}
        </td>
        <td class="submoduleTable1">
          {{ rowData.SUBCATEGORYNAME | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="isLoaded && errormsg">
  <h2 class="noRecordFound">{{ errormsg | translate }}</h2>
</ng-container>
