<div class="login-body">
  <div class="login-panel ui-fluid">
    <div class="login-panel-header">
      <img src="assets/images/logo_stopdatapro.png" />
    </div>
    <div class="login-panel-content">
      <p-toast
        [style]="{ marginTop: '80px', width: '350px' }"
        position="top-center"
      ></p-toast>
      <div class="ui-g">
        <form
          [formGroup]="forgetPasswordForm"
          (ngSubmit)="onSubmit(forgetPasswordForm.value)"
        >
          <div class="ui-g-12">
            <h1>{{ "LBLFORGOTPWD" | translate }}</h1>
          </div>
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input
                type="text"
                class="inputfieldPadding"
                pInputText
                [formControl]="forgetPasswordForm.controls['userName']"
              />
              <label>{{ "LBLUSERNAME" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input
                type="text"
                class="inputfieldPadding"
                pInputText
                [formControl]="forgetPasswordForm.controls['email']"
              />
              <label>{{ "LBLEMAIL" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-12">
            <b
              ><label
                >{{ "LBLHELPPWD" | translate }}
                {{ "LBLHELPPWD1" | translate }}</label
              ></b
            >
          </div>
          <div
            class="ui-g-12 ui-md-12 submitButton"
            style="padding-right: 0px !important;"
          >
            <div class="ui-g-12 ui-md-4 pl-0">
              <button
                pButton
                type="submit"
                label="{{ 'LBLSUBMIT' | translate }}"
                title="{{ 'LBLSUBMIT' | translate }}"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-4 pl-0">
              <button
                pButton
                type="reset"
                title="{{ 'LBLRESET' | translate }}"
                label="{{ 'LBLRESET' | translate }}"
              ></button>
            </div>
            <div class="ui-g-12 ui-md-4 pl-0">
              <button
                pButton
                type="button"
                (click)="login()"
                title="{{ 'LBLLOGIN' | translate }}"
                label="{{ 'LBLLOGIN' | translate }}"
              ></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
