<div class="ui-g-12" [hidden]="isLoading">
  <div class=" card-w-title pl-0 box-shadow-none">
    <p-toast [style]="{ marginTop: '80px', width: '380px' }" position="top-center"></p-toast>
    <p-dialog header='{{"ALTWARNING" | translate}}' [(visible)]="display" modal="modal" showEffect="fade"
      [style]="{ width: '400px' }">
      <p>
        {{ "ALTASGNMAINCTG" | translate }}
      </p>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-check" (click)="display = false"
            label="{{ 'LBLOK' | translate }}"></button>
        </div>
      </p-footer>
    </p-dialog>
    <p-confirmDialog key="tabChangeConfirmation" acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}" class="info-msg" icon="ui-icon-info" header="{{ appName }}"
      [style]="{ width: '50vw' }"></p-confirmDialog>
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-person">
        <div style="text-align: center" *ngIf="generalLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!generalLoading">
          <form [formGroup]="addGeneral" (ngSubmit)="onSubmit(addGeneral.value)">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 listingLabel" style="margin-top:19px;">
                  <span class="md-inputfield ui-md-12 pl-0">
                    <input type="text" pInputText class="ui-md-12" formControlName="checkListName" maxlength="128" />
                    <label class="required">{{ "LBLSETUP" | translate }}</label>
                  </span>
                  <div *ngIf="submitted && uform.checkListName.errors" class="invalid-feedback">
                    <p-message severity="error" text="{{ 'ALTSETUPADD' | translate }}" *ngIf="
                        uform.checkListName.errors.required ||
                        addGeneral.get('checkListName').hasError('whitespace')
                      ">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon m-t-12">
                  <ng-select placeholder="{{ 'LBLALLSAFECHCK' | translate }}" [searchable]="false"
                    [items]="generalOptions" [clearable]="false" bindLabel="label" bindValue="value"
                    formControlName="allSafeCheck">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon m-t-12">
                  <ng-select placeholder="{{ 'LBLALLSITESETUP' | translate }}" [searchable]="false" [clearable]="false"
                    [items]="generalOptions" bindLabel="label" bindValue="value" formControlName="allSites">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div title="{{ item.label }}">
                        {{ item.label }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="ui-g-12">
                  <div class="ui-g-12 ui-md-4 listingLabel dropdown">
                    <span class="md-inputfield ui-md-12 pl-0">
                      <input type="text" pInputText class="ui-md-12" value="{{ copyFrom | translate }}"
                        [disabled]="true" />
                      <label>{{ "LBLCOPYFROM" | translate }}</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon ">
                    <ng-select placeholder="{{ 'LBLALLOWSAFEUNSAFE' | translate }}" [searchable]="false"
                      [clearable]="false" [items]="generalOptions" bindLabel="label" bindValue="value"
                      formControlName="enableSafeUnsafe">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.label }}">
                          {{ item.label }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="ui-g-12 ui-md-4 multiSelectDropDwon defaultDropDwon">
                    <ng-select placeholder="{{ 'LBLSTATUS' | translate }}" [searchable]="false" [items]="status"
                      [clearable]="false" bindLabel="label" bindValue="value" formControlName="status">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.label }}">
                          {{ item.label }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-8 submitButton maincategory_top" style="padding-left: 15px; margin-bottom: 20px;">
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button pButton type="submit" [disabled]="addGeneral.pristine" label="{{ 'LBLSAVE' | translate }}"
                  title="{{ 'LBLSAVE' | translate }}" [disabled]="addGeneral.pristine"></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button pButton type="button" (click)="reset()" class="reset-btn" [disabled]="addGeneral.pristine"
                  label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLMAINCTGS' | translate }}" leftIcon="ui-icon-subject">
        <div style="text-align: center" *ngIf="mainCatLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!mainCatLoading">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-12">
                <span class="category_label">
                  <b>{{ "LBLSETUP" | translate }} :</b>
                  {{ checklistSetupName }}</span>
              </div>
            </div>
            <!-- <div class="heading-left ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-2">
                <label class="text-center">{{
                  "LBLMAINCTGS" | translate
                }}</label>
              </div>
            </div> -->
            <div class="ui-g-12 ui-md-12 maincategory_top">
              <div class="ui-g-12 ui-md-12 padding-right0 multiSelectDropDwon">
                <div class="heading-lefts">
                  <label class="text-center">{{
                    "LBLMAINCTGS" | translate
                  }}</label>
                </div>
                <p-pickList #pl [source]="sourceMainCat" [target]="targetMainCat"
                  sourceHeader='{{"LBLAVAILABLE" | translate }}' targetHeader='{{"LBLASSIGNSITES" | translate}}'
                  [showSourceControls]="false" [responsive]="true" filterBy="ENTITYVALUE"
                  (onMoveToSource)="onMainCategoriesDropdownChange()"
                  (onMoveToTarget)="onMainCategoriesDropdownChange()"
                  (onTargetReorder)="onMainCategoriesDropdownChange()">
                  <ng-template let-mainCat pTemplate="item">
                    <span>{{ mainCat.ENTITYVALUE }}</span>
                  </ng-template>
                </p-pickList>
                <span id="mainCatIds" (click)="pl.resetFilter()" style="display: none"></span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-8 submitButton" style="padding-left: 15px; margin-bottom: 20px;">
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton (click)="onUpdateMainCategories()" label="{{ 'LBLSAVE' | translate }}"
                title="{{ 'LBLSAVE' | translate }}" [disabled]="mainCategoryDisable"></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"
                (click)="reset()" class="reset-btn" [disabled]="mainCategoryDisable"></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </ng-container>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLSUBCTGS' | translate }}" leftIcon="ui-icon-layers">
        <div style="text-align: center" *ngIf="subCatLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!subCatLoading">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-12">
                <span class="category_label">
                  <b>{{ "LBLSETUP" | translate }} :</b>
                  {{ checklistSetupName }}</span>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 padding-none">
              <div class="ui-g-12 ui-md-3 pl-0" style="padding-bottom: 0px;">
                <div class="ui-g-12 ui-md-12 multiSelectDropDwon padding-right0">
                  <ng-select placeholder="{{ 'LBLMAINCTGS' | translate }}" [items]="subCategoriesDropdown"
                    [multiple]="false" [selectableGroup]="true" [closeOnSelect]="true" bindValue="MAINCATEGORYID"
                    bindLabel="ENTITYVALUE" [(ngModel)]="subCategorySelector" (change)="mainCategoryChange()">
                    <ng-template ng-option-tmp let-item="item">
                      <div title="{{ item.ENTITYVALUE }}">
                        {{ item.ENTITYVALUE }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 padding-right0 multiSelectDropDwon">
              <div class="ui-g-12 ui-md-12 ">
                <div class="heading-lefts">
                  <label class="text-center">{{
                    "LBLSUBCTGS" | translate
                  }}</label>
                </div>
                <p-pickList #spl [source]="sourceSubCat" [target]="targetSubCat"
                  sourceHeader='{{"LBLAVAILABLE" | translate }}' targetHeader='{{"LBLASSIGNSITES" | translate}}'
                  [showSourceControls]="false" [responsive]="true" filterBy="ENTITYVALUE"
                  (onMoveToSource)="onSubCategoriesSelectorDropdown()"
                  (onMoveToTarget)="onSubCategoriesSelectorDropdown()"
                  (onTargetReorder)="onSubCategoriesSelectorDropdown()">
                  <ng-template let-subCat pTemplate="item">
                    <span>{{ subCat.ENTITYVALUE }}</span>
                  </ng-template>
                </p-pickList>
                <span id="subCatIds" (click)="spl.resetFilter()" style="display: none"></span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-8 submitButton" style="padding-left: 15px; margin-bottom: 20px;">
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton [disabled]="subCategoryDisable" (click)="onUpdateSubCategories()"
                label="{{ 'LBLSAVE' | translate }}" title="{{ 'LBLSAVE' | translate }}"></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton (click)="reset()" class="reset-btn" [disabled]="subCategoryDisable"
                label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </ng-container>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLSITE' | translate }}" leftIcon="ui-icon-pin-drop" *ngIf="enableSites">
        <div style="text-align: center" *ngIf="siteLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!siteLoading">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-12 ui-md-12">
                <span class="category_label">
                  <b>{{ "LBLSETUP" | translate }} :</b>
                  {{ checklistSetupName }}</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6 maincategory_top">
              <div class="ui-g-12 ui-md-12 padding-right0 multiSelectDropDwon"
                style="padding-top: 0px; margin-top: 10px;">
                <div class="filterLable">
                  <label>{{ "LBLSITE" | translate }}</label>
                </div>
                <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="siteDataDrop"
                  [(ngModel)]="selectedSiteIDs" class="required" (onChange)="onSiteDataChanged()">
                </p-multiSelect>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-8 submitButton" style="padding-left: 15px; margin-bottom: 20px;">
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton type="submit" [disabled]="!isSiteDataChanged" label="{{ 'LBLSAVE' | translate }}"
                title="{{ 'LBLSAVE' | translate }}" (click)="onUpdateSites()" [disabled]="siteDisable"></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton (click)="reset()" class="reset-btn" [disabled]="!isSiteDataChanged"
                label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}"></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="{{ 'LBLPREVIEW' | translate }}" leftIcon="ui-icon-visibility">
        <p-dialog header="Warning" [(visible)]="previewDisplay" modal="modal" showEffect="fade"
          [style]="{ width: '400px' }">
          <p>
            {{ "ALTPREVIEW" | translate }}
          </p>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="pi pi-check" (click)="previewDisplay = false"
                label="{{ 'LBLOK' | translate }}"></button>
            </div>
          </p-footer>
        </p-dialog>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <div class="observation-tabing">
              <p-accordion *ngFor="let mcPreview of mainCategoryItems">
                <p-accordionTab header="{{ mcPreview.mainCategoryName }}" [selected]="true">
                  <p-table [value]="mcPreview.subCategoryItems" class="actiontable grouplisting">
                    <ng-template pTemplate="header">
                      <input type="text" placeholder="{{ 'LBLALLSAFE' | translate }}" style=" width: 107px;"
                        class="headerInput" />
                      <tr>
                        <th style="border-radius: 0px !important; background: #f4f4f4 !important;"></th>
                        <th
                          style="border-radius: 0px !important; background: #f4f4f4 !important; color: #212121 !important "
                          class="Thead">
                          {{ "LBLUNSAFE" | translate }}
                        </th>
                        <th
                          style="border-radius: 0px !important; background: #f4f4f4 !important; color: #212121 !important "
                          class="Tright">
                          {{ "LBLSAFE" | translate }}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                      <tr>
                        <td>
                          <a style="font-size: 14px">{{
                            rowData.SUBCATEGORYNAME
                          }}</a>
                        </td>
                        <td align="center">
                          <input type="text" pInputText style=" width: 107px;" />
                        </td>
                        <td align="center">
                          <input type="text" pInputText style=" width: 107px;" />
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr *ngIf="loaded">
                        <td [attr.colspan]="columns.length">
                          <div class="empty-message">
                            <span class="material-icons">donut_large</span>
                            {{ "FMKNORECS" | translate }}
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>