.dropdown {
  margin-top: 7px;
}

.m-t-12 {
  margin-top: 12px;
}

::ng-deep .ui-picklist {
  display: inline-flex;
}

::ng-deep ul.ui-picklist-list {
  border: 1px solid var(--primary-color) !important;
}

::ng-deep .ui-picklist .ui-picklist-filter-container .ui-picklist-filter-icon {
  right: 1em;
  left: unset;
}

::ng-deep .ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper {
  width: 45% !important;
}

::ng-deep .ui-picklist-buttons-cell {
  vertical-align: middle;
  display: table-cell;
  height: 330px;
  padding-left: 5px !important;
}