<div class="ui-g-12" [hidden]="isLoading">
  <div class="card-w-title pl-0 box-shadow-none">
    <p-toast [style]="{ marginTop: '80px', width: '330px' }" position="top-center"></p-toast>
    <p-confirmDialog header="{{ appName }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
      rejectLabel="{{ 'LBLCANCEL' | translate }}" class="info-msg" icon="ui-icon-info"></p-confirmDialog>
    <p-confirmDialog key="tabChangeConfirmation" header="{{ appName }}" acceptLabel="{{ 'LBLYES' | translate }}"
      rejectLabel="{{ 'LBLNO' | translate }}" class="info-msg" icon="ui-icon-info" [style]="{ width: '50vw' }">
    </p-confirmDialog>
    <p-tabView [(activeIndex)]="index" (onChange)="handleChange($event)">
      <p-tabPanel header="{{ 'LBLGENERAL' | translate }}" leftIcon="ui-icon-person">
        <div style="text-align: center;" *ngIf="generalLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!generalLoading">
          <form [formGroup]="addCategoryGeneral" (ngSubmit)="onSubmit('mainCategory')">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 pl-0">
                    <input type="text" pInputText class="ui-md-12" formControlName="MainCategoryName" />
                    <label class="required">{{
                      "LBLMAINCATEGORY" | translate
                    }}</label>
                  </span>
                  <div *ngIf="submitted && uform.MainCategoryName.errors" class="invalid-feedback">
                    <p-message severity="error" text="{{ 'ALTPROVIDECATEGORYNAME' | translate }}" *ngIf="
                        uform.MainCategoryName.errors.required ||
                        uform.MainCategoryName.hasError('maxLength')
                      ">
                    </p-message>
                    <p-message severity="error" text="Main Category Name should not contain whitespaces" *ngIf="
                        uform.MainCategoryName.errors.required ||
                        addCategoryGeneral
                          .get('MainCategoryName')
                          .hasError('whitespace') ||
                        addCategoryGeneral
                          .get('MainCategoryName')
                          .hasError('space')
                      ">
                    </p-message>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield ui-md-12 pl-0">
                    <input type="text" pInputText class="ui-md-12" formControlName="status" readonly />
                    <label>{{ "LBLSTATUS" | translate }}</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-8 submitButton" style="padding-left: 15px; margin-bottom: 20px;">
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button pButton type="submit" [disabled]="addCategoryGeneral.pristine"
                  title="{{ 'LBLSAVE' | translate }}" label="{{ 'LBLSAVE' | translate }}"></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button pButton type="button" (click)="onReset()" class="reset-btn"
                  [disabled]="addCategoryGeneral.pristine" title="{{ 'LBLRESET' | translate }}"
                  label="{{ 'LBLRESET' | translate }}"></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="{{ 'LBLASSIGNMENTS' | translate }}" leftIcon="ui-icon-assignment">
        <form [formGroup]="addSubCategoryAssignment" (ngSubmit)="onSubmit('subCategory')">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-3">
              <div class="ui-g-10 ui-md-10">
                <span class="md-inputfield">
                  <input type="text" pInputText formControlName="subCategoryName" />
                  <label class="required">{{
                    "LBLSUBCATNAME" | translate
                  }}</label>
                  <div style="margin-top: 1px;">
                    <div *ngIf="
                        submitSubCategory &&
                        subCategoryForm.subCategoryName.errors
                      " class="invalid-feedback">
                      <p-message *ngIf="
                          subCategoryForm.subCategoryName.hasError(
                            'maxLength'
                          ) ||
                          subCategoryForm.subCategoryName.errors.required ||
                          addSubCategoryAssignment
                            .get('subCategoryName')
                            .hasError('whitespace') ||
                          addSubCategoryAssignment
                            .get('subCategoryName')
                            .hasError('space')
                        " severity="error" text="{{ 'ALTPROVIDESUBCATEGORYNAME' | translate }}"></p-message>
                    </div>
                  </div>
                </span>
              </div>
              <div class="ui-g-2 ui-md-2 pt-0">
                <button title="{{ 'LBLADD' | translate }}" pButton type="submit" icon="ui-icon-add"></button>
              </div>
            </div>
            <div class="ui-g-0 ui-md-7"></div>
          </div>
        </form>
        <div style="text-align: center;" *ngIf="assignLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-container *ngIf="!assignLoading">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="padding-top: 0px;">
              <div class="ui-g-12 ui-md-12 padding-right0 multiSelectDropDwon"
                style="padding-top: 0px; margin-top: 10px;">
                <div class="filterLable">
                  <label>{{ "LBLASIGNSUBCATEGORY" | translate }}</label>
                </div>
                <p-multiSelect [defaultLabel]="'LBLCHOOSE' | translate" [options]="subCategories"
                  [(ngModel)]="selectedSubCategories" class="required" (onChange)="onSubcategoriesChange()">
                </p-multiSelect>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-8 submitButton" style="padding-left: 15px; margin-bottom: 20px;">
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton type="submit" [disabled]="!isSubcategoriesChanged" label="{{ 'LBLSAVE' | translate }}"
                title="{{ 'LBLSAVE' | translate }}" (click)="onSubCategoryAssign()"></button>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-2">
              <button pButton type="reset" class="reset-btn" [disabled]="!isSubcategoriesChanged"
                label="{{ 'LBLRESET' | translate }}" title="{{ 'LBLRESET' | translate }}" (click)="onReset()"></button>
            </div>
            <div class="clearfix"></div>
          </div>
        </ng-container>
      </p-tabPanel>

      <p-tabPanel header="{{ 'LBLDELETE' | translate }}" leftIcon="ui-icon-delete">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 27px; padding-bottom: 0px;">
            <div class="ui-inputgroup">
              <span class="md-inputfield">
                <input type="text" pInputText [(ngModel)]="subCategorySearchTxt" (keyup.enter)="searchSubCat(dt)" />
                <label>{{ "FMKSEARCH" | translate }}</label>
              </span>
              <button title="{{ 'FMKSEARCH' | translate }}" pButton type="button" icon="ui-icon-search"
                (click)="searchSubCat(dt)"></button>
            </div>
            <br />
          </div>
          <div class="ui-g-12 ui-md-9 text-right ltr-p" style="padding-top: 25px;">
            <button type="button" icon="ui-icon-delete" [disabled]="selectedSubCategoriesToDelete.length == 0"
              class="ml activebtn" (click)="deleteRecord()" pButton title="{{ 'LBLDELETE' | translate }}"></button>
          </div>
          <div class="ui-g-12 ui-md-12" style="padding-bottom: 30px;">
            <p-table #dt [columns]="cols" [value]="subCategoriesDl" selectionMode="single" [paginator]="true"
              [rows]="20" [(selection)]="selectedSubCategoriesToDelete" class="grouplisting">
              <ng-template pTemplate="paginatorleft" let-state>
                [
                {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
                {{
                  state.rows * (state.page + 1) >= state.totalRecords
                    ? state.totalRecords
                    : state.rows * (state.page + 1)
                }}
                / {{ state.totalRecords }} ]
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 100px;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: left !important;">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns; let i = index">
                    <a> {{ rowData[col.field] }}</a>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr *ngIf="loaded">
                  <td [attr.colspan]="columns.length + 1">
                    <div class="empty-message">
                      <span class="material-icons">donut_large</span>
                      {{ "LBLNORECS" | translate }}
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="isLoading">
  <div class="progressSpinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>