.pl-0 {
  padding-left: 0px !important;
}

.heading-left label {
  color: #212121;
  display: block;
  /* margin-left: -23px;
  padding: 0px 15px; */
  margin-left: 0px;
  padding: 0px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}

.tabing-none .heading-left label {
  margin-left: -21px;
}

.drop-down .ui-widget {
  width: 100%;
  color: #999999;
}

.drop-down .ui-calendar {
  width: 100%;
}

.drop-down .ui-button {
  width: 50% !important;
}

.drop-down,
.ui-inputtext,
.ui-calendar,
.ui-widget {
  width: 100%;
}

.ui-datepicker-buttonbar .ui-widget {
  width: auto !important;
}

.layout-wrapper .layout-main .layout-footer .footer-text-right span {
  color: #757575;
}

.layout-wrapper .layout-main .layout-footer .footer-text-right span a {
  color: #757575;
}

.ng-select.ng-select-disabled .ng-select-container:after {
  border-bottom-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(0, 0, 0, 0.42) 33%,
    transparent 0%
  );
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.ng-value-label-overflow {
  width: 90px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
}

.layout-wrapper-static .ng-value-label-overflow {
  width: 80px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
}

.ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-value {
  color: rgba(0, 0, 0, 0.38);
}

.ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.ng-select.ng-select-disabled .ng-arrow-wrapper .ng-arrow,
.ng-select.ng-select-disabled .ng-clear-wrapper {
  color: rgba(0, 0, 0, 0.38);
}

.ng-select.ng-select-focused .ng-select-container:after {
  border-color: #999999;
  border-width: 2px;
}

.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  transform: translateY(-1.18125em) scale(0.7) perspective(102px) translateZ(0);
  color: #999999;
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #999999;
}

.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-filtered .ng-select-container .ng-placeholder {
  display: initial;
}

.ng-select .ng-has-value .ng-placeholder {
  transform: translateY(-1.08125em) scale(0.7) perspective(102px) translateZ(0) !important;
}

.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  transform: translateY(-1.18125em) scale(0.7) perspective(102px) translateZ(0);
}

.ng-select .ng-select-container {
  align-items: baseline;
  min-height: 42px !important;
  color: #333 !important;
}

.ng-select .ng-select-container:after {
  border-bottom: 1px solid #bdbdbd !important;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.ng-select .ng-select-container .ng-value-container {
  padding: 4px 5px;
  border-top: 0.84375em solid transparent;
  cursor: pointer;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  position: absolute;
  color: #999999;
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ng-select .ng-select-container .ng-value-container .ng-input {
  bottom: 0.4375em;
}

.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  align-self: flex-end;
  bottom: 9px;
}

.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  align-self: flex-end;
  bottom: 7px;
}

.ng-select.ng-select-multiple.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: #f7f7f7;
  border-radius: 2px;
  color: #999999;
  padding: 4px 5px;
  margin: 0 0.4375em 0.4375em 0;
  border: 1px solid #e3e3e3;
}

[dir="rtl"]
  .ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  margin: 0 0 0.4375em 0.4375em;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value.ng-value-disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-label {
  font-size: 14px;
  font-weight: 500;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon {
  color: #999999;
  padding-right: 5px;
  border-right: 1px solid #e9e9e9;
  margin-right: 5px;
}

[dir="rtl"]
  .ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon {
  padding-left: 5px;
  padding-right: 0;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon:hover {
  color: #999999;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-input {
  line-height: 1.375em;
}

.ng-select.ng-select-multiple .ng-select-container.ng-has-value {
  align-items: center;
}

.ng-select.ng-select-multiple
  .ng-select-container.ng-has-value
  .ng-value-container {
  padding-bottom: 0;
  padding-top: 0.1875em;
}

.ng-select.ng-select-multiple
  .ng-select-container.ng-has-value
  .ng-clear-wrapper,
.ng-select.ng-select-multiple
  .ng-select-container.ng-has-value
  .ng-arrow-wrapper {
  border-top: 0.84375em solid transparent;
}

.ng-select .ng-clear-wrapper {
  color: #999999;
}

.ng-select .ng-clear-wrapper:hover {
  color: rgba(0, 0, 0, 0.87);
}

.ng-select .ng-arrow-wrapper {
  bottom: 2px;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: #999999;
}

.ng-select .ng-spinner-zone {
  top: 3px;
}

.ng-dropdown-panel {
  background: #ffffff;
  left: 0;
}

.ng-dropdown-panel.ng-select-bottom {
  top: calc(100% - 0.25em);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ng-dropdown-panel.ng-select-top {
  bottom: calc(100% - 0.84375em);
  box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, 0.2),
    0 -8px 10px 1px rgba(0, 0, 0, 0.14), 0 -3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ng-dropdown-panel.multiple .ng-option.selected {
  background: #ffffff;
}

.ng-dropdown-panel.multiple .ng-option.marked {
  background: rgba(0, 0, 0, 0.04);
}

.ng-dropdown-panel .ng-dropdown-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 16px;
  line-height: 3em;
  min-height: 3em;
}

.ng-dropdown-panel .ng-dropdown-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 16px;
  line-height: 3em;
  min-height: 3em;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  user-select: none;
  cursor: pointer;
  line-height: 3em;
  height: 3em;
  padding: 0 16px;
  color: #999999;
  font-weight: 500;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
  background: rgba(0, 0, 0, 0.04);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
  cursor: default;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
  background: rgba(0, 0, 0, 0.12);
  color: #f7f7f7;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  line-height: 3em;
  min-height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px;
  text-decoration: none;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  text-align: right;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: rgba(0, 0, 0, 0.12);
  color: #999;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  color: rgba(0, 0, 0, 0.38);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
  padding-left: 32px;
}

[dir="rtl"]
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-child {
  padding-right: 32px;
  padding-left: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
  padding-right: 5px;
  font-size: 80%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.38);
}

[dir="rtl"]
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option
  .ng-tag-label {
  padding-left: 5px;
  padding-right: 0;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  font-size: 14px;
}

.table-target th {
  background: var(--primary-color) !important;
  color: #fff;
  padding: 15px 10px;
}

.table-target thead {
  padding-left: 5px;
}

/* .table-target tr {
      background: #fff !important;
  } */
/* .layout-wrapper .layout-main .layout-footer img {
    margin-top: 19px;
    width: auto;
  } */

.left-button {
  text-align: right;
}

.left-button button {
  margin-left: 10px;
}

.address-area textarea {
  height: 29px !important;
}

/* .login-body .login-panel .login-panel-header img {
    width: auto;
  } */

.arrow-right {
  margin-top: 7px;
  font-size: 16px;
}

.ui-chkbox-label {
  margin: 0px !important;
}

/* .floating-form {
      width: 320px;
  }
  .floating-label {
      position: relative;
      margin-bottom: 20px;
      color: red;
  }
  
  .floating-input,
  .floating-select {
      font-size: 14px;
      padding: 4px 4px;
      display: block;
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #bdbdbd;
  }
  
  .floating-input:focus,
  .floating-select:focus {
      outline: none;
      border-bottom: 2px solid #607D8B;
  }
  
  .floating-label label {
      color: #999;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 5px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
  }
  
  .floating-input:focus~label,
  .floating-input:not(:placeholder-shown)~label {
      top: -18px;
      font-size: 14px;
      color: #607D8B;
  }
  
  .floating-select:focus~label,
  .floating-select:not([value=""]):valid~label {
      top: -18px;
      font-size: 14px;
      color: #607D8B;
  }
  
  .floating-input:focus~.bar:before,
  .floating-input:focus~.bar:after,
  .floating-select:focus~.bar:before,
  .floating-select:focus~.bar:after {
      width: 50%;
  }
  
  
  .floating-textarea {
      min-height: 30px;
      max-height: 260px;
      overflow: hidden;
      overflow-x: hidden;
  }
  
  .highlight {
      position: absolute;
      height: 50%;
      width: 100%;
      top: 15%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }
  
  .floating-input:focus~.highlight,
  .floating-select:focus~.highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
  }
  
  @-webkit-keyframes inputHighlighter {
      from {
          background: #5264AE;
      }
  
      to {
          width: 0;
          background: transparent;
      }
  }
  
  @-moz-keyframes inputHighlighter {
      from {
          background: #5264AE;
      }
  
      to {
          width: 0;
          background: transparent;
      }
  }
  
  @keyframes inputHighlighter {
      from {
          background: #5264AE;
      }
  
      to {
          width: 0;
          background: transparent;
      }
  } */
/* body .ui-dropdown {
      padding-bottom: 7px;
  } */

.radio-uibtn .ui-radiobutton-label {
  vertical-align: initial !important;
}

.text-right {
  text-align: right !important;
}

.clearfix {
  clear: both !important;
}

.ml {
  margin-left: 10px;
}

.user-select .ui-dropdown-label {
  padding-bottom: 10px !important;
}

.filter-label label {
  margin-left: -31px !important;
  margin-top: -13px;
}

.right-top-arrow {
  position: relative;
}

/* .right-top-arrow:after {
      bottom: 100%;
      left: auto;
      right: 45px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: #e6e6e6;
      border-width: 15px;
      margin-left: -30px;
  
  } */

.filterBtn {
  height: 40px !important;
}

body .ui-tabview.ui-tabview-top > .ui-tabview-nav > li {
  border-width: 5px 0px 0px 0 !important;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-active {
  background: #fff !important;
  border-right: 1px solid #f0f0f0 !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
  background: #ececec !important;
  border-color: #f5f5f5;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  background: #f5f5f5;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav li:focus {
  outline: none !important;
}

.box-shadow-none {
  box-shadow: none !important;
  padding: 0px !important;
}

.ui-tabview-panels {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-border-radius: 2px;
  border-radius: 2px;
}

body .ui-tabview.ui-tabview-top > .ui-tabview-nav {
  border: 0px !important;
}

.activebtn {
  background: #f44336 !important;
}

.float-right {
  float: right !important;
}

.toggleMenu {
  background: transparent !important;
  border: 0px !important;
  height: auto !important;
  width: auto !important;
  color: #fff !important;
  margin-top: 4px !important;
}

.sidebarlogo i {
  font-size: 33px !important;
}

.sidebarlogo img {
  height: auto !important;
}

.sidebarlogo {
  height: auto !important;
  padding: 14px 0px 5px 0px !important;
}

.pl-0 {
  padding-left: 0px;
}

.pr-21 {
  padding-right: 21px !important;
}

.group-listing .ui-table .ui-table-thead > tr > th:last-child {
  text-align: right !important;
}

.observation-listing.ui-table .ui-table-thead > tr > th:last-child {
  text-align: none !important;
}

.actionButton {
  float: right !important;
}

.actionButton button {
  background-color: #e8faf8 !important;
  color: #39cdbc !important;
}

.actionButton button:last-child() {
  background-color: #000 !important;
  color: #39cdbc !important;
}

.pb-3 {
  padding-top: 20px !important;
}

.permission-table th {
  background: var(--primary-color);
  color: #fff;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border: 0px;
}

.permission-table {
  border-radius: 10px;
  margin-bottom: -5px;
}

.permission-tabing .pi.pi-chevron-down:before {
  content: "remove" !important;
  background: var(--primary-color);
  border-radius: 20px;
  color: #fff;
}

.permission-tabing .pi.pi-chevron-down {
  margin-right: 30px;
}

.permission-tabing .pi.pi-chevron-right {
  margin-right: 30px;
}

.permission-tabing .pi.pi-chevron-right:before {
  content: "add" !important;
  color: var(--primary-color);
  background: transparent;
  border-radius: 20px;
}

.permission-tabing .ui-accordion-content {
  padding: 0px !important;
}

.permission-tabing ul {
  padding: 0px;
  margin: 0px;
}

.permission-tabing ul li {
  display: block;
  padding: 12px 24% 12px 67px;
  border-top: 1px solid #dbdbdb;
}

.permission-tabing .ui-accordion-header {
  background-color: #f0f0f0 !important;
  margin-top: 0px !important;
  border: 1px solid #e8e8e8 !important;
  border-radius: 0px !important;
}

/* .permission-tabing.ui-widget,
  .permission-tabing .ui-widget .ui-widget {
      padding: 2px !important;
  } */

.permission-tabing
  .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #f4f4f4 !important;
}

.permission-tabing .ui-accordion-header-text {
  color: #4f4f4f !important;
}

.permission-tabing .ui-accordion .ui-accordion-content {
  border-radius: 0px !important;
}

.lefttop-radius {
  border-radius: 5px 0px 0px 0px;
  padding-left: 72px !important;
}

.righttop-radius {
  border-radius: 0px 5px 0px 0px;
  text-align: center !important;
}

.topArrow {
  margin-top: 19px !important;
}

.topArrow:after {
  right: 8px !important;
}

.p-0 {
  padding: 0px !important;
}

.table-even tr td {
  padding: 0px 45px;
  margin-bottom: -10px;
  border-top: 1px solid #efeeee;
}

.table-even tr:nth-child(even) {
  background: #f4f4f4 !important;
}

.table-even tr:nth-child(odd) {
  background: #fff !important;
}

.text-left {
  text-align: left;
  padding-left: 7px !important;
  font-weight: bold;
}

.pl-21 {
  padding: 1em 21px !important;
}

.file-uploadtion .ui-widget {
  width: auto !important;
}

.file-uploadtion .ui-button.ui-button-icon-only {
  width: 2.143em !important;
}

.file-uploadtion .ui-button {
  background-color: var(--primary-color) !important;
}

.file-uploadtion .ui-widget-header {
  background-color: #f5f5f5 !important;
  border: 1px solid #ececec !important;
}

.errorMsg .ui-message.ui-message-error {
  margin-top: 7px !important;
}

.theme_content {
  font-size: 16px;
}

.note_msg span {
  color: #f6493b;
  font-style: italic;
}

.blow_msg {
  padding-left: 5px;
  color: #9c9b99;
}

.radioLabel {
  padding-top: 5px;
}

.theme-color-picker .ui-colorpicker-preview {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
}

.themeColorPicker {
  height: 37px;
  width: 37px;
  border: 0px;
  cursor: pointer;
}

.theme-color-picker span {
  padding-top: 6px;
  display: block;
  color: #212121;
  font-size: 16px;
}

.tooltipInput {
  position: absolute;
  right: 21px;
  top: 15px;
  cursor: pointer;
}

.tooltipInput1 {
  position: absolute;
  right: 6px;
  top: 15px;
  cursor: pointer;
}

.tooltipMain {
  position: relative;
}

/* body .ui-table .ui-table-thead>tr>th {
      background-color: #009688 !important;
      color: #fff !important;
  } */

body .ui-table .ui-table-thead > tr > th .ui-sortable-column-icon {
  color: var(--buttonTextColor) !important;
}

body
  .ui-table
  .ui-sortable-column:not(.ui-state-highlight):hover
  .ui-sortable-column-icon {
  background: transparent !important;
}

.card h1 {
  margin: 10px 0px 15px 8px;
}

/* .card {
      box-shadow: 0px 0px 2px #ccc !important;
  } */

.ui-table .ui-table-thead > tr > th .ui-chkbox .ui-chkbox-box {
  border: 2px solid var(--buttonTextColor) !important;
}

#svgtoggle {
  position: absolute;
  right: 60px;
  width: 100px;
  padding: 0px;
  top: -15px;
}

.svgstroke {
  fill: white;
  stroke: #f0f0f0;
  stroke-width: 1;
}

.padding-none {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ui-dropdown-label {
  color: #212121;
}

.uidatepicker .ui-inputtext {
  line-height: 24px;
}

.paddingBox {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.create_new_observed {
  height: 40px !important;
}

.boxshadownone .create_new_observed {
  margin: 12px 0px;
  padding-right: 8px;
  padding-left: 25px !important;
  /* width: 75%; */
}

.middelBox {
  padding: 5px 7.5px !important;
}

.checklist-heading h2 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
}

.top-sections {
  /* border: 1px solid #dbdbdb; */
  border-radius: 5px;
  position: relative;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.top-sections p {
  font-size: 14px;
  padding: 5px;
  margin: 0px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.top-sections p i {
  vertical-align: middle;
  margin-right: 5px;
  color: #616161;
}

.seprator {
  /* border-top: 1px solid #dbdbdb; */
  height: 1px;
  width: 13px;
  position: absolute;
  top: 50%;
  left: 0px;
}

.observation-tabing .pi.pi-chevron-down:before {
  content: "remove" !important;
  background: var(--primary-color);
  border-radius: 20px;
  color: #fff;
}

.observation-tabing .pi.pi-chevron-down {
  margin-right: 15px;
}

.observation-tabing .pi.pi-chevron-right {
  margin-right: 15px;
}

.observation-tabing .pi.pi-chevron-right:before {
  content: "add" !important;
  color: #fff;
  background: var(--primary-color);
  border-radius: 20px;
}

.observation-tabing .ui-accordion-header > a {
  padding: 14px 15px !important;
}

.observation-tabing .ui-accordion-header {
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

.observation-tabing .ui-accordion-content-wrapper {
  margin-bottom: 10px !important;
}

.actiontable th {
  background: #f4f4f4 !important;
  padding: 15px 15px;
  border: 0px;
  font-size: 16px !important;
  color: #212121 !important;
  border-radius: 0px !important;
}

.observation-tabing .ui-accordion-content {
  padding: 0px !important;
}

.actiontable tr td input {
  width: 60%;
}

.actiontable tr td {
  padding: 10px 15px;
  font-size: 14px;
  border-top: 1px solid #dbdbdb;
  background: #fff !important;
}

.actiontable {
  position: relative;
}

.actiontable tr td i,
.actiontable tr th i {
  cursor: pointer;
  vertical-align: middle;
  background: var(--primary-color);
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
}

.flat-iconss {
  margin-right: 15px;
}

.observation-tabing .ui-accordion-content-wrapper:last-child() {
  margin-bottom: 0px !important;
}

.boxshadownone {
  border: 1px solid #e0e0e0;
  box-shadow: none !important;
}

.corretive-list {
  margin: 0px;
  padding: 0px;
}

/* .corretive-list li {
  display: inline-block;
  font-size: 16px;
  width: 50%;
  padding-bottom: 17px;
} */

.corretive-list li {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  padding-bottom: 17px;
  vertical-align: top;
}

.corretive-list li span {
  width: auto;
  display: inline-block;
  float: left;
  font-weight: 700;
  padding-right: 10px;
}

.copyrightFooter {
  display: block;
  padding-bottom: 8px;
}

.layout-content {
  min-height: 520px;
}

.userProfile img {
  width: 40px !important;
  height: 40px !important;
  vertical-align: middle;
  margin-right: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-top: -6px;
  background: #e0f2f1;
}

.profilename {
  color: #e0f2f1;
}

.userSselect .ui-dropdown-label {
  padding-bottom: 7px !important;
}

.topHeading {
  margin: 10px 7px !important;
}

.actionButtonD {
  float: right !important;
}

.actionButtonD button {
  background-color: #ffebf1 !important;
  color: #fd397a !important;
}

.tooltipMain .pi.pi-chevron-down:before {
  position: absolute;
  right: 25px;
}

.formAddGroup .tooltipInput {
  position: absolute;
  right: 27px;
  top: 11px;
  cursor: pointer;
}

.card h1:first-child {
  margin-top: 10px !important;
}

.group-listing .ui-table .ui-table-thead > tr > th:first-child {
  width: 40px !important;
}

.contact-listing .ui-table .ui-table-thead > tr > th:first-child {
  width: 50px !important;
}

.group-listing .ui-table .ui-table-tbody > tr > td:first-child {
  width: 40px !important;
}

.userDefindTable .ui-table-thead > tr > th:first-child {
  width: auto !important;
}

.observation-listing .ui-table .ui-table-thead > tr > th:first-child {
  width: 40px !important;
}

.observation-listing .ui-table .ui-table-tbody > tr > td:first-child {
  width: 40px !important;
}

.actiontable tr td a {
  color: #212121;
  cursor: pointer;
}

.lableHeading {
  font-size: 16px;
  padding-bottom: 15px;
  display: block;
}

.dashboard-class {
  text-align: center;
}

.dashboard-class h1 {
  padding-top: 200px;
  text-transform: uppercase;
  font-size: 30px;
}

.dashboard-class h1 span {
  color: var(--primary-color);
}

/* 10/06/2019 */

.ui-float-label > textarea ~ label {
  left: 0px !important;
}

.padding-zero {
  padding: 0px !important;
}

body .ui-table .ui-table-thead > tr > th {
  border-top: 0px solid transparent !important;
}

/* body .ui-table .ui-table-thead>tr>th{
      border-radius: 5px 5px 0px 0px !important;
  } */

.group-listing .ui-table .ui-table-thead > tr > th:first-child,
body .ui-table .ui-table-thead > tr > th:first-child {
  border-radius: 5px 0px 0px 0px !important;
  border-left: 0px solid transparent !important;
}

.group-listing .ui-table .ui-table-thead > tr > th:last-child,
body .ui-table .ui-table-thead > tr > th:last-child {
  border-radius: 0px 5px 0px 0px !important;
  border-right: 0px solid transparent !important;
}

.submitButton button {
  height: 40px !important;
}

.checkboxTarget {
  margin: 20px 0px 15px 0px;
}

.ngTable tr td {
  padding: 5px 50px !important;
}

.ngTable tr th {
  padding: 15px 50px !important;
}

.first-child-breadcum {
  padding-right: 8px !important;
}

body .md-inputfield input:focus ~ label,
body .md-inputfield input.ui-state-filled ~ label,
body .md-inputfield .ui-inputwrapper-focus ~ label,
body .md-inputfield .ui-inputwrapper-filled ~ label {
  top: -14px;
  font-size: 11px;
  opacity: 1 !important;
  color: var(--primary-color);
  /* left: 1px; */
  left: 7px;
}

.dropDown-lable {
  opacity: 0 !important;
  left: 0.9px !important;
}

/* body .ui-dropdown .ui-dropdown-label.ui-inputtext {
      padding-bottom: 0px !important;
      margin-top: 9px;
  
  } */
.ui-dropdown {
  min-width: 100% !important;
}

.reportListing tr th {
  padding: 15px 26px !important;
  width: 50%;
  text-align: left !important;
  font-size: 16px;
}

.reportListing tr td {
  width: 50%;
  padding: 13px 20px !important;
  vertical-align: middle;
  font-size: 16px;
}

.reportListing tr td i {
  vertical-align: middle;
  color: #616161;
  font-size: 22px;
  margin-right: 5px;
}

.reportListing tr td a {
  color: #212121 !important;
  cursor: pointer;
}

.reportListing tr td:hover a {
  color: var(--primary-color) !important;
}

.reportListing tr td:hover i {
  color: var(--primary-color) !important;
}

.chart-seprator {
  margin-bottom: 25px;
}

.report-classess .heading-left label {
  margin-left: -44px !important;
  margin: 20px 0px;
}

.report-classess1 .heading-left label {
  margin-left: -23px !important;
  margin: 10px 0px;
}

.loadingTableData {
  text-align: center;
  /* padding: 15% 0%; */
  color: #f44336;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* background: red; */
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 9999999;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0;
}

/* .report-classess .ui-table-thead>tr>th:first-child {
      width: 85px !important;
  } */

/* body::-webkit-scrollbar {
      width: 5px;
  }
  
  body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  body::-webkit-scrollbar-thumb {
      background-color: #009688;
      outline: 1px solid #009688;
  } */

.ui-table-scrollable-body::-webkit-scrollbar {
  width: 5px;
  height: 5px !important;
}

.ui-table-scrollable-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 5px !important;
}

.ui-table-scrollable-body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  height: 5px !important;
  outline: 1px solid var(--primary-color);
}

.loginFooter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 16px 24px;
  border: 0 none;
  border: 1px solid #dbdbdb;
  background: #ffffff;
}

.loginFooter a {
  color: #212121;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hyperlinkTabletable table {
    overflow-x: scroll !important;
    min-width: auto !important;
    width: 1173px !important;
  }

  .top-sections p {
    font-size: 11px;
  }

  body .ui-accordion .ui-accordion-header {
    font-size: 12px;
  }

  .layout-wrapper .layout-main .layout-footer {
  }

  .addNewBtn button {
    width: 100%;
  }

  .ui-table-wrapper {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
  }

  .padding-none-btn {
    padding: 0px !important;
  }

  .ui-table-wrapper table {
    width: 1000px !important;
  }

  .grouplisting .ui-table-wrapper {
    overflow-x: hidden !important;
  }

  .p-left {
    padding-left: 0px !important;
  }

  .grouplisting table {
    width: 100% !important;
  }

  .ui-dialog {
    width: 100% !important;
    top: 10% !important;
  }

  .addNewBtn {
    width: auto !important;
  }

  .ng-dropdown-panel {
    width: auto !important;
  }

  .filterLable label {
    font-size: 11px !important;
  }

  .layout-content {
    min-height: 800px;
  }

  .listingLabel {
    padding-top: 17px !important;
  }

  body .ui-button,
  body .ui-datepicker-buttonpane > button {
    font-size: 11px;
  }
}

.filterLabel {
  display: block;
  font-size: 16px;
}

.filterReportInputs .ui-dropdown-label.ui-inputtext {
  margin-bottom: -5px !important;
}

/* .filterReportInputs .ui-radiobutton-label,
.ui-radiobutton {
  color: #999999 !important;
} */

.filterReportInputs span {
  /* color: #999999 !important; */
}

.filterReportInputs .ui-chkbox-label {
  /* color: #999999 !important; */
}

.filterReportInputs .ui-radiobutton {
  color: #999999 !important;
}

.ReportsListing tr th {
  padding: 15px 100px !important;
}

.ReportsListing tr td {
  padding: 15px 100px !important;
}

.multiSelectDropDwon {
  padding-top: 0px !important;
}

.ng-has-value .ng-placeholder {
  color: var(--primary-color) !important;
  font-size: 15px !important;
}

.listingLabel .md-inputfield input.ui-state-filled ~ label {
  top: -13px !important;
}

.padding-right0 {
  padding-right: 0px !important;
}

/* .topArrow .ng-select .ng-select-container {
      overflow: visible !important;
  } */
.right-top-arrow .ng-select .ng-select-container {
  /* height: 53px !important; */
  min-height: 53px !important;
}

.advance-search:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.filterBtn:hover {
  background: transparent !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.spinner {
  width: 66px;
  height: 66px;
  -webkit-animation: contanim 2s linear infinite;
  animation: contanim 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

.spinner svg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.spinner svg:nth-child(1) circle {
  stroke: #84ebbd;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 3s calc(0.2s * (1)) ease infinite;
  animation: strokeanim 3s calc(0.2s * (1)) ease infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.spinner svg:nth-child(2) circle {
  stroke: #4977ec;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 3s calc(0.2s * (2)) ease infinite;
  animation: strokeanim 3s calc(0.2s * (2)) ease infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.spinner svg:nth-child(3) circle {
  stroke: #f6bb67;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 3s calc(0.2s * (3)) ease infinite;
  animation: strokeanim 3s calc(0.2s * (3)) ease infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.spinner svg:nth-child(4) circle {
  stroke: #333841;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  -webkit-animation: strokeanim 3s calc(0.2s * (4)) ease infinite;
  animation: strokeanim 3s calc(0.2s * (4)) ease infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes strokeanim {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -58.548324585;
  }

  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.6449737549;
  }
}

@keyframes strokeanim {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -58.548324585;
  }

  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.6449737549;
  }
}

@-webkit-keyframes contanim {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes contanim {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner svg {
  display: block;
  margin: 0;
  padding: 0;
}

.permission-tabing ul li h4 {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

.permission-tabing ul li h5 {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

.permission-table span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
}

.permission-table .fa-minus {
  background: var(--primary-color);
  border-radius: 20px;
  color: #fff;
}

.tabel-permission table thead th {
  padding: 12px 85px !important;
}

.tabel-permission table td {
  color: #212121 !important;
}

.tabel-permission table td a {
  color: #4f4f4f !important;
}

.headerTD {
  background: #f4f4f4 !important;
  padding: 12px 24% 12px 40px !important;
}

.submoduleTable {
  background: #fff !important;
  padding-left: 100px !important;
}

.tabel-permission .fa-minus {
  background: var(--primary-color);
  border-radius: 100%;
  color: #fff;
  margin-right: 30px;
  height: 20px;
  width: 20px !important;
  line-height: 21px !important;
  text-align: center;
  vertical-align: middle;
}

.tabel-permission .fa-plus {
  color: var(--primary-color);
  margin-right: 30px;
  vertical-align: middle;
  text-align: center;
}

.submoduleTable .float-right {
  margin-right: 25.3% !important;
}

.multiSelectLabel .ng-value-container {
  padding-top: 14px !important;
}

.areanameListing .ng-value-container {
  padding-top: 6px !important;
}

.labelInput {
  font-size: 16px;
  display: block;
  padding: 15px 0px 8px 0px;
}

.logoNotes {
  color: #999999;
  display: block;
  padding: 8px 0px;
}

.companyLogo {
  margin: 10px 0px;
  font-size: 16px !important;
  color: var(--primary-color);
}

.defaultSelect {
  padding-left: 0px !important;
  margin-top: 15px;
}

.defaultDropDwon {
  margin-bottom: 18px;
}

.ltr-p {
  padding-top: 25px;
  padding-bottom: 0px;
}

.maincategory_top {
  padding-top: 0px !important;
}

.category_label {
  font-size: 15px;
  color: #999;
}

.category_label b {
  font-size: 17px;
  font-weight: normal;
  padding-right: 20px;
  margin-right: 10px;
  color: #212121;
}

.p-b-t {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.Thead {
  padding-right: 6% !important;
  text-align: center !important;
}

.Tright {
  text-align: center !important;
  padding-right: 83px !important;
  width: 250px !important;
}

.PdfTright {
  text-align: right !important;
}

.observation-tabing .ui-accordion .ui-accordion-header.ui-state-active {
  background: var(--primary-color) !important;
}

.headerInput {
  position: absolute;
  top: -36px;
  right: 16.6%;
  z-index: 2;
  margin-right: -53px !important;
  border: 0px;
  border-bottom: 1px solid #fff !important;
  background: transparent !important;
  outline: none;
  color: #fff !important;
  height: 25px;
  padding-bottom: 4px;
}

.headerInput:focus {
  outline: none;
}

.headerInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.headerInput::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.headerInput:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.headerInput:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

/* 18 Jun 2019 */

.userSelection .ng-value-container {
  padding-top: 9px !important;
}

.ui-table table span {
  cursor: pointer;
}

body .ui-chkbox .ui-chkbox-box {
  cursor: pointer;
}

.inputLabel {
  left: 2px !important;
  /* top: -15px !important; */
}

.observation_input {
  padding-top: 14px !important;
}

.select_observer {
  /* padding-top: 17px !important; */
}

.mb-10 {
  margin-bottom: 15px;
}

.dateLabel {
  color: var(--primary-color);
}

.singleHeading {
  padding-left: 5px;
}

/* latest css*/

.actionButton button {
  min-width: 126px;
  margin: 8px 0px;
  padding: 0px 0px !important;
}

.actionButtonD button {
  min-width: 126px;
  margin: 8px 0px;
  padding: 0px 0px !important;
}

.group-listing .ui-table .ui-table-tbody > tr > td {
  padding: 0px 0.857em !important;
}

.group-listing .ui-table .ui-table-tbody > tr > td a {
  padding: 0.714em 0px !important;
  display: block;
  width: 100%;
  color: #212121;
}

/*.group-listing .ui-table .ui-table-tbody>tr>td button span {
      padding: 0px !important;
  }*/
/* .CreatenewObserver .md-inputfield input.ui-state-filled~label {
      left: 9px !important;
  } */
.rightButtons .create_new_observed {
  padding-left: 31px !important;
  font-size: 13px !important;
}

.TheadUnsafe {
  text-align: center !important;
  padding-right: 124px !important;
}

.PdfTheadUnsafe {
  text-align: left !important;
}

.round-icond {
  vertical-align: middle;
  background: #fff;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 37px !important;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}

.txtArea textarea {
  resize: none;
  max-height: 90px;
}

.TheadUnsafenone {
  text-align: center !important;
  padding-right: 70px !important;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
  display: block !important;
}

.filterReportInput .ui-dropdown-label.ui-inputtext {
  margin-bottom: -5px !important;
}

.filterReportInput .ui-radiobutton-label,
.ui-radiobutton {
  color: #999999 !important;
}

.filterReportInput span {
  display: inline;
}

.filterReportInput .ui-chkbox-label {
  color: #999999 !important;
}

.filterReportInput .ui-radiobutton {
  color: #999999 !important;
}

.ui-datepicker tbody td a.ui-state-active {
  background-color: #999 !important;
}

.ui-datepicker tbody td.ui-datepicker-today a {
  border: 1px solid #999 !important;
}

.ui-button-text .ui-clickable {
  line-height: 2.143em !important;
}

.ui-state-active,
.ui-state-highlight {
  /* background-color: #999 !important; */
  background-color: #d3d3d3 !important;
}

.ui-datepicker-year {
  margin-left: 10px !important;
}

.comment-box li {
  width: 100% !important;
}

.ui-float-label textarea:focus ~ label,
.ui-float-label textarea.ui-state-filled ~ label,
.ui-float-label textarea:-webkit-autofill ~ label {
  top: -0.75em !important;
}

.ui-float-label > textarea:focus ~ label,
.ui-float-label > textarea.ui-state-filled ~ label,
.ui-float-label > .ui-textareawrapper-focus ~ label,
.ui-float-label > .ui-textareawrapper-filled ~ label {
  top: -0.75em;
  font-size: 12px;
}

.actiontableMain i {
  cursor: pointer;
  vertical-align: middle;
  background: #fff;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
}

.sidebar-logo img {
  max-width: 65% !important;
  margin-left: 12px !important;
}

.sidebar-logo .menu-btn {
  float: right;
  position: relative;
  right: 21px;
}

.approvelBackground {
  background: #ebf0dd !important;
}

.observerBackground {
  background: #f0dde1 !important;
}

/* For adding required (asterisk) symbol at the end of labels */
label.required::after {
  content: "  *";
  color: red;
}

.required.ng-select
  .ng-select-container
  .ng-value-container
  .ng-placeholder::after {
  color: red !important;
  content: " *" !important;
}

.filterBtn.ui-button {
  width: 120px;
  margin: 0 20px 0 0;
}

.ui-table-caption {
  background-color: transparent !important;
  /* color: #ffffff; */
  border: none !important;
}

.ui-multiselect {
  width: 100% !important;
}

/* Responsive css 17-09-2019 */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .newresetclass {
    width: 100% !important;
  }

  .copyrght {
    text-align: center;
  }

  .layout-wrapper .layout-main .layout-footer .footer-text-right {
    float: none;
    text-align: center;
  }

  .corr-card-value {
    font-size: 40px;
    margin: 0px;
    padding: 42px 0px 0px;
  }

  .res-label,
  .action-label {
    margin: 0px;
    padding: 0px 0px 0px;
  }

  .p-r-0 {
    padding-left: 0px !important;
  }

  body .ui-dialog.ui-shadow {
    min-width: auto !important;
  }

  .ui-dialog-content img {
    width: 100% !important;
  }

  body::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  .ui-dialog.ui-shadow::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  .actionButton {
    float: left !important;
  }

  .ui-paginator .ui-paginator-left-content {
    float: none !important;
  }

  .actionButtonD {
    float: left !important;
  }

  .heading-left label {
    margin-left: 0px !important;
    padding: 0px !important;
    line-height: inherit;
  }

  body .md-inputfield {
    margin: 6px 0px;
  }

  .user-listing-table .ui-progress-spinner-svg {
    position: absolute;
    top: 0 !important;
    bottom: 0 !important;
    left: 50% !important;
    right: 0 !important;
    margin: auto !important;
    margin-left: 50px !important;
  }

  .loader-svg .ui-progress-spinner-svg {
    left: 0% !important;
    right: 0 !important;
    margin: auto !important;
    margin-left: 0px !important;
  }

  .ui-progress-spinner {
    width: 50px !important;
    height: 94px !important;
  }

  .ngSelectAlign {
    padding-top: 0px !important;
  }

  .loader-svg {
    margin-left: -50px !important;
  }

  /* Tables css */
  .ngTable tr th {
    padding: 0px 15px !important;
    line-height: 3px;
  }

  .ngTable tr td {
    padding: 0px 15px !important;
    line-height: 16px;
  }

  .ui-table-wrapper::-webkit-scrollbar {
    height: 5px !important;
  }

  .ui-table-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    height: 5px !important;
  }

  .ui-table-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    height: 5px !important;
  }

  .ui-table-wrapper {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
  }

  .ui-table-responsive .ui-table-tbody > tr > td {
    display: table-cell !important;
    float: none !important;
  }

  .ui-table table {
    overflow-x: scroll !important;
    min-width: 500px !important;
    width: auto !important;
  }

  .ui-table-responsive .ui-table-thead > tr > th,
  .ui-table-responsive .ui-table-tfoot > tr > td {
    display: table-cell !important;
  }

  .layout-wrapper .layout-main .layout-content {
    padding: 20px 0px !important;
  }

  /* Tables css */

  .submitButton {
    padding-left: 0px !important;
  }

  .submit-panel {
    margin: 0px !important;
  }

  .tabel-permission table thead th:last-child {
    padding: 0px 15px !important;
  }

  .theme-color-picker span {
    word-break: break-all;
  }

  .category_label {
    word-break: break-all;
  }

  .padding-none {
    padding: 0px 15px !important;
  }

  .submitButton .padding-none {
    padding: 0px 7px !important;
  }

  .ui-confirmdialog {
    width: 94% !important;
  }

  .observation_input {
    padding-top: 0px !important;
  }

  body .ui-inputgroup .md-inputfield label {
    top: -5px !important;
  }

  .filterBtn.ui-button {
    margin: 0px;
  }

  .observation_input .padding-none {
    padding: 0px 0px !important;
  }

  .mb-10 {
    margin-bottom: 0px !important;
  }

  .layout-wrapper .layout-main .layout-topbar .mobile-logo {
    height: auto !important;
    margin-top: 2px !important;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .p-22 {
    padding-top: 22px !important;
  }

  .p-23 {
    padding-top: 22px !important;
  }

  .login-body .login-panel {
    left: 50%;
    margin-left: -42%;
    width: 84%;
  }

  .top-sections p {
    font-size: 11px;
  }

  body .ui-accordion .ui-accordion-header {
    font-size: 12px;
  }

  .paddingtb {
    padding: 0.5em 0px !important;
  }

  .listingLabel {
    padding-top: 15px !important;
  }

  .newresetclass {
    width: 100% !important;
  }

  .corr-card-value {
    font-size: 40px;
    margin: 0px;
    padding: 42px 0px 0px;
  }

  .res-label,
  .action-label {
    margin: 0px;
    padding: 0px 0px 0px;
  }

  .p-r-0 {
    padding-left: 0px !important;
  }

  body .ui-dialog.ui-shadow {
    min-width: auto !important;
    width: 100% !important;
  }

  .CreatenewObserver .ui-dialog.ui-shadow {
    width: 100% !important;
  }

  .ui-dialog-content img {
    width: 100% !important;
  }

  body::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  .ui-dialog.ui-shadow::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  .actionButton {
    float: right !important;
  }

  .ui-paginator .ui-paginator-left-content {
    float: none !important;
    padding-bottom: 14px !important;
  }

  .actionButtonD {
    float: right !important;
  }

  .heading-left label {
    margin-left: 0px !important;
    padding: 0px !important;
    line-height: inherit;
  }

  body .md-inputfield {
    margin: 6px 0px;
  }

  .user-listing-table .ui-progress-spinner-svg {
    position: absolute;
    top: 0 !important;
    bottom: 0 !important;
    left: 50% !important;
    right: 0 !important;
    margin: auto !important;
    margin-left: 50px !important;
  }

  .loader-svg .ui-progress-spinner-svg {
    left: 0% !important;
    right: 0 !important;
    margin: auto !important;
    margin-left: 0px !important;
  }

  .ui-progress-spinner {
    width: 50px !important;
    height: 94px !important;
  }

  .ngSelectAlign {
    padding-top: 0px !important;
  }

  .loader-svg {
    margin-left: -50px !important;
  }

  /* Tables css */
  .ngTable tr th {
    padding: 12px 15px !important;
    line-height: 3px;
  }

  .ngTable tr td {
    padding: 0px 15px !important;
    line-height: 16px;
  }

  .ui-table-wrapper::-webkit-scrollbar {
    height: 5px !important;
  }

  .ui-table-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    height: 5px !important;
  }

  .ui-table-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    height: 5px !important;
  }

  .ui-table-wrapper {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
  }

  .ui-table-responsive .ui-table-tbody > tr > td {
    display: table-cell !important;
    float: none !important;
  }

  .ui-table table {
    overflow-x: scroll !important;
    min-width: max-content !important;
    width: auto !important;
  }

  .hyperlinkTabletable table {
    overflow-x: scroll !important;
    min-width: auto !important;
    width: 1173px !important;
  }

  .grouplisting table {
    width: 100% !important;
  }

  .email-listing-table table {
    width: 100% !important;
  }

  .ui-table-responsive .ui-table-thead > tr > th,
  .ui-table-responsive .ui-table-tfoot > tr > td {
    display: table-cell !important;
  }

  .layout-wrapper .layout-main .layout-content {
    padding: 20px 0px !important;
  }

  /* Tables css */

  .submitButton {
    padding-left: 0px !important;
  }

  .submit-panel {
    margin: 0px !important;
  }

  .tabel-permission table thead th:last-child {
    padding: 0px 15px !important;
  }

  .theme-color-picker span {
    word-break: break-all;
  }

  .category_label {
    word-break: break-all;
  }

  .padding-none {
    padding: 0px 15px !important;
  }

  .radiobtn-P {
    padding: 6px 0px !important;
  }

  .submitButton .padding-none {
    padding: 0px 7px !important;
  }

  .ui-confirmdialog {
    width: 94% !important;
  }

  .observation_input {
    padding-top: 0px !important;
  }

  body .ui-inputgroup .md-inputfield label {
    top: -5px !important;
  }

  .filterBtn.ui-button {
    margin: 0px;
  }

  .observation_input .padding-none {
    padding: 0px 0px !important;
  }

  .mb-10 {
    margin-bottom: 0px !important;
  }

  .layout-wrapper .layout-main .layout-topbar .mobile-logo {
    height: auto !important;
    margin-top: 2px !important;
  }
}

/* @media (min-width: 768px) and (max-width: 1024px) {} */

.ui-confirmdialog-message {
  line-height: 25px;
}

.reset-btn.ui-button {
  /* background-color: var(--primary-color-lighten-10); */
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10);
  color: var(--primary-color-lighten-10);
}

.secondary-btn-ui button {
  /* background-color: var(--primary-color-lighten-10); */
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10) !important;
  color: var(--primary-color-lighten-10) !important;
}

.secondary-btn-ui button:hover {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color-darken-10) !important;
}

.secondary-btn-ui .ui-widget:disabled {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10) !important;
  color: var(--primary-color-lighten-10) !important;
}

.reset-btn .ui-widget:disabled {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10) !important;
  color: var(--primary-color-lighten-10) !important;
}

.warning-msg i {
  /* color: #ffbf00; */
  color: #62b1f6;
}

.info-msg i {
  color: #62b1f6;
}

.ui-dialog .ui-dialog-content {
  padding: 21px 5px 5px 5px !important;
}

.checklist-dialog .ui-dialog .ui-dialog-content {
  padding: 40px 5px 5px 5px !important;
}

.ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon {
  /* min-height: 120px;
  height: 100%;
  float: left; */
  top: 0px !important;
  vertical-align: middle;
}

body .ui-multiselect .ui-multiselect-label-container .ui-multiselect-label {
  padding: 15px 0px;
}

/* .ui-dialog.ui-shadow {
  z-index: 9999999999999 !important;
  overflow-x: hidden !important;
} */

.ui-dialog.ui-shadow::-webkit-scrollbar {
  width: 5px !important;
}

.ui-dialog.ui-shadow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--primary-color-lighten-10) !important;
}

.ui-dialog.ui-shadow::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-lighten-10) !important;
  outline: 1px solid var(--primary-color-lighten-10) !important;
}

.secondary-btns .inputLabel {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10) !important;
  color: var(--primary-color-lighten-10) !important;
  display: block;
  text-align: center;
  transition: background-color 0.3s;
  border-radius: 3px;
}

.secondary-btns .inputLabel a {
  display: block;
  padding: 10px 14px;
}

.secondary-btns .inputLabel:hover {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color-darken-10) !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.secondary-btns .inputLabel:hover a {
  color: var(--buttonTextColor) !important;
}

/* .filter-padding {
  padding: 0px 7px !important;
} */

.labelfilter {
  margin: 15px 0px 0px 0px;
  display: block;
}

.secondary-ui {
  /* background-color: var(--primary-color-lighten-10); */
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10) !important;
  color: var(--primary-color-lighten-10) !important;
}

.secondary-ui:hover {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color-darken-10) !important;
}

.reset-btn.ui-button:hover {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color-darken-10) !important;
}

table.ui-datepicker-calendar th span {
  color: var(--buttonTextColor) !important;
}

.ui-datepicker-header span {
  color: var(--buttonTextColor) !important;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  color: var(--buttonTextColor) !important;
}

.ng-dropdown-panel.ng-select-top {
  z-index: 99999999 !important;
}

.right-top-arrow {
  margin: 0px 8px !important;
  padding: 16px !important;
}

.secondary-btns .filterLabel {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-lighten-10) !important;
  color: var(--primary-color-lighten-10) !important;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s;
  border-radius: 3px;
  cursor: pointer;
}

.secondary-btns .filterLabel:hover {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color-darken-10) !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.secondary-btns .filterLabel a {
  display: block;
  padding: 10px 14px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.create_new_observed {
  background: transparent !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.create_new_observed:hover {
  color: var(--buttonTextColor) !important;
  background-color: var(--primary-color-darken-10) !important;
}

body .ui-widget:disabled:hover {
  background-color: transparent !important;
  /* border: 1px solid var(--primary-color-lighten-10) !important; */
  color: var(--primary-color-lighten-10) !important;
}

.ui-dialog-resizable {
  z-index: 1000000 !important;
}

.updateRequest table {
  table-layout: auto !important;
}

/* .lbltext span {
  color: var(--primary-color);
} */

.ui-toast-top-center {
  width: 450px !important;
}

ng-select.required .ng-placeholder::after {
  content: " *";
  color: red;
}

.filterLable.required label::after {
  content: " *";
  color: red;
}

/*  Filter UI  25-09-2019  */

.advance-search-block {
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px;
  position: relative;
  margin-top: 45px;
  top: 0px;
  margin-bottom: 15px;
}

.advance-search {
  z-index: 99;
  position: relative;
  background: #ffffff !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  width: 160px !important;
  height: 40px !important;
  text-align: left !important;
}

.lablemargin-top {
  margin-top: 20px !important;
  margin-bottom: -10px !important;
}

.lablemargin-bottom {
  margin-bottom: -10px !important;
}

.ui-float-label textarea:focus ~ label,
.ui-float-label textarea.ui-state-filled ~ label {
  font-size: 11px !important;
}

.hyperlinkTable a {
  text-decoration: underline !important;
}

.filterObsLabel {
  margin-top: 10px !important;
}

.filterObsLabel a {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.dateLabel {
  font-size: 11px !important;
}

.advanceBorder {
  margin: 0px 0px 15px 0px !important;
}

.advanceButton {
  margin: 17px auto 0px auto !important;
}

.advanceButton7 {
  margin: 7px auto 0px auto !important;
}

.classOverflow .ui-dialog {
  overflow-y: auto !important;
  max-height: 82% !important;
}

.ui-confirmdialog {
  z-index: 9999999999999999999 !important;
}

/* p-dialog .ui-dialog {
	overflow: scroll !important;
	max-height: 70% !important;
} */

.multiSelectDropDwon .ui-multiselect .ui-multiselect-trigger {
  top: 25% !important;
}

.multiSelectDropDwon
  .ui-multiselect
  .ui-multiselect-label-container
  .ui-multiselect-label {
  padding: 10px 0px !important;
}

.multiSelectDropDwon p-multiselect.ng-dirty.ng-invalid > .ui-multiselect {
  background-image: none !important;
}

.lablemargin-bottoms {
  margin-bottom: 10px !important;
}

.lablemargin-tops {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.filterLable {
  margin-bottom: -5px !important;
  margin-top: 5px !important;
}

.filterLable label {
  color: var(--primary-color-lighten-10);
  font-size: 12px;
}

.p-r-0 {
  padding-right: 0px !important;
}

.margintop {
  margin-top: -16px !important;
}

.heading-left-panel label {
  color: #212121;
  display: block;
  line-height: 40px;
  text-align: left;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}

.details-card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  background: #fffdfd;
  transition-timing-function: ease;
}

.details-card {
  transition: 0.5s;
  transition-timing-function: ease;
}

.email-alerts-card {
  transition: 0.5s;
  transition-timing-function: ease;
}

.email-alerts-card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  background: #fffdfd;
  transition-timing-function: ease;
}

.alert-unsafe-card {
  transition: 0.5s;
  transition-timing-function: ease;
}

.alert-unsafe-card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  background: #fffdfd;
  transition-timing-function: ease;
}

.dash-role {
  color: var(--primary-color-lighten-10) !important;
}

/* .dash-role1 {
   color: var(--primary-color-lighten-10) !important;
   font-weight: 600;
}*/

.observe-panel {
  background-color: var(--primary-color) !important;
}

.observe-target {
  color: var(--buttonTextColor) !important;
}

.copyrght {
  color: #757575;
  margin-top: 2px;
  display: inline-block;
}

.legel-notice {
  margin-top: 2px !important;
}

.version-panel {
  padding: 13px 0px 0px 24px;
  display: block;
}

.ui-float-label .comment-label {
  left: 0px !important;
}

.md-inputfield .employee-field {
  left: 7px !important;
}

.padding-remove {
  padding-bottom: 0px !important;
}

.heading-left {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.dashboard-target {
  padding: 0px 15px !important;
}

/* .inner-card {
  max-height: 158px;
  overflow-y: scroll;
} */

.ng-select .ng-placeholder {
  /* color: #212121 !important; */
}

.pi.pi-chevron-down:before {
  content: "keyboard_arrow_down" !important;
}

.groupHeaderSpan {
  color: #757575;
  line-height: 2;
}

.heading-lefts label {
  color: #212121;
  display: block;
  margin-left: -16px;
  padding: 0px 15px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}

.translations-table table {
  table-layout: auto !important;
}

.translations-table .ui-table table {
  table-layout: auto !important;
}

.checklist-dialog .ui-dialog .ui-dialog-titlebar {
  position: fixed !important;
  width: 95% !important;
  z-index: 9 !important;
}

/* .help-file .ui-dialog .ui-dialog-titlebar {
  position: fixed !important;
  width: 65% !important;
  z-index: 9 !important;
} */

.textarea-float-label-left .ui-float-label textarea.ui-state-filled ~ label {
  left: 0px !important;
}

/* Latest css 16-10-2019 */

.layout-wrapper-static .dashboard-blocks li {
  width: 18.1% !important;
  margin: 0px 1% !important;
}

.layout-wrapper-static .nonAdmin h2 {
  font-size: 13px !important;
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .layout-wrapper-static .details-card-title {
    padding: 14px 3px !important;
  }

  body .ui-button,
  body .ui-datepicker-buttonpane > button {
    font-size: 13px !important;
    padding: 0px;
  }
}

.layout-wrapper-static .details-card-title {
  padding: 14px 7px !important;
}
.mce-menu {
  z-index: 99999999999 !important;
}
.mce-menu.mce-in.mce-animate {
  z-index: 99999999999 !important;
}