@function opac($color, $opacity) {
  $color: str-replace($color, "var(");
  $color: str-replace($color, ")");
  $color-h: var(#{$color + "-h"});
  $color-s: var(#{$color + "-s"});
  $color-l: var(#{$color + "-l"});
  @return hsla($color-h, $color-s, $color-l, $opacity);
}
// replace substring with another string
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

:root {
  --primary-color: #009688;
  --primary-color-lighten-25: #{lighten(#009688, 25%)};
  --primary-color-lighten-6: #{lighten(#009688, 6%)};
  --primary-color-lighten-25-desaturate-25: #{desaturate(
      lighten(#009688, 25%),
      25%
    )};
}

/* Sidebar */
$sidebarLogoBgColor: var(--primary-color-darken-10);
$sidebarBgColor: #ffffff;
$darkSidebarBgColor: #424242;

/* Primary */
// $primaryColor:#009688;
// $primaryDarkColor:#00796B;
// $primaryLightColor:#4DB6AC;
// $primaryLightestColor:#E0F2F1;
$primaryColor: var(--primary-color);
$primaryDarkColor: opac(var(--primary-color), 90%);
$primaryLightColor: #{"hsla(var(--primary-color), 70%)"};
$primaryLightestColor: #{"hsla(var(--primary-color), 40%)"};
$primaryTextColor: #ffffff;

/* Accent */
$accentColor: #f44336;
$accentLightColor: #e57373;
$accentTextColor: #ffffff;

/* Topbar */
$topbarTextColor: #e0f2f1;
$topbarIconColor: #e0f2f1;

/* Submenu */
$submenuBgColor: #eeeeee;
$darkSubmenuBgColor: #616161;
$horizontalSubmenuBgColor: #eeeeee;
$horizontalDarkSubmenuBgColor: #616161;
$horizontalSubmenuitemHoverBgColor: #e0e0e0;
$horizontalSubmenuitemDarkHoverBgColor: #545454;
$horizontalSubmenuitemDarkHoverTextColor: #ffffff;
$horizontalMenuActiveTextColor: #ffffff;
$horizontalMenuActiveHoverTextColor: #212121;
$horizontalDarkMenuActiveTextColor: #ffffff;
$horizontalDarkMenuActiveHoverTextColor: #ffffff;

/* Default MenuItem */
$menuitemTextColor: #212121;
$menuitemIconTextColor: #616161;

/* Hover MenuItem */
$menuitemHoverBgColor: #e0e0e0;
$menuitemHoverTextColor: #212121;
$menuitemHoverIconTextColor: #212121;

/* Active MenuItem */
$menuitemActiveBgColor: var(--primary-color);
$menuitemActiveTextColor: #ffffff;
$menuitemActiveIconTextColor: #ffffff;
$subMenuitemActiveTextColor: var(--primary-color);
$subMenuitemActiveIconTextColor: var(--primary-color);

/* Dark Default MenuItem */
$darkMenuitemTextColor: #dee0e3;
$darkMenuitemIconTextColor: #dee0e3;

/* Dark Hover MenuItem */
$darkMenuitemHoverBgColor: #545454;
$darkMenuitemHoverTextColor: #ffffff;
$darkMenuitemHoverIconTextColor: #ffffff;

/* Dark Active MenuItem */
$darkMenuitemActiveBgColor: var(--primary-color);
$darkMenuitemActiveTextColor: #ffffff;
$darkMenuitemActiveIconTextColor: #ffffff;
$darksubMenuitemActiveTextColor: var(--primary-color-lighten-25-desaturate-25);
$darksubMenuitemActiveIconTextColor: var(
  --primary-color-lighten-25-desaturate-25
);

@import "../../sass/layout/_layout";
