<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-confirmDialog
        #cd
        header="{{ appName }}"
        acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}"
        icon="ui-icon-info"
      >
        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-check"
            label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"
          ></button>
          <button
            type="button"
            pButton
            icon="pi pi-times"
            label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"
          ></button>
        </p-footer>
      </p-confirmDialog>
      <p-toast
        [style]="{ marginTop: '80px', width: '350px' }"
        position="top-center"
      ></p-toast>
      <h1>{{ "LBLAPPROVAL" | translate }}</h1>
      <div
        class="ui-g-12 ui-md-4 ui-lg-2 multiSelectDropDwon user-select"
        *ngIf="searchBy.length > 0"
      >
        <ng-select
          [searchable]="true"
          [items]="searchBy"
          bindLabel="header"
          bindValue="field"
          [(ngModel)]="selectedfilterOBSDate"
          [clearable]="false"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.header }}">{{ item.header }}</div>
          </ng-template>
        </ng-select>
      </div>
      <div
        class="ui-g-12 ui-md-4 ui-lg-3 listingLabel"
        style="padding-top: 12px"
      >
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="searching()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            title="{{ 'FMKSEARCH' | translate }}"
            (click)="searching()"
          ></button>
        </div>
        <br />
      </div>
      <div class="ui-g-12 ui-md-4 ui-lg-7 text-right" style="padding-top: 11px">
        <button
          type="button"
          icon="ui-icon-check"
          [disabled]="selectedApproval.length == 0"
          (click)="approve()"
          title="{{ 'LBLAPPROVE' | translate }}"
          pButton
        ></button>
        <button
          type="button"
          icon="ui-icon-done-all"
          class="ml"
          (click)="approveAll()"
          *ngIf="this.approvalListing.length > 0"
          title="{{ 'LBLAPPROVEALL' | translate }}"
          pButton
        ></button>
        <button
          type="button"
          icon="ui-icon-delete"
          [disabled]="selectedApproval.length == 0"
          class="ml activebtn"
          (click)="deleteRecord()"
          pButton
          title="{{ 'LBLDELETE' | translate }}"
        ></button>
        <button
          type="button"
          icon="ui-icon-filter-list"
          title="{{ 'LBLFILTERS' | translate }}"
          class="ml"
          pButton
          (click)="toggleFilterShow()"
          id="btToggle"
        ></button>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div [@slideInOut]="animationState">
        <div
          class="card card-w-title right-top-arrow"
          style="padding-bottom: 0px"
        >
          <div id="svgtoggle">
            <svg height="15" width="200">
              <polyline points="1220,1110 140,3,100,50" class="svgstroke" />
            </svg>
          </div>
          <div>
            <label class="text-left"
              ><b>{{ "LBLLOCATIONS" | translate }}</b></label
            >
          </div>
          <div class="clearfix"></div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLBSITES" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="filterSites"
              [(ngModel)]="approvalSites"
              (onChange)="getSiteFilter()"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLAREA" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="filterArea"
              [(ngModel)]="approvalAreas"
              (onChange)="getAreaFilter()"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
            *ngIf="subAreaOptionValue == 1"
          >
            <div class="filterLable">
              <label>{{ "LBLSUBAREAS" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="filterSubArea"
              [(ngModel)]="approvalSubAreas"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLSHIFT" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="filterShift"
              [(ngModel)]="approvalShift"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div
            class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
          >
            <div class="filterLable">
              <label>{{ "LBLOBSERVER" | translate }}</label>
            </div>
            <p-multiSelect
              [defaultLabel]="'LBLCHOOSE' | translate"
              [options]="filterObserver"
              [(ngModel)]="approvalOBS"
              class="required"
            >
            </p-multiSelect>
          </div>
          <div class="clearfix"></div>
          <div class="lablemargin-top">
            <label class="text-left"
              ><b>{{ "LBLDATEFILTERS" | translate }}</b></label
            >
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-12">
              <label class="filterLabel filterObsLabel"
                ><a (click)="approvalObsDate = true">{{
                  "LBLOBSDATE" | translate
                }}</a></label
              >
            </div>
            <div class="clearfix"></div>
            <div
              class="ui-g-12 ui-md-12 ui-lg-12 filter-padding"
              *ngIf="selecetedApprovalDateFilter"
            >
              <h5 style="margin: 0; font-size: 14px; font-weight: normal">
                {{ viewApprovalOBSDateFrom }} - {{ viewApprovalOBSDateTo }}
              </h5>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-g-12 ui-md-12 pl-0 p-0 advanceButton">
            <div class="ui-g-12 ui-md-3">
              <button
                type="button"
                [icon]="iconType"
                (click)="advanceSearch()"
                label="{{ 'LBLADVANCEFILTER' | translate }}"
                class="advance-search"
                pButton
              ></button>
            </div>
          </div>
          <!-- Advance Search -->
          <div *ngIf="showAdvanceSearch">
            <div class="advance-search-block">
              <div class="ui-g-12 ui-md-12 advanceBorder">
                <div
                  class="ui-g-12 ui-md-4 ui-lg-4 filter-padding multiSelectDropDwon"
                >
                  <div class="filterLable">
                    <label>{{ "LBLSTATUS" | translate }}</label>
                  </div>
                  <p-multiSelect
                    [defaultLabel]="'LBLCHOOSE' | translate"
                    [options]="filterStatus"
                    [(ngModel)]="approvalStatus"
                    class="required"
                  >
                  </p-multiSelect>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <button
              pButton
              type="button"
              label="{{ 'LBLFILTERRECORDS' | translate }}"
              class="filterBtn"
              (click)="filtering()"
            ></button>
            <button
              pButton
              type="reset"
              label="{{ 'LBLCLEARFILTERRECORDS' | translate }}"
              class="filterBtn"
              (click)="clearFilter()"
            ></button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <!-- Filter Toggle -->
      <div class="ui-g-12 ui-md-12">
        <p-table
          [columns]="approvalCols"
          [value]="approvalListing"
          [(selection)]="selectedApproval"
          [paginator]="true"
          [rows]="20"
          class="group-listing"
          (sortFunction)="customSort($event)"
          [customSort]="true"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "LBLRPTNORECFND" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th
                *ngFor="let approvalCols of columns"
                [pSortableColumn]="approvalCols.field"
              >
                {{ approvalCols.header | translate }}
                <p-sortIcon [field]="approvalCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <!-- <tr [pSelectableRow]="rowData"> -->
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let approvalCols of columns; let i = index"
                style="cursor: pointer"
              >
                <ng-container *ngIf="i < approvalCount - 1">
                  <a
                    style="display: block"
                    routerLink="/edit-approval/{{ rowData['CARDID'] }}"
                    skipLocationChange="true"
                  >
                    {{ rowData[approvalCols.field] }}
                  </a>
                </ng-container>
                <ng-container *ngIf="i == approvalCount - 1">
                  <a
                    routerLink="/edit-approval/{{ rowData['CARDID'] }}"
                    skipLocationChange="true"
                  >
                    <p-button
                      label="{{ rowData['STATUS'] | translate }}"
                      [ngClass]="{
                        actionButton: rowData['STATUS'] == 'LBLWAITINGAPPROVAL',
                        actionButtonD: rowData['STATUS'] != 'LBLWAITINGAPPROVAL'
                      }"
                    >
                    </p-button>
                  </a>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<p-dialog
  header="{{ 'LBLOBSDATE' | translate }}"
  [modal]="true"
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="approvalObsDate"
  [rtl]="true"
  [style]="{ width: '550px', height: 'auto' }"
  [closable]="false"
>
  <div class="ui-g-12 ui-md-12 padding-zero">
    <div class="ui-g-12 ui-md-12 filterReportInputs">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-6 padding-zero">
          <p-calendar
            placeholder="{{ 'FMKFORM' | translate }}"
            dateFormat="{{ dateFormat }}"
            [showIcon]="true"
            [maxDate]="currDate"
            [showButtonBar]="true"
            [readonlyInput]="true"
            [yearNavigator]="true"
            [(ngModel)]="approvalOBSDateFrom"
            yearRange="{{ yearList }}"
            [locale]="locale"
          >
          </p-calendar>
        </div>
        <div class="ui-g-12 ui-md-6 padding-zero">
          <p-calendar
            placeholder="{{ 'FMKTO' | translate }}"
            dateFormat="{{ dateFormat }}"
            [showIcon]="true"
            [maxDate]="currDate"
            [showButtonBar]="true"
            [(ngModel)]="approvalOBSDateTo"
            [readonlyInput]="true"
            [yearNavigator]="true"
            yearRange="{{ yearList }}"
            [locale]="locale"
          >
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ui-g-12 ui-md-12 submitButton">
      <div class="ui-g-12 ui-md-3 pl-0">
        <button
          pButton
          type="button"
          label="{{ 'FMKCLOSETEXT' | translate }}"
          (click)="approvalDateSelected()"
          title="{{ 'FMKCLOSETEXT' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button
          pButton
          type="button"
          title="{{ 'LBLRESET' | translate }}"
          (click)="clearRespondedDaterange()"
          label="{{ 'LBLRESET' | translate }}"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <button
          pButton
          type="reset"
          title="{{ 'LBLCANCEL' | translate }}"
          (click)="cancelDialog()"
          label="{{ 'LBLCANCEL' | translate }}"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
