<div class="ui-g">
  <div class="ui-g-12">
    <div class="card no-margin">
      <p-toast [style]="{ marginTop: '80px', width: '300px' }" position="top-center"></p-toast>
      <p-confirmDialog header="{{ 'LBLCONFIRM' | translate }}" acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}" icon="ui-icon-info"></p-confirmDialog>
      <div style="text-align: center" *ngIf="isLoaded">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <ng-container *ngIf="!isLoaded">
        <form [formGroup]="userForm">
          <div class="ui-g">
            <div class="ui-g-7">
              <div class="ui-g-12 ui-md-6 ui-lg-6">
                <div class="ui-g-12">
                  <h1 class="title">{{ "LBLGENERAL" | translate }}</h1>
                </div>
                <div class="ui-g-12 general-tab">
                  <div class="ui-md-12 p-b-14">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input formControlName="userName" type="text" pInputText class="ui-md-12" />
                      <label class="required" for="float-input">{{
                        "LBLUSERNAME" | translate
                      }}</label>
                    </span>
                    <div *ngIf="submitted && uform.userName.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTADDUSERNAME' | translate }}"
                        *ngIf="uform.userName.errors.required">
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input formControlName="firstName" type="text" pInputText class="ui-md-12" maxlength="256" />
                      <label class="required" for="float-input">{{
                        "LBLFIRSTNAME" | translate
                      }}</label>
                    </span>
                    <div *ngIf="submitted && uform.firstName.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTADDFIRSTNAME' | translate }}" *ngIf="
                          uform.firstName.errors.required ||
                          userForm.get('firstName').hasError('whitespace') ||
                          userForm.get('firstName').hasError('space')
                        ">
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input formControlName="lastName" type="text" pInputText class="ui-md-12" maxlength="256" />
                      <label class="required" for="float-input">{{
                        "LBLLASTNAME" | translate
                      }}</label>
                    </span>
                    <div *ngIf="submitted && uform.lastName.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTADDLASTNAME' | translate }}" *ngIf="
                          uform.lastName.errors.required ||
                          userForm.get('lastName').hasError('whitespace') ||
                          userForm.get('lastName').hasError('space')
                        ">
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input formControlName="email" type="text" pInputText class="ui-md-12"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" />
                      <label class="required" for="float-input">{{
                        "LBLEMAIL" | translate
                      }}</label>
                    </span>
                    <div *ngIf="submitted && uform.email.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTADDEMAIL' | translate }}" *ngIf="
                          uform.email.errors.required ||
                          userForm.get('email').hasError('isEmail') ||
                          uform.email.errors.maxlength
                        ">
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input type="password" pInputText class="ui-md-12" formControlName="password" maxlength="24" />
                      <label class="required" for="float-input">{{
                        "LBLPASSWORD" | translate
                      }}</label>
                    </span>
                    <div *ngIf="submitted && uform.password.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTADDPWD' | translate }}" *ngIf="
                          uform.password.errors.required ||
                          userForm.get('password').hasError('whitespace')
                        ">
                      </p-message>
                      <p-message severity="error" text="{{ 'ALTPWDLEN' | translate }} {{ passLength }} {{
                          'LBLPWDCHAR' | translate
                        }} " *ngIf="
                          !uform.password.errors.required &&
                          userForm.get('password').hasError('minlength')
                        ">
                      </p-message>
                      <p-message severity="error" text="{{ 'ALTPWDMUST' | translate }} {{
                          'LBLPWDNUMCHAR' | translate
                        }}" *ngIf="
                          passwordComplexity == 1 &&
                          !uform.password.errors.required &&
                          !userForm.get('password').hasError('minlength') &&
                          uform.password.errors.pattern
                        ">
                      </p-message>
                      <p-message severity="error" text="{{ 'ALTPWDATLEAST' | translate }} {{
                          passAlphaChars
                        }} {{ 'LBLCHAR' | translate }} {{ passNumChars }} {{
                          'LBLPWDNUMCHAR' | translate
                        }}" *ngIf="
                          passwordComplexity == 2 &&
                          !uform.password.errors.required &&
                          !userForm.get('password').hasError('minlength') &&
                          uform.password.errors.pattern
                        ">
                      </p-message>
                      <p-message severity="error" text="{{ 'ALTPWDATLEAST' | translate }} {{
                          passAlphaChars
                        }} {{ 'LBLCHAR' | translate }} {{ passNumChars }} {{
                          'LBLNUMAND' | translate
                        }} {{ passSpecChars }} {{ 'LBLPWDSPEC' | translate }}" *ngIf="
                          passwordComplexity == 3 &&
                          !uform.password.errors.required &&
                          !userForm.get('password').hasError('minlength') &&
                          uform.password.errors.pattern
                        ">
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <input formControlName="confirmPassword" type="password" pInputText class="ui-md-12" />
                      <label class="required" for="float-input">{{
                        "LBLCONFIRMPASSWORD" | translate
                      }}</label>
                    </span>
                    <div *ngIf="submitted && uform.confirmPassword.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTADDCONFIRMPWD' | translate }}"
                        *ngIf="uform.confirmPassword.errors.required">
                      </p-message>
                      <p-message severity="error" text='{{"LBLCONFIRMPASSNOTMATCH" | translate }}' *ngIf="
                          !userForm.controls['confirmPassword'].valid &&
                          !uform.confirmPassword.errors.required
                        ">
                      </p-message>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-lg-6">
                <div class="ui-g-12">
                  <h1 class="title">{{ "LBLUSERPREFERENCE" | translate }}</h1>
                </div>
                <div class="ui-g-12">
                  <div class="ui-md-12 p-b-14">
                    <ng-select [items]="defaultSites" [multiple]="false" [closeOnSelect]="true" bindLabel="SITENAME"
                      bindValue="SITEID" placeholder="{{ 'LBLDEFAULTSITE' | translate }}" formControlName="siteId"
                      [clearable]="false" (change)="siteChange($event.SITEID)" class="required">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.SITENAME }}">
                          {{ item.SITENAME }}
                        </div>
                      </ng-template>
                    </ng-select>
                    <div *ngIf="submitted && uform.siteId.errors" class="invalid-feedback">
                      <p-message severity="error" text="{{ 'ALTPROVIDEDEFAULTSITE' | translate }}"
                        *ngIf="uform.siteId.errors.required">
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <ng-select [items]="dateFormats" [multiple]="false" [closeOnSelect]="true" bindLabel="label"
                      bindValue="value" placeholder="{{ 'LBLDATEFORMAT' | translate }}" formControlName="dateFormat"
                      [clearable]="false">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.label }}">
                          {{ item.label }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <ng-select [items]="languages" [multiple]="false" [closeOnSelect]="true" bindLabel="LANGUAGENAME"
                      bindValue="LANGUAGEID" placeholder="{{ 'LBLLANGUAGE' | translate }}" formControlName="languageId"
                      (change)="languageChange()" [clearable]="false">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.LANGUAGENAME }}">
                          {{ item.LANGUAGENAME }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="ui-md-12 p-b-14">
                    <ng-select class="custom" [items]="timeZoneValueArr" [multiple]="false" [closeOnSelect]="true"
                      bindLabel="TIMEZONENAME" bindValue="TIMEZONEID" placeholder="{{ 'LBLTIMEZNONE' | translate }}"
                      formControlName="timeZone" [clearable]="false">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div title="{{ item.TIMEZONENAME }}">
                          {{ item.TIMEZONENAME }}
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 submitButton">
                <div class="ui-g-12 ui-md-2 pl-0">
                  <button pButton [disabled]="userForm.pristine" (click)="onSubmit(userForm.value)"
                    label="{{ 'LBLSAVE' | translate }}" title="{{ 'LBLSAVE' | translate }}" class="m-b-10"></button>
                </div>
                <div class="ui-g-12 ui-md-2 pl-0">
                  <button pButton type="button" label="{{ 'LBLRESET' | translate }}"
                    title="{{ 'LBLRESET' | translate }}" [disabled]="userForm.pristine" class="m-b-10 reset-btn"
                    (click)="onReset()"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>