.btn {
  margin-bottom: 10px;
  width: auto;
}

.general-tab {
  padding-top: 22px;
}

.title {
  margin-left: 0px;
}

#float-input {
  padding: 22px 0px 0px 0px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px;
  margin: 10px 0px 10px 0px;
  height: auto;
  width: 100%;
}

.padding-none {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.p-b-14 {
  padding-bottom: 14px;
}

ng-select {
  padding-bottom: 0px !important;
}

.m-b-10 {
 margin-bottom: 10px;
}