<div class="ui-g-12">
  <div class="card card-w-title pl-0 box-shadow-none">
    <p-toast
      [style]="{ marginTop: '80px', width: '300px' }"
      position="top-center"
    ></p-toast>
    <p-tabView>
      <p-tabPanel
        header="{{ 'LBLGENERAL' | translate }}"
        leftIcon="ui-icon-person"
      >
        <form
          [formGroup]="AddObservatinGeneral"
          (ngSubmit)="checklistSubmit()"
          ngxScrollToFirstInvalid
        >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon"
                style="padding-top: 14px !important"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLBSITES' | translate }}"
                  [searchable]="true"
                  [items]="siteList"
                  bindLabel="SITENAME"
                  bindValue="SITEID"
                  required
                  formControlName="siteId"
                  [clearable]="false"
                  (change)="getDataBySite($event.SITEID)"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SITENAME | translate }}">
                      {{ item.SITENAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.siteId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTPROVIDESITE' | translate }}"
                    *ngIf="
                      GeneralSubForm.siteId.errors.required ||
                      GeneralSubForm.siteId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 uidatepicker paddingBox">
                <label class="required dateLabel">{{
                  "LBLOBSDATE" | translate
                }}</label>
                <p-calendar
                  [maxDate]="curDate"
                  [showIcon]="true"
                  dateFormat="{{ dateFormat }}"
                  placeholder="{{ dateFormatTypeNew | translate }}"
                  [showButtonBar]="true"
                  formControlName="observationDate"
                  [locale]="locale"
                >
                </p-calendar>
                <div
                  *ngIf="submitted && GeneralSubForm.observationDate.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class="errorMsg"
                    severity="error"
                    text="{{ 'ALTOBSERVATIONDATEFORMAT' | translate }}"
                    *ngIf="GeneralSubForm.observationDate.errors.required"
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon"
                style="padding-top: 14px !important"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLCHECKLIST' | translate }}"
                  [searchable]="true"
                  [items]="checkList"
                  bindLabel="SETUPNAME"
                  bindValue="CHECKLISTSETUPID"
                  required
                  formControlName="checkListSetupId"
                  [clearable]="false"
                  class="required"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SETUPNAME | translate }}">
                      {{ item.SETUPNAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.checkListSetupId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTPROVIDESETUP' | translate }}"
                    *ngIf="
                      GeneralSubForm.checkListSetupId.errors.required ||
                      GeneralSubForm.checkListSetupId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 middelBox">
                <div
                  class="card card-w-title boxshadownone"
                  style="padding-bottom: 16px"
                >
                  <div
                    class="ui-g-12 ui-md-3 ui-lg-2 addNewBtn"
                    *ngIf="
                      addNewObsPermission.length > 0 &&
                      addNewObsPermission[0].PERMISSIONVALUE == 1
                    "
                  >
                    <button
                      type="button"
                      (click)="openPopup()"
                      pButton
                      icon="ui-icon-add"
                      label="{{ 'LBLADDNEWOBS' | translate }}"
                      title="{{ 'LBLADDNEWOBS' | translate }}"
                      class="create_new_observed"
                    ></button>
                  </div>
                  <div class="ui-g-12 ui-md-9 ui-lg-3 multiSelectDropDwon">
                    <div class="filterLable">
                      <label class="required">{{
                        "LBLOBSERVER" | translate
                      }}</label>
                    </div>
                    <p-multiSelect
                      [defaultLabel]="'LBLCHOOSE' | translate"
                      [options]="observersList"
                      formControlName="selObserverId"
                      class="required"
                      *ngIf="observersList.length > 0"
                    >
                    </p-multiSelect>
                    <div
                      *ngIf="submitted && GeneralSubForm.selObserverId.errors"
                      class="invalid-feedback"
                    >
                      <p-message
                        class=""
                        severity="error"
                        text="{{ 'ALTOBSERVERCOUNT' | translate }}"
                        *ngIf="GeneralSubForm.selObserverId.errors.required"
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  class="pBottom required"
                  placeholder="{{ 'LBLAREA' | translate }}"
                  [searchable]="true"
                  [items]="areaList"
                  bindLabel="AREANAME"
                  [clearable]="false"
                  bindValue="AREAID"
                  required
                  formControlName="areaId"
                  (change)="getSubArea()"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.AREANAME | translate }}">
                      {{ item.AREANAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.areaId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTPROVIDEAREA' | translate }}"
                    *ngIf="
                      GeneralSubForm.areaId.errors.required ||
                      GeneralSubForm.areaId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngIf="subAreaOptionValue == 1"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLSUBAREAS' | translate }}"
                  [searchable]="true"
                  [items]="subAreaList"
                  bindLabel="SUBAREANAME"
                  [clearable]="false"
                  bindValue="SUBAREAID"
                  formControlName="subAreaId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SUBAREANAME | translate }}">
                      {{ item.SUBAREANAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngIf="areaManagerOptionValue == 1"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLAREAMANAGER' | translate }}"
                  [searchable]="true"
                  [items]="areaManager"
                  bindLabel="FULLNAME"
                  [clearable]="false"
                  bindValue="USERID"
                  formControlName="areaManagerId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.FULLNAME | translate }}">
                      {{ item.FULLNAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix" *ngIf="areaManagerOptionValue == 1"></div>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  class="required pBottom"
                  placeholder="{{ 'LBLSHIFT' | translate }}"
                  [searchable]="true"
                  [items]="shiftsList"
                  bindLabel="SHIFTNAME"
                  [clearable]="false"
                  bindValue="SHIFTID"
                  required
                  formControlName="shiftId"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.SHIFTNAME | translate }}">
                      {{ item.SHIFTNAME | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="submitted && GeneralSubForm.shiftId.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTPROVIDESHIFT' | translate }}"
                    *ngIf="
                      GeneralSubForm.shiftId.errors.required ||
                      GeneralSubForm.shiftId.hasError('min')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div
                class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10"
                *ngFor="let field of fieldList; let i = index"
              >
                <ng-select
                  class="pBottom"
                  placeholder="{{ field.fieldName }}"
                  [searchable]="true"
                  [items]="field.fieldValue"
                  bindLabel="CUSTOMFIELDVALUE"
                  [clearable]="false"
                  bindValue="CUSTOMFIELDVALUEID"
                  formControlName="Field{{ i + 1 }}"
                  [ngClass]="field.mandatory == 1 ? 'required' : ''"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.CUSTOMFIELDVALUE | translate }}">
                      {{ item.CUSTOMFIELDVALUE | translate }}
                    </div>
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted" class="invalid-feedback">
                  <p-message
                    class=""
                    severity="error"
                    text="{{ 'ALTMANDATORYCUSTOMFIELD' | translate }}"
                    *ngIf="
                      AddObservatinGeneral.get('Field' + (i + 1)).hasError(
                        'required'
                      ) ||
                      AddObservatinGeneral.get('Field' + (i + 1)).hasError(
                        'min'
                      )
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="length"
                  />
                  <label class="required inputLabel">{{
                    "LBLLENGTH" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.length.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTLENGTH' | translate }}"
                    *ngIf="
                      GeneralSubForm.length.errors.required ||
                      AddObservatinGeneral.get('length').hasError('numeric') ||
                      AddObservatinGeneral.get('length').hasError('whitespace')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    formControlName="peopleContacted"
                  />
                  <label class="required inputLabel">{{
                    "LBLPEOPLECONTACTED" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.peopleContacted.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTPEOPLECONTACTED' | translate }}"
                    *ngIf="
                      GeneralSubForm.peopleContacted.errors.required ||
                      AddObservatinGeneral.get('peopleContacted').hasError(
                        'numeric'
                      ) ||
                      AddObservatinGeneral.get('length').hasError('whitespace')
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4 observation_input mb-10">
                <span class="md-inputfield ui-md-12 padding-none">
                  <input
                    type="text"
                    pInputText
                    class="ui-md-12"
                    max="{{ maxPeopleObserved }}"
                    formControlName="peopleObserved"
                  />
                  <label class="required inputLabel">{{
                    "LBLPEOPLEOBSERVED" | translate
                  }}</label>
                </span>
                <div
                  *ngIf="submitted && GeneralSubForm.peopleObserved.errors"
                  class="invalid-feedback"
                >
                  <p-message
                    severity="error"
                    text="{{ 'ALTMAXLIMITONOBSERVED' | translate }} {{
                      maxPeopleObserved
                    }}"
                    *ngIf="GeneralSubForm.peopleObserved.errors?.max"
                  >
                  </p-message>
                  <p-message
                    severity="error"
                    text="{{ 'ALTCHKLISTPEOPLEOBSERVED' | translate }}"
                    *ngIf="
                      (GeneralSubForm.peopleObserved.errors.required ||
                        AddObservatinGeneral.get('peopleObserved').hasError(
                          'numeric'
                        ) ||
                        AddObservatinGeneral.get('length').hasError(
                          'whitespace'
                        )) &&
                      !GeneralSubForm.peopleObserved.errors?.max
                    "
                  >
                  </p-message>
                </div>
              </div>
              <div class="clearfix"></div>
              <ng-container *ngIf="configData">
                <ng-container
                  *ngIf="configData['EnableChecklistComments'] == 1"
                >
                  <div class="ui-g-12 ui-md-6 observation_input txtArea mb-10">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <span class="ui-float-label">
                        <textarea
                          id="float-input"
                          rows="5"
                          cols="30"
                          pInputTextarea
                          formControlName="safeComments"
                        ></textarea>
                        <label for="float-input">{{
                          "LBLSAFECOMMENTS" | translate
                        }}</label>
                      </span>
                    </span>
                    <div
                      *ngIf="submitted && GeneralSubForm.safeComments.errors"
                      class="invalid-feedback"
                    >
                      <p-message
                        class=""
                        severity="error"
                        text="{{ 'ALTCOMMENTS' | translate }}"
                        *ngIf="GeneralSubForm.safeComments.errors?.maxLength"
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6 observation_input txtArea mb-10">
                    <span class="md-inputfield ui-md-12 padding-none">
                      <span class="ui-float-label">
                        <textarea
                          id="float-input"
                          rows="5"
                          cols="30"
                          pInputTextarea
                          formControlName="unSafeComments"
                        ></textarea>
                        <label for="float-input">{{
                          "LBLUNSAFECOMMENTS" | translate
                        }}</label>
                      </span>
                    </span>
                    <div
                      *ngIf="submitted && GeneralSubForm.unSafeComments.errors"
                      class="invalid-feedback"
                    >
                      <p-message
                        class=""
                        severity="error"
                        text="{{ 'ALTCOMMENTS' | translate }}"
                        *ngIf="GeneralSubForm.unSafeComments.errors?.maxLength"
                      >
                      </p-message>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </ng-container>
              </ng-container>
              <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
                <ng-select
                  class="pBottom"
                  placeholder="{{ 'LBLSTATUS' | translate }}"
                  [searchable]="true"
                  [items]="status"
                  bindLabel="label"
                  [clearable]="false"
                  bindValue="value"
                  required
                  formControlName="status"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <div title="{{ item.label | translate }}">
                      {{ item.label | translate }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-8 submitButton">
              <div class="ui-g-12 ui-md-3 ui-lg-2">
                <button
                  pButton
                  type="submit"
                  label="{{ 'LBLCONTINUE' | translate }}"
                  title="{{ 'LBLCONTINUE' | translate }}"
                  [disabled]="AddObservatinGeneral.pristine"
                ></button>
              </div>
              <div class="ui-g-12 ui-md-3 ui-lg-2 secondary-btn-ui">
                <button
                  pButton
                  type="button"
                  title="{{ 'LBLRESET' | translate }}"
                  [disabled]="AddObservatinGeneral.pristine"
                  (click)="resetGeneralForm()"
                  label="{{ 'LBLRESET' | translate }}"
                ></button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </p-tabPanel>
      <div class="clearfix"></div>
    </p-tabView>
  </div>
</div>
<div class="clearfix"></div>
<!-- Create new Observer -->
<form
  [formGroup]="AddObservatinModal"
  (ngSubmit)="addNewObserver()"
  class="CreatenewObserver"
>
  <p-dialog
    header="{{ 'LBLCREATENEWOBSERVER' | translate }}"
    [modal]="true"
    [blockScroll]="true"
    [draggable]="false"
    [(visible)]="display"
    [rtl]="true"
    [style]="{ width: '770px', height: 'auto' }"
  >
    <div class="ui-g-12 ui-md-12 padding-zero">
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="lastName"
          />
          <label class="required">{{ "LBLLASTNAME" | translate }}</label>
        </span>
        <div
          *ngIf="submitted1 && ModalSubForm.lastName.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTADDLASTNAME' | translate }}"
            *ngIf="
              ModalSubForm.lastName.errors.required ||
              AddObservatinModal.get('lastName').hasError('whitespace') ||
              ModalSubForm.lastName.errors?.maxLength
            "
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="firstName"
          />
          <label class="required">{{ "LBLFIRSTNAME" | translate }}</label>
        </span>
        <div
          *ngIf="submitted1 && ModalSubForm.firstName.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTADDFIRSTNAME' | translate }}"
            *ngIf="
              ModalSubForm.firstName.errors.required ||
              AddObservatinModal.get('firstName').hasError('whitespace') ||
              ModalSubForm.firstName.errors?.maxLength
            "
          >
          </p-message>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
            formControlName="email"
          />
          <label class="">{{ "LBLEMAILID" | translate }}</label>
        </span>
        <div
          *ngIf="submitted1 && ModalSubForm.email.errors"
          class="invalid-feedback"
        >
          <p-message
            severity="error"
            text="{{ 'ALTADDEMAIL' | translate }}"
            *ngIf="ModalSubForm.email.errors.pattern"
          >
          </p-message>
          <p-message
            severity="error"
            text="{{ 'ALTADDEMAIL' | translate }}"
            *ngIf="ModalSubForm.email.errors?.maxlength"
          >
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 observation_input">
        <span class="md-inputfield ui-md-12 padding-none">
          <input
            type="text"
            pInputText
            class="ui-md-12"
            formControlName="jobTitle"
          />
          <label class="">{{ "LBLJOBTITLE" | translate }}</label>
        </span>
      </div>
      <div class="clearfix"></div>
      <div
        class="heading-left heading-left-obs ui-g-12 ui-md-12"
        *ngIf="finalGroups.length > 0"
      >
        <div class="ui-g-12 ui-md-2">
          <label class="text-center">{{ "LBLGROUPS" | translate }} </label>
        </div>
      </div>
      <ng-container *ngFor="let group of finalGroups; let i = index">
        <div class="ui-g-12 ui-md-4 multiSelectDropDwon mb-10">
          <ng-select
            class="pBottom"
            placeholder="{{ group.groupTypeName }}"
            [searchable]="true"
            formControlName="Group{{ i + 1 }}"
            [items]="group.groupData"
            bindLabel="GROUPNAME"
            [clearable]="false"
            bindValue="GROUPID"
            [class.required]="
              AddObservatinModal.get('Group' + (i + 1)).hasError('required')
            "
          >
            <ng-template
              ng-option-tmp
              let-item="item"
              let-item$="item$"
              let-index="index"
            >
              <div title="{{ item.GROUPNAME | translate }}">
                {{ item.GROUPNAME | translate }}
              </div>
            </ng-template>
          </ng-select>
          <div *ngIf="submitted1" class="invalid-feedback">
            <p-message
              class=""
              severity="error"
              text="{{ 'ALTMANDATORYGROUP' | translate }}"
              *ngIf="
                AddObservatinModal.get('Group' + (i + 1)).hasError('required')
              "
            >
            </p-message>
          </div>
        </div>
        <div class="clearfix" *ngIf="(i + 1) % 3 == 0"></div>
      </ng-container>
      <div class="ui-g-12 ui-md-12 submitButton reset-btn">
        <div class="ui-g-12 ui-md-2 pl-0">
          <button
            pButton
            type="submit"
            label="{{ 'LBLSAVE' | translate }}"
            [disabled]="AddObservatinModal.pristine"
            title="{{ 'LBLSAVE' | translate }}"
            class="reset-btn"
          ></button>
        </div>
        <div class="ui-g-12 ui-md-2 secondary-btn-ui">
          <button
            pButton
            type="button"
            (click)="resetObservationForm()"
            title="{{ 'LBLRESET' | translate }}"
            label="{{ 'LBLRESET' | translate }}"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
