body .md-inputfield input.ui-state-filled label {
	top: 0px !important;
}

::ng-deep .pBottom {
	padding-bottom: 0.5em;
}

::ng-deep .create_new_observed .ui-clickable {
	line-height: 1.143em !important;
}

.heading-left-obs label {
	margin-left: -20px !important;
}

::ng-deep .card h3 {
	margin: 0px !important;
}

/* ::ng-deep .addNewBtn {
	width: 13% !important
} */

::ng-deep .body .ui-button .ui-button-text {
	line-height: 1.143em !important
}