td a{
    display: block;
    width: 100%;
    color: #212121 !important;
    text-align: left !important;

}

.group-listing2 .ui-table .ui-table-thead > tr {
    text-align: left !important;
}
@media (max-width: 767px) and (min-width: 481px) {
.listingLabel {
    padding-top: 15px !important;
}
}
