<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-toast
        [style]="{ marginTop: '80px', width: '300px' }"
        position="top-center"
      ></p-toast>
      <p-confirmDialog
        #cd
        header="{{ appName }}"
        acceptLabel="{{ 'LBLCONTINUE' | translate }}"
        rejectLabel="{{ 'LBLCANCEL' | translate }}"
        icon="ui-icon-info"
      >
        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-check"
            label="{{ 'FMKCONFIRM' | translate }}"
            (click)="cd.accept()"
          ></button>
          <button
            type="button"
            pButton
            icon="pi pi-times"
            label="{{ 'LBLCANCEL' | translate }}"
            (click)="cd.reject()"
          ></button>
        </p-footer>
      </p-confirmDialog>
      <h1 class="topHeading">
        {{ "LBLUSERDEFINEDFEILDS" | translate }}
        <i class="pi pi-ellipsis-v"></i>
      </h1>

      <div class="ui-g-12 ui-md-2 multiSelectDropDwon user-select">
        <ng-select
          [searchable]="true"
          [items]="searchBy"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedfilterUserDefind"
          [clearable]="false"
          required
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div title="{{ item.label }}">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="ui-g-12 ui-md-3 listingLabel" style="padding-top: 12px">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              (keyup.enter)="searching()"
            />
            <label>{{ "FMKSEARCH" | translate }}</label>
          </span>
          <button
            pButton
            type="button"
            icon="ui-icon-search"
            title="{{ 'FMKSEARCH' | translate }}"
            (click)="searching()"
          ></button>
        </div>
        <br />
      </div>
      <div
        class="ui-g-12 ui-md-7 text-right"
        style="padding-top: 11px"
        *ngIf="userDefineListing && userDefineListing.length > 0"
      >
        <button
          type="button"
          icon="ui-icon-g-translate"
          [routerLink]="['/user-defind-translations']"
          skipLocationChange="true"
          class="ml"
          title="{{ 'LBLTRANS' | translate }}"
          pButton
        ></button>
      </div>
      <div class="clearfix"></div>
      <div class="ui-g-12 ui-md-12">
        <p-table
          [columns]="dataCols"
          [value]="userDefineListing"
          [(selection)]="selectedData"
          [paginator]="true"
          [rows]="20"
          class="group-listing2 grouplisting"
        >
          <ng-template pTemplate="paginatorleft" let-state>
            [ {{ state.totalRecords > 0 ? state.page * state.rows + 1 : 0 }} -
            {{
              state.rows * (state.page + 1) >= state.totalRecords
                ? state.totalRecords
                : state.rows * (state.page + 1)
            }}
            / {{ state.totalRecords }} ]
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="!isLoaded">
              <td
                [attr.colspan]="columns.length + 1"
                style="text-align: center"
              >
                <p-progressSpinner></p-progressSpinner>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="columns.length + 1" *ngIf="isLoaded">
                <div class="empty-message">
                  <span class="material-icons">donut_large</span>
                  {{ "FMKNORECS" | translate }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 40px">
                <p-tableHeaderCheckbox binary="true"></p-tableHeaderCheckbox>
              </th>
              <th
                *ngFor="let dataCols of columns"
                [pSortableColumn]="dataCols.field"
              >
                {{ dataCols.header }}
                <p-sortIcon [field]="dataCols.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td
                *ngFor="let dataCols of columns; let i = index"
                style="cursor: pointer"
              >
                <ng-container>
                  <a
                    style="display: block"
                    routerLink="/add-field-value/{{ rowData['CUSTOMFIELDID'] }}"
                    skipLocationChange="true"
                  >
                    {{ rowData[dataCols.field] }}
                  </a>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
